[2018-05-10 15:28] ruslan-bikkinin commented on #694
Hi @MrLoh Could you please share with me your `<your_project>/.vscode/settings.json` if you have one? Are you trying to debug your project not inside it's root directory but inside upper-level directory?

[2018-05-11 11:41] navneetkarnani commented on #276
@ILI4S
I Saw this on 1.23.0. Updated to 1.23.1 and the simulator launches.

[2018-05-11 13:19] ruslan-bikkinin commented on #276
Hi @ILI4S
Please try to follow suggestion from here: https://github.com/Microsoft/vscode-react-native/issues/276#issuecomment-388339960. If it doesn't help you, please submit new issue.

[2018-05-11 14:31] ruslan-bikkinin commented on #675
Hi @mhamri
`vscode-react-native` doesn't control intelisense for react-native anymore. This functionality is the part of VS Code builtin extension now.
I believe you should file this issue to https://github.com/Microsoft/vscode instead as it's better place for solving it now.

[2018-05-11 14:32] #675 closed

[2018-05-12 13:03] nicecatch opened #698 "Reloading debugger disable all breakpoints"
## Actual Behavior
1. Reloading debugger disable all breakpoints

## Expected Behavior
1. Breakpoints should not be disabled on app reload

## Software versions
- React-Native VS Code extension version:  0.6.9
- VSCode version: 1.23.0
- OS platform and version: Windows 10 Pro x64
- NodeJS version: 7.9.0
- React Native version: 0.55.4

Whenever I reload the app (after a red screen tapping or reload

[2018-05-13 17:26] ldhios commented on #696
Hi @ruslan-bikkinin

2,  Maybe you not understand. My package is not started. Auto run package start, when i click attach to packager.  That is my mean.
Sorry for my bad english, I will improve it.

[2018-05-14 07:31] ruslan-bikkinin commented on #698
Hi @nicecatch and thanks for your question. This is a known issue https://github.com/Microsoft/vscode-react-native/issues/625.

[2018-05-14 07:31] #698 closed

[2018-05-14 10:11] ruslan-bikkinin commented on #696
@ldhios
1. After further investigation I realized that extension already have the feature you are looking for.
To mimic WebStorm behavior in case of "Build and Launch application" option unchecked you need to do the following:
* Run application manually (actually, webstorm warns that it should be done at first).

![image](https://user-images.githubusercontent.com/30265843/39991386-123ff7fc-5778-11

[2018-05-14 14:05] FaustoCouto commented on #631
Just install the new version of ESLint and be happy.

[2018-05-14 23:43] DamilolaJegede commented on #631
@FaustoCouto you're awesome! Worked.

[2018-05-15 07:52] Kaybarax commented on #446
Mine is enabled but genymotion just cant pick it up.

[2018-05-15 10:28] ldhios commented on #696
@ruslan-bikkinin
Hi, thanks for your reply. vscode debug is good than webstorm debug,through my use few days. The stability vscode also better webstorm.  That's perfect, if your fix the #625.  I will absolute deprecated chrome debug.

Thans!

[2018-05-15 11:00] ruslan-bikkinin commented on #631
Hi @buiqtuan. As it was explained before, extension itself have no control over managing this and all we can advice here is to use workarounds or ignore this error.
I have referenced this to the following issue in vscode repo: https://github.com/Microsoft/vscode/issues/49894 so I believe the better place for tracking status/leave feedback now is there.

[2018-05-15 11:07] ruslan-bikkinin commented on #446
Hi @Kaybarax could you please submit separate issue describing your specific problem?

[2018-05-15 11:10] ruslan-bikkinin commented on #696
Glad to hear that your problem is solved @ldhios. I am closing this.

[2018-05-15 11:10] #696 closed

[2018-05-15 14:10] iTOYS commented on #674
Related to this issue https://github.com/facebook/react-native/issues/14246

[2018-05-15 14:10] #674 closed

[2018-05-16 07:12] yeshengwu commented on #624
I just open the android project in Android Studio and sync the project to make sure the android project is build success. After we build success,then we are ok to run and debug. Hope this help,

[2018-05-16 08:28] sargunv commented on #661
I had this problem. Resolved it by closing VSCode, doing `mkdir -p .vscode/.react; touch .vscode/.react/launch.json`, then opening VSCode.

[2018-05-16 09:18] ruslan-bikkinin commented on #694
@MrLoh could you please add `"trace": "verbose"` entry to your debug configuration in `launch.json`, then try to debug your app using this configuration and copy-paste here output of Debug Console window? Also, please, share with us content of `<your_project>/.vscode/launch.json` and point what configuration have you used.

[2018-05-16 10:33] ruslan-bikkinin commented on #661
Hi @f3ist Did you try these https://github.com/Microsoft/vscode-react-native/issues/661#issuecomment-385198868, https://github.com/Microsoft/vscode-react-native/issues/661#issuecomment-389438663, https://github.com/Microsoft/vscode-react-native/issues/661#issuecomment-372929835?

[2018-05-16 11:00] MrLoh commented on #694
I disabled all but the react native extension, my Debug Console is absolutely empty, even if I add verbose tracing option, I'm pretty sure the process just doesn't get started, because of the error that is reported in the Developer Tools console. This is a fresh empty `react-native init`ed project.

Here is my completely fresh auto generated `launch.json`:

[code]

[2018-05-16 12:07] iTOYS commented on #694
@MrLoh
Could you also add `"react-native-tools.logLevel": "Trace"` into your workspace settings and restart vscode to apply that, please.

[2018-05-16 13:08] MrLoh commented on #694
Yes I did that, it lead to the following additional output in  the Developer Tools console

![screen shot 2018-05-16 at 15 05 50](https://user-images.githubusercontent.com/1285032/40118692-ea304042-591a-11e8-8651-dd5b36173d4e.png)

[2018-05-16 14:59] ruslan-bikkinin commented on #694
@MrLoh
This error is signalizing you that extension couldn't start `react-native` command. Taking into account this please try do the following:

* If you have only one node version installed, please, make sure that `react-native-cli` package is installed globally for it.

* Are you using nvm? If you do, please, make sure that node version which you are using now has `react-native-cli` package ins

[2018-05-16 15:36] f3ist commented on #661
@ruslan-bikkinin I just upgraded to 1.23.1 and its there again

[2018-05-16 16:17] MrLoh commented on #694
I’m not using nvm and I am able to run all React native commands for building the app from within the vscode terminal. I’m using yarn and the fish shell though, could that have anything todo with it? React native cli is accessible from bash as well though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-16 16:30] dotmike commented on #661
I was having the same issue and @sargunv's comment worked for me

[2018-05-17 06:34] sargunv commented on #661
Looks like in certain situations this extension is not generating the launch.json file unless one exists already, and not showing the environment option until it exists.

[2018-05-17 11:00] Kaybarax commented on #446
Hey @VickyKoblinski @ruslan-bikkinin, thanks, but I was able to resolve it by adding this line:
compile ("com.facebook.react:react-native:<your.RN.version>") { force = true }
to android/app/build.gradle
and commenting out the line:
compile 'com.facebook.react:react-native:+'
This forces the Native Code version and your RN from node modules to match up.

[2018-05-17 12:40] ruslan-bikkinin commented on #661
Hi guys, could you please check new version 0.6.10 of extension and let us know if it solves current problem?

[2018-05-17 13:27] ruslan-bikkinin commented on #694
@MrLoh couls you please run `which react-native` in terminal and paste here the output. Also, are you able to run `react-native` command in VS Code terminal, for example `react-native -v`?

[2018-05-17 13:45] MrLoh commented on #694
`which react-native`: `/Users/tolo/.npm-packages/bin/react-native`

As I already stated react-native works fine otherwise when I use it from the vscode terminal.

How do I check my user permissions/access rights for VS Code?

[2018-05-18 04:08] jdnichollsc opened #702 "index.android.js doesn't exist"
Runnig from Windows 10

[code]

[2018-05-18 09:02] ruslan-bikkinin commented on #694
@MrLoh You can do it by calling `ls -la /Applications/Visual\ Studio\ Code.app/` in terminal.

[2018-05-18 09:04] ruslan-bikkinin commented on #702
Hi @jdnichollsc please try to remove `c:\dev\app\android\app\build\` directory and try to debug again.
Please let us know, if it helps

[2018-05-18 09:52] MrLoh commented on #694
Oh, you just ment the permission to he `.app` executable, gotcha, they are:
`drwxr-xr-x@   4 tolo  staff      128 May 15 16:09 Visual Studio Code.app`

[2018-05-18 12:30] MrLoh commented on #694
No, it still fails with the same error, after reinstalling, is there any way I can edit the extension to produce some more error output. The main issue seems to be that the extension fails to start but doesn't log any specific errors either.

[2018-05-18 13:00] cubabit commented on #310
The link is now dead - is there another place I can see this?

[2018-05-18 13:36] ruslan-bikkinin commented on #694
@MrLoh you can debug debugger using instructions provided here: https://github.com/Microsoft/vscode-react-native/blob/master/CONTRIBUTING.md#debugging.

[2018-05-18 13:51] ruslan-bikkinin commented on #310
Hi @cubabit If you are using [react-native-typescript-transformer](https://github.com/ds300/react-native-typescript-transformer) then debugging should work out-of-the-box. If you are using some custom TS configuration for your project, please, use these [instructions](https://github.com/Microsoft/vscode-react-native/blob/master/doc/debugging.md#debugging-with-typescript-and-haul) to make it work w

[2018-05-18 15:59] jdnichollsc commented on #702
ohh works perfect, thanks!!

[2018-05-18 15:59] #702 closed

[2018-05-18 16:32] ruslan-bikkinin commented on #694
@MrLoh We will try to improve our logging system in next releases. But as for now, unfortunately, the only way to determine the cause of your issue is to debug extension itself on your side. Please let us know if you need any help with that.

[2018-05-20 14:27] pdiaz opened #703 "Error message typo."
The package name is ios-deploy instead of is-deploy

https://github.com/Microsoft/vscode-react-native/blob/3c172a056576b34ff7bb5d777cbd9b47ff97cd7f/src/common/error/errorStrings.ts#L9

[2018-05-21 07:59] iTOYS commented on #703
Hi @pdiaz, thanks for pointing us!

[2018-05-21 08:02] #703 closed

[2018-05-21 15:03] joebernard commented on #661
I experienced this issue today. The gear in the debug pane had a red alert circle on it and did not display the RN debug option. I followed the advice from @code-matt and manually created a blank `launch.json`. Wasn't sure where to put it, so I created it in my project root. Suddenly the React Native debugging option was there, and it had created a `launch.json` within the `.vscode` directory. I d

[2018-05-21 16:44] iTOYS commented on #649
If some users have custom `react-native` than they should implement `-v|--version` CLI arguments.
But they can return version that is not `semver` compared.
We are going to check how we use `react-native` version inside and what we can do with this.

[2018-05-22 07:18] MrLoh commented on #694
Ok thanks for your effort. I’ll see when I find time to look into setting up debugging the extension. I’m traveling at the moment.

[2018-05-22 15:21] iTOYS commented on #607
Hi @afefer
Did you open app in Expo after launching? If yes, please check that you enable "Debug JS Remotely" in expo app. Closing this for now, feel free to ask any question or reopen if you still have this issue.

Thanks!

[2018-05-22 15:21] #607 closed

[2018-05-23 18:17] code-matt commented on #661
This happened again to a co-worker today who was getting set up on a new system with 0.6.10 version of the extension. Creating the empty launch.json did not do the trick this time but when I had him save the file the contents of my local copy and restart, option showed up!

[2018-05-24 11:08] ruslan-bikkinin commented on #661
Hi @joebernard @code-matt
What extensions has been installed on machines on which you are experiencing this problem except React Native Tools?

[2018-05-25 14:32] joebernard commented on #661
Angular Essentials 0.3.2
Angular Language Service 0.1.9
Angular v6 Snippets 6.1.1
Angular 2-inline
Auto Close Tag 0.5.6
Auto Complete Tag 0.0.2
Auto Rename Tag 0.0.15
Babel JavaScript 0.0.14
Color Highlight 2.3.0
Debugger for Chrome 4.4.3
Debugger for Java 0.9.0
DotENV 1.0.1
EditorConfig for VS Code 0.12.2
Git Blame 2.4.2
Java Extension Pack 0.3.0
Java Test Runner 0.6.1
Language Support for Java(T

[2018-05-28 10:16] ruslan-bikkinin commented on #661
I still cannot reproduce this on our side even for clean VS Code installation. I am suspecting that the narrowed down activation events underlie this issue. Everyone who is experiencing this problem please try to do the following and report here whether it resolves this issue:

1. Close all VS Code instances.
2. Open `~/.vscode/extensions/vsmobile.vscode-react-native-0.6.10/package.json` (or `C:\U

[2018-05-29 07:44] jackjj12 opened #708 ""Could not debug. Starting tunnels timed out" occurred during debugging with Expo"
## Actual Behavior
1. I have do the work under below introduction.
 https://github.com/Microsoft/vscode-react-native/blob/master/doc/expo.md
2. however, when I debug it it shows " Could not debug. Starting tunnels timed out", I do not know why

## Expected Behavior
1. give us a detailed docs of how to configuration with expo or crna. not the below https://github.com/Microsoft/vscode-react-native/b

[2018-05-30 09:05] Tom29 commented on #533
@DonkeyTronKilla how did you solve this trouble?

[2018-05-30 10:45] Tom29 opened #710 "Intellisense doesn't work with ES6 import?"
I'm stucking with this trouble for days.

`import abc from './abc'` doesn't work, the `abc.xyz()` or any function inside it will not be suggested.
Even the file `abc.js` will not be suggested

I have to use `abc = required('./abc.js')` and things work fine.
Both file suggestion and method will be available

I've tried to added `jsconfig.json` and force it to use `"module":"es6"` but didn't work ei

[2018-05-30 11:04] ruslan-bikkinin commented on #710
Hi @Tom29 and thanks for reaching us. React Native Tools extension is not responsible for IntelISense for React Native anymore due to VS Code have taken control over it completely. I suggest you to refer your question to [VS Code issue tracker](https://github.com/Microsoft/vscode/issues) as it is a better place for it.

[2018-05-30 11:05] #710 closed

[2018-05-31 02:27] jackjj12 commented on #708
Hi @ruslan-bikkinin  I have read your message about the software version. In fact my expo and xde is okay. I have used xde to start my app and use'exp start', all these methods is okay. I could run my app with these methods. but I still have the problem above. My XDE version is newest. I can not debug with vs code. And I have to debug with chrome browser.

[2018-05-31 07:45] jackjj12 commented on #708
Okay, I have noticed that the error happend on both expo and vscode. its my mistake maybe. It maybe a problem for expo.
But when the problem happened in expo . I can still view my app with my expo tools.

But in vs code ,just can not debug. maybe you can download a expo or crna and set up enviroment to test it.
below is the out put from vscode
same problem come with expo.
[Warning] Warning: 'antd-

[2018-05-31 07:52] jackjj12 commented on #708
If you can share me a configuration with expo or a example for us maybe in github or others. it is better.

[2018-05-31 12:12] ruslan-bikkinin commented on #708
@jackjj12
Here is my demo project that I've prepared using `exp init rn708-expo` command: https://github.com/ruslan-bikkinin/rn708-expo
In order to debug you should do the following:
1. Clone `rn708-expo` repo and run `npm i` inside project directory.
2. Install Expo app on your device/simulator if you haven't done this before (the version of expo app must be supported by expo sdk version that app

[2018-06-01 22:49] mimranshahid commented on #534
I spend a couple of hours to fix the issue and the fix that works for me is:

- I load the project in VSCode and replace all the occurrence of 8081
- After first step, I was successful in running the project in Xcode however I was facing issue in VSCode
- Managed to fix the issue in VSCode by changing the value in Setting.json file under .vsCode\Setting.json

   "react-native.packager.port": 7070

[2018-06-03 11:24] levani opened #712 "[Error] Failed to run the application in iOS"
## Actual Behavior

When running the following command `React Native: Run iOS on Device` I'm getting this error:

## Expected Behavior

Run application on device

## Software versions
- React-Native VS Code extension version: 0.6.10
- VSCode version: 1.23.1
- OS platform and version: macOS 10.13.4
- NodeJS version: 8.11.2
- React Native version: 0.55.4
- Expo SDK version (include if relevant):

##

[2018-06-04 11:37] ruslan-bikkinin commented on #712
Hi @levani and thanks for you report.
[This PR](https://github.com/Microsoft/vscode-react-native/pull/711) that already merged to master should fix this error. Could you please try it on your machine? To do that please follow these steps:
1. Run these commands:
[code]
2. Open `vscode-react-native` directory in VS Code, click on `Debug` icon, then select `Quick Launch Extension` in drop down menu a

[2018-06-05 05:29] jas99 opened #713 "Enhancement for status bar"
- The status bar takes message takes allot of space. Allow disable or/and custom message. Icon alone is good enough.
- If status bar is enabled; clicking on it should allow toggling start/stop package or just one click lead to quick restart.

Thx

[2018-06-05 08:38] FRizzonelli commented on #659
I'm getting a similar issue, breakpoints works perfectly in event and methods, but in render() or constructor are not placed correctly (sourceMap problem I think). I'm using TS with https://github.com/ds300/react-native-typescript-transformer

- React-Native VS Code extension version: latest
- VSCode version: latest
- OS platform and version: macOs
- Typescript 2.8.3

To point out that the breakpo

[2018-06-05 09:19] peterjuras opened #714 "[Feature Request] Select iOS Simulator for "Run iOS on Simulator" target"
## Actual Behavior
1. Launching the "Run iOS on Simulator" target always starts the iPhone 6 simulator

## Expected Behavior
Launching the "Run iOS on Simulator" target should launch the app on the open simulator

or

There should be a configuration in the launch.json config specifying the name of the emulator that should be launched.

## Software versions
- React-Native VS Code extension version:

[2018-06-05 14:48] ruslan-bikkinin opened #716 "Debugger stucks trying to connect to non-existent socket"
The following similar error appears for some cases while debugging from within non-React Native root:

[code]

[2018-06-05 14:59] ruslan-bikkinin commented on #641
Hi @jhalborg and thanks for your feedback. Fix for this already in PRs: https://github.com/Microsoft/vscode-react-native/pull/717. Could you please try it on your machine and let me know whether it helps you? To test it please do the following:
1. Run these commands:
[code]
2. Open `vscode-react-native` directory in VS Code, click on `Debug` icon, then select `Quick Launch Extension` in drop down

[2018-06-06 00:33] dhalperi commented on #625
When will the next minor release of VSCode be? Sounds like this bug was fixed almost a month ago now.

[2018-06-06 07:39] ruslan-bikkinin commented on #625
Hi @dhalperi, as I know, new minor version of VS Code is being released at the first half of each month.

[2018-06-06 10:41] ruslan-bikkinin commented on #713
Hi @jas99 and thanks for your feedback. We will discuss your suggestions and come back soon.

[2018-06-06 11:19] ruslan-bikkinin commented on #714
Hi @peterjuras and thanks for your question.

To start running app extension is using `react-native run-ios` command. According to [official React Native docs](https://facebook.github.io/react-native/docs/running-on-simulator-ios.html), in this case it is standard behavior:

To run your app on different simulator you should create `.vscode/settings.json` file at the root of your project and fill i

[2018-06-06 11:59] peterjuras commented on #714
Thanks this solved my issue! 👍

[2018-06-06 11:59] #714 closed

[2018-06-07 09:22] LingYun opened #718 "visual studio code1.24 could not debug react native project"
## error info
debug console Could not debug. Unable to find plist file to configure debugging

## Software versions
- React-Native VS Code extension version:
- VSCode version: 1.24
- OS platform and version: 10.12.6
- NodeJS version:
- React Native version: 0.55.4

[2018-06-07 11:16] ruslan-bikkinin commented on #718
Hi @LingYun and thanks for reaching us. Could you please open your project in XCode, click `Product->Clean` and try to debug again? Please, let us know whether it helps you.
Also, please make sure that you can run your project via `react-native run-ios`.

[2018-06-07 11:54] ruslan-bikkinin commented on #625
VS Code 1.24 has been released today and this issue has to be resolved now. I tested debugging using this version of VS Code and it worked like a charm, so I am closing this issue.
Please let us know whether you still experiencing such problem after VS Code update.

[2018-06-07 11:54] #625 closed

[2018-06-07 12:11] ruslan-bikkinin commented on #659
Hi guys. Seems to be that current issue is a duplicate of https://github.com/Microsoft/vscode-react-native/issues/667, because I tried to reproduce it again with VS Code 1.24 but it has worked without any problem. @FRizzonelli could you please try to update VS Code to 1.24 and reproduce your issue in there? I am closing this one for now, but if your problem will be still persist, feel free to subm

[2018-06-07 12:11] #659 closed

[2018-06-07 12:16] ruslan-bikkinin commented on #708
Hi @jackjj12 could you please let me know did you have a chance to look at this?

[2018-06-07 12:23] ruslan-bikkinin commented on #694
Hi again @MrLoh.
Do you have a global installation of `react-native`, or `react-native-cli`? They both create a `react-native` executable, but they behave differently and only `react-native-cli` is intended to be a global install.
Also, please make sure that local `./node_modules/.bin` is not in your PATH.

[2018-06-07 14:35] ruslan-bikkinin commented on #691
Hi @Elijen @lardissone, I tried to reproduce your issue after updating VS Code to 1.24 but with no success - log points are working without any problem. Please try to update VS Code to 1.24 and let us know whether it solves your issue or not.
Please feel free to re-open this if needed.

[2018-06-07 14:35] #691 closed

[2018-06-07 16:46] joebernard commented on #625
I verified it works after the update. Thanks!

[2018-06-07 17:32] dxh9845 commented on #625
I am still experiencing issues with debug breakpoints not being hit - on version 1.24

[2018-06-08 01:08] jackjj12 commented on #708
Really Sorry to response to you so late. it works. but there are another problem of can not debug serveral page. and generate a bug of "process.send". maybe something of the new version rn.
please note it . and I will colse this issue.

[2018-06-08 01:08] #708 closed

[2018-06-08 01:18] LingYun commented on #718
Hi @ruslan-bikkinin I try you say methods run project in XCode set debug again and via react-native run-ios.But vscode do not debug. I screenshot A few picture send you.
![f926aee4-167b-4ac6-b180-783f0c25db5f](https://user-images.githubusercontent.com/1118261/41133972-a20f2b9a-6afc-11e8-9668-2d3e1d6d11ba.png)
![cb37ca8c-1ab9-4402-8834-a3e12bddc981](https://user-images.githubusercontent.com/1118261

[2018-06-08 08:53] ncomo11 opened #719 "Error thrown while debugging windows/WPF based project in VSCode"
### Environment

react-native -v:
react-native-cli: 2.0.1
react-native: 0.55.4

npm ls rnpm-plugin-windows:
rnpm-plugin-windows@0.2.8

npm ls react-native-windows:
react-native-windows@0.55.0-rc.0

node -v:
v6.11.1

npm -v:
3.10.10

yarn --version:

Then, specify:

Target Platform: WPF
Target Platform Version(s): .NET 4.6.0 WPF
Target Device(s): Desktop
Development Operating System: Windows 10 Pro

[2018-06-08 10:55] ruslan-bikkinin commented on #625
Hi @dxh9845 could you please submit a new issue including all the info from the issue template that could help us resolve your problem quicker? Also, please include answers for the following questions:
* Are you running a pure React Native project (not Expo, not using Haul packager)?
* Does your project use javascript or typescript? If it uses typescript, please, let us know how it has been config

[2018-06-08 11:39] ruslan-bikkinin commented on #718
@LingYun could you please share with us the whole following logs from VS Code:

- Output of the Debug Console (View -> Toggle Debug Console):
- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):
- Output of the Developer Tools console (Help -> Toggle Developer Tools -> Select Console tab):

[2018-06-08 11:57] ivanromaniv commented on #625
Hi! I have the same problem. Using 1.24.0 vscode on ubuntu 18.04 with nodejs(javascript) project. I attach to exposed port from docker.

[2018-06-08 13:17] #646 closed

[2018-06-08 13:17] #716 closed

[2018-06-08 14:13] ruslan-bikkinin commented on #719
Hi @ncomo11 and thanks for submitting the issue. I will investigate it and come back soon to let you know about the results.

[2018-06-08 16:30] jcraven-worksight commented on #661
@ruslan-bikkinin Ran into this issue today. I've tried all the other recommended solutions in addition to your previous one and am still experiencing this.
environment:
VSCode: 1.24.0
RN extension: 0.6.10
Ubuntu 18.04

[2018-06-09 14:17] jas99 opened #721 "Can't connect to debug with adb over wifi"
Can't connect to debug with adb over wifi
Getting
[code]
Since `adb reverse tcp:8081 tcp:8081` don't work over wifi, I manually set 192.168.x.x:8081 in my dev server.

Any way i can work this thing out?

[2018-06-10 13:51] MrLoh commented on #694
None of that helps either, all of that was configured correctly and removing `./node_modules/.bin` from path doesn't make a difference.

I'm gonna give up on getting this plugin to work and revisit it on my next computer with a fresh system. Since there is no meaningfull error message there is no reasonable path to solving this issue at the time and we are probably just wasting my and your time. T

[2018-06-10 13:51] #694 closed

[2018-06-11 08:27] LingYun commented on #718
@ruslan-bikkinin I'm sorry.The reply is late you.  This question is because of the mac system.
Everything is normal after I reinstall the system.
Thanks for your help.

[2018-06-11 09:30] ruslan-bikkinin commented on #718
Thanks for coming back. Glad to here that your problem has resolved. Please, don't hesitate to ask for a help if you have any other questions/issues regarding usage of the extension. I am closing this.

[2018-06-11 09:30] #718 closed

[2018-06-11 10:03] nielheo commented on #674
I solved it by adding empty index.android.js in root folder.

[2018-06-11 12:55] ruslan-bikkinin commented on #625
I have locked conversation around this issue due to it's specific symptoms described in the first post. If you are experiencing the similar problem, please, submit a new issue for that.

[2018-06-11 13:16] ruslan-bikkinin commented on #721
Hi @jas99 could you please update your post with all the information from issue template?

[2018-06-11 15:09] ruslan-bikkinin commented on #712
I am closing this due to fix already included in new version v0.6.11. Please, feel free to reopen if needed.

[2018-06-11 15:09] #712 closed

[2018-06-11 17:46] jas99 commented on #721
Well I can but this is feature request and not bug report; `adb reverse tcp:8081 tcp:8081` is not designed to reverse tunnel over wifi, but vscode rn-extension is designed to connect debugger via hardcoded localhost port which is tunneled with adb reverse. I you can introduce option to use add android ip to directly connect with android port somehow, over the air adb rn-debugging might work.

Stil

[2018-06-12 09:04] rakeshgits opened #722 "Unable to connect to packager for debugging"
## Actual Behavior
1. Not connecting to the debugger, showing the below error

OS: darwin x64
Adapter node: v7.9.0 x64
vscode-chrome-debug-core: 3.17.3
Starting debugger app worker.
Could not debug. <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Error</title>
</head>
<body>
<pre>Cannot GET /debuggerWorker.js</pre>
</body>
</html>

## Expected Behavior
 Should connect to pack

[2018-06-12 11:34] jas99 commented on #722
There might be also regression, in latest release, debugger started complaining of root project,
`"react-native-tools.projectRoot": "./packages/client"`

[2018-06-12 11:57] rakeshgits commented on #722
After adding that, it get stuck on
[code]

[2018-06-12 16:47] ncomo11 commented on #278
@panarasi Can you please share Launch.json for this as for me I am getting below error:
`windows is not a valid platform`

FYI I am tracking this under separate issue if you have any input please update it:
https://github.com/Microsoft/vscode-react-native/issues/719#issuecomment-395773872

[2018-06-13 00:28] christianmtr opened #723 "/bin/sh: 1: adb: not found on Linux"
## Actual Behavior
1. Select "React native: Run Android on device/emulator" or "Debug Android".
2. Get error "adb not found".

## Expected Behavior
1.  Select "React native: Run Android on device/emulator"
2. Run app on android device/emulator

## Software versions
- React-Native VS Code extension version: 0.6.11
- VSCode version: 1.24.0
- OS platform and version: linux x64
- NodeJS version: 10.4.

[2018-06-13 09:01] rakeshgits commented on #722
Is there any way to go to previous versions?

[2018-06-13 09:38] ruslan-bikkinin commented on #722
Hi @rakeshgits well, that's strange. Could you provide to us more details about your case:
* Are you trying to debug android or ios app? What command are you using: `Debug iOS`/`Debug Android` or `Attach to debugger`?
* Could you please share with us directories structure of workspace you opens? For example you can share with us screenshot of Explorer tab just like this one:
![image](https://user-

[2018-06-13 09:40] jas99 commented on #722
@rakeshgits yes
1. download vsix
https://vsmobile.gallery.vsassets.io/_apis/public/gallery/publisher/vsmobile/extension/vscode-react-native/0.6.10/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage
2. uninstall extension from vscode
3. update user settings to disable auto extension install `"extensions.autoUpdate": false`
4. use command pallet in vscode to install vsixpackage, remember to ren

[2018-06-13 09:43] jas99 opened #724 "Possible Regression in 0.6.11 in setting projectRoot"
@ruslan-bikkinin
There might be also regression, in latest release, debugger started complaining of root project,
`"react-native-tools.projectRoot": "./packages/client"`
[code]

[2018-06-13 09:47] ruslan-bikkinin commented on #724
Hi @jas99 thanks for submitting this. Does your project use `lerna`? Could you please share with us directory structure of workspace that you uses?

[2018-06-13 09:54] ruslan-bikkinin commented on #722
@jas99 thanks for posting this, I just wanted to do the same as you did. :+1:

[2018-06-13 11:17] ruslan-bikkinin commented on #719
Hi @ncomo11 Extension supports debugging only for windows (UWP) platform. I believe we can add support for WPF as well in the nearest future as we have already did for UWP platform here: https://github.com/Microsoft/vscode-react-native/pull/618/files.

[2018-06-13 11:55] ruslan-bikkinin commented on #724
@jas99 Just tried to reproduce issue using lerna project with such project structure:
`Project724/packages/clients/<RN project content here>`. I opened `Project724` in VS Code, then added `.vscode/settings.json` file with `"react-native-tools.projectRoot": "./packages/clients"` content and could debug my app without any troubles. So, I will be waiting for details for your side to be able help you.

[2018-06-13 12:28] ruslan-bikkinin commented on #661
Hi guys, did you try v0.6.11? We have fixed activation event handler which might be the cause of this issue.

[2018-06-13 12:41] ruslan-bikkinin commented on #723
Hi @christianmtr and thanks for reporting.

Could you please clarify which terminal you mentioned: system terminal or VS Code terminal? Please make sure that `adb` works in both terminals.

But anyway, could you please run `echo $PATH` and show us the output? Also, please show where and how did you export environment variables for android sdk?

[2018-06-13 13:04] christianmtr commented on #723
Hello!
Yes. `adb` command works in both terminals.

This is the output of `echo $PATH`:
[code]
Thanks!

[2018-06-13 13:10] ruslan-bikkinin commented on #723
@christianmtr could you reproduce this issue when running VS Code from terminal?

[2018-06-13 13:19] jas99 commented on #724
I figured it out, my settings.json file was ending with trailing comma and I guess maybe not parsed and hence giving the error since property didn't set. But I guess there should some notification of this error in json or something.

[2018-06-13 13:35] ruslan-bikkinin commented on #724
@jas99 Actually, on debugger side we are using [this](https://github.com/Microsoft/vscode-react-native/blob/master/src/debugger/nodeDebugWrapper.ts#L239) "tricky" method to read from `settings.json` because we can't use VS Code api for it. Seems to be that parser comes to `catch` block due to incorrect json in your case. I believe we can improve this part by providing error report to the user as y

[2018-06-13 13:36] jas99 commented on #724
That will be indeed helpful.
Thx

[2018-06-13 13:37] #724 closed

[2018-06-13 13:50] christianmtr commented on #723
I did run VS Code from the terminal and all works fine. By this way I can run "React native: Run Android on device/emulator" or "Debug Android" and it works.

[2018-06-13 14:40] ruslan-bikkinin commented on #723
@christianmtr Where did you set SDK exports: either in .bash_profile or .bashrc?

[2018-06-13 15:21] christianmtr commented on #723
In `.bashrc`

[2018-06-13 15:51] ruslan-bikkinin commented on #723
Please try to add them to ~/.bash_profile.

[2018-06-13 16:12] christianmtr commented on #723
It's working now!
I rename the `.bashrc` to `.bash_profile` and alias commands that I had does not working.
I added the alias commands to `.bashrc` and works fine. Now I have the both files ( `.bashrc` and `.bash_profile`).
Thanks :+1:

[2018-06-13 16:52] RMacfarlane opened #727 "Duplicate module load error"
_From @echeypaz on June 11, 2018 19:19_

Bundling `index.android.js`  [development, non-minified]  0.0% (0/2), failed.
error: bundling failed: ambiguous resolution: module `f:\shoutem\aaa\extensions.js` tries to require `shoutem.about`, but there are several files providing this module. You can delete or fix them:

  * `F:\shoutem\aaa\extensions\shoutem.about\app\package.json`
  * `f:\shoutem\aaa\

[2018-06-13 16:52] RMacfarlane commented on #727
@echeypaz Please provide more details about how to reproduce this problem. What did you run to see this error? What version of VSCode are you using and what is your OS?

[2018-06-13 16:52] RMacfarlane commented on #727
_From @echeypaz on June 12, 2018 7:1_

Hi @RMacfarlane, Thanks,
VSCode Version 1.24.0
Nodo 7.9.0
Arquitectura x64.
Windows 10.
I was debugg a react-native app (with react-native tools)

[2018-06-13 16:52] RMacfarlane commented on #727
Thank you for the details! I'm still not sure how to reproduce this. Can you please describe exactly what you did to see this, or share your code? Is this an issue with VSCode itself, or is this specific to the `react-native` extension? This does not sound like a feature of VSCode itself and might be better moved to https://github.com/Microsoft/vscode-react-native

[2018-06-13 16:52] RMacfarlane commented on #727
_From @echeypaz on June 13, 2018 6:45_

I completely agree. The problem arises when debugging with react-native-tools, because when I use the chrome debugger, after launching react-native run-android, this problem does not play. Could you move the post to the right place?

[2018-06-13 20:10] iTOYS commented on #727
Hi @echeypaz,
Could you please provide a little sample project, if possible?

Thanks!

[2018-06-14 05:39] rakeshgits commented on #722
Thanks for the response, I am debugging ios, by attaching to packager. i tried adding older version of the extention, but of no use, it still is showing the same problem.
I tried completely removing vscode, by deleting all settings and extentions, reinstalling npm and yarn.
probably it is because of the updated yarn/npm. because that is the only thing i remember doing before it stopped working sud

[2018-06-14 07:33] ruslan-bikkinin commented on #723
No problem, don't hesitate to turn to us for any help with the extension.

[2018-06-14 07:33] #723 closed

[2018-06-14 09:14] rakeshgits commented on #722
@ruslan-bikkinin  i tried it in a brand new mac OS, with LTS version of node, and got the same error. am i missing something in the settings? it used to work for me earlier without any modifications.

[2018-06-14 15:54] ruslan-bikkinin commented on #722
Hi @rakeshgits

* I noticed that you specified 0.55.6 version of React Native, but there is no such version of React Native in NPM:
![image](https://user-images.githubusercontent.com/30265843/41422557-d1de6fc0-7001-11e8-90d6-f0523327dbca.png)
May be you meant v0.55.4?

* Could you please, also, add `"trace": "verbose"` to `Attach to packager` task, try to attach to packager and share with us `Abou

[2018-06-14 18:48] VanessaChu opened #728 "Breakpoints is set not yet bound (Resetting does not fix issue)"
## Actual Behavior
Breakpoints is set not yet bound every time app launches. From the previous thread, I tried resetting the breakpoint, still does not work. Downgrading to VSCode 1.19 does not work. VSCode 1.24 also does not work.

## Expected Behavior
Breakpoints be set or at least the workaround of resetting a breakpoint to work.

## Software versions
- React-Native VS Code extension version: 0

[2018-06-14 22:24] asaravi opened #729 "vscode-react-native fails to start the debugger, where as 'react-native run-ios' does"
Hey guys,

I've tried reinstalling the plugin, however the issue still persists.
When I click on the Green arrow in the debugger panel to start debugging, it starts metro, goes through the build procedure, and succeeds, then I get a message in the output window that says unknown error, not all success patterns were matched.

I've pasted the outputs below.

Running 'react-native run-ios' works as e

[2018-06-15 04:37] rakeshgits commented on #722
Also i am not using haul library.

i am unable to comprehend that it was working just before i restarted my system. i haven't made any modifications to anything, and suddenly after restarting i realise it stopped working

[2018-06-15 04:47] rakeshgits commented on #722
@ruslan-bikkinin  it is haul library, thanks, it started working after removing that.

Thanks a lot for all the help.

[2018-06-15 07:46] ruslan-bikkinin commented on #722
I'm glad to help you.

[2018-06-15 07:46] #722 closed

[2018-06-15 07:58] iTOYS commented on #728
Hi @VanessaChu,
I tested with the latest extension and vscode versions, all works fine for me.
Could you please provide a bit more info:
* Which configuration did you run?
* Is it reproduce on `react-native init` project
* Simulator or real device(versions)
* and all what you think may be helpfull

![screen shot 2018-06-15 at 10 52 01 am](https://user-images.githubusercontent.com/4017593/41457024-

[2018-06-15 08:37] iTOYS commented on #729
Hi @asaravi,
Could you please run commands below in your project root and paste output here:

[code]

[code]

Thanks!

[2018-06-15 10:24] allforabit commented on #674
Could this issue be reopened as I'm getting the exact same error on Windows 10. I don't get it when using react native directly, only when using VSCode. The issue seems to be related to the command that runs `react-native start`. If I run that manually and then run debugging or attach tasks everything works as expected.

[2018-06-15 10:28] iTOYS commented on #674
Hi @allforabit,
It would be better to open a new issue. Please fill it by tempalate.

Thanks!

[2018-06-15 10:37] allforabit commented on #674
OK thanks will do @iTOYS

[2018-06-15 11:02] allforabit opened #730 "Debug android task doesn't start metro bundler correctly"
## Actual Behavior
1. Run debug android task
2. Debugging is not started and shows the errors indicated in the react-native output below

## Expected Behavior
1. Run debug android task
2. Debugging should start successfully

## Software versions
- React-Native VS Code extension version: 0.6.11
- VSCode version: 1.24.1
- OS platform and version: Windows 10
- NodeJS version: 8.11.1
- React Native ve

[2018-06-15 11:21] SantyPatrignani commented on #728
Hi mates.
I have same problem, I'm using VSCode:

![image](https://user-images.githubusercontent.com/40295423/41465535-d5bcf498-709e-11e8-9031-16a750e56a32.png)

Any help is welcome, thanks

[2018-06-15 17:07] VanessaChu commented on #728
This is my launch configuration:
[code]

[2018-06-15 17:39] VanessaChu commented on #728
Same issue on both simulator and real device.

Launch configuration for real device:
[code]

[2018-06-16 06:53] gagaJay commented on #728
I see why now. "Debug iOS" simply does not work when you create project with create-react-native-app cause it will run app on the expo client which will listen to different port other than 8081. you have to eject your project to make it run solely on the simulator so that it will listen to the same port as VSCode.
Does anyone knows a way to change the listening port on "Debug iOS"?

[2018-06-16 10:31] stephen-james commented on #379
I had the same problem recently... I tried reinstalling VSCode / vscode-react-native and updating my @types just in case it was environmental.  No luck.

Since @vladimir-kotikov says this is a DefinitelyTyped issue I looked at the latest definition and it looks like `StyleSheet.create` is now a generic signature.  Maybe I'm supposed to call this, specifying a Type to allow it to find which styles

[2018-06-17 01:30] inturbidus commented on #661
@ruslan-bikkinin I followed the steps to update activation events above with extension 0.6.11 and React Native still doesn't show as an environment option.

[2018-06-17 01:35] inturbidus commented on #661
Adding a debug configuration for chrome, and then adding another configuration made a context menu popup inside of launch.json and it did have React Native Debug options there.  But it would not show up in Select Environment menu.

[2018-06-18 08:43] iTOYS commented on #728
@gagaJay
You can attach to running CRNA app with this configuration:
[code]

[2018-06-18 09:57] iTOYS commented on #728
@VanessaChu
Could you please paste following outputs here:
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):
[code]
- Output of the React-Native ios output channel (View -> Toggle Output -> Select React-Native ios in ListBox):
[code]
- Output of the Developer Tools console (Hel

[2018-06-18 10:18] iTOYS commented on #730
Hi @allforabit,
Please reset your cache and try again
https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d

Thanks!

[2018-06-18 14:52] iTOYS commented on #729
Could you also please run:
[code]
I suppose that result will be like:
[code]

This goes because we expect that  `Debug-iphonesimulator/<app_name>.app/Info.plist` should be the same as `<app_name>.xcodeproj`.

https://github.com/Microsoft/vscode-react-native/blob/14ebf4e6fdee5f69a41d9a7deea4dc164dd28b7e/src/extension/ios/plistBuddy.ts#L25-L33

[2018-06-18 17:36] asaravi commented on #729
Hi @iTOYS

I've researched your comment a bit, and decided to remove the space in the project name, and run 'react-native-rename' to rename the project more correctly.

However after running that, vscode-react-native was still creating a "Plexia Mobile.app" bundle inside the build folder. I manually modified these files to "PlexiaMobile.app" wherever it was written with a space:
[code]
I'm not sur

[2018-06-19 00:41] tr0yspradling commented on #597
I'm getting this as well.

[code]

[2018-06-19 06:16] erichui2017 commented on #661
i find vs will del .react folder where vs close.
vs 1.24.1
rn tools 0.6.11

[2018-06-19 10:03] iTOYS commented on #729
Unfortunately we can't detect app name if it different with project name. If you'd like to use different name you can run app with `react-native run-ios` and attach with vscode for debug(`Attach to packager`)

[2018-06-19 10:03] #729 closed

[2018-06-19 14:56] iTOYS commented on #661
Hi there,
I've faced this issue once, but after reinstall `react-native-tools` I can't reproduce it anymore.
Seems like it's some installation issue in vscode which we can't fix from our side.
Could you please manually delete extension from `~/.vscode/extensions` and install again from marketplace. After that `React Native` should appear as an option for environments(if you don't have `./vscode/la

[2018-06-19 15:55] iTOYS commented on #727
@echeypaz
Just a friendly ping.

[2018-06-19 18:28] echeypaz commented on #727
Hi, sorry, but I've been busy.
I am begining with shoutem project cloned from the builder.

Best Regards,

2018-06-19 16:55 GMT+01:00 Artem Egorov <notifications@github.com>:

[2018-06-19 18:41] iTOYS commented on #727
@echeypaz
How I can clone app from shoutem builder?
BTW, is it work from command line?
[code]

[2018-06-19 20:40] echeypaz commented on #727
Yes, there are shoutem CLI, you can create shoutem builder account and then
"shoutem login", "shoutem clone" ...

2018-06-19 19:41 GMT+01:00 Artem Egorov <notifications@github.com>:

[2018-06-20 06:41] peterjuras opened #732 "Run iOS commands not respecting projectRoot setting"
## Actual Behavior
Similar to the `Run Android` extension command, `Run iOS (simulator|device)` should be run from the projectRoot folder

## Expected Behavior
The `Run iOS (simulator|device)` commands are being run from the workspace root, often leading to an `unknown command 'run-ios'.` error in monorepos.

Most likely, this is due to the differences how the project root is retrieved, when you c

[2018-06-20 11:35] iTOYS commented on #732
Hi @peterjuras
Thanks for pointing us!
Fixed in #733

[2018-06-20 11:42] #732 closed

[2018-06-20 12:34] iTOYS commented on #727
I've tried to run cloned `shoutem` app in terminal and no success.
Please try `react-native run-android` on your side.
Closing this issue for now. Feel free to reopen if all works fine for you from terminal.

Thanks!

[2018-06-20 12:34] #727 closed

[2018-06-21 08:32] iTOYS commented on #730
@allforabit any results?

[2018-06-21 08:35] iTOYS commented on #728
@VanessaChu just a friendly ping

[2018-06-21 09:31] allforabit commented on #730
Hi apologies I haven't had a chance to check just yet but will do at some point today or tomorrow. Thanks!

[2018-06-21 12:02] MrLoh commented on #694
@ruslan-bikkinin I just setup the debugger for a node project and the project also couldn't find my globally installed `nodemon` runtime executable. I could fix it by pointing to `${workspaceFolder}/node_modules/.bin/nodemon` but maybe the react-native plugin has a similar issue, not being able to find the global `react-native-cli` installation as you had mentioned before.

I run fish as my shell,

[2018-06-21 13:40] #560 closed

[2018-06-22 08:15] iTOYS commented on #694
Hi @MrLoh,
Please see this issue https://github.com/Microsoft/vscode-react-native/issues/723
Seems like you have the same problems.

[2018-06-22 20:22] MrLoh commented on #694
@iTOYS no the `.bash_profile` is set up correctly. How exactly are the `react-native` commands from this extension executed. Can I somehomw reproduce how they are executed on my computer. Is it a shell script file with `#!/bin/bash` in the file, or is it called from node?

[2018-06-24 00:12] delciopolanco commented on #728
Hi guys, the same happening to me using vscode 1.24.1.

- angular 6.0.4
- angular cli 6.0.8
- node 8.11.2

![breakpoints](https://user-images.githubusercontent.com/20881846/41814646-c02d8c80-7721-11e8-9dce-d5f2422dce19.gif)

[2018-06-25 13:42] allforabit commented on #730
Hi @iTOYS apologies about the delay. I've cleared out the cache and even started a new project (based on `react-native init MyProject` and am still having no luck. Please note the instructions to clear the cache aren't specific to Windows and are a bit of date as far as I can see. I followed along as closely as possible and manually removed any folders that might have been causing problems. I also

[2018-06-25 15:43] iTOYS commented on #694
@MrLoh
Something like this:
[code]

[2018-06-25 15:51] iTOYS commented on #730
@allforabit
Could you please run `react-native run-android` and paste packager outputs here?

[2018-06-25 16:07] allforabit commented on #730
Here you go @iTOYS ...

Initial screen:
[code]

Metro bundler popup window:
[code]

[2018-06-25 18:14] delciopolanco commented on #728
My Bad!!!

[2018-06-25 19:56] iTOYS commented on #730
All clues say that it's issue with `watchman`'s cache, could you please try to reset it in vscode terminal?

[2018-06-25 20:13] allforabit commented on #730
Thanks for all the help. Unfortunately I'm still experiencing the issue.

Just to confirm. I cleared the watchman cache by running this command in the project root:
[code]

It does seem to get a bit further along but gives me the following error in the debug output:
[code]
And the following error in React Native output:
[code]

[2018-06-27 13:13] #713 closed

[2018-06-28 09:49] iTOYS commented on #728
I cant' reproduce this.
Closing for now. Feel free to reopen if you still faced this issue.

Thanks!

[2018-06-28 09:49] #728 closed

[2018-06-28 09:57] iTOYS commented on #661
If you still faced this issue just reinstall the extension from marketplace.
Closing for now. Feel free to reopen if reinstall doesn't work for you!

Thanks!

[2018-06-28 09:57] #661 closed

[2018-06-28 10:45] iTOYS commented on #730
Could you please try to debug?
Please add following string to your `src/common/commandExecutor.js` file:
[code]

How to find extension files please see [here](https://github.com/Microsoft/vscode-react-native/blob/master/CONTRIBUTING.md#windows)

Also please check, which env vars you have in your command line:
[code]

`PATH` vars should be equal

[2018-06-28 12:18] #719 closed

[2018-06-28 16:10] bogdant commented on #730
Experiencing the same issue

[2018-06-29 09:12] allforabit commented on #730
Thanks @iTOYS  I will try to do this today but if not over the weekend.

[2018-06-30 15:17] theapache64 commented on #379
@stephen-james solution works for me.

[2018-06-30 19:33] allforabit commented on #730
I have it building successfully now. However I'm not sure where in that file I should add that line of code (`this.logger.error(JSON.stringify(spawnOptions.env, null, 2));`). Thanks @iTOYS

[2018-07-02 08:53] iTOYS commented on #730
@allforabit
Glad to hear that!
You should be add logging on line 154, my fault, sorry.
Could you please share how did you fix this issue?

Thanks!

[2018-07-03 14:23] allforabit commented on #730
Ok thanks @iTOYS I'll add that to that line. Sorry I meant I had got the vscode-react-native plugin built and working. I still haven't got it actually working.

[2018-07-03 14:37] iTOYS commented on #730
@allforabit
Any info from logs would be helpful!
My main idea is that vscode and cmd uses different environment variables and/or different nodejs versions.
Do you use `nvm` or something else for managing nodejs versions?

Unfortunately I still can't repro this.

[2018-07-03 14:44] allforabit commented on #730
Yes I'm using nvm for windows so that could be the root of the problems. I'll get back to you with this info asap.

[2018-07-03 14:57] ruslan-bikkinin commented on #730
Hi @allforabit I noticed that  you have several errors in `Developer Tools console` output that caused by other extensions. Could you please try to uninstall those extensions for a while and try to debug your app again?

[2018-07-05 08:05] iTOYS commented on #730
@allforabit
Any updates?

[2018-07-05 08:37] allforabit commented on #730
Sorry I've had a very busy week and haven't had a chance yet. It really sounds like it's an issue with my setup though. Feel free to close for now. Hope to have another look over the weekend.

[2018-07-05 10:32] iTOYS commented on #652
Fixed #737

[2018-07-05 10:32] #652 closed

[2018-07-05 10:33] #730 closed

[2018-07-10 05:39] 2hyjun opened #742 "Unverified Breakpoints"
I'm trying to debug React-Native using vscode - React Native Tools extension.
All features works well except breakpoints.

If I set a breakpoint on my codes, breakpoints become gray-outlined  and 'Unverified BreakPoints'.
Also debugging doesn't stop at that breakpoint.

I don't use `flow` or `typescript`.
But when I check Output Tab, there's `typescript` andTSServer is running.

All of things on O

[2018-07-10 08:39] iTOYS commented on #742
Hi @2hyjun,
Thanks for reaching us! Unfortunately we can't reproduce this issue on default RN app.
Could you please make a little example project to reproduce? It would be very helpful fo us!

Thanks!

[2018-07-10 09:51] ruslan-bikkinin commented on #742
Also, @2hyjun please share with us list of plugins which you are using.

[2018-07-11 00:46] 2hyjun commented on #742
@iTOYS  @ruslan-bikkinin
When I init a new RN Project via react-native init (latest version) and debug ios via React Native Tools,
break points works well. I don't know why...

On new project, a TSServer is running.

![image](https://user-images.githubusercontent.com/27001666/42544855-2d95721c-84ef-11e8-97bf-31c26ea0f0c2.png)

Here are my extensions.
<img width="277" alt="2018-07-11 09 43 51" src=

[2018-07-11 11:37] ruslan-bikkinin commented on #742
@2hyjun thanks for clarifications.

It is applicable for projects that are using Typescript.

Could you please do more steps to help us identify the cause of your problems? The steps are the following:
1. Remove all extensions except React Native Tools.
2. Show us dependencies of your project (package.json: `dependencies` and `devDependencies` properties content)
3. Modify `.vscode/launch.json` by

[2018-07-11 22:11] rodrigoelp opened #743 "Debug seems to ignore rn-cli.config.js"
## What I am trying to do.
I've been trying to debug this app (https://github.com/pniko/chain-react-2018 - final branch) in a real device and the packager fails to bundle the models present in the assets folder.

## Steps to reproduce in iOS
1. (assuming provisioning profile was correctly configured), add a new configuration to debug on a real device
[code]
2. Make sure the application has the rn-

[2018-07-12 00:08] 2hyjun commented on #742
@iTOYS
Debugging with Chrome works well.
![image](https://user-images.githubusercontent.com/27001666/42605487-1cc8e5c6-85b3-11e8-89f2-f411e08e264d.png)

[2018-07-12 00:45] 2hyjun commented on #742
I disabled all of my extensions except React Native Tools, and tried to debug again, but break points doesn't works.

Maybe these are all you need.

### 2. Package.json

[code]

### 4 - 1 Output of the Debug Console (View -> Toggle Debug Console):
[code]

### 4 - 2 Output of the React-Native output channel
[code]
### 4 - 3 Output of the Developer Tools console
[code]

[2018-07-12 09:00] ruslan-bikkinin commented on #742
Hi @2hyjun I was able to reproduce the issue using information you provided. Now I am investigating what could cause it so I'll keep you posted about the results.

[2018-07-12 10:16] 2hyjun commented on #742
fine 😄

[2018-07-12 11:25] MartinMasek opened #744 "Login to exponent"
I want to debug iOS mobile app on my Mac and I use VSCode and react-native plugin. I was able to install everything successfully but when I click on the green arrow to debug my app, I get a small notification window at the bottom saying:

"You need to login to exponent. Please provide username and password to login. If you don't have an account we will create one for you."

I know my login and pas

[2018-07-12 11:35] MartinMasek commented on #744
I resolved it like this:
installed exp through npm:
npm install -g exp
run command:
exp login

[2018-07-12 11:35] #744 closed

[2018-07-12 14:55] iTOYS commented on #743
Hi @rodrigoelp
Thanks for reporting! Fix will arrive with a new release.
As a workaround you can run packager manually `react-native start` and after that run debugger from VSCode.

Thanks!

[2018-07-12 15:50] ruslan-bikkinin commented on #742
Hi again @2hyjun
This is a know [issue](https://github.com/Microsoft/vscode-react-native/issues/660#issuecomment-371119884) with Metro bundler that affects 0.54.x versions of React Native and it should have been fixed via this PR #663. Then there were only [3 versions in 0.54.x branch](https://github.com/Microsoft/vscode-react-native/pull/663/files#diff-164a18e7473c9450518245cd953bc97fR13) but sin

[2018-07-12 17:49] #742 closed

[2018-07-13 03:09] tianjyan opened #747 "unknown named module: 'crypto' when I enable Debug JS Remotely."
Hi Team, I am using project https://github.com/jitsi/jitsi-meet and want to debug the Android code.

So I setup the environment as the [doc](https://marketplace.visualstudio.com/items?itemName=vsmobile.vscode-react-native) said.

## Actual Behavior
I get the error when I enable Debug JS Remotely. Here is a screenshot from my phone.
<img src="https://user-images.githubusercontent.com/4630470/426699

[2018-07-16 08:10] #743 closed

[2018-07-17 14:30] #747 closed

[2018-07-17 20:59] danielDevelops opened #749 "Debugging is very slow"
## Actual Behavior
1. When running debugger the application responds very slowly

## Expected Behavior
1. A small hit in performance would be expected but this is substantial

## Software versions
- React-Native VS Code extension version:
- VSCode version: 0.6.12
- OS platform and version: MacOS High sierra, latest
- NodeJS version: 9.5
- React Native version: 0.53
- Expo SDK version (include if r

[2018-07-18 07:54] ruslan-bikkinin commented on #749
Hi @danielDevelops and thanks for submitting the issue. Did you try to debug your application using [Chrome Dev Tools](https://facebook.github.io/react-native/docs/debugging.html#chrome-developer-tools)? Please, compare time being spent for responding from app to debugger using both React Native Tools extension and Chrome Dev Tools and show us the results.

[2018-07-18 13:41] danielDevelops commented on #749
i was doing about 30 sqlite database inserts and updates with both and the performance difference was about 3 seconds for chrome debugger and about 40 seconds with react-native tools

[2018-07-18 14:08] ruslan-bikkinin commented on #749
@danielDevelops thanks for your anser. Could you please provide us minimal demo application so we could reproduce it on our side? It could be simplest application that uses local sqlite storage but including information about breakpoints positions on which debugger is getting slower.

[2018-07-19 09:36] ruslan-bikkinin commented on #721
Hi @jas99. I could debug android application remotely over wi-fi using the following steps:
1. Install application on device and run it.
2. Set debug server host and port in `Dev Settings -> Debug server host & port for device` on device pointing to IP-address of my dev machine on which packager has been started.
3. Start packager on dev machine.
4. Open application folder in VS Code and run `Atta

[2018-07-19 17:54] sregg opened #752 "Error when stopping packager using "React Native: Stop Packager""
## Actual Behavior
1. use command "React Native: Stop Packager"
2. the packager seems stopped but I see this error in the logs:

[code]

3. When executing the same command again, I get this log:

```[Warning] Error: Packager is not running```

## Expected Behavior
1. use command "React Native: Stop Packager"
2. the packager is stopped without any error

## Software versions
- React-Native VS Code

[2018-07-19 18:12] jas99 commented on #721
@ruslan-bikkinin Thx for getting back to me, lil hectic schedule for me over week or two but will try out at point of time; excuse me for time gap :).
But as I remember I did tried exactly all these steps and didn't worked out for me at that time. But I will gladly retry it and post my feedback.

Thx

[2018-07-19 20:12] code-matt commented on #661
I have installed RN for many people in past few weeks, have not seen this issue again and used to all the time. Thanks!

[2018-07-20 06:09] 2hyjun commented on #752
Same Error on
vscode: 0.6.13
vscode-react-native: 1.25.1
OS platform and version: OSX 10.13.3
NodeJS version: 8.10.0
RN version: 0.55.4

[2018-07-23 08:01] ruslan-bikkinin commented on #749
Hi @danielDevelops did you have a chance to look at at this?

[2018-07-23 09:40] #752 closed

[2018-07-23 10:02] ruslan-bikkinin commented on #688
Hi @shivawu I have implemented your request in this PR: #754. Could you please take a look on it and let me know whether it satisfy your needs?

[2018-07-23 21:23] dominictwlee opened #755 "React native command palette doesn't work."
## Actual Behavior
1. Current Workspace is not a React Native project.

## Expected Behavior
1. Expect react native to run on android simulator.

## Software versions
- React-Native VS Code extension version: 0.6.13
- VSCode version: 1.25.1
- OS platform and version: Ubuntu 16.04
- NodeJS version: 10.4.0
- React Native version: 0.56.0
- Expo SDK version (include if relevant):

## Outputs (Include

[2018-07-24 06:58] iTOYS commented on #755
Hi @dominictwlee
Could you please open terminal in your VSCode and execute `react-native -v` and paste output here.

Thanks!

[2018-07-24 22:22] dominictwlee commented on #755
Sure, It's:

[code]

[2018-07-25 07:42] ruslan-bikkinin commented on #755
Hi @dominictwlee what directory do you open? Is it root of react native project?

[2018-07-25 11:16] rmrudro opened #756 "Module HMRClient is not a registered callable module (calling enable) __callFunction index.bundle?"
## Actual Behavior
1. Hello I'm new in React-native I have a problem with building react-native first I have faced react-native Version After I downgrade and recreate project I can build into my android emulator . Please Note that I'm using Windows OS. then I make a separate directory for component then and i change it in index.js for that directory. whenever i did I find this error .
Module HMRCl

[2018-07-25 11:30] rmrudro commented on #756
First I reload by pressing R,R then I react-native run-android after cleaning gradle in last build

[2018-07-25 11:38] ruslan-bikkinin commented on #721
Hi @jas99 also please take a look at these similar issues: https://github.com/Microsoft/vscode-react-native/issues/324, https://github.com/facebook/react-native/issues/17379. It seems that you are facing the same problem here. In this case I believe that we could close this for now, but feel free to re-open it if none of solutions suggested there would help you.

[2018-07-25 11:38] #721 closed

[2018-07-25 11:55] ruslan-bikkinin commented on #756
Seems to be that something wrong directly with your react-native project and it's not related with React Native Tools extension. I believe that a better place for discussing such kind of problems is [react-native](https://github.com/facebook/react-native/issues) repo.
I am closing this issue, please, feel free to re-open if needed.

[2018-07-25 11:55] #756 closed

[2018-07-25 12:57] dominictwlee commented on #755
@ruslan-bikkinin Yep, root of react-native project created with ```react-native init```.
```react-native run-android``` works, but none of the commands in vscode are working.

[2018-07-25 19:58] dominictwlee commented on #755
@ruslan-bikkinin The only messages I get are from the Developer tools console and output as shown in my 1st post.

[2018-07-25 20:26] LK opened #757 "Tapping to open a file from a React Native stack trace opens a new VS Code window"
## Actual Behavior
1. Crash a React Native app
2. Tap a file in the resulting stack trace
3. A new VS Code window opens

## Expected Behavior
1. Crash a React Native app
2. Tap a file in the resulting stack trace
3. The file should open in the existing VS Code window

## Software versions
- React-Native VS Code extension version: 0.6.13
- VSCode version: 1.25.1
- OS platform and version: macOS 10.

[2018-07-26 10:07] ruslan-bikkinin commented on #755
@dominictwlee I could reproduce your problem by installing *react-native* package (*not react-native-cli!*) globally and then by executing `React Native > Run Packager` command. In this case:
1. Please, check that you have installed `react-native-cli` package globally, not `react-native`.
2. If you are using nvm, please check that node versions that are available in VS Code and in system terminal

[2018-07-26 10:15] ruslan-bikkinin commented on #688
Okay, I am closing this for now as original feature request has been implemented. @shivawu if you think that this feature should be complemented please feel free to submit new issue.

[2018-07-26 10:15] #688 closed

[2018-07-26 10:22] dominictwlee commented on #755
@ruslan-bikkinin
So nvm node version has to match whatever is shown here?

![screenshot from 2018-07-09 15-28-58](https://user-images.githubusercontent.com/34794189/43256885-18b733b6-90c6-11e8-861d-de6aa3172ad2.png)

[2018-07-26 10:37] ruslan-bikkinin commented on #755
@dominictwlee could you please show screenshot of your project opened in VS Code after error being occured?

[2018-07-26 12:08] ruslan-bikkinin commented on #757
Hi @LK and thanks for submitting the issue. Could you please give us more details of your scenario so we could reproduce it on our side? So you are doing the following:
1. Open workspace that has RN project root inside.
2. Make sure you have a correct debug configuration for this project.
3. Configure your app in release mode to be able to crash it (unintentionally or not).
4. Start debugging your

[2018-07-26 16:08] LK commented on #757
The app is running in debug mode, when it crashes the simulator displays the red popup window and I tap on a line of the stack trace in the simulator, which brings up a new window.

[2018-07-27 07:53] ruslan-bikkinin commented on #755
@dominictwlee What extension, among React Native Tools, do you have installed?

[2018-07-27 07:58] dominictwlee commented on #755
@ruslan-bikkinin
![screenshot from 2018-07-27 08-57-44](https://user-images.githubusercontent.com/34794189/43308961-3cdfd0ee-917b-11e8-8de7-f9f5a6e98d8e.png)
![screenshot from 2018-07-27 08-56-55](https://user-images.githubusercontent.com/34794189/43308962-3cfa9280-917b-11e8-9a4a-33fa1abfa46c.png)

[2018-07-27 08:37] iTOYS commented on #755
@dominictwlee
Could you please check your settings(both user and workspace settings).
https://code.visualstudio.com/docs/getstarted/settings
Especially `react-native-tools.projectRoot`

[2018-07-27 11:19] stevefan1999 opened #758 "Debug adapter was receiving abnormal input from IPC pipe"
## Actual Behavior
1. Start Expo
2. Press F5 to start "Attach to packager"
3. Although the debugger successfully attached, when the Expo was open on the mobile side, the debugger failed miserably immediately due to an unexpected token in JSON feed

## Expected Behavior
1. Start Expo
2. Press F5 to start "Attach to packager"
3. Watch my breakpoints

## Software versions
- React-Native VS Code exten

[2018-07-27 13:29] ruslan-bikkinin commented on #757
Hi again @LK, it seems to be a VS Code issue, because I could reproduce your issue not using extension at all. In my case reproduction steps are the following:
* My demo project is called `i757`.
1. Set `REACT_EDITOR` environment variable to `code` (I did it by executing `export REACT_EDITOR=code`)
2. Start packager inside your project directory (`i757`) and run application (`react-native run-ios`

[2018-07-27 14:20] dominictwlee commented on #755
@iTOYS  ```react-native-tools.projectRoot``` is using the default "".

My other settings are:
[code]

[2018-07-27 15:01] ruslan-bikkinin commented on #755
@dominictwlee what is the full path to `package.json` file? Seems to be that problem line is
https://github.com/Microsoft/vscode-react-native/blob/2c82a3f990836260c11640db528a30590867bb8a/src/common/reactNativeProjectHelper.ts#L25

and `fs.existsSync` method in your case unexpectedly returns false.
It is hard to say what's wrong in your particular case, so the only thing that I can suggest you is

[2018-07-27 16:54] LK commented on #757
Thanks for digging into it, @ruslan-bikkinin — looks like you're right, will file an issue there.

[2018-07-27 16:54] #757 closed

[2018-07-29 17:09] dominictwlee commented on #755
@ruslan-bikkinin  Got this message when I completed tasks 1 and 2, any ideas why?

![screenshot from 2018-07-29 18-08-40](https://user-images.githubusercontent.com/34794189/43368780-942dc172-935a-11e8-889f-a73744ede71d.png)

Should I go ahead and click debug anyway?

[2018-07-30 07:58] ruslan-bikkinin commented on #755
@dominictwlee Did you restart vscode after 1, 2 steps? Seems to be that it couldn't find quick-build task, that is defined in gulpfile.js. You can check whether it exists by clicking `Tasks -> Run tasks...` and wait a little bit for VSCode to process.

[2018-07-30 12:57] cviktor commented on #758
I have the same issue. The debugger worked before. I cannot tie the breaking of the debugger to a specific package update

[code]

[2018-07-30 21:27] dominictwlee commented on #755
I'm getting this in the console output:
```Gulp is not installed on your system. Run npm install -g gulp to install it.```

The only thing I can think of is that vscode isn't detecting the folder where nvm saves it's global modules.

Any ideas?

[2018-07-31 07:44] ruslan-bikkinin commented on #755
@dominictwlee You can try to remove `node_modules/.bin` folder.

[2018-07-31 14:01] #758 closed

[2018-07-31 22:04] dominictwlee commented on #755
@ruslan-bikkinin Deleted node_modules/.bin file, and the same warning still popped up so I clicked Debug anyway.

2nd VScode popped up with message ```[/home/domtwlee/Projects/vscode-react-native]: Overwriting extension /home/domtwlee/.vscode/extensions/vsmobile.vscode-react-native-0.6.13 with /home/domtwlee/Projects/vscode-react-native.```.

![unverified-breakpoints](https://user-images.githubuse

[2018-08-01 09:45] iTOYS commented on #755
@dominictwlee
Could you please try to delete `nvm` and install nodejs directly

Thanks!

[2018-08-01 11:54] ruslan-bikkinin commented on #755
@dominictwlee Also you can try to set default node version by executing `nvm alias default NEEDED_VERSION`.

[2018-08-01 14:22] sregg opened #764 "Can't debug if build configuration is different than Debug"
I followed this article https://medium.com/@ywongcode/building-multiple-versions-of-a-react-native-app-4361252ddde5 to have different build variants pointing to different environments (e.g. dev, staging, prod).

I have these 4 build configurations:
- Debug
- Release
- Dev.Debug
- Dev.Release

and these 2 schemes:
- appname (using Debug and Release)
- appname-dev (using Dev.Debug and Dev.Release)

[2018-08-01 19:30] dominictwlee commented on #755
@iTOYS  @ruslan-bikkinin

Tried setting ```nvm alias default``` and didn't make a difference.

So what I did was comment out nvm commands from my .bashrc and installed nodejs directly.

debugger is working and projectRoot is showing up as ```"/home/domtwlee/Projects/testDebugger"``` which is the right path.

So are you saying that vscode-react-native is incompatible with nvm?

[2018-08-02 08:27] ruslan-bikkinin commented on #755
@dominictwlee No exactly, I use nvm as well during my development on Ubuntu including debugging RN apps and extension - just in your particular case something goes wrong. Could you please do the following:
* run `nvm ls` in system terminal and in VS Code integrated terminal and show us the output?
* run `cat ~/.npmrc`, `cat ~/.bashrc`, `cat ~/.bash_profile` and show us the output?

[2018-08-02 11:57] ruslan-bikkinin commented on #764
Hi @sregg and thanks for submitting the issue. Yes, you are right, extension doesn't support yet such scenarios.

Yes, sure, we'd love to get such a contribution. Please, don't hesitate to ask us if you need any help.

[2018-08-02 13:28] ruslan-bikkinin commented on #749
@danielDevelops i tried to reproduce your problem using [test application](https://github.com/craftzdog/react-native-sqlite-2/tree/master/test) from react-native-sqlite-2 repo. I modified it by forcing it to make 50 insert queries on each app start and add two breakpoints: one - before SQL commands execution and second - after it. In all cases debugger responded very quickly, delay took less then

[2018-08-07 10:12] ruslan-bikkinin commented on #755
@dominictwlee all seems to be in order here. How do you run VS Code? Could you please try to run it from terminal via `code` and let us know if issue still persists?
Also, please, make sure that you have no remains of another node instances in your path which have been installed not via nvm (potential directories are `/usr/bin`, `usr/local/bin` and so on).

[2018-08-08 07:10] iTOYS commented on #764
Hi @sregg,
I've added support for this in https://github.com/Microsoft/vscode-react-native/pull/766
If you'd like you can try it.([Development setup](https://github.com/Microsoft/vscode-react-native/blob/master/CONTRIBUTING.md#development-setup))

Thanks!

[2018-08-10 02:53] rsouthgate opened #767 "Debug adapter process has terminated unexpectedly when attempting to run any debug configuration"
This appears related to this SO question/solution: https://stackoverflow.com/questions/47650633/react-native-debug-adapter-process-has-terminated-unexpectedly/47932583#47932583

In my project I definitely do not get a .react folder created in the .vscode folder. There is also nothing else in that folder. I have been through all the suggestions on how to fix this as it appears to be some thing to d

[2018-08-10 08:14] iTOYS commented on #767
Hi @rsouthgate
Thanks for reaching us.
Could you please reinstall extension, setup [extended logging](https://github.com/Microsoft/vscode-react-native/blob/master/doc/customization.md#logging) and try again?

Please note that you should reload VSCode window to apply settings changes:
[code]
Please paste outputs here as mentioned in [ISSUE_TEMPLATE.md](https://github.com/Microsoft/vscode-react-nati

[2018-08-10 11:38] #764 closed

[2018-08-10 11:57] ruslan-bikkinin commented on #749
I am closing this due to inactivity. @danielDevelops please feel free to reopen it if you will be ready to prepare demo application that could help us to reproduce it on our side.

[2018-08-10 11:57] #749 closed

[2018-08-10 21:31] rsouthgate commented on #767
Hi,
I tried to do that... In my workspace settings the react-native-tools is highlighted as an unknown configuration setting - so not sure the set up and installation is even getting far enough to register settings... After installing and setting the log level the only thing I can see in the logs is in the Log (Window) output when I attempt to start a debug session and I see this:

I'm not sure wh

[2018-08-10 22:54] dominictwlee commented on #755
@ruslan-bikkinin I managed to get it work by doing bash```nvm use default && code``` in the main terminal, but it stops working everytime I reload/open a folder/open a workspace. Any solutions to this? Because I can see this becoming really annoying.

[2018-08-12 09:55] iTOYS commented on #767
@rsouthgate
Seems like you haven't have globally installed `react-native-cli`
[code]
Please install it and try to debug again.

Thanks

[2018-08-12 20:18] rsouthgate commented on #767
Sorry, you're right. It worked straight away after that!

[2018-08-12 20:18] #767 closed

[2018-08-13 06:35] #329 closed

[2018-08-13 11:10] ruslan-bikkinin commented on #755
@dominictwlee I think that this is mostly vscode and nvm issue rather than extension one, because all we do in extension that is lead to the problem you described in first post is running a `react-native -v` command by `childProcess.spawn("react-native",["-v"], { cwd: YOUR_RPOJECT_DIRECTORY })` . In your case it fails because seems to be that there is no available `react-native` command in PATH. I

[2018-08-15 03:55] soeasyjx opened #769 ""Inverified breakpoint" error while debugging apps with RN >=0.55.4"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -

[2018-08-15 07:35] soeasyjx opened #770 ""Inverified breakpoint" error while debugging apps with RN >=0.55.4"
## Actual Behavior
1. Debugging in vscode React native

## Expected Behavior
1. Normal debugging
2.

## Software versions
- React-Native VS Code extension version: 0.6.13
- VSCode version: 1.26.0
- OS platform and version:
- NodeJS version: 8.11.1
- React Native version: 0.55.4
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle

[2018-08-15 08:29] #769 closed

[2018-08-15 14:34] ruslan-bikkinin commented on #770
Hi @soeasyjx, we tried to reproduce you issue on Ubuntu for android platform and on MacOs for iOS platform using demo application created with `react-native init` for 0.55.4 and latest versions of React Native. In all cases debugging worked without any problem. Could you please also fill these sections of issue template to give us more information about your case:

## Software versions
- OS platfo

[2018-08-16 14:38] ruslan-bikkinin commented on #755
@dominictwlee do you have a chance to look at it?

[2018-08-16 21:07] dominictwlee commented on #755
@ruslan-bikkinin Yeah tried that, still have to declare nvm use default and launch code from terminal in order for things to work. I guess that'll have to do for now.

[2018-08-17 17:22] buddhamangler opened #772 "Cannot debug on device"
## Actual Behavior
1. If I select my 'Debug on iOS Device' launch configuration the application is installed on my device but it never launches.  I can see that the app flashes momentarily meaning the app is getting installed, but it just never launches.
2. Additionally, if i manually launch the app and select turn off debug remotely, and turn it back on chrome flies open on my machine.  The app i

[2018-08-17 18:06] ruslan-bikkinin commented on #770
@soeasyjx do you have a chance to look at this?

[2018-08-20 08:38] ruslan-bikkinin commented on #755
@dominictwlee could you please [submit issue](https://github.com/Microsoft/vscode/issues/new?template=bug_report.md) in vscode repo and share the link here? As soon as you do that, I join to discussion there.

[2018-08-20 12:34] ruslan-bikkinin commented on #772
Hi @buddhamangler and thanks for questioning.

Regarding 1, 3, 5:
Please, add `"trace": "verbose"` to your `"Debug iOS on Device"` configuration and try again debugging your app. You will get extra logging output in these output channels:
[code]
so please, share it with us.
In addition, could you please try debugging on simulator and let us know whether you still have such problems on it.
Also, pl

[2018-08-21 13:11] hkirk opened #773 "Overloading constructors reports error in VsCode"
## Actual Behavior
1. Having a file with overloaded constructors eg.
    constructor(title: String, description: String);

      constructor(title: String, description: String, date?: Date) {
        this.title = title;
        this.description = description;
        this.date = date || new Date();
      }
2. Using these the 'full' constructor
    new Todo("test", "", new Date('1995-12-17T03:24:00

[2018-08-22 12:50] prudhviraju255 commented on #111
Hi, I am also getting the same problem I am sharing my screen In that screen mongoose word should be blue color but is showing as white. I dont understand why it is showing like that?

[2018-08-22 12:51] prudhviraju255 commented on #111
![white](https://user-images.githubusercontent.com/42236690/44464340-268db280-a638-11e8-890e-b5902661540b.PNG)

[2018-08-22 13:15] ruslan-bikkinin commented on #111
Hi @prudhviraju255, syntax highlighting as well as code hinting is not a part of React Native Tools extension anymore. I'd suggest you to file your question to [vscode](https://github.com/Microsoft/vscode/issues) tracker.

[2018-08-22 18:53] buddhamangler commented on #772
**From Debug Console...**

OS: darwin x64
Adapter node: v8.9.3 x64
vscode-chrome-debug-core: 3.17.3
1:45:07 PM, 8/22/2018
From client: initialize({"clientID":"vscode","clientName":"Visual Studio Code","adapterID":"reactnative","locale":"en-us","linesStartAt1":true,"columnsStartAt1":true,"pathFormat":"path","supportsVariableType":true,"supportsVariablePaging":true,"supportsRunInTerminalRequest":tru

[2018-08-23 09:03] Dagurmart commented on #744
This should be addressed though

[2018-08-24 12:33] WasserEsser opened #774 "Unexpected token L in JSON at position 0"
## Actual Behavior
1.  Debugging doesn't work

## Expected Behavior
1.  Debugging works

## Software versions
- React-Native VS Code extension version:  0.6.13
- VSCode version:  1.26.1
- OS platform and version: Windows 10 (17134)
- NodeJS version: 8.9.3
- React Native version: 0.55.4 (cli: 2.0.1)

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[cod

[2018-08-27 08:20] soeasyjx opened #776 "Could not debug. Seems to be that you are trying to debug from within directory that is not a React Native project root"
## Actual Behavior
1. Could not debug. Seems to be that you are trying to debug from within directory that is not a React Native project root

## Expected Behavior
1. Able to debug normally

## Software versions
- React-Native VS Code extension version: 0.6.13
- VSCode version: 1.26.1
- OS platform and version:
- NodeJS version: 8.11.1
- React Native version: 0.55.5
- Expo SDK version (include if

[2018-08-27 08:27] #776 closed

[2018-08-27 09:44] ruslan-bikkinin commented on #774
Hi @WasserEsser and thanks for submitting the issue. This issue has been resolved in v0.6.14. However we already have similar one https://github.com/Microsoft/vscode-react-native/issues/758, so I am going to close it for now. Please feel free to leave feedback there if problem still persists.

[2018-08-27 09:44] #774 closed

[2018-08-27 15:23] FRizzonelli opened #777 "Debugger doesn't work (can't run on Android, on iOS console is not linked)"
## Actual Behavior
1. Run Debug Android
2. Debugger doesn't start, app isn't builded and launched

## Expected Behavior
1. Run Debug Android
2. App correctly shipped to device

## Software versions
- React-Native VS Code extension version: Latest
- VSCode version: Latest
- OS platform and version: OSx 10.13.5
- NodeJS version:
- React Native version:  0.56.0
- Expo SDK version (include if relevant

[2018-08-27 15:36] edwardlafoy commented on #777
Running into the same issue

[2018-08-27 15:46] SSkovboiSS commented on #777
Same problem, wasted a lot of time with it today

[2018-08-27 16:10] GiovanniFrigo commented on #777
Happens also on my pc, trying to run the same code as @FRizzonelli's

[2018-08-27 16:31] tbsolutions commented on #777
Same issue. Guess it is related to the latest release (0.6.14) published today.

[2018-08-27 22:09] aMarCruz commented on #777
Same here.
RN 0.56.0
VS Code 1.26.1
RN-Tools 0.6.14
Linux Mint 16.3

...and the output of `console.log` is not visible in the OUTPUT panel anymore.

[2018-08-28 02:06] vntguca commented on #777
Lost some hours on this issue today, simply stopped working for me too.

I can confirm that RN-Tools 0.6.14 is the problem... downgrading to 0.6.13 works fine:

Workaround for downgrading:

1.: Edit your VS Code's user setting to disable auto update by adding the following setting.
"extensions.autoUpdate" : false,

2.: Download the previous version of the RN-Tools extension from this URL
[https://

[2018-08-28 06:21] soeasyjx opened #778 "Debug fails to load script in Typescript， Unable to resolve module `../../fund/containers/index`"
I have not been able to successfully debug the application in using this extension in VSCode. It should be noted that running from console and using chrome dev tools works fine,

## Actual Behavior
Unable to resolve module `../../fund/containers/index` from `e:\rn_pro\fastman2\src\apps\routes\fund.rule.tsx`: The module `../../fund/containers/index` could not be found from `e:\rn_pro\fastman2\src\a

[2018-08-28 07:51] abruyat commented on #777
same here! Can't debug my app since 0.6.14. Downgrading work

[2018-08-28 08:00] top-master commented on #777
just downgraded from **0.6.14** to **0.6.13** because of [777](https://github.com/Microsoft/vscode-react-native/issues/777) and then downgraded from **0.6.13** to **0.6.12** because of the issue mentioned [here](https://stackoverflow.com/questions/51359720/unhandled-error-in-debug-adapter-syntaxerror-unexpected-token-l-in-json-at-pos)

[2018-08-28 08:39] Tilwin90 commented on #777
While the idea of taking the path from local.properties sounds wonderful, it also doesn't work on Windows.
From Android Studio I get the recommendation to set the path as follows:
sdk.dir=C**\:\\**Users\\mihai.veres\\AppData\\Local\\Android\\Sdk (notice the "escaped" colon)

However when the extension directly takes this path, it fails and signals that it cannot find the adb command (invalid path)

[2018-08-28 08:43] xurenzhong commented on #777
update react-native-tools, same to me. now is 0.6.14

[2018-08-28 08:58] sdc395 commented on #777
My target emulated device is named `emulator-5554`.  A step forward seems to be to add the following to `.vscode/launch.json`...

            "runArguments": [
                "--deviceId", "emulator-5554"
            ]

Unfortunately, this seems to cause both debug and release variants to be built.  My release build fails and so debugging doesn't start.

[2018-08-28 12:35] kunokdev commented on #85
By disabling, `    "javascript.validate.enable": false,` what do we lose?
Thanks for solution tho @agrcrobles

[2018-08-28 13:26] vntguca commented on #777
Still no console output for me too on 0.6.15.

[2018-08-28 13:27] filmhomage commented on #777
Same problem.

[2018-08-28 14:04] top-master commented on #777
tested **0.6.15** and got below `Debug Console` output:
[code]
and below long `run-android` output:
[code]

[2018-08-28 15:05] Sterlingryan opened #781 "Not being able to debug due to adb path being incorrect"
## Actual Behavior
1. Start Debugging on Android.
2. Get this error [Error] Error: Error while executing command 'F\\:\Programs\Android\sdk\platform-tools\adb devices': Command failed: F\\:\Programs\Android\sdk\platform-tools\adb devices
The filename, directory name, or volume label syntax is incorrect.
3. App is built and running on emulator
4. Debugging is not available

## Expected Behavior
1.

[2018-08-28 15:12] macaetano commented on #781
Exact same error here

[2018-08-28 15:26] Sterlingryan commented on #781
https://github.com/Microsoft/vscode-react-native/issues/777#issuecomment-416426868 @macaetano  check this out, it worked for me

[2018-08-28 15:42] macaetano commented on #781
Thx @Sterlingryan, that worked for me too.

[2018-08-28 15:54] ruslan-bikkinin commented on #777
Hey guys, I’m really sorry for this things happened, I’ve reverted recent changes which broke us for now and created [v0.6.16](https://github.com/Microsoft/vscode-react-native/releases/tag/0.6.16). We’ll investigate and test all the things carefully again but for now things should work as usual. Again I apologise for this, will do our best to prevent such things in future.

[2018-08-28 16:06] ruslan-bikkinin commented on #781
@macaetano thanks for reaching us. Please, try updating to v0.6.16, versions v0.6.14-v0.6.15 are broken.

[2018-08-29 00:01] aMarCruz commented on #85
In flow files, nothing

[2018-08-29 00:35] geocachingsyntaxerror opened #784 "When debugging via vscode-react-native, the debugger needs to be stopped twice and the packager creates a /.expo/package-info.json file."
This may be an issue with my development environment and not vscode-react-native, but the symptoms are only present when using vscode-react-native. Any perspective would be appreciated.

## Actual Behavior
1. Create new react native project via react-native init
2. cd into project and open VS Code via code .
3. Open debugger tab and add a new set of React Native debug configurations
4. Hit the 'pl

[2018-08-29 06:06] aMarCruz commented on #777
@ruslan-bikkinin , perhaps the isaacs' [which](https://www.npmjs.com/package/which) utility is convenient for you:

[code]
Also, there'are the enviroment vars `ANDROID_HOME` and `ANDROID_SDK_ROOT`, but in any case, we users can specify the path to the Android SDK in the VS Code settings.

[2018-08-29 06:33] Sterlingryan commented on #781
V0.6.16 fixed that, thank you @ruslan-bikkinin that was very fast

[2018-08-30 08:33] federicot commented on #784
It happens to me too. But I do get an error the first time I click stop.
[code]

Visual Studio Code: 1.26.1
React Native Tools: 0.6.16
Node: 8.11.3

[2018-08-30 10:11] ruslan-bikkinin commented on #758
Hi again @stevefan1999. We had to undo PR #760 with a fix because it unexpectedly brake stdio communication between debuggee process and debugger. Originally, your issue caused by this one https://github.com/nodejs/node/issues/21671 and I think, that it will be fixed in upcoming 10.10 release of Nodejs. So, as for now to avoid this error, change system nodejs version to 10.5.

[2018-08-30 10:42] ruslan-bikkinin commented on #784
Hi @geocachingsyntaxerror and thanks for reporting. I believe, that something has been broken between 1.25 and 1.26 versions of VS Code, because I couldn't reproduce it in 1.25. I will investigate it and let you know about the results.

[2018-08-30 14:52] kryptonian41 commented on #777
I get this Error on the latest  version of the extension
`OS: win32 x64
Adapter node: v8.9.3 x64
vscode-chrome-debug-core: 3.17.3
Starting debugger app worker.
Established a connection with the Proxy (Packager) to the React Native application
Debugger worker loaded runtime on port 34218
******** Unhandled error in debug adapter: SyntaxError: Unexpected token L in JSON at position 0
    at JSON.par

[2018-08-30 14:53] kryptonian41 commented on #777
I get the following error on the latest version of the extension, on running debug on android

`OS: win32 x64
Adapter node: v8.9.3 x64
vscode-chrome-debug-core: 3.17.3
Starting debugger app worker.
Established a connection with the Proxy (Packager) to the React Native application
Debugger worker loaded runtime on port 34218
******** Unhandled error in debug adapter: SyntaxError: Unexpected token L

[2018-08-31 14:38] msnikhil commented on #777
I installed the extension 3 days ago and faced the same issue mentioned by @Tilwin90  [here](https://github.com/Microsoft/vscode-react-native/issues/777#issuecomment-416499956) in this comment thread. Then I uninstalled the extension but since then my react-native app builds successfully but doesn't open in debug mode. However, bundling in the release mode, the app opens successfully. More on this

[2018-08-31 15:00] ruslan-bikkinin commented on #777
Hi @msnikhil, could you please submit separated issue? I am guessing that your problem is not connected with the one being discussed in this thread.

[2018-09-01 05:04] msnikhil opened #787 "React-native android app not opening in debug mode (but opens in release mode) after installing vscode react-native-tools debugger."
## Actual Behavior
1. Install React native tools extension.
2. Update launch.json file to include respective configurations for debug andorid/ios.
3. Select Attach to debugger before building app in debug mode.
4. Build the app.
5. Build fails with error cannot find the adb command (invalid path).
6. Uninstall the extension and try building again.
7. App builds successfully but fails to open.

##

[2018-09-03 04:15] wjielim commented on #671
May I have a look in your launch.json?
I'm using Expo and couldn't get the debugger working

[2018-09-04 04:28] msnikhil commented on #787
I found that the issue was not from the extension but from one of the packages in was using in the project. Updating the package to the latest version resolved my issue. Thank you for bearing with me :)

[2018-09-04 04:28] #787 closed

[2018-09-06 12:42] #784 closed

[2018-09-07 01:52] soeasyjx commented on #778
@ruslan-bikkinin

[2018-09-07 12:00] iTOYS commented on #772
Hi @buddhamangler,
Sorry for delay.
Seems like this [issue](https://github.com/facebook/react-native/issues/19946) related for you.
For now the only way to debug RN application with VSCode it's install application with
[code]
and after that run "Attach to packager" configuration.

Thanks!

[2018-09-07 12:00] #772 closed

[2018-09-08 12:06] ruslan-bikkinin commented on #778
Hi @soeasyjx and sorry for delayed response. Could you please try to replace` "platform": "android"` with `  "platform": "exponent"` in your debug configuration in `launch.json` and let us know if it works.

[2018-09-09 08:13] soeasyjx commented on #778
Let me try

[2018-09-09 08:31] soeasyjx commented on #778
I just want to debug in the android simulator, not in Expo.

[2018-09-09 11:51] tavrez opened #790 ""unknown option `--root'" error with RN@0.57-rc during packager startup"
## Actual Behavior
1. Opening command palette, selecting start pakager fails to run packager.
2. It also shows a "unknown option --root" in the terminal

## Expected Behavior
1. Packager should be launched instantly

## Software versions
- React-Native VS Code extension version: 0.6.16
- VSCode version: 1.27.1 (User Setup)
- OS platform and version: Windows 10 x64 v 16299.611
- NodeJS version: 8.1

[2018-09-09 11:55] tavrez opened #791 "[feature] Element Inspector for react native inside vscode"
It would be nice if we have a element inspector, just like what nuclide(and react-dev-tools) already has, inside vscode. Sorry if it's duplicate, I didn't found anything related here

[2018-09-10 09:37] ruslan-bikkinin commented on #778
@soeasyjx according to screenshots you posted your project is an Expo one. If you want to debug Expo application on android, you need, at first, install expo app on your android simulator, then start debugging in VS Code using "platform": "exponent". Once the packager starts, the extension will open a separate tab with QR code to scan from the Exponent app. Once you do so, the Exponent app will co

[2018-09-11 01:04] soeasyjx commented on #778
I will prepare the demonstration project，please wait 。

[2018-09-11 03:49] soeasyjx commented on #778
I think it will be caused by the project structure

[2018-09-11 12:15] edzillion opened #793 "Debugger not stopping on breakpoints"
## Actual Behavior
1.  No errors
2.  No vscode debugging UI (the panel that has step over, step into, etc.)
3. Does not stop on breakpoints

## Expected Behavior
1.  vscode debugging UI appears
2.  stops on breakpoints

## Software versions
- React-Native VS Code extension version: 0.6.16
- VSCode version: 1.26.1
- OS platform and version: Windows 8.1
- NodeJS version: 8.11.4
- React Native versio

[2018-09-11 12:35] ruslan-bikkinin commented on #793
Hi @edzillion and thanks for reaching us. Is [this](https://github.com/CirclesUBI/circles-mobile) application the one you are using? If so, please let us know if we should try to reproduce your issue being directly on master branch or on some specific commit?

[2018-09-11 14:06] edzillion commented on #793
Hi @ruslan-bikkinin thanks for the quick response.

Yep, that's the app, and you can use the master (that is what I am working against).

I just tried on my ubuntu 18.04.1 laptop and have identical results. I notice that, similar to the issue described here, I do not have a `.react` directory in my `.vscode` directory:

[React Native - Debug adapter process has terminated unexpectedly](https://sta

[2018-09-11 14:37] ruslan-bikkinin opened #794 "Add tests for console.log() functionality"
These tests should check that debuggee calls of `console.log()` produce output in `Debug Console` of VS Code

[2018-09-12 08:33] edzillion commented on #793
Tested tonight on a friends OSX 10.13.6 laptop and had same problem.

[2018-09-12 12:54] zenz opened #795 "Failed to start the React Native packager"
## Actual Behavior
1. Packager cannot start up
Error msg: error: unknown option `--root'

## Expected Behavior
1. Packager start up successfully

## Software versions
- React-Native VS Code extension version:
- VSCode version:  1.27.1
- OS platform and version:
- NodeJS version: 8.12.0
- React Native version: 0.57.0-rc.4

Stack: Error: Failed to start the React Native packager: Could not start the

[2018-09-12 12:56] ruslan-bikkinin commented on #795
Hi @zenz and thanks for reaching us. Looks like we already have similar issue https://github.com/Microsoft/vscode-react-native/issues/790, so I am closing this as duplicate.

[2018-09-12 12:56] #795 closed

[2018-09-12 12:58] zenz commented on #790
It seems that the plugin cannot correctly detect if the project is an Expo project or not.

[2018-09-12 14:15] iTOYS commented on #793
Hi @edzillion
Seems like you have the same issue as me https://github.com/expo/expo/issues/882
Unfortunately we doesn't support RN versions like `https://github.com/expo/react-native/archive/sdk-28.0.1.tar.gz`.

As a workaround you can use original `react-native` instead of expo fork.

I've tested your app with `react-native@0.55.4` and breakpoints work well.

Thanks!

[2018-09-12 14:32] iTOYS commented on #793
Closing for now, feel free to reopen this issue if you still have problem with it.

[2018-09-12 14:36] #790 closed

[2018-09-12 18:43] LorienOlive commented on #722
I'm having the same issue, would you guys be able to clarify how it was solved?  I don't see anything called "haul" among the libraries I have installed.

[2018-09-13 02:07] soeasyjx commented on #778
I'll adjust the structure of the project，
Android cannot move project structure。
@ruslan-bikkinin

[2018-09-13 02:08] #778 closed

[2018-09-13 07:48] ruslan-bikkinin commented on #722
Hi @LorienOlive, please submit new issue.

[2018-09-13 08:51] edzillion commented on #793
Hi @iTOYS I think this will need reopening:

`"react-native": "^0.57.0",`:

[code]

`"react-native": "0.55.4",`: same behaviour, works but not stopping on breakpoints

[code]

[2018-09-13 10:04] edzillion commented on #793
also FYI I have tried both 'Debug in Exponent' which connects like:

`exp://yf-nvm.edzillion.circles-mobile.exp.direct:80`

and running via cli and then 'Attach to packager' which connects via

`exp://192.168.0.1:19000`

both run fine with no errors but do not stop on breakpoints or exceptions.

[2018-09-13 10:05] iTOYS commented on #793
@edzillion
In which place you set up breakpoints(file/line)?

[2018-09-13 10:15] edzillion commented on #793
added some more in `App.js`

`61:    await Font.loadAsync({`

and

`71:     return this.state.loading`

[2018-09-13 10:28] edzillion commented on #793
I previously tried removing the `.vscode` directory and recreating from scratch. These are my current settings

[code]
settings.json:
[code]

[2018-09-13 10:29] iTOYS commented on #793
and `.expo/settings.json` from project root

[2018-09-13 10:30] edzillion commented on #793
is that the lot? here's my `packager-info.json` too:

[code]

[2018-09-13 11:14] iTOYS commented on #793
The same as on me :(

Do you use iOS or Android device for testing ?

[2018-09-13 12:13] iTOYS commented on #793
Could you please try to delete `node_modules` folder and reinstall it.

[2018-09-13 13:10] edzillion commented on #793
Ok, just did that. No change.

[2018-09-13 14:59] iTOYS commented on #793
Did you enable `Debug Remote JS` in your app ?

[2018-09-13 15:07] edzillion commented on #793
Goddammit! that's it.

Thanks and sorry for wasting your time.

[2018-09-13 15:07] #793 closed

[2018-09-14 14:35] aidanw commented on #790
Apologies for barging into a closed issue...

Is there an imminent release with this fix, or is it possible for me to roll my own extension direct from master (I know nothing about the way VSCode extensions work!)?

[2018-09-17 14:54] nagnihotri opened #796 "[Error] Failed to run the application in Android"
Stack: Error: Failed to run the application in Android: Unknown error: not all success patterns were matched.
It means that "react-native run-android" command failed. Please, check the View -> Toggle Output -> React Native, View -> Toggle Output -> React Native: Run android output windows.
    at Function.getWrappedError (C:\Users\nagnihotri\.vscode\extensions\vsmobile.vscode-react-native-0.6.16\s

[2018-09-17 14:58] nagnihotri commented on #796
every time I create a fresh react native app it works for some times from CMD npm run android and after few successful runs it is throwing this error. however vscode never runs it successful if I choose React native: run android simulator
Unknown error: not all success patterns were matched. It means that "react-native run-android" command failed. Please, check the View -> Toggle Output -> React N

[2018-09-17 17:44] bg-wilkesreid commented on #612
At no time has running `code .` from terminal from inside my React Native project directory has a .vscode/.react folder been created.

[2018-09-18 08:03] ruslan-bikkinin commented on #796
Hi @nagnihotri and thanks for questioning. Did you check out `View -> Toggle Output -> React Native`, `View -> Toggle Output -> React Native: Run android` output windows as log message has suggested? What were the outputs?

[2018-09-18 08:45] nagnihotri commented on #796
Hello @ruslan-bikkinin Yes I did check and that will take you to the error what I posted as question.

[2018-09-18 08:53] nagnihotri commented on #796
This issue actually never resolved and developers have been struggling with this issue, like this https://github.com/Microsoft/vscode-react-native/issues/624#issuecomment-384942115

Please dont close this issue and lets try to fix this now with proper steps and global resolution.

[2018-09-18 08:57] ruslan-bikkinin commented on #796
Could you please still paste here output of `View -> Toggle Output -> React Native`, `View -> Toggle Output -> React Native: Run android` windows just after your attempt of debugging?

[2018-09-18 08:58] ruslan-bikkinin commented on #796
Also, please update you first message with all the info from [our issue template](https://github.com/Microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md)

[2018-09-18 09:18] nagnihotri commented on #796
Sure @ruslan-bikkinin
Error:
Stack: Error: Failed to run the application in Android: Unknown error: not all success patterns were matched.
at Function.getWrappedError (C:\Users\nagnihotri.vscode\extensions\vsmobile.vscode-react-native-0.6.16\src\common\error\internalError.js:35:16)
at Function.wrapError (C:\Users\nagnihotri.vscode\extensions\vsmobile.vscode-react-native-0.6.16\src\common\error\err

[2018-09-18 10:42] ruslan-bikkinin commented on #796
@nagnihotri looks like this is not what I am expecting. Could you please copy paste the output from the following windows:

![image](https://user-images.githubusercontent.com/30265843/45682239-61f0a380-bb48-11e8-924a-9d3ea3df3a55.png)

![image](https://user-images.githubusercontent.com/30265843/45682301-8ba9ca80-bb48-11e8-9113-4d01f47d56ea.png)

[2018-09-18 12:46] Bobozee opened #797 "error: unknown option `--root'"
## Actual Behavior
1. The packager does not start

## Expected Behavior
1. The packager starts

## Software versions
- React-Native VS Code extension version: 0.6.16
- VSCode version: 1.27.2
- OS platform and version: OSX macOS Hight Sierra 10.13.6
- NodeJS version: 8.11.3
- React Native version: 0.57.0
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Deb

[2018-09-18 13:02] ruslan-bikkinin commented on #797
Hi @Bobozee and thanks for reaching us. We already have a fix for this (please see https://github.com/Microsoft/vscode-react-native/issues/790) that will be included in upcoming 0.6.17. Closing this as a duplicate.

[2018-09-18 13:02] #797 closed

[2018-09-18 13:09] nagnihotri commented on #796
![image](https://user-images.githubusercontent.com/6996652/45689635-1ce16700-bb72-11e8-8352-da20f6aab3a7.png)

[Info] Starting Packager

Scanning folders for symlinks in e:\FullStackDev\AwesomeProject\node_modules (75ms)
┌──────────────────────────────────────────────────────────────────────────────┐
│                                                                              │
│  Running Metro

[2018-09-18 13:26] ruslan-bikkinin commented on #796
@nagnihotri okay, this is from `View -> Toggle Output -> React Native` window, but do you have any output from  `View ->  Output -> React Native: Run android` window? Could you please make a screenshot of it too?

[2018-09-18 14:37] nagnihotri commented on #796
That's all I have to share.

[2018-09-18 15:02] ruslan-bikkinin commented on #796
Well, that's strange, because error that you are describing happens only in the case when `react-native run-android` has failed and this window eventually should be appeared. Also, I noticed here https://github.com/Microsoft/vscode-react-native/issues/796#issuecomment-422050910 that you use `npm run android` in freshly created application, but `android` entry doesn't exist in `scripts` section of

[2018-09-18 15:12] nagnihotri commented on #796
Well, you follow these commands and you will get that added
1. npm install -g create-react-native-app
2. create-react-native-app AwesomeProject
3. cd AwesomeProject
4. npm run android

Now do we have any concrete answer for many developers like me for this issue? I never wanted to post an issue here but after hunting around the internet I have seen there are many developers struggling with this st

[2018-09-18 21:57] direwolf424 commented on #790
@aidanw Did you find any solution to build the extension from master directly?

[2018-09-18 22:02] aidanw commented on #790
No, but if you start the packager in a command line (react-native start) then you can do 'run Android' from within vscode and it uses the started packager.

It gets confused sometimes but then I just kill and restart the command line.

[2018-09-19 06:38] nagnihotri commented on #796
@ruslan-bikkinin Any update on this?

[2018-09-20 00:47] RupamShaw commented on #671
Vscode not working with expo
![image](https://user-images.githubusercontent.com/4842454/45789335-6f319d80-bcc2-11e8-85c6-c4813ec88422.png)

[2018-09-20 06:59] ruslan-bikkinin commented on #671
Hi @RupamShaw. please submit separate issue.

[2018-09-20 11:31] ruslan-bikkinin commented on #796
@nagnihotri you still didn't give us information about your environment, RN version etc as already has been asked (https://github.com/Microsoft/vscode-react-native/issues/796#issuecomment-422429867, https://github.com/Microsoft/vscode-react-native/issues/796#issuecomment-422313528), so it is hard to make any further investigation without it.

Also, it is more likely that something wrong with your

[2018-09-20 13:54] ruslan-bikkinin commented on #777
Hi guys, we just released v0.6.17 that included all the fixes for given problems and get back changes reverted from 0.6.14-0.6.15. That's why I am going to close this issue, so if problem is still persists for anybody (it shouldn't though) please submit new issue.

[2018-09-20 13:54] #777 closed

[2018-09-21 10:03] Sterlingryan commented on #781
The latest update (0.6.17) produced the same error as mentioned in this issue :

[Error] Error: Error while executing command 'F\:\Programs\Android\sdk\platform-tools\adb devices': Command failed: F\:\Programs\Android\sdk\platform-tools\adb devices
The filename, directory name, or volume label syntax is incorrect.

[2018-09-21 10:09] ruslan-bikkinin commented on #781
@Sterlingryan could you please copy-paste output of `View -> Output -> React-Native: Run Android` channel and content of `your-project-path/android/local.properties`.

[2018-09-21 10:14] Sterlingryan commented on #781
**React-Native: Run Android**
`[Warning] Target simulator is not supported for Android platform. If you want to use particular device or simulator for launching Android app, please specify  device id (as in 'adb devices' output) instead.

[Info] Using Android SDK location defined in android/local.properties file: F\:\\Programs\\Android\\sdk.

[Info] Starting React Native Packager.

Scanning folder

[2018-09-21 10:15] Sterlingryan commented on #781
It runs fine if I downgrade the extension to 0.6.13

[2018-09-21 11:17] nagnihotri commented on #796
That's very unfortunate seeing Microsoft has such a poor open source support. I should not use VS code at all and refer some other available tools.
Thank you for your time.

[2018-09-21 13:08] macaetano commented on #781
@Sterlingryan, version 0.6.16 also seems to work fine.

[2018-09-21 13:16] Sterlingryan commented on #781
Yep you're right

[2018-09-21 14:01] ruslan-bikkinin commented on #796
We are really sorry to see that situation, but just to summarize (correct me if I’m not right) :
You are unable to run you app no matter with or without vscode extension, you get an error when you run `react-native run-android`.
This way it looks like this issue relates to react-native environment, not the extension team. I’m closing the issue, but if you believe that this is somehow related to ou

[2018-09-21 14:01] #796 closed

[2018-09-21 14:07] #794 closed

[2018-09-21 14:44] ruslan-bikkinin commented on #781
Hey guys, I confirm that this is a bug that impact users on Windows targeting android apps, and I am working on a fix now. As workaround, you can comment `sdk.dir=your-value` string in `android/local.properties` file and set ANDROID_HOME environment variable for now.

[2018-09-26 17:01] shahram opened #804 "Breakpoints are not hit C++"
## Actual Behavior
1. program finishes without hitting the breakpoints
2.

## Expected Behavior
1. breakpoints hit
2.

## Software versions
- React-Native VS Code extension version: 06.18
- VSCode version: 1.27.2
- OS platform and version: Linux (openSuse)
- NodeJS version: no
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug

[2018-09-26 17:06] shahram commented on #804
Sorry wrong place! Could you forward to the right place. Thanks

[2018-09-28 13:49] nagnihotri commented on #796
I decided to not comment any more but you forced me. Just to make it clear for other users in this planet I have to response.
Your summary is wrong, you have closed this issue without fixing as you always did for other posts for the same issue.(I have read many post for this issue)
As i said I get the error with VScode, even when it works with command line.

[2018-09-29 10:42] reza7rm commented on #774
I still encounter this issue on react native 0.57.1 and react native tools version:0.6.18 on windows 10. I donno why old issues reappear in new versions. It's really frustrating...

[2018-10-01 08:15] ruslan-bikkinin commented on #774
hi @reza7rm, please see https://github.com/Microsoft/vscode-react-native/issues/777#issuecomment-417359982

[2018-10-04 15:12] ruslan-bikkinin commented on #791
Hi @tavrez as first step we have added pallete command to start React Dev Tools in the extension and it will be included in upcoming 0.6.19 version.

[2018-10-04 15:12] #791 closed

[2018-10-10 14:34] hugey010 commented on #730
I'm having this same issue and I'm not sure why this got closed. Running `react-native run-android` and then attaching the vscode debugger works fine. It is a valid workaround but quite annoying.

[2018-10-13 16:25] jas99 opened #811 "React native 0.57.x error"
Running react init project of 0.57.2 and 0.57.3 produces this error

[code]

## Software versions
- React-Native VS Code extension version: 0.6.18
- VSCode version: 1.27.2
- OS platform and version: windows 10x64
- NodeJS version: v10.7.0
- React Native version: 0.57.3

[2018-10-15 05:45] SounD120 commented on #811
Hi @jas99. Could you please paste an output from React Native: Run android output window?
![image](https://user-images.githubusercontent.com/32372875/46932064-9d529500-d056-11e8-9a07-052f3fca3013.png)

[2018-10-15 10:12] jas99 commented on #811
Lemme put out all outputs
React Native
[code]
React Native: Run Android
[code]
Logcat emulator 554
[code]
vscode debug console

[code]

Windows work environment was sort of temporary and I will be moving back to linux at some point; will let u know if its realated to my setup.

Is the extensions works for you and whats your env?
PS: lemme know if you need more info.

Thx

[2018-10-15 22:59] bgou commented on #612
for me the problem seems to be:

[code]

I don't see anything in `.vscode`:

![image](https://user-images.githubusercontent.com/661511/46982958-4fa84d80-d093-11e8-8de1-f7ffea1cd12c.png)

[2018-10-16 07:29] SounD120 commented on #811
@jas99 My test config for this case:
- Windows 10 x64 (android 8.1 emulator)
- Node.js 8.12
- RN 0.57.3
- VSCode v 1.28.1
And it's working without such errors. So could you try to use latest LTS version or latest stable, cause it's looking like node.js issue?

[2018-10-16 11:29] jas99 commented on #811
Bingo; node lts fixed packager issue; but now debugger won't attach. Let me drill in little bit and will post right back.

Thx

[2018-10-16 12:38] semenyakNik opened #812 "Replace deprecated dependency gulp-util"
gulp-util has been deprecated. Continuing to use this dependency may prevent the use of web-build-tools with version 4 of Gulp.

The README.md lists alternatives for all the components so a simple replacement should be enough.

See:
- https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5
- gulpjs/gulp-util#143

[2018-10-18 06:06] SounD120 commented on #811
Hi @jas99. Looks like the original issue was solved, so I'm closing this issue for now, but if you have some updates - you can reopen this issue, or create new with all new information you have. Thanks.

[2018-10-18 06:06] #811 closed

[2018-10-19 04:36] AnitaVPN commented on #627
I am having the same issue , i am new to react-native and i want to do debugging , i am using vscode and expo to run app, but when i do debugging i have same issue which you had mention.

Could you please specify the steps for resolving ?

[2018-10-19 07:56] ruslan-bikkinin commented on #627
Hi @AnitaVPN, please submit separated issue using our [issue template](https://github.com/Microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md) so we could help you faster.

[2018-10-24 09:00] reza7rm opened #814 "React native debugger not functioning"
The vscode debugger stopped working, it used to work and debug, but now it seems as if it never connects to debugger without any error

## Actual Behavior
1. The debugger launches the app but the debugging feature does not work
2. the debugging indicator in vscode never stops

## Expected Behavior
1. The debugger launches the app and the debugging works
2. the vs code indicator goes away and the b

[2018-10-24 09:08] ruslan-bikkinin commented on #814
Hi @reza7rm and thanks for reaching us. Please, add `"trace": "verbose"` to your debug configuration and try again - there will be more output in Debug Console. Please copy-paste it here.

[2018-10-24 14:05] reza7rm commented on #814
@ruslan-bikkinin
here is the result after adding "trace":"verbose" to debug config:

[code]

[2018-10-24 14:17] ruslan-bikkinin commented on #814
@reza7rm could you please also share with us the following information:
- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox)
- Output of the Developer Tools console (Help -> Toggle Developer Tools -> Select Console tab)

[2018-10-24 15:03] ruslan-bikkinin commented on #814
@reza7rm please copy output not from the `LogCat-...` channel, but from `React-Native` one as shown on the following screen:

![image](https://user-images.githubusercontent.com/30265843/47440551-110f4300-d7b7-11e8-9086-e2cb995d05ab.png)

[2018-10-24 16:02] aMarCruz commented on #814
@ruslan-bikkinin , I'm facing the same issue.
I remember that 3 or 4 days before I updated my App to RN 0.57 and it worked perfect, after that I upgraded my Samsung Edge to Android 8 and a day later (caché cleared?) the debugger stopped working.

The only weird thing I've noticed is that what the output of `console.log` is shown in the OUTPUT panel and not in the debug panel. Enything else does no

[2018-10-25 07:50] reza7rm commented on #814
Here's the photo
![capture2](https://user-images.githubusercontent.com/13413278/47484154-b7088f00-d843-11e8-943b-c1340f6ee19d.PNG)

[2018-10-25 07:53] reza7rm commented on #814
Thank you @aMarCruz . The problem was definitely the emulator cos when I connected my phone everything works fine . the emulator I use is a pixel 2 API 27 with android 8.1 Oreo Image.

[2018-10-26 12:46] SounD120 commented on #814
Hi @reza7rm , I've been tested fresh React Native 0.57.1 application, and I am facing errors with babel package, but on 0.57.3 debugging works fine for Android 7, 8 and 8.1, so could you please try to update React Native version to 0.57.3 and let us know does it work for you?

[2018-10-30 03:48] jlubeck commented on #814
I'm having the same issue but when developing on iPhone. Launching the debugger starts the app. If I change code, it refreshes the JS bundle. But the Debugger never connects and it just loads forever...

[2018-10-30 03:52] jlubeck commented on #793
You should really include that small part in the documentation! (selecting Debug Remote JS)

[2018-10-30 03:53] jlubeck commented on #814
I got it fixed by this: https://github.com/Microsoft/vscode-react-native/issues/793

[2018-10-30 07:59] ruslan-bikkinin commented on #793
Hi @jlubeck and thanks for the suggestion, we will.

[2018-10-30 08:02] ruslan-bikkinin commented on #814
Thanks for mentioning this @jlubeck! @reza7rm could you please, also, make sure that `Debug Remote JS` option is enabled in Dev menu of your application running on device/simulator?

[2018-10-31 07:52] ruslan-bikkinin opened #820 "Add support for i18n"
- [x] First step for it has been done in this PR https://github.com/Microsoft/vscode-react-native/pull/819.
- [x] Add integration with Transifex as its already been done in edge debugger:
https://github.com/Microsoft/vscode-edge-debug2/commit/125a2d950146036d86fe7d608610bc34f1faf311#diff-b9e12334e9eafd8341a6107dd98510c9
- [x] Externalize command pallette and basic commands
- [x] Externalize all ne

[2018-11-01 04:30] VictDog opened #823 "Error while executing command 'react-native run-ios --simulator --no-packager'"
## Actual Behavior
1. When I run the `Debug iOS`, the console outputs the following 'Could not debug. Error while executing command `react-native run-ios --simulator --no-packager`: Error while executing command `react-native run- Ios --simulator --no-packager`

## Expected Behavior
1. Running `Debug iOS` successfully

## Software versions
- React-Native VS Code extension version:  0.6.18
- VSCode

[2018-11-01 07:59] disharmonized commented on #823
Hi @VictDog and thanks for reaching us. Could you please run `react-native run-ios --simulator --no-packager` command in terminal and let us know if it works there? Also, please add `"trace": "verbose` to your debug configuration and start debugging again. Then copy-paste information from `Debug Console` and `React-Native` output channel here.

[2018-11-01 08:10] ruslan-bikkinin commented on #823
Hi @VictDog and thanks for reaching us. Could you please run `react-native run-ios --simulator --no-packager` command in terminal and let us know if it works there? Also, please add `"trace": "verbose` to your debug configuration and start debugging again. Then copy-paste information from `Debug Console` and `React-Native` output channel here.

[2018-11-01 11:43] ruslan-bikkinin commented on #814
@reza7rm do you have a chance to look at my comment? Just a friendly ping.

[2018-11-02 06:16] VictDog commented on #823
Thank you for your reply @ruslan-bikkinin.  After running the `response-native run-ios --simulator --no-packager` command in the terminal, the simulator can run normally. I added "trace": "verbose" in the debug configuration, run the debug again, and found that the React-Native output channel is still:
[code]
and the debug console output like this:
[code]
Looking forward to your reply, thank you

[2018-11-06 02:39] NarutoOnePiece commented on #612
can u speak Chinese?

[2018-11-06 02:47] vincentsong commented on #612
Yes，我可以

but I didn't work on RN recently, just keep watching it.

[2018-11-06 03:04] NarutoOnePiece commented on #612
are u Chinese?

[2018-11-06 08:38] SounD120 commented on #823
Hi @VictDog. I tried to run fresh React Native 0.56.0 app on Node.js version 8.12 and it's runs without such errors, so if it possible could you please try Node 8.12 LTS and let us know does it work for you?

[2018-11-06 23:06] mjbvz opened #827 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2018-11-07 17:49] reza7rm commented on #814
really sorry for not seeing your comment, was busy doing other stuff, and omg I don't believe that the Debug Remote Js was the issue!
Thank you very much

[2018-11-09 10:18] ruslan-bikkinin commented on #827
Hi @mjbvz and thanks for warning us. Could you please clarify the following items:
* Since which version of `vscode` package webview API was introduced?
* Since which version of VS Code it supports webview API?

[2018-11-13 09:57] ruslan-bikkinin commented on #827
@mjbvz thanks for reply. How can we get any logs from webview like console.log() outputs or maybe errors  outputs? Does it support it?

[2018-11-13 16:01] SounD120 commented on #827
Hi @mjbvz .
We use `previewHtml` to render web page `exp://192.168.10.76:19000/` is generated by Expo Framework, which have unstandard scheme `exp://`. This is the code we use:
[code]
and it renders such a page:![2018-11-13_18-44-01](https://user-images.githubusercontent.com/32372875/48425635-484d9000-e776-11e8-8aa5-14c70e65bd10.png) Looks like previewHtml magically resolves `exp://`, but we didn'

[2018-11-13 16:20] isidorn opened #830 "Simplify generated launch.json"
Hey,

VSCode dev here. This milestone I am looking into simplifing generated `launch.json` for various extensions Microsoft/vscode#62851

The `launch.json` that react native generates is attached at the end. This is too complex for the avarage user and we can improve. I suggest to simplify it the following way:

- [x] Start using [`DebugConfigurationProvider`](https://github.com/Microsoft/vscode/b

[2018-11-14 08:11] ruslan-bikkinin commented on #823
@VictDog just a friendly ping on this.

[2018-11-14 12:17] SounD120 commented on #827
Hi @mjbvz . We migrated from `vscode.previewHtml` to new VS Code WebView API for this extension. Thanks.

[2018-11-14 12:17] #827 closed

[2018-11-14 14:46] ruslan-bikkinin commented on #812
Hi @semenyakNik and thanks for your contribution. We've merged your changes with some slightly updates from our side so they will be included in upcoming release. I am closing this.

[2018-11-14 14:46] #812 closed

[2018-11-14 14:57] ruslan-bikkinin commented on #755
@dominictwlee I am going to close this due to you already have an issue in vscode and we still don't have any strong evidence that the extension causes your problem. Also, please take a look at my recent comment https://github.com/Microsoft/vscode/issues/56890#issuecomment-436650669.

[2018-11-14 14:57] #755 closed

[2018-11-15 10:56] SounD120 commented on #772
Hi @livein21st . I just have tested Debug iOS scenario on that configuration:
1) macOS Mojave 10.14
2) Node.js 8.12
3) VS Code 1.29
4) Xcode 10.1(10B61) with Legacy Build Setup for project
5) React Native 0.55.4 (changed `"babel-preset-react-native"` version to 4.0.0 in `package.json` because of [this bug](https://stackoverflow.com/questions/49951233/react-native-failed-to-load-bundle-cannot-read-

[2018-11-15 17:56] rpedroni commented on #694
For future reference, I was having the same problem.
Removing the package, closing VSCode and reinstalling fixed it.

[2018-11-17 16:48] The-Developeur opened #834 "The extension doesn't work with Expo Cli"
I have a problem,
Recently as you can see on the screenshot under create-react-native-native-app is now outdated.
![image](https://user-images.githubusercontent.com/25546627/48663456-bf459a00-ea90-11e8-8abf-27fca18f251a.png)
And the new name of the extension is expo-cli
https://expo.io/

Can you support debuging expo cli app using visual studio code ?
Thanks

link of the create-react-native-native

[2018-11-18 11:29] ravirsrsrs opened #835 "Flutter - VS Code - Gradle task assembleDebug failed"
I have created a flutter project on vs code a week ago.
i opened it now. but, it is showing error. I have used firebase in my project.
but, this error is not showing for new projects.

Running "flutter packages get" in flutter_tictactoe...           3.0s
Launching lib\main.dart on Google Pixel XL, 8 0, API 26, 1440x2560 in debug mode...
registerResGeneratingTask is deprecated, use registerGenerate

[2018-11-19 07:59] ruslan-bikkinin commented on #834
Hi @The-Developeur and thanks for asking. Extension already support debugging in Expo. Please refer to [this documentation section](https://github.com/Microsoft/vscode-react-native/blob/master/doc/expo.md#debugging-expo-applications) for more details. Also, be aware that `Configuring Expo` section is outdated, but we already proposed [a PR](https://github.com/Microsoft/vscode-react-native/pull/826

[2018-11-19 08:08] ruslan-bikkinin commented on #835
Hi @ravirsrsrs and thanks for reaching us. Seems to be that your problem is related to Gradle or Flutter, but not to the extension. I suggest you to turn to [Fultter support](https://github.com/flutter/flutter/issues) or [Gradle support ](https://gradle.org/help/) pages as more relevant places for your question.

[2018-11-19 08:08] #835 closed

[2018-11-20 10:06] isidorn commented on #830
Are there any plans to address this?
Do you agree with my suggesstions here?
If you do not have cycles to address this but would like to see it done, I can try to get some users to provide a PR which tackles this.

[2018-11-20 10:31] ruslan-bikkinin commented on #830
Hi @isidorn and thanks for your proposal. We have added it to our backlog and will pick it up in order of priorities. It is near the top so I think we will be able to work on it soon. Nevertheless, we need to investigate and discuss your suggestions with the team to make sure that everything would be fine in terms of user expirience. We wil keep you posted.

[2018-11-20 10:34] isidorn commented on #830
@ruslan-bikkinin awesome, thanks a lot for your reply. Let me know if we can help somehow or if you have questions.

[2018-11-22 00:32] hatton commented on #834
My apologies if this isn't close enough to what this issue is about...

I created an app using ``expo
I followed the instructions in the PR #826, ran the "Debug in Exponent", logged in to expo when prompted, scanned the QR code, runs the sample app on my phone, all good! However vscode does not stop at breakpoints, and after a few minutes I get an error, "**Launch/Request timeout**".

I note from

[2018-11-23 10:17] ruslan-bikkinin commented on #834
@hatton I could debug your application running on Windows machine and Android emulator without any problem.

So, did you try that solution? Did it help you?

Sorry if I confused you with my answer about the docs. The most recent documentation is in `improve-docs` branch and we are going to merge it soon. So for now, please turn to [this documentation file](https://github.com/Microsoft/vscode-react

[2018-11-23 10:20] ruslan-bikkinin commented on #823
I am closing this due to inactivity. Please, feel free to open again if needed.

[2018-11-23 10:20] #823 closed

[2018-11-26 13:05] IceApriler commented on #811
@SounD120 Hi, why can't i debug?

React Native: Run Android
[code]

[2018-11-26 13:21] SounD120 commented on #811
Hi, @IceApriler . Did you tried to [enable remote JS debugging](https://github.com/Microsoft/vscode-react-native/tree/improve-docs#debugging-react-native-applications)? If your issue is not connected to this, please create new issue with our [issue template](https://github.com/Microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md).

[2018-11-27 08:56] rensutheart opened #842 "[Spelling] found should be find"
A spelling mistake in the warning. It should read "Could not **find** workspace while activating"

https://github.com/Microsoft/vscode-react-native/blob/0d28fb4d04eedfb16f15414d4ca88bce75586cd3/src/extension/rn-extension.ts#L67

[2018-11-27 09:38] ruslan-bikkinin commented on #842
Hi @rensutheart and thanks for letting us know. Nice catch!

[2018-11-27 13:26] #842 closed, assigned to nobody

[2018-11-29 12:36] Morriz commented on #834
That link is dead, but if I open the[ correct one ](https://github.com/Microsoft/vscode-react-native/blob/master/doc/expo.md#debugging-expo-applications)(mentioned above), and follow those instructions, I still get errors:

[code]

[2018-11-29 12:41] ruslan-bikkinin commented on #834
@Morriz seems to be that you have completely different case, please, submit separate issue.

Thanks for pointing on that, changes from that PR already in master.

@hatton do you still have a problems debugging Expo App? If not, i'd close this.

[2018-11-29 12:44] Morriz commented on #834
I do. Also, your newly pointed documentation still refers to old expo stuff:
[code]

[2018-11-29 12:48] Morriz commented on #834
And now it barks on `.vscode/exponentIndex.js` not found

[2018-11-29 12:49] ruslan-bikkinin commented on #834
@Morriz please submit separate issue.

[2018-11-29 12:50] Morriz commented on #834
Why, I am having the issue as described exactly in the title

[2018-11-29 13:01] Morriz opened #846 "using expo: .vscode/exponentIndex.js not found"
## Actual Behavior
1. debugger started
2. first request kills debugger

## Expected Behavior
1. debugger to continue

## Software versions
- React-Native VS Code extension version: 0.7.0
- VSCode version: 1.29.1
- OS platform and version: OSX 10.14.1
- NodeJS version: 11.2.0
- React Native version:
react-native-cli: 2.0.1
react-native: 0.57.7
- Expo SDK version (include if relevant):
31.0.0

## Ou

[2018-11-29 13:40] ruslan-bikkinin commented on #846
Thanks for moving it here @Morriz. Have `.vscode/exponentIndex.js` file been created after the debugging session had stopped? Seems to be that packager could find it. Please, also, show us what debug configuration do you use and what app are you trying to debug: Expo one or pure React native one?

[2018-11-29 13:50] The-Developeur commented on #834
Thank you  @ruslan-bikkinin

[2018-11-29 13:52] hatton commented on #834
In that screenshot, there is a "Debug JS" link on the phone. But I don't see anything like that in the Android expo app. Similarly, [the instructions](https://github.com/Microsoft/vscode-react-native/blob/master/doc/expo.md#debugging-expo-applications) now show a different screenshot with that kind of button, but again, only a partial screenshot, so you can't see where in the app you should see th

[2018-11-29 14:01] The-Developeur commented on #834
@ruslan-bikkinin  When i start my project with the "Debug in Exponent" configuration i have this error
![image](https://user-images.githubusercontent.com/25546627/49226596-64446900-f3e7-11e8-8621-08451eacb3c9.png)

And in my .vscode Folder i don'y have launchReactNative.js

I have an other error when i select on the expo app remote js debuging i have this error on the console
![image](https://user

[2018-11-29 14:16] hatton commented on #834
OK, I read more instructions, more carefully, and found that the secret to getting to the developer menu is literally shaking your device (that's a new one!). And now we have https://github.com/Microsoft/vscode-react-native/issues/846 for the lack of generated .vscode files, so my part of this issue is dealt with. Thanks for the help!

[2018-11-29 14:33] The-Developeur commented on #834
@hatton  I hnow but when i select remote debuging expo said me i need chrome to allow me remote debuging

[2018-11-29 14:35] ruslan-bikkinin commented on #834
@hatton thanks for your reply. Do you experience the same issue now like in #846?

@The-Developeur

Technically debugger doesn't require `.vscode/launchReactNative.js` and this file is no longer being  generated inside .vscode. This is undocumented yet but the thing is that it couldn't be a reason for your problem.

What OS do you use? What platform are you targeting: android or iOS? Are you runni

[2018-11-29 14:47] The-Developeur commented on #834
### Actual Behavior
i start the debugger with the configuration Debug in Exponent

![image](https://user-images.githubusercontent.com/25546627/49229179-47ab2f80-f3ed-11e8-9304-b1c5143ddf82.png)

I Have this error
![image](https://user-images.githubusercontent.com/25546627/49229251-64476780-f3ed-11e8-9233-47c2275f953f.png)

The Debugger ShutDown

 ### Expected Behavior

  debugger to continue

###

[2018-11-29 14:53] Morriz commented on #846
I am using the expo one (as mentioned in the bug report title). But no,  no such file is created. Only the `.react/debuggerWorker.js` file. Here's my config
[code]

[2018-11-29 15:12] Morriz commented on #846
A more complete output of the ReactNative console:
[code]
(I replaced the project dir refs with `$PROJECT_DIR`)

@hatton did you not have the same problem as me before?

[2018-11-29 15:32] Morriz commented on #846
nevermind, I now got it working by resetting the expo client...breakpoints are working now too!

[2018-11-29 15:32] #846 closed

[2018-11-29 20:39] hatton commented on #846
So, this was closed, and I can debug, but I'm still not clear why .vscode/exponentIndex.js  is not created. I'm finding [the documentation section](exponentIndex.js) that mentions it unclear... is this perhaps only created if you are *not* using expo? If so, we could improve the title of this section to "Configuring Expo when not using the Expo SDK".

[2018-11-29 20:42] hatton commented on #834
Yes, I still do not see .vscode/exponentIndex.js.

![image](https://user-images.githubusercontent.com/8448/49250683-acaa5980-f3dc-11e8-85b3-86281be61956.png)

[2018-11-30 09:11] ruslan-bikkinin commented on #834
@The-Developeur if you use `Debug In Exponent` configuration then you don't need to run `expo start`.
All you need to do is to run `Debug In Exponent` configuration, wait until QR code window appears, open Expo app on your device/simulator, scan or copy-paste qr code to your app, wait until app is loaded, open Developer Menu, enable remote js debugging and that's it.

Regarding this error:
![image

[2018-11-30 09:14] ruslan-bikkinin commented on #830
Hey @isidorn, does something form your list is getting deprecated in nearest version of VS Code and we should take care of it ASAP?

[2018-11-30 09:31] isidorn commented on #830
@ruslan-bikkinin no, nothin is getting deprecated.
I am just providing suggestions on how we should improve this process, I would love if we could tackle this but there is no rush.

[2018-11-30 16:11] The-Developeur commented on #834
Output of the Debug Console (View -> Toggle Debug Console):

Nothing.
![image](https://user-images.githubusercontent.com/25546627/49300296-223c2580-f4c2-11e8-9c7f-f8beaa01c827.png)

    Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):

    I don't have react native in the Listbox
![image](https://user-images.githubusercontent.com/25546627/4930045

[2018-11-30 16:11] The-Developeur commented on #834
@ruslan-bikkinin

[2018-12-03 09:53] ruslan-bikkinin commented on #834
@The-Developeur it's still not clear, what cause your problem. Could you please, share with us demo application so we could try to reproduce it on our side?
Also, please fill these items:

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

[2018-12-04 09:31] AlexandreLouisnard opened #851 "RUN problem since last update"
## Actual Behavior
Since last update (0.7.0).
When running "run on Android device", the packager starts but fails to run the app. Tested with 2 different applications.

Already tried:
npm cache clean --force
rm -rf node_modules && npm install

## Expected Behavior
Works fine when running in the terminal 'react-native run-android' (but I can't use the debugger...)

## Software versions
- React-Nati

[2018-12-05 13:11] ruslan-bikkinin commented on #851
Hi @AlexandreLouisnard and thanks for reaching us.
This is more likely a metro cache problem, please try to run `rm -rf $TMPDIR/react-* && rm -rf $TMPDIR/metro* && rm -rf $TMPDIR/haste-*` in addition to commands you already ran.

[2018-12-05 14:37] AlexandreLouisnard commented on #851
Hello,

Indeed. As it happened right after the update and it was still working when starting the server from outside vscode I thought it was linked.

Thanks for your answer and sorry for bothering.

Regards

[2018-12-05 14:37] #851 closed

[2018-12-05 17:03] josemigallas commented on #306
I'm still experiencing this error, only the values are shown:
![screen shot 2018-12-05 at 18 00 22](https://user-images.githubusercontent.com/11672286/49530141-e89b5e00-f8b7-11e8-8fa9-4d0612b8ad5c.png)
![screen shot 2018-12-05 at 17 59 59](https://user-images.githubusercontent.com/11672286/49530140-e89b5e00-f8b7-11e8-8320-65c2b7142c8b.png)
![screen shot 2018-12-05 at 17 59 51](https://user-images.

[2018-12-06 09:41] ruslan-bikkinin commented on #306
Hi @josemigallas extension isn't responsible for intelisense for React native anymore, I believe you better address this to [vscode](https://github.com/Microsoft/vscode) repo as now it manages typings stuff.

[2018-12-06 09:42] ruslan-bikkinin commented on #834
@The-Developeur do you have a chance to look at this, please?

[2018-12-06 19:10] joinapplication commented on #814
body > div

[2018-12-11 13:19] Mimetis opened #857 "React Native is not installed. Please run `npm install` in your project directory."
## Actual Behavior
Trying to launch a sample app on React Native with **Debug in Expo** results in this strange error, from the `react-native` output:
[code]
Obviously `react-native` as well as `react-native-cli` are installed everywhere (globally and locally) :)
Running my expo application from expo, using `expo start --android` works correctly.
But trying from within VS Code, using **vscode-reac

[2018-12-11 13:22] ruslan-bikkinin commented on #857
Hi @Mimetis and thanks for reaching us. I am facing this as well since yesterday and currently digging into it. I'll keep you posted.

[2018-12-11 13:23] ruslan-bikkinin commented on #857
@Mimetis btw what Expo SDK version is used in your project?

[2018-12-11 13:32] Mimetis commented on #857
I've just installed everything today, so I guess the last one :)
[code]

[2018-12-11 13:40] ruslan-bikkinin commented on #857
@Mimetis I mean not the expo cli version, but expo sdk version. Could you please copy-paste `dependencies` section of `package.json`?

[2018-12-11 13:45] Mimetis commented on #857
From my last attempt :)
[code]

[2018-12-11 13:50] ruslan-bikkinin commented on #857
@Mimetis thanks for the info. 👍  I'll let you know about any news from my side.

[2018-12-11 15:35] Mimetis commented on #857
Just tried with node version `10.14.1` and `9.11.2`.
It's still not working.
I'm continuing my investigations on my side

[2018-12-11 22:51] supagu opened #858 "fetch not a recognised function while debugging"
## Actual Behavior
When running the following code via vscode debugger:

`fetch('some url')
            .then(res => res.json())
            .then((response) => {
                console.log("fixtures retrieved:");
                console.log(response);
            })
            .catch((error) => {
                console.error(error);
            });`

I get an error:

TypeError: fetch is not a

[2018-12-11 22:55] supagu commented on #858
I've worked around the problem by using cross-fetch (https://www.npmjs.com/package/cross-fetch)

[2018-12-13 09:07] Mimetis commented on #857
Thx @ruslan-bikkinin !!
Uninstalling both extension and expo-cli did the trick !
With a new clean install, everything is now eventually working :)

Thx for all !

[2018-12-13 09:07] #857 closed

[2018-12-13 10:22] Hatko commented on #99
After update to `Version 1.30.0 (1.30.0)` file disappeared and is not generated anymore

[2018-12-13 11:19] ruslan-bikkinin commented on #99
Hi @Hatko technically, we don't need this file anymore for debugging, so don't be afraid, that's completely normal. We will get rid of its mentions in the future releases of the extension.

[2018-12-14 12:07] mustafahafidi opened #863 "Can't debug Expo app"
## Actual Behavior
1. The extension throws "Error: React Native is not installed. Please run `npm install` in your project directory."
2. if I comment out the resolution of "react-native/local-cli/cli.js" from the extension's source code (Doctor.js), the extension keeps on running and shows a QR code, but the expo app cannot load it. Visiting the expo url through http I receive: "{"error":"Error:

[2018-12-14 12:11] ruslan-bikkinin commented on #863
hi @mustafahafidi and thanks for reaching us. Did you try solution from this https://github.com/Microsoft/vscode-react-native/issues/857#issuecomment-446605727?

[2018-12-14 12:13] ruslan-bikkinin opened #864 "va-cli"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -

[2018-12-14 12:16] #864 closed

[2018-12-14 15:19] mustafahafidi commented on #863
It works thanks! sorry I missed that comment.

[2018-12-14 15:19] #863 closed

[2018-12-17 03:40] hufans commented on #599
First use Xcode to build successfully before using vscode debugging

[2018-12-17 15:42] ruslan-bikkinin commented on #858
Hi @supagu and sorry for delayed response. I tried to reproduce your problem on my Ubuntu 18 machine but It worked without any problems in my case. Here's my App.js snippet:
[code]

![image](https://user-images.githubusercontent.com/30265843/50097586-4f5f3680-022b-11e9-8f99-dc9e0e5afe82.png)

Could you please share a small demo project with us?

[2018-12-18 13:58] ruslan-bikkinin commented on #834
Hi @The-Developeur and sorry for delayed response. Your project works without any problems in my case. I  was able to reproduce your problem only once, when for some unknown reason all files except directrories were missing in node_modules/react-native. I'd recommend you to remove `node_modules` directory and run `npm install` again. Please let me know if it helps.

[2018-12-19 19:29] devlinb opened #869 "Error: Cannot start packager (Expo project)"
## Actual Behavior
1. Running Debug in Exponent result in following errors in the "react native" output
    ENOENT: no such file or directory, stat ''
    [Error] Error: Could not start the packager.

## Expected Behavior
1. Debugger starts

A new launch file was created by the extension, I didn't have an existing one.
FWIW launchReactNative.js doesn't exist.

## Software versions
- React-Native V

[2018-12-19 19:53] devlinb commented on #869
Setting "react-native.packager.port": 19001 lets me use "Attach to Packager", which works really well! Loving the experience!

[2018-12-20 08:33] Nermin-K commented on #324
Are there any other solutions?! I have tried everything above and nothing helps. I have stuck there for 4 days.

[2018-12-20 11:23] ruslan-bikkinin commented on #869
Hi @devlinb and thanks for contacting us. Seems to be that you need to clean your metro bundler cache. Please try these commands and let us know if it helps:
[code]

[2018-12-24 06:41] CrazzzyDev commented on #588
Facing this issue with multiple workspace project. Our project uses Haul as well. Below is the version detail.

Issue: Reference Error: fetch not found
file path : <Project directory>/.vscode/.react/debuggerWorker.js

VScode : 1.30.1
Haul: 1.0.0-rc.10

@iTOYS @svekl

[2018-12-25 07:05] CrazzzyDev opened #875 "Debugging issue with Haul"
## Actual Behavior

1. "Attach to Packager" does not connect to debugger using Haul
- We have multi root projects. Each project has its own .vscode directory inside project folder.
- Haul debugger with Chrome is working fine. But when try to debug with VSCode debugger it gives below error.

## Expected Behavior
"Attach to Packager" should connect to debugger and allow debugging in VS Code

## Soft

[2018-12-25 20:15] The-Developeur commented on #834
Okay,
thank you for your helping ^^
Finally i use your extension with the react native cli and it work perfectly !

[2018-12-25 20:15] #834 closed

[2018-12-27 11:57] SounD120 opened #878 "Cannot find module 'expo/tools/hashAssetFiles'"
## Actual Behavior
1. Ran "Debug on Exponent" debug scenario on **pure React Native application**
2. Get some Expo error like something went wrong, or receive Metro bundler error.
3. Get `{"error":"Error: Cannot find module 'expo/tools/hashAssetFiles'"}` error instead of getting Expo app information that is needed for debugging on `localhost:19000` host.

## Expected Behavior
Expo app starts debug

[2018-12-28 17:33] CrazzzyDev commented on #875
@ruslan-bikkinin can you please help in this issue.

[2018-12-29 11:15] SounD120 commented on #875
Hi @CrazzzyDev and thanks for contacting us. Could you please give us a minimal demo application where this issue is reproduces, and also describe your workflow with that multiroot project? This would be helpful for better understanding of the situation from our side.

[2018-12-29 12:46] The-Developeur opened #879 "Question : Can we use firefox as sremote debuger ?"
Hello,
Can we use firefox for remote debuging these apps ?

Thank you in advance for your answer !

[2018-12-29 15:49] CrazzzyDev commented on #875
@SounD120 Here are some more detail on issue:

--- RootProject
	- .vscode
	- package.json - common dependency
	- common - sharing by all project
         * Project1
		- .vscode
		- package.json
		- index.js
	 * Project2
		- .vscode
		- package.json
		- index.js

I  am using Haul as package manager and my haul.config.js has some other loader as well.
Project has custom script to start normal app wi

[2018-12-31 10:46] liberalisman commented on #627
-----------------------

Open your Xcode, Prefercnces -> Locations ->  Choose your Command Line Tools

Solved!!!

[2018-12-31 10:47] liberalisman commented on #627
Open your Xcode, Prefercnces -> Locations ->  Choose your Command Line Tools

Solved!!!

[2019-01-02 13:54] CrazzzyDev commented on #875
@SounD120 Do you want me to send demo project(single root only, no multiroot) that's not working with Haul?

[2019-01-04 08:35] ruslan-bikkinin commented on #875
Hi @CrazzzyDev, I think multiroot demo project would be better.

[2019-01-04 08:40] ruslan-bikkinin commented on #879
Hi @The-Developeur, I think [this](https://facebook.github.io/react-native/help) is the better place for asking such questions as it's not related to the extension.

[2019-01-04 08:40] #879 closed

[2019-01-04 08:41] ruslan-bikkinin commented on #869
Hi @devlinb do you have a chance to look at this?

[2019-01-04 08:43] ruslan-bikkinin commented on #858
btw @supagu are you using Haul? Is your issue similar to https://github.com/Microsoft/vscode-react-native/issues/875?

[2019-01-05 00:22] devlinb commented on #869
Hi @ruslan-bikkinin, I was out for the holidays, I'll see if this fixes it on Monday and report in.

[2019-01-07 18:33] devlinb commented on #869
Hi @ruslan-bikkinin same issue after running the commands, and rebooting even!

Also of note, only the following files are in the .vscode directory

    1,913 launch.json
    147 settings.json

I have also noticed that if expo is already running and I press "debug in exponent" in VSCode, that the error

    [Error] Error: Error while executing command 'taskkill /pid 6676 /T /F': Command failed: ta

[2019-01-08 23:14] devlinb commented on #869
Upgrading to expo 32, deleting node_modules, and the package.lock file (which was apparently causing lots of issues), fixed this.

I'm getting gallons of warnings and errors, e.g.

    No issue with doctor-watchman-versionNo issue with doctor-watchman-versionNo issue with doctor-watchman-version

is repeated 20+ times and breakpoints aren't working, but I can connect now!

Console.log output is wo

[2019-01-08 23:14] #869 closed

[2019-01-09 06:31] CrazzzyDev commented on #875
@ruslan-bikkinin here is the demo https://github.com/CrazzzyDev/monorepoEx.
Integrated Haul with it and debugger is not working.

[2019-01-09 13:48] SounD120 commented on #875
Hi @CrazzzyDev . We have found the core of the problem connected with `Cannot GET /debuggerWorker.js` error and it will be fixed in the new version of the extension. With respect to your question about debugging with Haul, yes extension support Haul debugging, but only via `Attach to packager` debug scenario, that means you must run packager and the application outside the VS Code.  In other cases

[2019-01-10 08:59] SounD120 commented on #875
@CrazzzyDev We are performing prerelease testing right now, so as soon as we finish it a new version will be released. This issue were caused by the extension tried get `debuggerWorker.js` file from incorrect URL for projects with Haul, so you can try manually apply fix proposed in PR #880 to your installed extension at this path if you need to.
[code]
If you try, please let us know how it will wo

[2019-01-10 14:58] #875 closed

[2019-01-10 18:21] CrazzzyDev commented on #875
@SounD120 I have tried the fix, seems it not working.
Steps I followed:
1) Applied #880 in my local scriptImporter.js file
2) Open monorepoEx/nativeB project to vscode
3) Start haul packager in terminal
4) Run ios app
5) Vscode -> Debugger -> Attach to Package
6) It gives below error:

OS: darwin x64
Adapter node: v8.9.3 x64
vscode-chrome-debug-core: 3.17.3
Starting debugger app worker.
Establishe

[2019-01-11 10:16] SounD120 commented on #875
@CrazzzyDev Please make sure that when you starting `Attach to packager` debug configuration no any other debugger is running on background. For example, Haul opens browser tab with its own debugger automatically when you start your application via Haul packager, so maybe you need to close it before you start `Attach to packager` and then reload your app.

[2019-01-14 11:05] ruslan-bikkinin opened #883 "Add support for debugging with Haul"
As for now extension supports only `Attach to packager` debug configurations for [Haul](https://github.com/callstack/haul). Please, leave your feedback in this issue if you are interested in further improving of debugging support for Haul (for example, adding support for `Debug in Android/iOS` configurations). You can even name your own improvement that you want to see.

[2019-01-15 05:03] supagu opened #884 "Debug what happens when 'Start Debugging' pressed"
## Actual Behavior
I recently refactored my project and now when I press 'start Debugging' the blue progress bar goes for a bit, then stops with no indication of an error.

I can still run my app fine using the command line, so something is going wrong with visual studio, and there is no output to show me what is wrong.

## Expected Behavior
Debugging to run successfully...

## Software versions
-

[2019-01-15 10:07] ruslan-bikkinin commented on #884
hi @supagu and thanks for questioning. In VS Code 1.29 were some problems with debug console outputs including not showing it if debugging session has not been started. Please, try to update to the VS Code 1.30 or higher where this problem is resolved.

[2019-01-15 10:07] #884 closed

[2019-01-15 22:31] supagu commented on #884
Thanks, problem turned out to be I was missing package.json

[2019-01-16 15:02] The-Developeur commented on #883
Would it be possible to create a configuration that automatically starts the haul packager,
Because it is annoying to have to start the haul packager separately when you want to do some debuging
Thank you in advance for any future updates

[2019-01-18 07:43] blackinitial commented on #661
i have this issue, i was add configuration but not show prompt to select react native evironment debug only launch.json with config launch program.

I was try to reinstall react native tools extension, and reopen vscode and add configuration. But still not show the promp to choose react native debug environment.

Finally i copied config debug from other project and work...

[2019-01-18 08:10] ruslan-bikkinin commented on #661
@blackinitial propmt won't be shown if you already have created launch.json .

[2019-01-18 08:48] blackinitial commented on #661
@ruslan-bikkinin before that i was delete .vscode folder, when i add config on option, vscode made and open launch.json only not show the prompt

[2019-01-18 09:14] ruslan-bikkinin commented on #661
@blackinitial it seems to be a VS Code issue. What version of VS Code do you use?

[2019-01-18 18:30] arshadmo commented on #835
iam having the issue can anyone help me out

[2019-01-21 22:41] Myll commented on #612
I was facing this issue.. I had to install the `react-native-cli`:
`npm install -g react-native-cli` then reload the VS Code project.

[2019-01-22 09:48] Sterlingryan opened #889 "Could not run adb reverse, when using extension"
## Actual Behavior
1. Start Debug Android
2. Debugging does not start
## Expected Behavior
1. Start Debug Android
2. Debugging starts

## Software versions
- React-Native VS Code extension version:  0.8.0
- VSCode version: 1.30.2
- OS platform and version: macOS High Sierra version 10.13.6
- NodeJS version: v10.11.0
- React Native version: 0.55.4

## Outputs
- Output of the Debug Console (View ->

[2019-01-22 10:48] ruslan-bikkinin commented on #889
hi @Sterlingryan and thanks for reaching us. Please, check that `/Users/ryanaquilina/Library/Android/sdk
/platform-tools/adb` exists.

[2019-01-22 10:50] #820 closed

[2019-01-22 11:45] Sterlingryan commented on #889
hi @ruslan-bikkinin , I can confirm that it does exist

[2019-01-22 11:56] ruslan-bikkinin commented on #889
@Sterlingryan I just noticed that you have an extra space in the path just after `sdk` according to logs: `/Users/ryanaquilina/Library/Android/sdk /platform-tools/adb`. Could you please double check `sdk.dir` value in `android/local.properties` and your PATH.

[2019-01-22 13:23] Sterlingryan commented on #889
That was the error, I have upgraded to Android Studio 3.3 and it was giving the sdk path with an extra space. Thanks for the help :).

[2019-01-22 13:23] Sterlingryan commented on #889
That was the error, I have upgraded to Android Studio 3.3 and it was giving the sdk path with an extra space. Thanks for the help :).

[2019-01-22 13:23] #889 closed

[2019-01-23 11:09] SounD120 commented on #878
Due to [official Expo team commentary](https://github.com/expo/expo-cli/issues/255#issuecomment-453214632) all RN projects that is going to be ran using expo must have installed expo package. To solve the issue run `npm i expo --save-dev`

[2019-01-23 11:09] #878 closed

[2019-01-24 18:33] JoseFMP commented on #280
For me this issue persists.

[2019-01-25 08:16] ruslan-bikkinin commented on #280
Hi @JoseFMP, please submit separate issue, describing you specific case.

[2019-01-29 16:36] znnnnn opened #894 "IntelliSense for StyleSheet"
## Actual Behavior
1. If I enter justifyContent or alignItem , IntelliSense are working
![image](https://user-images.githubusercontent.com/30922257/51923506-1a4b2400-2426-11e9-853b-09ace69a22c8.png)

2. If I don't enter justifyContent or alignItem , IntelliSense are not working
![image](https://user-images.githubusercontent.com/30922257/51923622-51213a00-2426-11e9-8e36-22434f7d53a8.png)

So,When t

[2019-02-02 10:24] harryharihar opened #898 "[Error] Error: Unknown error: not all success patterns were matched. It means that "react-native run-android" command failed. Please, check the View -> Toggle Output -> React Native, View -> Toggle Output -> React Native: Run android output windows. (error code 712)"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -

[2019-02-03 07:04] fantasy525 opened #899 "I dont't wish to install debug apk every time when I debug android/ios,what should I do?"
## Actual Behavior
1. my phone has installed a debug apk,and I run debug android,it install again

## Expected Behavior
1. I don't want to install debug apk every times,Are there configuration options to Prohibit installing apk again?I just want to  start packager server and debug program.
2.

## Software versions
- React-Native VS Code extension version: 0.8.0
- VSCode version: 1.30.2
- OS platfo

[2019-02-03 10:00] ruslan-bikkinin commented on #898
Hi @harryharihar and thanks for reaching us. You didn't provide any details about your environment, so I am closing this issue due to lack of technical information. Please create a new one and next time fill all gaps in issue template.

[2019-02-03 10:00] #898 closed

[2019-02-03 10:06] ruslan-bikkinin commented on #899
Hi @fantasy525 and thanks for questioning. You can start packager once via palette command `> React-Native: Start packager` and then use `Attach to packager` debug configuration to connect to it.
Please let us know if it helps.

[2019-02-04 07:36] ruslan-bikkinin commented on #899
@fantasy525 could you please give us code snippet or demo project so we could take a look? Also, was something logged in React-Native output channel?

[2019-02-04 08:13] harryharihar opened #900 "Could not debug. Unknown error: not all success patterns were matched."
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions

- VSCode version: 1.30.2(user)
- OS platform and version: Windows 10
- NodeJS version: 8.9.3
- React Native version: react-native-cli: 2.0.1
react-native: 0.57.8

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]

[2019-02-04 09:17] ruslan-bikkinin commented on #900
Hi @harryharihar and thanks for submitting the issue. According to your logs you are trying to debug your application while another packager is running outside of VS Code. To be able to debug your app in VS Code you need to stop other packager instances and run `Debug Android` configuration or just use `Attach to packager` configuration to attach to running packager outside of VS Code.

Please let

[2019-02-06 09:32] fantasy525 commented on #899
@ruslan-bikkinin  I find it works sometimes,but not sometimes,
![image](https://user-images.githubusercontent.com/22516157/52332086-b384c680-2a34-11e9-8dc9-5ee6a6010943.png)
Do you want to see anything else ？

[2019-02-06 10:06] PDostalek opened #903 "[loc][Query][vscode_extensions ] Localizability of errorStrings.NotAllSuccessPatternsMatched""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Unknown error: not all success patterns were matched. \n It means

[2019-02-06 10:08] PDostalek opened #904 "[loc][Query][vscode_extensions ] Localizability of packager.AboutToGetURL""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
About to get: {0}

File Name:
Src\vscode-extensions\vscode-react-n

[2019-02-06 10:11] ruslan-bikkinin commented on #899
@fantasy525 debugger won't stop at 48 line because there is no statements at this line, but if you set breakpoint on 46,47 or 50 it should stop at them (assuming that this code would be ever reached). Did you try it? I see, that breakpoint at 47 line is gray and it's strange, do you use Haul packager?

[2019-02-06 10:19] ruslan-bikkinin commented on #904
Hi @PDostalek, we log this message when extension is going to download JS bundle from packager by URL. In other words, the alternative phrase would be `Are going to download: {0}`.

[2019-02-06 10:31] fantasy525 commented on #899
@ruslan-bikkinin I didn't use Hual,and I tried to change the position of the breakpoint,but it  still doesn't work at timers. now I test it ,it works,so I will close this issue  for the moment.

[2019-02-06 10:31] #899 closed

[2019-02-06 10:31] ruslan-bikkinin commented on #903
Hi @PDostalek, it's partially translatable. These parts **should not be translated**:
* `"react-native run-{0}"`
* `View -> Toggle Output -> React Native, \n View -> Toggle Output -> React Native: Run {1}`

[2019-02-06 10:35] ruslan-bikkinin commented on #903
@PDostalek I updated my previous comment.

[2019-02-06 13:58] mlostekk opened #905 "Could not debug. Seems to be that you are trying to debug from within directory that is not a React Native project root."
## Actual Behavior
1. Try to attach the packager
2. See error below

[code]

## Expected Behavior
1. Try to attach the packager
2. Debugger should attach to the packager

## Software versions
- React-Native VS Code extension version: 0.8.0
- VSCode version: Version 1.30.2 (1.30.2)
- OS platform and version: 10.14.2
- NodeJS version: v8.15.0
- React Native version: 0.55.3
- Expo SDK version (includ

[2019-02-06 14:01] ruslan-bikkinin commented on #905
Hi @mlostekk and thanks for contacting us. Do you use nvm??

[2019-02-06 14:02] mlostekk commented on #905
Yes

[2019-02-06 14:02] mlostekk commented on #905
Also when trying to use your recommended setting,  i see thi
![bildschirmfoto 2019-02-06 um 15 01 50](https://user-images.githubusercontent.com/10534316/52346590-32233900-2a20-11e9-80cc-e5cf1dd38c94.jpg)

[2019-02-06 14:06] mlostekk commented on #905
Ah, good hint... NVM using `8.15.0` does not work. But `8.11.1` works

[2019-02-06 14:09] ruslan-bikkinin commented on #905
To override RNT settings please use `react-native-tools.SETTING`, where SETTING is parameter you want to override? in your case it'd be `projectRoot`:

![image](https://user-images.githubusercontent.com/30265843/52346820-85ea4e00-2a31-11e9-9987-0f8d7a15cf16.png)

Please, try to run `node -v` command in system terminal outside VS Code and using VS Code terminal. If versions are different then run `

[2019-02-06 14:13] mlostekk commented on #905
Regardless of the setting `"react-native-tools.projectRoot": ".",` its not working with `8.15.0` set via `nvm alias`. Its only working with `8.11.1`

[2019-02-07 08:31] ruslan-bikkinin commented on #905
@mlostekk did you install react-native-cli globally for v8.15.0?

[2019-02-07 09:19] fantasy525 opened #907 "breakpoints position is incorrect"
## Actual Behavior
1. I set a red breakpoints at line 53,but it located at line 79
![gif](https://user-images.githubusercontent.com/22516157/52400780-0cb72d80-2afb-11e9-93bf-aba116f3a425.gif)

## Expected Behavior
1. red breakpoint located at line 53

## Software versions
- React-Native VS Code extension version: 0.8.0
- VSCode version: 1.31.0
- OS platform and version: Windows_NT x64 10.0.17.134

[2019-02-07 09:34] ruslan-bikkinin commented on #907
Hi @fantasy525 and thanks for reaching us. Is it https://github.com/fantasy525/fantasy-music project? Is it ready to be used by us to reproduce your problem? Do you have any instructions for us to how get started with it?

[2019-02-07 10:06] fantasy525 commented on #907
@ruslan-bikkinin  Yes ,you can clone it ,then just do this:
1.yarn install
2. react-native run-android

[2019-02-07 10:15] fantasy525 commented on #907
@ruslan-bikkinin  I'm not sure which line of code is going to happen ,but I have met many times.and you can also see this [issues](https://github.com/Microsoft/vscode/issues/67987#event-2121717125)

[2019-02-07 10:55] mlostekk commented on #905
oh yes. sorry, that was my fault. did not do that! thank you for your quick help

[2019-02-07 10:55] #905 closed

[2019-02-08 07:30] fantasy525 commented on #907
@ruslan-bikkinin I type  'debugger' in my file,but finally the  breakpoint stops in other file
![image](https://user-images.githubusercontent.com/22516157/52464308-4187bb00-2bb5-11e9-96ee-4d606179926c.png)

other file:
![image](https://user-images.githubusercontent.com/22516157/52464337-5cf2c600-2bb5-11e9-9bf2-57a3f59486f4.png)

and I've given up on the red breakpoint.I want to type 'debugger' man

[2019-02-08 14:28] fantasy525 commented on #907
@ruslan-bikkinin  Hi,I think it is possible that the cache of the previous code caused the breakpoint to be placed incorrectly.just a guess...,I hope you can solve the problem as soon as possible, thank you!

[2019-02-11 08:14] lojell commented on #907
I have the same problem

[2019-02-11 09:32] PDostalek opened #909 "[loc][Query][vscode_extensions ] Localizability of 0; "./src/extension/android/adb.CouldNotReadFrom""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Couldn't read from {0}.

File Name:
Src\vscode-extensions\vscode-r

[2019-02-11 09:47] PDostalek opened #910 "[loc][Query][vscode_extensions ] Localizability of 0; "./src/common/error/errorStrings.DebuggingFailedInNodeWrapper""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Cannot debug application due to an error in the internal Node Debu

[2019-02-11 11:27] SounD120 commented on #910
Hi @PDostalek , `Node` is a platform reference in both cases and it should not be translated. Internal Node Debugger is a reference for internal Visual Studio Code debugger for Node.js  [vscode-node-debug2](https://github.com/Microsoft/vscode-node-debug2)

[2019-02-11 11:34] SounD120 commented on #909
Hi, @PDostalek . This placeholder will be replaced by the path to the `local.properties` file for Android project. In case of this error the next string will be `Using Android SDK location from PATH.`
You can find more context [here](https://github.com/Microsoft/vscode-react-native/blob/41041b3d1859d828b927310e09d7033d805090e2/src/extension/android/adb.ts#L212)

[2019-02-11 11:47] PDostalek commented on #909
Thanks!

[2019-02-11 11:47] #909 closed

[2019-02-11 11:50] PDostalek commented on #910
Thank you.

[2019-02-11 11:50] #910 closed

[2019-02-11 12:23] ruslan-bikkinin commented on #903
Hi @PDostalek do you need any more help from my side?

[2019-02-11 12:23] ruslan-bikkinin commented on #904
Hi @PDostalek do you need any more help from my side?

[2019-02-11 14:00] PDostalek commented on #904
Thanks!

[2019-02-11 14:00] #904 closed

[2019-02-11 14:01] PDostalek commented on #903
Thanks for confirmation

[2019-02-11 14:01] #903 closed

[2019-02-12 11:48] SounD120 commented on #907
Hi @fantasy525 , I tried to debug your application with Chrome debugger on Windows and Linux and it looks like there are some problems with source maps inside React Native. As you can see at this GIF I was able to reproduce the problem in Chrome Debugger without using VS Code at all.  I would recommend you to create an issue in React Native repo and describe your situation there, also add a link t

[2019-02-12 11:48] #907 closed

[2019-02-12 11:50] ruslan-bikkinin commented on #900
Hi @harryharihar, do you have any more questions regarding this?

[2019-02-15 13:03] transitive-bullshit commented on #99
@ruslan-bikkinin that's fine, but how can we customize the launch configuration if it's `program` pointed to in `launch.json` doesn't exist?

[2019-02-15 13:25] ruslan-bikkinin commented on #99
@transitive-bullshit what do you mean?

[2019-02-20 09:19] PDostalek opened #914 "[loc][Query][vscode_extensions ] Localizability of "Expo/Exponent""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
No link provided by Expo. Is your project correctly setup?

File N

[2019-02-20 09:46] ruslan-bikkinin commented on #914
Hi @PDostalek please translate as per the source.

[2019-02-20 10:04] ruslan-bikkinin commented on #900
I am closing this due to inactivity. Feel free to re-open if needed.

[2019-02-20 10:04] #900 closed

[2019-02-21 13:05] ruslan-bikkinin commented on #914
@PDostalek I am closing this, feel free to re-open if needed.

[2019-02-21 13:05] #914 closed

[2019-02-25 07:41] PDostalek opened #918 "[loc][Query][vscode_extensions ] Localizability of <Shake or press menu button>,” “<Dev Settings>” and “<Debug Server host & port for Device>”?"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Device {0} supports only API Level {1}. \r\n Level {2} is needed t

[2019-02-25 08:30] ruslan-bikkinin commented on #918
Hi @PDostalek looks like you are missing some text in “,” “”.

[2019-02-25 09:08] PDostalek commented on #918
Corrected:  the localizability of “<Shake or press menu button>,” “<Dev Settings>” and “<Debug Server host & port for Device>”?

[2019-02-25 09:13] PDostalek commented on #918
SRC:
Shake or press menu button
Dev Settings
Debug Server host & port for Device

[2019-02-25 10:05] ruslan-bikkinin commented on #918
@PDostalek I marked in **bold** those parts that are localizable:
**Shake or press menu button**
Dev Settings
Debug Server host & port for Device

[2019-02-25 11:54] PDostalek commented on #918
Thank for confirmation

[2019-02-25 11:54] #918 closed

[2019-02-26 06:49] baveku commented on #379
this is work for me, thanks

[2019-02-27 09:02] HaloWang commented on #306
I create a function to fix this problem temporarily

[code]

usage
[code]

And it works

<img width="626" alt="screen shot 2019-02-27 at 4 59 13 pm" src="https://user-images.githubusercontent.com/7344724/53478140-1eb03e80-3ab1-11e9-8a30-4d15b5cc558f.png">

😂

[2019-03-03 09:25] khpang94 opened #921 "Unable to resolve module ../../assets/xxx.png from js file"
I don't know what is the problem, is it the react - native version cause the error to be happen.

Issue as per below, i want import the image to a javascript.
Image actual path :  C:\Users\kim\Desktop\Boss\boss\assets
Js actual path : C:\Users\kim\Desktop\Boss\boss\screens\LoginRegister

Unable to resolve module ../../assets/Boss.png from C:\Users\kim\Desktop\Boss\boss\screens\LoginRegister\Logo.j

[2019-03-04 07:30] ruslan-bikkinin commented on #921
hi @khpang94 and thanks for reaching us. Are you experiencing this while running via `react-native run-android`?

[2019-03-05 04:55] khpang94 commented on #921
Thanks for answering me, i have resolved it by replacing a new image for "Boss.png". I not sure why the original one is spoiled, because it able to start in another PC.

[2019-03-05 04:55] #921 closed

[2019-03-06 00:09] DreamwareDevelopment commented on #718
This isn't solved. I'm not going to reinstall my OS just to get this working.

[2019-03-06 07:33] ruslan-bikkinin commented on #718
@DreamwareDevelopment please submit separate issue describing your specific case and using our issue template.

[2019-03-08 13:08] MarcoLLeite opened #927 "Breakpoints do not get hit work with while debugging react native app"
The debbuger seems to work and connect, but I never get a hit on any breakpoints.
This started to happend when I installed the version 1.31.1 more then a week ago. Installing the latest version 1.32.1 does not seem to fix this issue either.
I am not sure if this is directly related to any version as installing previous version does not seem to fix the issue.

Before that it used to work perfectly

[2019-03-08 13:13] #927 closed

[2019-03-08 13:14] MarcoLLeite commented on #927
Not matching required template

[2019-03-08 13:14] MarcoLLeite opened #928 "Breakpoints do not get hit work with while debugging react native app"
## Actual Behavior
1.  The debugger seems to work and connect, but I never get a hit on any breakpoints.

## Expected Behavior
1. Connect debugger and breakpoint getting a hit

## Software versions
- Windows 10 and Windows 7 ( I have tried one 2 machines)
- React-Native VS Code extension version:
- VSCode version: 1.31.1, 1.32.1, 1.32.3
- OS platform and version: android 8.0 (emualtor and device)

[2019-03-11 08:20] SounD120 commented on #928
Hi @MarcoLLeite , thanks for reaching us. Could you please provide a small demo of this situation for better understanding from our side? Also could you please fill up outputs using the template below?

- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):
[code]
- Output of the De

[2019-03-13 10:11] lfiorini opened #934 "RN 0.59 = Could not debug. Could not found executable in .../ios/build/Build/Products/Debug-iphonesimulator (error code 403)"
## Actual Behavior
1. react-native init newproject
2. cd newproject
3. code .
4. Add configuration ( choose React Native )
5. Debug IOS
6. App runs but debug is not active

## Expected Behavior
1. Debug active

## Software versions
- React-Native VS Code extension version:
- VSCode version: 1.32.1
- OS platform and version: MacOS 10.14.3
- NodeJS version: 11.11.0
- React Native version: 0.59
- Exp

[2019-03-13 11:48] ruslan-bikkinin commented on #934
Hi @lfiorini and thanks for reporting, I confirm that this is a bug due to changes in RN 0.59. I am working on a fix now and will let you know about any updates from our side.

[2019-03-13 13:25] TeamAntani opened #935 "Activity class does not exists"
## Actual Behavior
1. Execute "React Native: Run Android on Simulator" from palette
2. App is built and installed successfully
3. App is not launched because we're adding an applicationIdSuffix ".development" in buildType debug from gradle and our launch activity is called HomeActivity rather than MainActivity

## Expected Behavior
1. We'd like to specify packageName and activity to launch in sett

[2019-03-13 13:42] ruslan-bikkinin commented on #935
Hi @TeamAntani and thanks for reaching us. Could you please try to manually run `react-native run-android` manually and let us know if problem is still persist?

[2019-03-13 13:53] ruslan-bikkinin commented on #935
@TeamAntani oh, now I see. Thanks for your feedback, we'll consider that and manage in order of priorities. As workaround, you can try to use `Attach to packager` debug configuration.

[2019-03-14 12:57] SounD120 commented on #928
Hi @MarcoLLeite . Do you have a chance to look at this?

[2019-03-15 11:10] ruslan-bikkinin opened #936 "TypeError: customDebugger is not a function"
Output `TypeError: customDebugger is not a function...` is printed while debugging app with RN 0.59.

![image](https://user-images.githubusercontent.com/30265843/54439267-83be9200-4749-11e9-9b1c-ce8acce198a5.png)

[2019-03-15 14:51] ruslan-bikkinin commented on #936
This is React Native [regression](https://github.com/react-native-community/react-native-cli/pull/237).

[2019-03-17 04:10] aliazizi commented on #499
I know this issue is closed but for more information I get very strange issue
I figure out its because of index.d.ts in react-native types in `create` method

So I change the type for test from
`export function create<T extends NamedStyles<T> | NamedStyles<any>>(styles: T): T;`
to
`export function create<T extends NamedStyles<T> | NamedStyles<any>>(styles: { [P in keyof T]: ViewStyle | TextStyle |

[2019-03-17 04:10] aliazizi commented on #499
I know this issue is closed but for more information I get very strange issue
I figure out its because of index.d.ts in react-native types in `create` method

So I change the type for test from
`export function create<T extends NamedStyles<T> | NamedStyles<any>>(styles: T): T;`
to
`export function create<T extends NamedStyles<T> | NamedStyles<any>>(styles: { [P in keyof T]: ViewStyle | TextStyle |

[2019-03-18 14:37] ruslan-bikkinin commented on #936
Version [1.4.6 is released](https://github.com/react-native-community/react-native-cli/releases/tag/v1.4.6), issue is closed.

[2019-03-18 14:37] #936 closed

[2019-03-19 12:16] ruslan-bikkinin commented on #934
@lfiorini  v0.9.0 has been released in which this issue should be resolved. I am closing this for now, please, feel free to reopen if needed.

[2019-03-19 12:16] #934 closed

[2019-03-19 12:18] SounD120 commented on #928
Hi @MarcoLLeite . I'm closing this due to inactivity, feel free to reopen the issue and provide additional information if you still facing this problem.

[2019-03-20 12:28] majirosstefan commented on #99
@ruslan-bikkinin how can we add params for each configuration in .vscode/launch.json  that will be also passed to run-ios / run-android scripts ? e.g. specify env file, etc.

[2019-03-21 12:44] aflext opened #945 "vscode cannot open chrome tab when pressing F5"
## Actual Behavior
1. vscode react-native debugger cannot open chrome tab
2.

## Expected Behavior
1. After installing the `React Native Tools` and have configured the file `launch.json`, vscode will open chrome tab to help debug react-native when press `F5`

## Software versions
- React-Native VS Code extension version: 0.9.0
- VSCode version: 1.32.3
- OS platform and version: windows 7
- NodeJS

[2019-03-21 13:35] ruslan-bikkinin commented on #945
Hi @aflext and thanks for questioning. You need to manually run emulator in order to make debugging work because `react-native run-android` requires it. If you want to inspect UI elements of your native application you can install [React Developer Tools](https://github.com/facebook/react-devtools) and then use command "React Native: Run Element Inspector" in VS Code to run it (instead of running i

[2019-03-21 14:55] ruslan-bikkinin commented on #99
@majirosstefan you can use `envFile` and `runArguments`.

[2019-03-21 18:20] jack1913 opened #946 "How can I disable translations?"
I am sorry in advance if this is not the place to ask about such simple matters, but could you please point me where can I disable translations? I do not want my editor to be partially in Polish and English. I want it to be completely in English.

I know this is a 'new feature', but it REALLY is annoying and it reduces my productivity. :/ For ex. in past 2 years I got used to pressing cmd+shift+p

[2019-03-21 18:29] SounD120 commented on #946
Hi @jack1913 , and thanks for reaching us. You can find this settings in the Command Pallete as indicated in the picture below. Just change language to "en" and reload VS Code. Please let us know if it helps or if you have some other questions.
![2019-03-21_21-25-58](https://user-images.githubusercontent.com/32372875/54775998-40b85f00-4c20-11e9-91f9-b7ac1d17ccfd.png)

[2019-03-21 18:36] jack1913 commented on #946
I already had this set to EN. I just restarted my VS Code and everything went back to normal.

I think the issue here was more of VS Code itself than extension, after updating the extension the locale default was not properly passed down to it.

Sorry to bother and thanks!

[2019-03-21 18:36] #946 closed

[2019-03-21 20:54] JamesPerlman opened #947 ""Attach to packager" looking for wrong debuggerWorker.js"
I'm using `haul@1.0.0-beta.14` with `vscode-react-native` version 0.9.0 and when I try to attach to packager I'm seeing this in my packager output:
`GET /debugger-ui/debuggerWorker.js 404 168 - 0.275 ms`

It's because the `debuggerWorker.js` is not located inside the `debugger-ui` directory.  It's at the root directory.  I can successfuly `GET /debuggerWorker.js` from Postman or Chrome.

Is there

[2019-03-22 08:59] SounD120 commented on #947
Hi @JamesPerlman . Could you please fill all the information as noted in our [issue template](https://github.com/Microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md) it will help to better understand the situation from our side.

[2019-03-22 21:16] JamesPerlman commented on #947
## Actual Behavior
1. Run `npm run haul -- --platform ios`
2. Run `Attach to packager` debug command
3.  Extension fails to find debuggerWorker.js and never attaches to packager, Haul outputs a 404 error:
```GET /debugger-ui/debuggerWorker.js 404 168 - 0.275 ms```

## Expected Behavior
1. Run `npm run haul -- --platform ios`
2. Run `Attach to packager` debug command
3.  Extension finds `/debuggerW

[2019-03-22 21:22] JamesPerlman commented on #947
BTW here's my `launch.json` file.  I'm using webpack also.

[code]

[2019-03-24 08:55] canpoyrazoglu opened #950 "React Native not in debug environment list"
I've been following the exact steps from Facebook for creating a new React Native project, and following the VS Code extension guide. I'm stuck where it says:

I don't have a .vscode/launch.json file, I go to debug page, click the configuration icon but there's only Chrome and node.js, and a "More..." link which takes me to extensions page with the search query "tag:debuggers @sort:installs", wher

[2019-03-25 08:50] ruslan-bikkinin commented on #950
Hi @canpoyrazoglu and thanks for questioning. Please, try the following steps as said in [documentation section](https://github.com/Microsoft/vscode-react-native#debugging-react-native-applications):

[2019-03-25 08:54] SounD120 commented on #947
Hi @JamesPerlman . Thanks for details, I was able to reproduce this behaviour and I'm working on a fix now.

[2019-03-25 09:52] canpoyrazoglu commented on #950
@ruslan-bikkinin Hello,

It was exactly what I've already tried 😄
When I create the .vscode/launch.json manually, I see the Add Configuration button but it's grayed out. I am unable to click on it.

[2019-03-25 09:59] ruslan-bikkinin commented on #950
Well, that's interesting. Could you please open `launch.json` in VS Code and share a screenshot of VS Code window?

[2019-03-25 12:15] aflext commented on #945
Thanks a lot for replying. So i will use the simulator only.

[2019-03-25 12:15] #945 closed

[2019-03-26 13:53] canpoyrazoglu commented on #950
@ruslan-bikkinin that file didn't exist, I've created it manually and it's empty.

[2019-03-26 15:34] mrbrentkelly opened #955 "Unable to debug a React Native app that uses RealmJS"
## Actual Behavior

I'm unable to debug inside of VS Code using the "Attach to Packager" configuration when I have a React Native project that includes RealmJS. As soon as the debugger attaches I run into errors.

## Expected Behavior

Should be able to debug React Native app inside of Visual Studio Code.

## Software versions
- React-Native VS Code extension version: 0.9.0
- VSCode version: 1.32.

[2019-03-26 17:56] ruslan-bikkinin commented on #950
@canpoyrazoglu Oh, now I see. Then you need to add these lines to it and after that "Add Configuration" button should be enabled:
[code]

[2019-03-26 18:48] mrbrentkelly commented on #955
This seems very similar to https://github.com/Microsoft/vscode-react-native/issues/363 which was a issue a couple of years ago. Pretty much identical error messages.

[2019-03-27 09:42] canpoyrazoglu commented on #950
@ruslan-bikkinin That worked. Thank you!

[2019-03-27 09:42] #950 closed

[2019-03-27 10:57] SounD120 commented on #955
Hi @mrbrentkelly , thanks for the detailed report. RealmJS [not yet officially supports](https://github.com/realm/realm-js/issues/2282) React Native 0.59. I have tested your sample on 0.58.5 and it worked without problems. You can use React Native 0.58 until RealmJS release new version with 0.59 support. I am closing this for now, feel free to reopen it in future if you still experience this on th

[2019-03-27 10:57] #955 closed

[2019-03-27 18:26] mmswi opened #957 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-react-native`
- Extension Version: `0.9.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.32.3`
[vsmobile.vscode-react-native-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-react-native/files/3014752/vsmobile.vscode-react-native-unresponsive.cpuprofile.txt)

[2019-03-28 13:47] PDostalek opened #960 "[loc][Query][vscode_extensions ] Localizability of 0; "./src/extension/android/androidPlatform.DeviceSupportsOnlyAPILevel""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Device {0} supports only API Level {1}. \r\n Level {2} is needed t

[2019-03-28 13:48] SounD120 commented on #960
Hi @PDostalek . No need to localize this entry.

[2019-03-28 14:08] PDostalek commented on #960
OK, thanks for your confirmation

[2019-03-28 14:08] #960 closed

[2019-03-29 10:23] SounD120 commented on #957
Hi @mmswi . Thanks for reaching us. Could you please describe the VS Code behaviour that leads to that situation? Is something hangs while debugging? More information about how this affects your debugging experience will be very helpful.

[2019-03-29 10:33] mmswi commented on #957
Hello @SounD120 ,

Thanks for the reply. I've installed the flutter plugin (https://marketplace.visualstudio.com/items?itemName=Dart-Code.flutter) and when I first compiled and ran the app, it gave me the error.

In the end, it worked, but I don't know if this issue will still appear.

[2019-03-29 10:44] SounD120 commented on #957
@mmswi Can you remember the exact error that you have faced? Did you ran a Flutter app or a React Native one?

[2019-03-29 10:53] mmswi commented on #957
Oh, I thought this report contained everything. It was automatically generated by vscode and I just hit submit. I think the error was: Extension causes high cpu load

[2019-03-29 10:54] mmswi commented on #957
The Flutter app

[2019-03-29 11:18] SounD120 commented on #957
@mmswi Have you opened a workspace with multiple folders or just one folder?

[2019-03-29 12:19] mmswi commented on #957
It had multiple folders. I don't remember if this error occured when trying to run the project, or trying to create it from the vs code. Anyways. you can close this issue, just wanted to inform you guys on it.

[2019-03-29 12:39] SounD120 commented on #957
@mmswi I am closing this then. We'll discuss this with [VS Code](https://github.com/Microsoft/vscode) team and as soon as we'll find out anything more about this problem we'll let you know.

[2019-03-29 12:39] #957 closed

[2019-03-30 14:59] MarcoLLeite commented on #928
Hi @SounD120 ,

Sorry, but haven't got much time up until now.
Yes the issue is still happening, and now it also happens to all my co-workers.

I have a create a new repo under my account "FinanceA", you can use test to replicate it.
[https://github.com/MarcoLLeite/FinanceA](url)
I am runing on Windows 7 Ultimate (but it also happens in my surface with Windows 10 - all details about SW versions ar

[2019-04-01 09:40] ruslan-bikkinin commented on #947
Hi @JamesPerlman we just released 0.9.1. In this version we added configuration parameter `debuggerWorkerUrlPath`, that you can use to override path to the debuggerWorker.js, e.g. if modern packagers uses path like `https://localhost:8081/ui-debugger/debuggerWorker.js`, by using this parameter you can configure override `ui-debugger` value with the one you needed. In you case, you should set it to

[2019-04-01 09:40] #947 closed

[2019-04-01 09:52] SounD120 commented on #928
Hi @MarcoLLeite I just tested your application and all breakpoints that I set were hit. Could you please add `"trace": "verbose"` to your debug configuration, run your application and send the outputs here (by the templates I described above), or via email(v-yuskor@microsoft.com) if you think that they would contain private informaton? Also, could you please describe which exact BPs are not workin

[2019-04-01 15:22] MarcoLLeite commented on #928
Hi @SounD120 , sent you an email with screenshots and txt with logs.
To debug I use "Attach to packager".
The packager that I had installed ins "react-native tools"
[vscode-react-native](https://marketplace.visualstudio.com/items?itemName=vsmobile.vscode-react-native)

[2019-04-02 08:24] SounD120 commented on #928
Hi @MarcoLLeite . I recieved your clarification, thank you. I checked all the BPs that you sent to me and all of them works without problems, so my recommendation would be to try this sequence:
1) Run your application with `react-native run-android` command.
2) Wait when `react-native run-android` command will run packager instance, then run `Attach to packager` debug scenario.
3) Check that React

[2019-04-02 16:56] macaetano commented on #928
I'm having the same issue here. Debugger doesn't stop in any of breakpoints

[2019-04-03 19:17] MarcoLLeite commented on #928
Hi @SounD120.

Thats how I do it basically everyday.
Anyway, I just tried it and, just like before, the debugger connects to vs code, but I am still not getting any breakpoints hit.

Now I went a few steps further and found something interesting:
1 - phone has debbugging enabled, and has given debugging permissions to my computer
2 - Bth devices are connected to the same wireless network (5G - I h

[2019-04-04 09:40] SounD120 commented on #928
@MarcoLLeite @macaetano  Thanks a lot for your clarifications. Finally I was able to reproduce that, and now starting to work on a fix. As I found out `Debug Android` debug scenario is not affected by this bug, so you can use it until new version is released.

[2019-04-04 14:40] SounD120 commented on #928
Hi @MarcoLLeite . After further investigation I found out that there is no such problems on React Native 0.57.7 and 0.59.3, so could you please try to bump React Native dependencies as shown below:
[code]
and let us know if you still experience such problems?

[2019-04-04 16:08] PolymathWhiz commented on #381
Try searching for prettier or beautify and disable them or any other js code formatter you have installed.

[2019-04-05 03:29] MarcoLLeite commented on #928
Hi @SounD120,

Thanks for all your help. I had forgotten to let you know yesterday, but I got the Attach to Process working on VS Code on my Windwos 7 machine by bumping react-native to 0.59.3 (and kept react in version 16.6.3) and with the help of this:
[mergeResourcesProvider issue](https://github.com/wix/react-native-navigation/issues/4757#issuecomment-468133753).

I had downgraded from 0.59.3

[2019-04-10 06:37] majirosstefan commented on #99
@ruslan-bikkinin thank you, I did not know about runArguments. As I saw, it seems that they are not environment specific or are they ?

What was my point is, that it could be useful in case I have multiple env files (e.g. one for dev environment, one for production, etc.) to simply create more options inside VSCode debug select button or inside launch.json - that could look like this e.g. :

Debug

[2019-04-10 07:30] SounD120 commented on #928
Hi @MarcoLLeite . Are you still experiencing issues with debugging or they are gone after update?

[2019-04-10 07:46] ruslan-bikkinin commented on #99
@majirosstefan you can create your own configuration if you want to in addition to the default ones.

[2019-04-11 10:57] GenericJam opened #974 "VSCode + react native tools debugging errors on console.trace()"
## Actual Behavior
1. When debugging app through VSCode using React Native Tools causes the app to error when console.trace() invoked.

## Expected Behavior
1. Print out the stack trace.
2. Don't assume stack trace === error

## Software versions
- React-Native VS Code extension version:
- VSCode version: 1.33.0
- OS platform and version: Mac OS Mojave
- NodeJS version: 11.13.0
- React Native vers

[2019-04-11 21:40] MarcoLLeite commented on #928
Hi @SounD120. Thanks for the help... Yes, after upgrading to 0.59.3 the debugger seems to be back up hitting breakpoints... I haven't said anything because he are still resolving issues related with the upgrade. But that fixed the debugger anyway.

Thanks.

[2019-04-11 21:40] #928 closed

[2019-04-12 10:41] MarcoLLeite commented on #928
Just to point out a few more details of what happens:

On my old version of react-native non of the debugger options would work, no breakpoints would get hit ('Debug Android' and 'Attach to Packager' options).
I only updated react-native to 0.59.3 and kept react on 16.6.3 and both options started to work.
I will also update react, because it triggers warnings on build, but wanted to point out that

[2019-04-12 11:21] SounD120 commented on #928
@MarcoLLeite Thanks for information! I think we'll add information about possible problems with React Native 0.58.* in our documentation.

[2019-04-16 13:20] #974 closed

[2019-04-16 21:46] pietrofxq commented on #894
Have you found the solution for this problem? I also can only set one property with intellisense when using Stylesheet.create, after that I lose intellisense

[2019-04-17 08:08] ruslan-bikkinin opened #978 "Palette commands "Reload App" and "Show Dev Menu" don't work on iOS"
These commands do work for android app, but do not for iOS

[2019-04-19 08:14] HalimeErkul opened #981 "."
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -

[2019-04-19 08:31] SounD120 commented on #981
Hi @HalimeErkul , thanks for reaching. You didn't provide any details about your environment, so I am closing this issue due to lack of technical information. Please create a new one and next time fill all gaps in issue template.

[2019-04-19 08:31] #981 closed

[2019-04-19 16:31] mouadFahsi opened #983 "the debug stops suddenly and the app stop responding"
## Actual Behavior
 after i start the debugger everything is normal until suddenly it stops and the app freeze on me i need to restart the app again to resume working,
chrome debugger works normal, the issue only when i use the extension

i use redux-logger to check my redux state and i think it has something to do with that

##Expected Behavior
1. debugging the app for a lounge period of time

##

[2019-04-22 11:11] SounD120 commented on #983
Hi @mouadFahsi . Could you please fill all the gaps in our [issue template](https://github.com/Microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md), it would be helpful for understanding the situation from our side. You can add all missing information by the template described below. Also, could you please give us more detailed steps to reproduce the behaviour that you have faced.

[2019-04-23 12:36] springcoil opened #985 "Add configuration not working - react native tools"
Issue Type: <b>Bug</b>

Hi, I wanted to use React-native debugger like this tutorial - https://github.com/Microsoft/vscode-react-native/blob/master/README.md#debugging-react-native-applications. However I'm running into problems getting it to work. I click on 'Add Configuration' in launch.json and nothing happens. I see no change. I expected that this would offer me some options. https://github.co

[2019-04-23 12:39] ruslan-bikkinin commented on #985
Hi @springcoil and thanks for reaching us. Is `Add configurations` button grayed out in your case?

[2019-04-23 12:42] springcoil commented on #985
Hi @ruslan-bikkinin no it's not greyed out. I've got a screenshot.
<img width="1008" alt="Screenshot 2019-04-23 13 41 55" src="https://user-images.githubusercontent.com/983944/56581770-9c825900-65cd-11e9-8d29-c456a7eb0090.png">

[2019-04-23 12:45] ruslan-bikkinin commented on #985
Usually it should be gray when `launch.json` is malformed. In your case just add these lines to `launch.json` to make it work again:
[code]

[2019-04-23 12:54] springcoil commented on #985
Thanks so much. I'm happy with that resolution. Can I open a PR to just add this to the FAQs?

[2019-04-23 12:54] #985 closed

[2019-04-23 13:35] ruslan-bikkinin commented on #985
@springcoil I believe this is a regression in VS Code issue because `Add configuration` button supposed to be disabled in the past in cases like yours. I'd suggest you to let VS Code team know about it, as well, unless there is similar issue opened already.

[2019-04-23 13:44] ruslan-bikkinin commented on #950
Similar issue: #985

[2019-04-24 11:13] hhimanshu commented on #289
This was the key along with adding `REACT_EDITOR=code`, instead of `REACT_EDITOR=atom` which shows up on the console.

[2019-04-25 08:48] SounD120 commented on #983
Hi @mouadFahsi . Do you have a chance to look at this?

[2019-04-25 13:25] mouadFahsi commented on #983
@SounD120 sorry for the late response i had some personnel matters and i couldn't open my Computer for a couple of days. I just updated my issue