[2019-04-26 11:04] SounD120 commented on #978
Issue to track: https://github.com/facebook/react-native/issues/24622

[2019-04-26 11:47] SounD120 commented on #983
@mouadFahsi It's not obvious by this logs what may be the reason of such behaviour. Could you please provide a small demo application with repro steps which reproduces that behaviour? Also, it will be very helpful if you can share the application in which this behaviour is reproduces.

[2019-04-26 13:54] mouadFahsi commented on #983
@SounD120 i just created a demo code in : https://github.com/mouadFahsi/VSCodeDebugTest
to reproduce the issue all you have is to click on the items and return do that a couple of times. sometimes it take about 15 click and sometimes just two

[2019-04-26 14:58] SounD120 commented on #983
@mouadFahsi I was able to reproduce this behaviour. Thanks a lot for your help, we'll investigate the reason.

[2019-04-27 15:29] phatmann opened #989 "Debugger ignoring scheme argument"
## Actual Behavior
1. Debugger does not use scheme in executable path. Instead it uses the "inferred scheme", which leads to the executable not being found.

The app builds and launches correctly.

My launch config:

[code]

## Expected Behavior
1. Debugger uses correct executable path

## Software versions
- React-Native VS Code extension version: 0.9.2
- VSCode version: 1.33.1
- OS platform and

[2019-04-29 09:12] zhouhao27 commented on #557
Is it possible to change the default port from 8081 to something else?

[2019-04-29 09:27] zhouhao27 commented on #260
It doesn't work for me. Still using 8081

[2019-04-29 09:30] zhouhao27 commented on #272
@MSLaguana How to change the port in launch.json? I did the following:

[code]

But doesn't work.

[2019-04-29 10:09] SounD120 commented on #272
Hi @zhouhao27 . You need to add packager port settings in your `settings.json` as described in [documentation](https://github.com/Microsoft/vscode-react-native/blob/master/doc/customization.md#setting-up-the-react-native-packager).

[2019-04-29 13:04] #978 closed

[2019-04-29 14:56] ruslan-bikkinin commented on #989
Hi @phatmann and thanks for questioning. Please, try to use `scheme` parameter instead of `runArguments` and let us know if it helps.

[2019-04-29 15:41] zhouhao27 opened #993 "Not able to run ios debug in VS Code"
## Actual Behavior
1. Always showing "No bundle Url presented

## Expected Behavior
1. Show be able to run

## Software versions
- React-Native VS Code extension version: 0.92
- VSCode version: 1.33.1
- OS platform and version: 10.14.4
- NodeJS version: 10.14.2
- React Native version: 0.59.5
- Expo SDK version (include if relevant):

I created a new project by:

[code]

And no problem to run it in

[2019-04-29 15:43] phatmann commented on #989
If I use the following launch configuration everything works as expected:

[code]

That is, I have to use the `scheme` parameter to get debugging to work *and* the "--scheme" `runArgument` to get building and launching to work. This does not seem like good behavior, and the `scheme` parameter is not documented as far as I know. You should not close this issue until the situation is improved; i.e.

[2019-04-29 16:02] ruslan-bikkinin commented on #989
@phatmann `scheme` parameter is documented within extension:
![image](https://user-images.githubusercontent.com/30265843/56908536-28552300-6aaf-11e9-99ca-9731cb5d8168.png)
And you don't need to use ` "runArguments": [ "--scheme", "DebugHelper"]` and `'scheme": "DebugHelper"` together to make it work - all you need is `scheme` parameter only.
Seems to be that especially for `scheme` parameter exten

[2019-04-29 16:11] zhouhao27 commented on #993
I confirmed the problem is because of the port. I changed the port in VS Code settings. But maybe Xcode is still using the default port. How can I change that too?

[2019-04-29 17:24] phatmann commented on #989
If I take out --scheme parameter my app does not launch and build properly. It tries to use the "inferred scheme", which is the project name.

I just looked at the extension documentation and I did not see what you posted above. Where is this located?

[2019-04-29 17:33] phatmann commented on #989
I just looked the [debugging docs](https://github.com/Microsoft/vscode-react-native/blob/master/doc/debugging.md). They say

I suppose this implies you can use "scheme", but it would be good to be more explicit.

If you look at [this issue](https://github.com/Microsoft/vscode-react-native/issues/617), there is a brief mention of using the "scheme" launch option in one of the comments, but the [doc

[2019-04-29 17:38] phatmann commented on #989
To illustrate that "scheme" launch option does not work properly, I used the following launch config:

[code]

I get the following output in React Native - Run ios tab:

[code]

[2019-04-30 01:02] zhouhao27 commented on #534
@mimranshahid I made it work finally. But the debug stop working after I set to a custom port. The iPhone shows "No bundle url presented". I guess the iOS app is still using the old port.

[2019-04-30 01:17] zhouhao27 commented on #272
It works when I add port in settings.json.

[2019-04-30 01:21] zhouhao27 commented on #883
By the way what is the benefit to use Haul instead of original React native bundler?

[2019-04-30 08:10] SounD120 commented on #983
Hi @mouadFahsi . I found out what could be the reason of such behaviour, it looks like `redux-logger` cause this. When I removed this package from middlewares, application stopped to freeze. Could you please try to delete `redux-logger` from the middlewares and let us know how application works?

[2019-04-30 09:49] SounD120 commented on #983
Hi @mouadFahsi . After further investigations I found out that:
1) `redux-logger` have officially known [performance issues with React Native](https://github.com/LogRocket/redux-logger#known-issues)
1) Redux >= `4` is not yet officially supported. [More info](https://github.com/LogRocket/redux-logger/issues/292)
1) The amount of logs which goes through logger is huge, it stores all the data that i

[2019-04-30 09:49] #983 closed

[2019-04-30 10:49] SounD120 commented on #993
Hi @zhouhao27 and thanks for your question. If you want to change packager port for your application and debug it using the extension you need to perform the following steps:
• Manually replace all occurencies of `8081` by your preferred port in your XCode project as said in official [React Native documentation](https://facebook.github.io/react-native/docs/troubleshooting.html#using-a-port-other-t

[2019-04-30 14:46] ruslan-bikkinin opened #994 "Add documentation for extension configuration parameters"

[2019-05-01 11:17] ruslan-bikkinin commented on #989
@phatmann I've made a fix for it #995, could you please try it? To do that you need to do the following:
* Download and unzip compiled extension VSIX from my branch: [vscode-react-native-0.9.2.vsix.zip](https://github.com/Microsoft/vscode-react-native/files/3134343/vscode-react-native-0.9.2.vsix.zip)
* Uninstall extension
* Restart VS Code
* Click `Extensions -> ... -> Install from VSIX...` and se

[2019-05-01 21:50] phatmann commented on #989
The fix does not work. I used this launch configuration:

[code]
and got this output in React Native - Run ios tab:

[code]

[2019-05-02 08:23] ruslan-bikkinin commented on #989
@phatmann could you please share with me demo application then? All I need is a basic skeleton with configured schemes.

[2019-05-02 16:31] phatmann commented on #989
I found the issue. To reproduce:

1. In your React Native project (let's call it "Sample"), rename the "Sample" scheme to "MyScheme".
1. In your launch configuration, add:
[code]

Debug the app using Debug iOS configuration. You will see the following error in React Native - Run ios tab:

[code]

If you remove the "runArguments" property, then everything works as expected. So it is the presence of

[2019-05-06 03:21] zhouhao27 commented on #993
@SounD120 Thanks for your reply. I only changed the port number in `.vscode/settings.json`. But I don't quite understand why should I manually replace all occurrences of 8081 in Xcode project because I don't need to do so if I run this command:

[2019-05-06 09:04] SounD120 commented on #993
Hi @zhouhao27 . React Native standard packager port is binded to `8081` by default and hardcoded in XCode native project. I tried to run `react-native run-ios --port=9999` command on fresh RN  `0.59.5` version app and it don't work for me because of error `No bundle Url presented`, and starts to work if I replace `8081` by `9999` in XCode project.  Could you please give us detailed steps on how yo

[2019-05-06 09:35] SounD120 commented on #989
@phatmann Thanks for the details, if you want to run application on iOS simulator, you can use property `target` in your debug configuration in `launch.json`:
[code]
If you'll use `runArguments`, it will override all other configuration parameters, that's why `scheme` parameter is not work in this case. You can find instructions [here](https://github.com/Microsoft/vscode-react-native/blob/7e452a1e

[2019-05-06 17:36] phatmann commented on #989
Thanks for the info. The docs say

But if I use this launch configuration:

[code]

I get this error in React Native:

[code]

That is, it is using "Next" scheme instead of "DebugHelper" scheme. This is happening using your fix branch.

Also note another problem this causes: if you need to use an option in runArguments besides scheme and target, there is no way to do so if you need to use a custom

[2019-05-06 17:48] phatmann commented on #989
Also there seems to be no documentation for the `target` property. The docs say:

It does not mention that you can pass "simulator" for the target, nor does it say how to choose any device or a specific hardware device.

[2019-05-07 09:07] sixclones opened #997 "Only white screen while debugging and cors request."
Hello there.

I was struggling with a white screen when I used debugger from this extension.
I test to launch my app from `react-native run-android` with JS Debugging enabled and figure out that's a problem of cors request.

![image](https://user-images.githubusercontent.com/19307232/57287079-095e1e80-70b7-11e9-9060-45976250e932.png)

So i change 192.168.1.6 to localhost and that worked.

Is it po

[2019-05-07 10:57] SounD120 commented on #989
@phatmann Yeah I agree with you about documentaion, so we are going to update our documentation and add there all debug configuration parameters. We have an issue for that: #994.
With respect to the scheme issue, I performed such testing for #995 fix branch:
* Create fresh RN 0.59.5 app
* Opene XCode project
* Duplicate new scheme `Test1` from the basic scheme called `newRNapp1` (shown on an image

[2019-05-07 11:20] SounD120 commented on #997
Hi @sixclones and thanks for questioning. Could you please fill outputs as described in our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md) in the format shown below? It will be helpful for better understanding of the situation from our side.
## Outputs
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the Reac

[2019-05-08 02:38] Jacky9425 commented on #997
Output of the Debug Console (View -> Toggle Debug Console):

`Starting debugger app worker.
Established a connection with the Proxy (Packager) to the React Native application
Debugger worker loaded runtime on port 27929
******** Unhandled error in debug adapter - Unhandled promise rejection: Error: Cannot connect to runtime process, timeout after {_timeout} ms - (reason: {_error}).
    at Object.r

[2019-05-08 07:51] SounD120 commented on #997
Hi @Jacky9425 . Could you please create a new issue describing your specific case?

[2019-05-08 08:30] Jacky9425 opened #998 "White Screen react native app in debugging mode with successful build."
Hi, i am setting up react native with vscode (previously done before). However after everything went smoothly from setting up react native, create android environment and installing vs code. I try to run the app from vs code. However the result was getting a white screen on my physical device. I found out that it only occurs in debugging mode of vs code. If it is not in debugging mode, the app wor

[2019-05-08 09:06] SounD120 commented on #998
@Jacky9425 Could you please run `react-native info` in your terminal and copy the results here? Also please  say which Node.js version do you use.

[2019-05-08 10:59] Jacky9425 commented on #998
react-native info results
`  React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
      Memory: 3.08 GB / 7.85 GB
    Binaries:
      Yarn: 1.15.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.4.0.0 AI-183.5429.30.34.5452501`

Node.js ve

[2019-05-08 11:07] SounD120 commented on #998
@Jacky9425 I tried to run application on Node 12.1.0 and I have the same behavior as in #997 . Could you please try to install Node 10.15.3 and let us know if it works for you?

[2019-05-08 11:08] SounD120 commented on #997
Hi @sixclones . Could you please try to run to install Node 10.15.3 and let us know if it works for you? It looks like it is a Node 12 problem.

[2019-05-08 17:55] phatmann commented on #989
Here is the Sample project:

[SchemeSample.zip](https://github.com/microsoft/vscode-react-native/files/3158697/SchemeSample.zip)

Run `yarn install` on it.

Use this launch config:

[code]

You will see this error in React Native tab:

[code]

BTW the error message should be "Could not _find_ executable".

[2019-05-09 02:37] Jacky9425 commented on #998
Thanks. App runs fine now with debugging mode.

[2019-05-09 02:38] #998 closed

[2019-05-09 08:06] sixclones commented on #997
Hi @SounD120 this is my outputs (sorry I wasn't able to disable french).

This output came from Node v10.15.3.

Hope this can help you to understand what's going on.

## Outputs

Output of the Debug Console (View -> Toggle Debug Console):
[code]
Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):
[code]
Output of the Developer Tools console (Help ->

[2019-05-09 23:31] NilsBacke commented on #306
Has this issue been fixed? Even with the fix from @HaloWang I still don't get intellisense suggestions after the first line.

[2019-05-13 07:40] SounD120 opened #1000 "Application hangs with white screen on debugger attach stage on Node.js 12"
Extension have an issue when attaching to the debug process on Node.js 12. It shows such error and hangs without connect to the native application, application shows white screen in such case:
[code]
Related issues: #998, #997
**Node.js 10.15.3 have no such issues, so you can use it as a workaround**

[2019-05-13 07:43] SounD120 commented on #993
Hi @zhouhao27 . Do you have a chance to look at this?

[2019-05-13 09:51] SounD120 commented on #989
Hi @phatmann , finally I was able to reproduce the behaviour you described, so I proposed a fix for that into #995. Could you please try it? For do that you need to do the following:
* Download and unzip compiled extension VSIX from `ios-fix-scheme-issues`
branch: [vscode-react-native-0.9.2.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3172236/vscode-react-native-0.9.2.vsix.zip)

[2019-05-13 10:51] phatmann commented on #989
The fix works perfectly!

[2019-05-13 10:53] SounD120 commented on #989
@phatmann Glad to hear it. This fix will be released as the part of new extension version.

[2019-05-13 10:53] phatmann commented on #989
I know this issue is closed, but until documentation per #994 is done, perhaps you could tell me how to use `target` launch configuration property to debug on a connected device? I would like to stop using `runArguments` if possible.

[2019-05-13 11:06] SounD120 commented on #989
@phatmann Sure. `target` may accept `simulator`, `device` or concrete id of device or simulator as parameters, for example `iPhone 5s` for call iPhone 5s simulator. So you can use such configuration instead of runArguments:
[code]

Please let us know if you have any questions.

[2019-05-13 12:00] #989 closed

[2019-05-13 12:53] SounD120 commented on #997
@sixclones I have reinstalled Node several times: from 8.10.0 to 10.15.3 and to 12.2.0. 8 and 10 Node.js versions are works for me, but 12 version shows the same output as you described. Please make sure that VS Code uses installed Node.js 10, and Node.js 12 is deleted correctly. You can run command `node -v` in your VS Code terminal to make sure that it uses correct version.
Here is my `react-nat

[2019-05-13 19:25] sixclones commented on #997
I use nvm to manage my node version, so it should be good and the output in VSCode terminal was `10.15.1` (for `node -v`) when I tried.
I will carefully try again, especially with the `react-native info` command. I can't try it this week but I will clear this doubt I soon as possible.

[2019-05-13 22:54] aidanw commented on #1000
I am also seeing this

Adapter node: v10.2.0 x64
vscode-chrome-debug-core: 6.7.46
Starting debugger app worker.
Established a connection with the Proxy (Packager) to the React Native application
Debugger worker loaded runtime on port 18535
******** Unhandled error in debug adapter - Unhandled promise rejection: Error: Cannot connect to runtime process, timeout after {_timeout} ms - (reason: {_erro

[2019-05-14 07:40] SounD120 commented on #1000
Hi @aidanw . Which Node.js version do you use?

[2019-05-14 09:39] aidanw commented on #1000
v12.1.0

I guess I need to downgrade... but it is pretty frustrating how fragile this ecosystem is!

[2019-05-14 11:03] SounD120 commented on #997
@sixclones I found out the reason of that behaviour. Node.js no more supports `--debug-brk` arg for debugging Node process. Extension used this argument for debugging. I close this issue as duplicate of #1000, so we can move our discussion there. Feel free to reopen if your issue is not connected with Node 12.

[2019-05-14 11:03] #997 closed

[2019-05-15 07:22] #1000 closed

[2019-05-15 07:55] SounD120 commented on #993
Hi @zhouhao27 . Closing this due to inactivity. Please feel free to reopen if needed.

[2019-05-15 07:55] #993 closed

[2019-05-15 13:27] zuigzm opened #1005 "DeprecationWarning: Custom inspection function on Objects via .inspect() is deprecated"
## Actual Behavior
1.  [DEP0079] DeprecationWarning: Custom inspection function on Objects via .inspect() is deprecated

## Expected Behavior
1. remove warnings or add ignore items

## Software versions
- React-Native VS Code extension version:  0.9.3
- VSCode version: 1.33.1
- OS platform and version: macOS
- NodeJS version: v10.15.3
- React Native version: 0.59.8

## Outputs (Include if relevant

[2019-05-15 14:27] zuigzm opened #1006 "DeprecationWarning: Custom inspection function on Objects via .inspect() is deprecated"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -

[2019-05-15 14:28] #1006 closed

[2019-05-16 14:39] ruslan-bikkinin opened #1007 "React Native Windows support"
Some time ago experimental support for React native Windows was introduced and at that moment debuging of both UWP and WPF platforms were added. Since that time no further work were continued.
Currently, React Native Windows has two main implementations: "current" which is C#-made and will be cosidered as deprecated in the future and "vnext" which is targeted to future React Native versions and wi

[2019-05-16 21:02] TheMisir commented on #306
I have same problem. I didn't found anything to fix that 😟

[2019-05-17 11:35] pangkoksiong opened #1008 "Unable to debug via VSCode"
## Actual Behavior
1. Followed the instruction of "Debugging React Native applications".
2. Configuration was added successfully in launch.json file.
3. Clicked "green arrow" or F5 to start debugging.
4. The debugger float dialog appeared for few seconds then disappeared.
5. App was never started.

Note:
1. react-native run-android can be executed successfully in terminal.
2. Debugging in Chrome b

[2019-05-17 12:45] ruslan-bikkinin commented on #1008
Hi @pangkoksiong and thanks for reaching us. I've just tried to debug fresh RN 0.59.8 app on the latest extension version and see no problems with it. Please give us more details about your case:
* Show us your launch.json config
* Do you just open your app directory or you open workspace with multiple directories in it including your app?
* Do you use nvm? If so, make sure, that node versions is

[2019-05-17 13:09] ruslan-bikkinin commented on #1005
Hi @zuigzm and thanks for reaching us. Extension debugger runs React Native debugging worker as Node JS process on your machine, so looks like something from your code or from the packages you use causes such warning to be appeared. Usually, this warning is harmless and you shouldn't worry about it. Please refer to Node JS documentation page for more info about this warning: https://nodejs.org/api

[2019-05-17 13:09] #1005 closed

[2019-05-20 05:47] pangkoksiong commented on #1008
@ruslan-bikkinin , thank you very much for replying.

This comment resolves my problem.

Sorry for the false alarm and thank you for saving my days.

[2019-05-20 05:47] #1008 closed

[2019-05-20 07:46] sixclones commented on #997
Hello @SounD120,

I tried again with node 10.15.3 (I'v have uninstall node 12) and that worked back. Thanks!

[2019-05-22 15:37] pt8o opened #1012 "Current workspace does not contain React Native projects"
## Actual Behavior
- Run `React Native: Start Packager`
  - "Error while working with workspace: Current workspace does not contain React Native projects. (error code 710)"
- Run `Debug: Start Debugging`
  - Debug sidebar shows progress bar for a few seconds then stops
  - Log (Window) says "Error: spawn react-native ENOENT"

## Expected Behavior
- React Native project launches with debugger attac

[2019-05-22 15:42] pt8o commented on #1012
Apologies if this issue is really vague... I'm just not able to launch a React Native project with the VS Code debugger attached. Regular `react-native run-android` works fine.

I've confirmed that the same project works on macOS.

[2019-05-22 15:59] ruslan-bikkinin commented on #1012
Hi @pt8o and thanks for reaching us. Seems to be you are missing global react-native cli. Do you use nvm?

[2019-05-22 16:35] ruslan-bikkinin commented on #1012
@pt8o the node version is used inside VS Code my differ with the system one which is known issue for VS Code and nvm, and I am suspecting that this is your case. To check please run `node -v` in system terminal and in VS Code terminal and if node versions are different then simply run `nvm alias default YOUR_SYSTEM_NODE_VERSION`. After that run `npm install -g react-native-cli` on system node and

[2019-05-22 16:57] pt8o commented on #1012
`node -v` on both system Terminal and VS Code terminal prints `v11.14.0`

[2019-05-23 09:09] ruslan-bikkinin commented on #1012
And you still can't debug your app after installing React Native cli globally on 11.14.0?

[2019-05-23 11:36] thibmaek commented on #1012
It seems that since this extension moved from the "vsmobile.vscode-react-native" to "msjsdiag.vscode-react-native" namespace this is broken.

- Worked fine before, did not upgrade node, react-native-cli or react-native version
- Installing latest react-native-cli does not work.
- Node version: 10
- No nvm (using brew)
- `react-native -v` prints `react-native: 0.57.5` so detects valid project

[2019-05-23 12:00] ruslan-bikkinin commented on #1012
@thibmaek what version of extension do you use? Do you open exactly the same folder/workspace as before? If you reinstall the extension the problem is still appear?

[2019-05-23 13:28] pt8o commented on #1012
@ruslan-bikkinin correct, react-native-cli is installed globally. `react-native -v` returns `react-native-cli: 2.0.1` on both OS terminal and VS Code terminal. The same error messages are appearing and the app and debugger do not launch.

[2019-05-23 13:38] ruslan-bikkinin commented on #1012
@pt8o could you please send a screenshot of file structure of workspace you open in VS Code?

[2019-05-23 13:45] pt8o commented on #1012
@ruslan-bikkinin just like this?
![Screenshot from 2019-05-23 09-45-00](https://user-images.githubusercontent.com/22176050/58257765-81774600-7d3f-11e9-9ef0-cd22d6a31f9a.png)

[2019-05-23 15:26] thibmaek commented on #1012
Fix for me:
1. `npm cache clean --force`
2. `npm i -g react-native-cli@latest`
3. Reinstall extension
4. Reload VS Code

[2019-05-23 17:21] pt8o commented on #1012
@thibmaek thank you for the suggestion, this didn't work for me -- still the same error messages as in the original post

[2019-05-24 04:25] jigaroza287 commented on #365
@VickyKoblinski 's solution works for me. I just restarted the vscode and it works without doing anything else. Strange...

[2019-05-24 08:06] thibmaek commented on #1012
Yeah mine stopped working again

[2019-05-24 08:52] ruslan-bikkinin commented on #1012
@thibmaek @pt8o guys, could you please open your project in VS Code, then open VS Code terminal, run `react-native --version` and share output with me?
@pt8o also, could you please share `.vscode/settings.json` content with me?

In general, "Error: spawn react-native ENOENT" signals that `react-native` command is not available from within VS Code process and it's environment problem.

[2019-05-24 14:18] pt8o commented on #1012
In VS Code terminal
![Screenshot from 2019-05-24 10-16-35](https://user-images.githubusercontent.com/22176050/58334256-2f045b00-7e0d-11e9-915d-74775e4d9068.png)

The full content of `.vscode/settings.json` is
[code]

[2019-05-26 16:18] dooleyb1 commented on #1000
Also experiencing this issue, cannot debug through VSCode however can debug by running `react-native run ios` and by using the tool React Native Developer Tools.

[2019-05-27 08:31] ruslan-bikkinin commented on #1000
@dooleyb1 please create separate issue and describe your specific case there so we could help you quicker, thanks.

[2019-05-27 08:35] ruslan-bikkinin commented on #1012
@pt8o looks like everything is okay there. Could you please run `nvm ls` and share the output with me?

[2019-05-27 11:43] thibmaek commented on #1012
[code]

[code]

[2019-05-27 14:03] pt8o commented on #1012
@ruslan-bikkinin
`nvm ls` gives
[code]
on both system and VS Code terminals

[2019-05-27 14:20] ruslan-bikkinin commented on #1012
@pt8o are you sure that you don't have any other node installations traces in your system except related to nvm? Also, please check [VS Code docs section](https://github.com/Microsoft/vscode-docs/blob/master/docs/editor/integrated-terminal.md#why-is-nvm-complaining-about-a-prefix-option-when-the-integrated-terminal-is-launched). Problem described there may seem to be unrelated, but I am guessing t

[2019-05-27 15:10] pt8o commented on #1012
Hi @ruslan-bikkinin, I've fully removed all `node` and `npm` from my `/usr/` folders and then reinstalled everything with `nvm`. Still getting the same error :(

[2019-05-27 19:11] thibmaek commented on #1012
I don't even use nvm.

[2019-05-29 13:31] ruslan-bikkinin commented on #1012
@pt8o @thibmaek I added logging of `process.env` before each `react-native` command call. Could you please try it? Please do the following steps:
* Uninstall extension installed from Market place
* **Restart VS Code**
* Download archive I prepared: [vscode-react-native-0.9.3.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3232679/vscode-react-native-0.9.3.vsix.zip), rename it to v

[2019-06-01 15:30] ffMathy opened #1020 "Hooking into events"
It isn't clear from `launch.json` what exact command is being run by the extension when running Android debug.

Where can I find this in the source codes?

The reason I am asking is that I want to be able to execute a NodeJS script before building, which writes my local IP address into a text file to be consumed by the application, while debugging.

Is that possible?

[2019-06-01 17:05] #1020 closed

[2019-06-02 09:07] Rennzh commented on #379
I also had the same problem recently, and I changed the default index.d.ts like below
[code]

to

[code]

it work to me, like IntelliSense shows, no error, and go to definition is works.

if you think change the default index.d.ts is Unsafely, you can add a new function like below
[code]

[2019-06-02 09:10] fangrm commented on #379
Good job!, thanks！

[2019-06-02 09:25] Unforgiven-wanda commented on #1012
Having the same issue and pretty much the same results so far.

[2019-06-03 08:25] ruslan-bikkinin commented on #1012
@pt8o @thibmaek hi guys, do you have a chance to look at this?

[2019-06-03 17:15] pt8o commented on #1012
Hi @ruslan-bikkinin , thanks for following up.

I just tried this and I don't see a logged `process.env` object, I don't think?

I get this:
[code]

With the 'Extension Host" parts expanded:
[code]

[2019-06-04 09:58] balagopinath opened #1022 "Error while executing command 'react-native.cmd run-android --no-packager' (error code 101)"
## Actual Behavior
1. Error while executing command 'react-native.cmd run-android --no-packager' (error code 101)
2.

## Expected Behavior
1.  Start Debugging
2.

## Software versions
- React-Native VS Code extension version:  0.9.3
- VSCode version: 1.34.0
- OS platform and version: Win 10
- NodeJS version: 10.13.0
- react-native-cli: 2.0.1
- react-native: 0.59.8
- Expo SDK version (include if re

[2019-06-04 10:03] SounD120 commented on #1022
Hi @balagopinath and thanks for reaching us. Could you please also add output from View -> Toggle Output -> Select React Native: Run android?

[2019-06-04 10:05] balagopinath commented on #1022
If you want to use particular device or simulator for launching Android app,
 please specify  device id (as in 'adb devices' output) instead.

[Info] local.properties file doesn't exist. Using Android SDK location from PATH.

[Info] Starting React Native Packager.

info Building and installing the app on the device (cd android && gradlew.bat app:installDebug)...

FAILURE: Build failed with an exce

[2019-06-04 10:08] balagopinath commented on #1022
Simulator version

![capture](https://user-images.githubusercontent.com/34679811/58870979-ceafcc00-86de-11e9-88f2-4be0aed7d797.jpg)

[2019-06-04 10:37] SounD120 commented on #1022
@balagopinath It looks like ANDROID_HOME environment variable is absent in your PATH environment.  Please make sure that Android SDK is installed on your system and set up correctly.
To do that please do the following:
* Open Android Studio
* Click `Configure`
* Choose `SDK Manager`
* See if the string `Android SDK Location` exists
* Open Powershell
* Run Powershell script
[code]

Please let us kn

[2019-06-04 10:54] balagopinath commented on #1022
Yes. Thanks @SounD120

[2019-06-04 10:54] #1022 closed

[2019-06-04 14:55] ruslan-bikkinin commented on #1012
@pt8o yes, that was the wrong one. Here is the correct VSIX: [vscode-react-native-0.9.3.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3253010/vscode-react-native-0.9.3.vsix.zip)

I updated my previous comment.

[2019-06-05 08:55] thibmaek commented on #1012
__Error__: `ERR spawn react-native ENOENT: Error: spawn react-native ENOENT`

---

__PATH__:

- DevTools: `"/usr/bin:/bin:/usr/sbin:/sbin"`
- echo $PATH in VS Code terminal: `/usr/local/opt/node@10/bin:/usr/local/opt/curl/bin:/Users/thibault/bin:/usr/local/sbin:/usr/local/opt/gpg-agent/bin:/usr/local/opt/python/libexec/bin:/Users/thibault/.rbenv/shims:/Users/thibault/.rbenv/bin:/usr/local/bin:/usr

[2019-06-07 00:13] GollyJer commented on #306
Same issue here. Ended up finding this extension which helps.
https://marketplace.visualstudio.com/items?itemName=jundat95.react-native-snippet

[2019-06-08 14:31] codingplayboy commented on #823
Hi, please Help, I had this error too.
![image](https://user-images.githubusercontent.com/13930162/59148545-d7850280-8a3c-11e9-9e78-c63a9c121361.png)
How can I change the adapter node version ? It's ok when run this command in terminal with node v10.9.0.

[2019-06-10 07:32] Vahe92 opened #1026 "Command failed: adb -s "emulator-5554" shell getprop ro.build.version.sdk"
## Actual Behavior
1. Can't debug app.I'm getting 'Command failed: adb -s "emulator-5554" shell getprop ro.build.version.sdk' error. I tried to run this command from cmd and it worked.

## Expected Behavior
1. Run debugger without errors.

## Software versions
- React-Native VS Code extension version: 0.9.3
- VSCode version: 1.35.0
- OS platform and version: Windows 10
- NodeJS version: 10.16.0
-

[2019-06-10 07:33] SounD120 commented on #1026
Hi @Vahe92 and thanks for reaching us. Could you please also add outputs from View -> Toggle Output -> Select React Native: Run android?

[2019-06-10 08:15] Vahe92 commented on #1026
Hi SounD120

[Warning] Target simulator is not supported for Android platform.
 If you want to use particular device or simulator for launching Android app,
 please specify  device id (as in 'adb devices' output) instead.

[Info] local.properties file doesn't exist. Using Android SDK location from PATH.

[Info] Starting React Native Packager.

[Info] Attaching to running React Native packager

Bui

[2019-06-10 09:24] SounD120 commented on #1026
@Vahe92 Could you please send us a screenshot of your Android Studio Android SDK configuration? You can find my configuration below as example:
![image](https://user-images.githubusercontent.com/32372875/59185924-53389980-8b7a-11e9-91d1-d4beda7cc169.png)
![image](https://user-images.githubusercontent.com/32372875/59185932-5c296b00-8b7a-11e9-85b9-2da5ed259f1c.png)

[2019-06-10 11:48] SounD120 commented on #1026
@Vahe92 It looks like this behaviour is connected with Android SDK Platform-tools 29. I tested platform-tools 28 - it have no such problems. I'd recommend you to check your Platform-tools version, if it 29 then delete it and install 28 manually. You can do this using the following instruction:
* Open Android Studio
* Click `Configure`
* Choose `SDK Manager`
* Open `SDK Tools`
* Uncheck `Android SD

[2019-06-10 13:47] SounD120 commented on #1026
Google is already informed about this behaviour and the corresponding issues has been created at their bug tracker:
https://issuetracker.google.com/issues/113808700
https://issuetracker.google.com/issues/134733050

[2019-06-10 17:11] Vahe92 commented on #1026
Thanks SounD120. Going back from version 29 to 28 solved the problem.

[2019-06-10 17:11] #1026 closed

[2019-06-13 08:00] hungnq139 commented on #823
@codingplayboy please try with simulator name
(settings.json) ->
"react-native.ios.runArguments.simulator": ["--simulator", "iPhone 6"]

[2019-06-13 10:40] banihasan opened #1027 "Extension Debugging not working after Update SDK tools"
## Actual Behavior
- Before UPDATE SDK Tools Android, Extension Debugging console working, just fine!

## Expected Behavior
- After UPDATE SDK Android Tools, Extension Debugging not working

Without Extension, manual command debug running normally and use Chrome Debugging http://localhost:8081/debugger-ui/
## Software versions
- Android SDK version: 26.1.1
- Android SDK Platform-Tools: 29.0.1
- Re

[2019-06-13 12:47] SounD120 commented on #1027
Hi @banihasan . This issue is a duplicate of #1026 . I'd recommend you to downgrage platform-tools to version 28. To do that please do the following:
* Open Android Studio
* Click `Configure`
* Choose `SDK Manager`
* Open `SDK Tools`
* Uncheck `Android SDK Platform Tools` and click `Apply`
* Download `Android SDK Platform Tools 28` using this link : https://dl.google.com/android/repository/platfor

[2019-06-13 12:47] #1027 closed

[2019-06-14 02:08] banihasan commented on #1027
@SounD120 Okay, thanks dude

[2019-06-15 17:39] OriginLive opened #1028 "Cannot bind listener: operation not permitted"
## Actual Behavior
[Error] Error: Error while executing command 'adb -s "emulator-5554" reverse tcp:8081 tcp:8081': Error while executing command 'adb -s "emulator-5554" reverse tcp:8081 tcp:8081': Command failed: adb -s "emulator-5554" reverse tcp:8081 tcp:8081
adb.exe: error: cannot bind listener: Operation not permitted

using android studio adv
I set path to platform-tools

Starting custom deb

[2019-06-17 10:31] ruslan-bikkinin commented on #1028
Hi @OriginLive and thanks for questionning. It looks like an `adb` problem, so I'd suggest you to try to restart adb server:
[code]
Let us know if it works.

[2019-06-17 19:36] OriginLive commented on #1028
adb start-server
* daemon not running; starting now at tcp:5037
* daemon started successfully

however no change. What's wrong with my adb?

[2019-06-18 07:30] serdarosmanonur commented on #928
I was having the same problem. Checking the output of the debug console led me in the right direction and I was able to fix the problem.

Cheers @SounD120

[2019-06-19 07:48] SounD120 commented on #1028
Hi @OriginLive . This issue looks similarly to #1026 and #1027. Could you please check your Android SDK Platform Tools version? If it equals 29 then I recommend you to downgrade tools version to 28, because there was some bugs introduced in this version. To do that please do the following:
* Open Android Studio
* Click `Configure`
* Choose `SDK Manager`
* Open `SDK Tools`
* Uncheck `Android SDK Pl

[2019-06-19 08:08] SounD120 commented on #1028
It looks like this behaviour is found on Android Q Beta emulators. Google team already informed about that: https://issuetracker.google.com/issues/133771463

[2019-06-19 12:48] OriginLive commented on #1028
Hello, changing the platform tools didn't help, however as mentioned, i've switched the emulator api to version 28 and everything works as intended. Thanks!
I guess we'll have to wait for 29 to be stable.

[2019-06-19 13:12] SounD120 commented on #1028
@OriginLive Glad to hear that your issue is resolved.

[2019-06-19 13:12] #1028 closed

[2019-06-20 13:47] ruslan-bikkinin commented on #1012
@thibmaek looks like PATH that is passed to VS Code process differs from the one that defined in your system. Under the hood there are two times when env is passed during the debugging:
First time, on VS Code side when spawning extension host process:
https://github.com/microsoft/vscode/blob/e1ac9a2490eff941c56f666800e29987c7276a67/src/vs/workbench/services/extensions/electron-browser/extensionHos

[2019-06-20 13:48] ruslan-bikkinin commented on #1012
@pt8o did you have a chance to try updated VSIX?

[2019-06-25 10:56] SounD120 commented on #830
Hi @isidorn . We have finished simplifying `launch.json` generation workflow. Thanks for your proposal.

[2019-06-25 10:56] #830 closed

[2019-06-28 15:14] #994 closed

[2019-06-28 19:28] cassioarosa commented on #1028
Hello, I has similar issue on emulator, using Android SDK Platform Tools Version 29.
I was able to work around this following these steps:

[Reference](https://github.com/react-native-community/cli/issues/437#issuecomment-505826867)

[2019-06-28 23:35] kmelmon commented on #1007
I'm currently stuck on a Haste issue.  When I launch via Debug UWP, I get this error:

:1 - - [28/Jun/2019:23:32:51 +0000] "GET /App.windows.bundle?platform=uwp HTTP/1.1" 500 - "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"
 BUNDLE  [uwp, dev] ./App.windows.js ░░░░░░░░░░░░░░░░ 0.0% (0/1)::1 - - [28/Jun/2019:23:33:18 +0000]

[2019-07-03 13:14] ruslan-bikkinin commented on #1012
I am closing this due to inactivity. Feel free to re-open if needed.

[2019-07-03 13:14] #1012 closed

[2019-07-03 13:45] ruslan-bikkinin opened #1042 "RN 0.60 breaks debugging in the extension"
Debugging session fails with the message `Could not debug. Can't get fulfillment value from any promise, all promises were rejected.`.

![image](https://user-images.githubusercontent.com/30265843/60596523-e350b400-9db1-11e9-98e9-9967915f2940.png)

**UPDATE**
* `Debug Android`,  `Debug iOS` configurations don't work on both platforms
* `Attach to Packager` configuration still works, so you can use

[2019-07-04 01:42] kmelmon commented on #1007
I debugged the Haste issue with Andrew, we now understand what's going on.  The vnext implementation has its own cli.js which overrides the metro config with custom Haste paths, these include the "lib" directory.  The "normal" cli.js that comes with react-native doesn't have this override.  What this means is we currently only build bundles correctly if we launch metro with our custom version of c

[2019-07-07 23:06] PiedPieper opened #1044 "Starting React packager from VSCode fails"
## Actual Behavior
Stop packager, followed by start packager fails
## Expected Behavior
It should start. I restarted my computer and all of the sudden it fails every time. But it works with the command line.

## Software versions
- React-Native VS Code extension version: 0.10.0
- VSCode version: Version 1.36.0
- OS platform and version: Mac 10.14.5
- NodeJS version: v12.1.0
- React Native version:

[2019-07-08 07:36] animaonline commented on #1044
Me2

[2019-07-08 07:42] SounD120 commented on #1044
Hi @PiedPieper , @animaonline and thanks for reaching us. Extension not yet supports React Native 0.60 and we already have an issue to track this: #1042 . We are already working on adding that support and it will be added as a part of the new extension version. I suggest to move our conversation to #1042.

[2019-07-08 07:42] #1044 closed

[2019-07-08 19:43] amadeu01 commented on #1008
I'm facing this issue.

My `launch.json`:

[code]

the directory I opened in VSCode is:

[code]

[2019-07-08 20:36] amadeu01 commented on #1008
I tried to create a new project and run. However, it didn't work either.

[2019-07-09 08:43] ruslan-bikkinin commented on #1008
Hi @amadeu01 please open new issue and fill Github issue template. As for newly created projects, "Debug ..." scenarios are temporarily [broken](https://github.com/microsoft/vscode-react-native/issues/1042) for RN v0.60 projects, however we have a [fix](https://github.com/microsoft/vscode-react-native/pull/1043) for it already. You can use "Attach to running packager" as a workaround instead.

[2019-07-09 11:00] #1042 closed

[2019-07-09 12:47] amadeu01 opened #1046 "Unable to debug via VSCode"
## Actual Behavior

Followed the instruction of "Debugging React Native applications".
1. Configuration was added successfully in launch.json file.
2. Clicked "green arrow" or F5 to start debugging.
3. The debugger float dialog appeared for few seconds then disappeared.
4. App was never started.

Note:

react-native run-android can be executed successfully in terminal.
Debugging in Chrome browser

[2019-07-09 13:47] ruslan-bikkinin commented on #1046
Hi @amadeu01 thanks for reaching us. Do you use nvm?

[2019-07-09 14:01] amadeu01 commented on #1046
hi @ruslan-bikkinin
I use asdf for managing node versions. Is it any issue?

[2019-07-09 17:25] benabbon opened #1047 "Unable to attach debugger to packager with Error: unexpected server response (400)"
## Actual Behavior
1. Attach packager fails with unexpected error: 400.

## Expected Behavior
1.  Attach packager actually attached debugger to packager

## Software versions
- React-Native VS Code extension version: 0.10.1
- VSCode version: 1.36.1
- OS platform and version: windows 10 x64 1903 (10.0.18362)
- NodeJS version: 10.11.0
- React Native version: 0.59.9

## Outputs (Include if relevant)

[2019-07-10 08:20] ruslan-bikkinin commented on #1047
Hi @benabbon  and thanks for reaching us. Did you try running `react-native run-android` manually and then attach to the app using Chrome?

[2019-07-10 09:07] SounD120 commented on #1047
Hi @benabbon . I just ran `Attach to packager` debug scenario on React Native 0.59.9 on clean application and I couldn't reproduce the error you describe. Could you please make sure that migration was performed correctly? This official migration guide might help: https://facebook.github.io/react-native/docs/upgrading

[2019-07-10 09:12] benabbon commented on #1047
I've never had the run-android possibility since my project has a custom setup: (The android folder contains two sub-android projects). This shouldn't be a problem, as I have the same issue with iOS, either by running run-ios, or by running through xcode, or by launching the packager from VS code.
I'm checking if the upgrade was done the right way.

[2019-07-11 10:26] uday5162 commented on #1046
Same problem here when I click on green arrow after successfully adding Configuration in launch.json.
debugger appeared for few seconds then disappeared.

[2019-07-13 07:54] CyberMew commented on #1012
I am having this issue too, I have installed the react-native-cli, `react-native -v` gives:

react-native-cli: 2.0.1
react-native: 0.59.8

and `node -v` gives:

v10.15.3

My workspace folder is the react-native project itself (`package.json` is root of this folder).

Following instructions to enable debugging is not working, it just processes for a few seconds and disappears. I have `React Native

[2019-07-13 13:06] zhongjie-chen commented on #379
well

[2019-07-15 15:11] amadeu01 commented on #1046
any update on this?

[2019-07-16 09:32] ruslan-bikkinin commented on #1012
@CyberMew could you please try to use the previous versions of the extension and let us know on which version you have **no error**:
* 0.9.3
* 0.10.0

To install previous version of the extension you need to
* open extension page in VS Code
* click right mouse button, select "Install Another Version.."
![image](https://user-images.githubusercontent.com/30265843/61283330-a4652a00-a7c5-11e9-9a7d-6e3

[2019-07-16 14:51] ruslan-bikkinin commented on #1046
@amadeu01 sorry for the delay.

Are you sure that output of the Developer Tools console (`Help -> Toggle Developer Tools -> Select Console` tab) is empty in your case after clicking at play button?

Also, did you try to fallback to the previous version of the extension by following the instructions from this comment: https://github.com/microsoft/vscode-react-native/issues/1012#issuecomment-5117419

[2019-07-16 15:03] ruslan-bikkinin opened #1057 "Add additional handler for ENOENT error when running "react-native -v""
In some cases when customer is using node version managers like nvm, asdf looking at the error
"Current workspace does not contain React Native projects" it's not obvious that one of the reason why this error is shown might be PATH misconfiguration on customer side, e.g. there are two independent node versions are installed (one is system and one is from nvm).
To make it more clear to customers th

[2019-07-17 10:06] ruslan-bikkinin commented on #1047
@benabbon do you have any news?

[2019-07-17 10:53] benabbon commented on #1047
We found that the issue is related to ws package. We wanted to fix a known vulnerability (WS-2017-0421) so we forced it to a minimal of 3.3.1, while react-native debugger leverages the version 1.1.5. The solution would be to move to react-native 0.60 as they upgraded to ws 6, but in the same time, vscode-react-native should move upper than 3.3.1, best would be the same version as react-native.

[2019-07-17 12:10] ruslan-bikkinin opened #1058 "Use the same ws version as in debuggee app"
Related issue: #1047

Currently, debugger uses particular version of ws (https://github.com/microsoft/vscode-react-native/blob/master/src/debugger/appWorker.ts#L6), but, as RN team has start bumping ws version that is used in RN for proxy debugger server, this version may be inconsistent with the one is used in the extension. To avoid any future problems extension should use ws version that is ins

[2019-07-17 12:11] ruslan-bikkinin commented on #1047
@benabbon thanks for letting us know. I've added this to our backlog, so we will pick it up in order of priority. You can track the progress here: #1058.

[2019-07-17 12:11] #1047 closed

[2019-07-17 12:34] benabbon commented on #1047
Thank you @ruslan-bikkinin !

[2019-07-18 17:43] uday5162 commented on #1046
Yes fallback to previous versions is working for me
Thanks :+1:

[2019-07-19 13:09] amadeu01 commented on #1046
@ruslan-bikkinin sorry my delay to answer.
I tried to kill chromes instance after select `Remotely debug` at RN's app. Then, I attached the debug again with VSCode, it worked so far :D

Thanks 👍

[2019-07-19 13:41] ruslan-bikkinin commented on #1046
Alright, glad that your problem is resolved, may I close this then?

[2019-07-19 15:40] mjgerace commented on #1012
I was having the same exact issue as above, installation versions matched in outside terminal and vscode terminal, same debug issue as well. Just rolled back to 10.0.0  and things are working great. Perhaps there was a regression?

[2019-07-21 11:03] abhinavkhajuria opened #1060 "Cannot read property 'getCurrentUserAsync' of undefined"
## Issue
1. I am unable to debug in exponent due to error "Cannot read property 'getCurrentUserAsync' of undefined".

## Software versions
- React-Native VS Code extension version:  0.10.2
- VSCode version: 1.35.1
- OS platform and version: Ubuntu 16.04, Linux x64 4.4.0-154-generic
- NodeJS version: 10.2.0
- React Native version: 0.59.8
- Expo SDK version (include if relevant):33.0.0

## Outputs (

[2019-07-22 04:21] abhinavkhajuria opened #1061 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-react-native`
- Extension Version: `0.10.2`
- OS Version: `Linux x64 4.4.0-154-generic`
- VSCode version: `1.35.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/dj/msjsdiag.vscode-react-native-unresponsive.cpuprofile.txt`
[msjsdiag.vscode-react-native-unresponsive.cpuprofile.txt](https://github.com/mic

[2019-07-22 10:02] serkanz commented on #1060
Same problem occurs with the configuration below :

VSCODE Version: 1.36.1
React-Native VS Code extension version: 0.10.2
Node.js: 10.15.1
OS: Win32 x64
Expo: 3.0.2

[2019-07-22 15:17] ruslan-bikkinin commented on #1060
Hi guys, thanks for letting us know. It seems to be an `@expo/xdl` package regression: https://github.com/expo/expo-cli/issues/864. To workaround it simply reinstall `@expo/xdl` package in extension directory:
* Open extension directory in terminal: `cd YOUR_HOME_DIRECTORY/.vscode/extensions/msjsdiag.vscode-react-native-0.10.2`
* Uninstall @expo/xdl: `npm uni --no-save @expo/xdl`
* Install @expo/x

[2019-07-22 15:17] #1060 closed

[2019-07-23 05:15] abhinavkhajuria commented on #1060
Thanks, @ruslan-bikkinin, it worked for me.

[2019-07-23 09:41] DananDio commented on #1012
any suggestion? i was having the same issue for this, already try with ver 0.9.3 and 0.10.0, can't use tools

[2019-07-23 10:14] serkanz commented on #1060
thanks @ruslan-bikkinin , that worked like a charm.

[2019-07-23 14:12] draperj commented on #1046
Is there any indication on when this will be fixed in a future release, not requiring a rollback of the extension? I have not had success using the current or previous versions of this extension for debugging via VSCode with RN60+.

[2019-07-23 15:31] amadeu01 commented on #1046
For my personal environment, I'm not facing the issue. So, you can close.

[2019-07-24 12:16] ruslan-bikkinin commented on #1046
@draperj please create separated issue for your case.

@amadeu01 thank for letting me know, I am closing this.

[2019-07-24 12:16] #1046 closed

[2019-07-24 12:42] ruslan-bikkinin commented on #1012
@DananDio @mjgerace if you see "Error: spawn react-native ENOENT" in Developer Tools logs it means that `react-native` command is not available in the PATH provided to the VS Code process. It's nothing to do with extension itself.
I'd recommend you to check your system configuration. You can check what is passed into the PATH variable that is used in VS Code by following these steps:

* Open Devel

[2019-07-24 13:26] pt8o commented on #1012
Sorry for the long delay @ruslan-bikkinin! The issue for me in the end was that that `nvm` paths were in my `bash_profile` but not my `bashrc`... or it may have been the other way around, I don't remember specifically. Apparently the OS terminal loads both, and the regular built in terminal in VS Code loads both, but the specific environment used by the React Native debugger only loads one of them

[2019-07-24 15:22] pheuter commented on #1012
I encounter this issue when using the [Visual Studio Code Remote - Containers](https://code.visualstudio.com/docs/remote/containers) extension and installing the vscode-react-native extension inside the container. In the container I have node installed without using nvm.

[2019-07-25 04:02] DananDio commented on #1012
@ruslan-bikkinin i could provide run npm on vscode terminal and outside vscode , and the only error gor every time i run react-native tools is this :

[Error] Failed to run the application in Android (error code 104)

Stack: Error: Failed to run the application in Android (error code 104): Error while working with workspace: Current workspace does not contain React Native projects. (error code 710

[2019-07-25 06:36] akash-dubey-kranti commented on #1060
Thanks, @ruslan-bikkinin, it worked. You saved my day.

[2019-07-25 08:08] ruslan-bikkinin commented on #1012
@DananDio please try follow the instructions from my comment: https://github.com/microsoft/vscode-react-native/issues/1012#issuecomment-514615593

[2019-07-25 15:27] ruslan-bikkinin commented on #1012
@pheuter thanks for letting us know! I think we should triage that.

[2019-07-25 15:37] ruslan-bikkinin opened #1062 "Support for VS Code Remote Containers"
According to [customer report](https://github.com/microsoft/vscode-react-native/issues/1012#issuecomment-514678431), extension may have problems running inside [VS Code Remote Containers](https://code.visualstudio.com/docs/remote/containers).
It should be investigated and if any problems is found it should be resolved.

[2019-07-25 19:11] joebernard opened #1063 "debug adapter - Unhandled promise rejection: TypeError: Cannot read property 'line' of null"
## Actual Behavior
1. When attempting to debug my React Native app, the following error is returned in the debug console:

    at Object.<anonymous> (/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/ms-vscode.node-debug2/node_modules/vscode-chrome-debug-core/out/src/chrome/chromeDebugAdapter.js:792:62)

The affected line of code is within the `resolveSkipFiles` function of ch

[2019-07-31 10:10] SounD120 commented on #1061
Hi @abhinavkhajuria and thank you for the report. Could you please describe what did you do in VS Code before high cpu load message has appeared?

[2019-08-01 09:33] iscriptology commented on #1060
thanks, helped a lot

[2019-08-06 20:08] batchu opened #1067 "Debugger fails start"
## Actual Behavior
1. Debugger fails to start

## Expected Behavior
1. After creating a debug config, debugger should start as usual
2. Be able to put breakpoints

## Software versions
- React-Native VS Code extension version:
- VSCode version: 0.10.2
- OS platform and version:  Windows 10.0.17763 N/A Build 17763
- NodeJS version: 10.16.0
- React Native version:     "expo": "^33.0.0",
    "react":

[2019-08-07 07:39] SounD120 commented on #1067
Hi @batchu and thanks for reaching us.
For debugging Expo application there is `Debug in Exponent` debug scenario instead of `Debug Android`.  This scenario will run Expo tunnel, so you don't need to execute `expo start` command. We are also have an [instruction for Expo debugging](https://github.com/microsoft/vscode-react-native/blob/master/doc/expo.md). I'd recommend to ensure that Expo server i

[2019-08-07 08:20] SounD120 commented on #1061
@abhinavkhajuria
![2019-08-07_11-03-32](https://user-images.githubusercontent.com/32372875/62606518-18967780-b905-11e9-853a-442db1d88371.png)
As seen in your cpu profile the most of the time took by WebSocket functions which are the part of `noice-rpc-json` package that we use to connect debugger with application. This means that for some reason that WebSocket hanged - some message from applicatio

[2019-08-08 00:32] batchu commented on #1067
@SounD120 I did go through that tutorial and I experienced the same behavior so I switched to "Debug in Android"

Here's what I see when I try the Expo method
https://ibb.co/L1sFz8Z

Thank you.

[2019-08-08 05:23] abhinavkhajuria commented on #1061
Well, this issue can be replicated during hot reloading, (when saving the code), and the occurrence of this is once in 2-3 days, since last month so far as per my observation.  And it generally occurs 2-3 hours of intensive development on VSCode.

[2019-08-08 06:57] SounD120 commented on #1067
@batchu could you please attach your outputs by the format pointed below?
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):
[code]
- Output of the Developer Tools console (Help -> Toggle Developer Tools -> Select Console tab):
[code]

[2019-08-09 06:58] SounD120 commented on #1061
@abhinavkhajuria Could you please describe your hardware configuration? Also, it will be very helpful for us if you can share minimal application demo in which this behavior is reproduces.

[2019-08-09 18:01] sbowen-tyemill commented on #823
For me, cd-ing into ./ios/ and running "pod install" solved the problem.

[2019-08-11 01:19] cvharris commented on #1067
I'm seeing the same thing. Nothing in any of the three outputs, just click 'Run' and it thinks for a sec before silently stopping. Maybe something to do with latest VSCode?

[2019-08-11 03:08] batchu commented on #1067
@SounD120 I second @cvharris. I do not see any output as well.

[2019-08-11 18:00] olegMarin commented on #1060
it really worked for me!

[2019-08-11 18:22] Saraceni commented on #1067
Having the same problem but I'm not using expo. I click play to start the Attach to packager config, it tries to runs but stops without any output

[2019-08-11 21:55] cvharris commented on #1067
I'm not using expo either.

It appears to be an issue on startup. If I restart the window (Cmd + P -> Reload Window) then debugger starts again.

Maybe the extension is failing to do something if previous Code windows are reopened on computer restart? This was an issue for me after upgrading Mac which required restart, and just now when my battery died again.

[2019-08-12 03:21] dimitarnestorov opened #1069 "Start packager on Attach to packager debug configuration"
After I built my app on my device/simulator I don't need to rebuild it every time I start working on it so I need a launch configuration that only starts
 and attaches to the packager. For now I'm using Attach to packager, but every time I launch VSCode I need to run it twice, because the packager control buttons in the status bar are missing:
![image](https://user-images.githubusercontent.com/879

[2019-08-12 09:31] SounD120 commented on #1069
Hi @dimitarnestorov and thanks for reaching us. Could you please fill all the information as noted in our [issue template](https://github.com/Microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md)? It will help to better understand the situation from our side.

[2019-08-12 10:48] ck86 commented on #1067
It's not starting anymore with the latest react-native CLI which does not have a `-v` option (anymore).

[code]

[2019-08-12 11:06] SounD120 commented on #1067
Hi @ck86 . Do you mean the latest https://www.npmjs.com/package/@react-native-community/cli package?

[2019-08-12 11:07] ck86 commented on #1067
Yes. Sorry, forgot that there was another one. :)

[2019-08-12 11:16] SounD120 commented on #1067
Hey @batchu , @cvharris , @Saraceni . Which React Native CLI version do you use?
Extension developed to work with the https://www.npmjs.com/package/react-native-cli,
https://www.npmjs.com/package/@react-native-community/cli may work but not yet supported.

[2019-08-12 11:23] SounD120 commented on #1057
The error `Current workspace does not contain React Native projects` may be connected with incompatibility of [new React Native CLI](https://www.npmjs.com/package/@react-native-community/cli) with `react-native -v` command which the extension uses. Recommendation is to use the [legacy React Native CLI](https://www.npmjs.com/package/react-native-cli) version which supports this command.

[2019-08-12 11:26] ck86 commented on #1067
This will solve the issue (for me). :)

[2019-08-12 11:33] dimitarnestorov commented on #1069
## Actual Behavior
1. Stats bar packaged controls are missing. Run Attach to packager to trigger their appearance.
2. Start packager.
3. Attach to packager.

## Expected Behavior
1. Run Start packager.

## Software versions
- React-Native VS Code extension version: 0.10.2
- VSCode version: 1.37.0
- OS platform and version: macOS 10.15
- NodeJS version: 11
- React Native version: 0.59.9

Not sure h

[2019-08-12 11:40] SounD120 commented on #1069
@dimitarnestorov Understood. Thanks for your feedback, we'll consider that and manage in order of priorities.

[2019-08-12 11:43] Saraceni commented on #1067
@SounD120 I'm currently using

react-native-cli: 2.0.1
react-native: 0.60.4

[2019-08-12 13:28] tiagomelilo opened #1070 "[Debug] react-native@ isn't supported"
## Actual Behavior
1. Configuration was added successfully in launch.json file.
2. Clicked "green arrow" or F5 to start debugging.
3. The debugger float dialog appeared for few seconds then disappeared.
4. App was never started.

## Expected Behavior
1. App and debugger should start.
or
2. Attach to packager

## Software versions
- React-Native VS Code extension version: 0.9.3
- VSCode version: 1.

[2019-08-12 13:41] tiagomelilo commented on #1070
Sorry.
I made a mistake.
I had not set the nodejs version to 12.8.0 in my vscode.
In my vscode, typed "nvm alias default 12.8.0" and now, debug started!
Thanks!

[2019-08-12 13:41] #1070 closed

[2019-08-12 14:58] SounD120 commented on #1067
@batchu Could you please share a minimal demo application where this behavior is reproduces?

[2019-08-14 08:01] SounD120 commented on #1061
@abhinavkhajuria Do you have a chance to look at this?

[2019-08-14 09:11] SounD120 commented on #1063
Hi @joebernard . This is a VS Code bug and the corresponding issue was created in the VS Code repo:
https://github.com/microsoft/vscode/issues/72412
As soon as this bug will be fixed this issue should be resolved.

[2019-08-14 09:11] #1063 closed

[2019-08-14 09:29] SounD120 opened #1073 "Add React Native Hermes JS engine debugging support"
# Description
Facebook released [Hermes JS engine](https://github.com/facebook/hermes) and implemented it to React Native Android. This engine is compatible with [Chrome DevTools Protocol](https://chromedevtools.github.io/devtools-protocol/) so we need to investigate how to implement Hermes debugging in React Native Tools.

# Important notice
Currently, Hermes doesn't fully support Chrome debugger

[2019-08-14 21:06] jb4e opened #1074 "Debugging busted when projectRoot != ${workspaceFolder}"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -

[2019-08-14 21:07] #1074 closed

[2019-08-14 21:29] jb4e opened #1075 "Debugging busted when projectRoot != ${workspaceFolder}"
First, thanks for the great extension. Debugging in chrome was becoming quite tiresome. However, it took me a couple hours to get things up and running (mainly because I was looking at the wrong log output). I'm not sure if it's a bug or my misunderstanding/lack of documentation.

My react-native project is not in my root workspace folder. The directory structure is:
- MyWorkspaceRoot
    - app (t

[2019-08-16 11:15] SounD120 commented on #1067
@batchu Do you have a chance to look at this?

[2019-08-16 19:26] pierceboggan opened #1077 "[Onboarding] Add empowering error message / experience for "Current workspace does not contain React Native projects" error"
## Actual Behavior
1. Clone a React Native project from GitHub. Do not restore packages.
2. Open React Native directory in Visual Studio Code.
3. Open the Command Palette and run "React Native: Run iOS on Simulator" command.
4. Error: Current workspace does not contain React Native projects.
5. Run "npm install" in Visual Studio Code terminal.
6. Open the Command Palette and run "React Native: Run

[2019-08-16 19:26] pierceboggan opened #1078 "[Onboarding] React Native workspace not identified correctly."
## Actual Behavior
1. Clone a React Native project from GitHub. Do not restore packages.
2. Open React Native directory in Visual Studio Code.
3. Open the Command Palette and run "React Native: Run iOS on Simulator" command.
4. Error: Current workspace does not contain React Native projects.
5. Run "npm install" in Visual Studio Code terminal.
6. Open the Command Palette and run "React Native: Run

[2019-08-17 22:52] batchu commented on #1067
@SounD120  I get the following error when I try that

`OS: win32 x64
Adapter node: v10.11.0 x64
vscode-chrome-debug-core: 6.7.46
Could not debug. Cannot read property 'getCurrentUserAsync' of undefined`

I have pushed my source code [here ](https://github.com/batchu/react-native-detect-orientation)to aid with the troubleshooting process. I've committed the .vscode and .expo folder for the same.

[2019-08-19 06:45] SounD120 commented on #1067
Hi @batchu . This error is a [known issue of expo-cli](https://github.com/expo/expo-cli/issues/864).
You can use the [following instruction](https://github.com/microsoft/vscode-react-native/issues/1060#issuecomment-513836253) to resolve your issue.
After applying a fix above I was able to debug your application with Expo.
Please let me know if you have any questions.

[2019-08-19 09:44] SounD120 commented on #1075
Hi @jb4e and thanks for your feedback! I just tried to reproduce your behaviour with such configuration:
- RootFolder
    - .vscode (folder with `launch.json` and `settings.json` files)
    - rnapp (React Native app)
    - otherProject1
    - otherProject2

Content of my `settings.json`:
[code]
Content of `launch.json`:
[code]
This configuration has started to work in my case just after VS Code re

[2019-08-19 10:02] SounD120 commented on #1067
@Saraceni Are you still experiencing this issue?

[2019-08-20 09:38] SounD120 commented on #1061
Hi @abhinavkhajuria . Reproducible demo and your hardware configuration is important information to understand where the performance bottleneck is. I close this issue for now due to inactivity. If you face this behavior in future - please add information about your configuration and demo application.

[2019-08-20 09:38] #1061 closed

[2019-08-20 10:21] #1075 closed

[2019-08-21 14:31] ruslan-bikkinin commented on #1062
Hi @pheuter, could you please clarify your use case of VS Code Remote Containers with the extension? As for now, it's not clear for us how it can be incorporated into React Native apps developing.

[2019-08-21 21:24] pheuter commented on #1062
Sure, and feel free to correct me if I misunderstood the use case. From my perspective I see Remote Containers as the tool by which I can enforce a consistent development environment across platforms. By setting up a Docker image with all the necessary prerequisites, as well as controlling the version of Node, developers are then able to work on the codebase with tools like autocompletion and cons

[2019-08-22 07:37] i7soft opened #1081 "React native cannot be debugged in a subdirectory"
## Folder structure
├ project
----├ .vscode
--------├ launch.json
--------├ settings.json
----├ platform
--------├ mobileReactNative ☜ react native root
------------├ index.js

settings.json has set the react-native-toos.projectRoot like this:
[code]
./platform/mobileReactNative/index.js :
[code]

## Actual Behavior
1. Cannot enter breakpoints during debugging
2.

## Expected Behavior
1.
2.

## So

[2019-08-22 08:05] ruslan-bikkinin commented on #1062
@pheuter understood, so you want to put Node environment, potentially, Android SDK into a container, build and run RN app using the container and be able to debug it via VS Code, is that correct?

[2019-08-22 08:05] thibmaek commented on #1012
I have no clue how to fix this but will list my setup again:

- In my vscode settings: `"terminal.integrated.shell.osx": "/usr/local/bin/zsh",`
- In my .zshrc: `export PATH="/usr/local/opt/node@10/bin:$PATH"`
- When logging path via vscode devtools: `(4) ["/usr/bin", "/bin", "/usr/sbin", "/sbin"]`
- When logging PATH via integrated shell: `/usr/local/opt/node@10/bin:/Users/thibault.maekelbergh/.rb

[2019-08-22 09:06] ruslan-bikkinin commented on #1012
@thibmaek as you can see PATH that is being exposed to VS Code differs from the PATH that is being exposed to integrated shell. For some reason PATH export defined in .zshrc isn't engaged by VS Code when it's started. I think, you can try to workaround it by doubling the export in .bash_profile.

[2019-08-22 11:41] thibmaek commented on #1012
@ruslan-bikkinin putting the export in .bash_profile yields the same result

[2019-08-22 16:05] keithmattix commented on #1062
For what it's worth, I constantly use VS Code Remote Containers for my react-native development workflow, and have virtually no problems

[2019-08-22 16:54] pheuter commented on #1062
@ruslan-bikkinin That's exactly right.

[2019-08-23 10:29] ruslan-bikkinin commented on #1012
@thibmaek understood. I'd suggest you to reach out VS Code team then because this is more likely  zsh/VS Code issue than an extension one.

[2019-08-23 16:52] jb4e commented on #1075
Thank you @SounD120 for the tips and fixing the directory creation issue!

[2019-08-25 20:33] batchu commented on #1067
Unfortunately yes. Let me know if you need any information from me to troubleshoot this. Thank you.

[2019-08-26 05:38] SounD120 commented on #1067
@batchu Have you tried applying the [fix](https://github.com/microsoft/vscode-react-native/issues/1060#issuecomment-513836253) described above?
To workaround your error simply reinstall `@expo/xdl` package in extension directory. Here is the exact steps:
* Open extension directory in terminal: `%USERPROFILE%\.vscode\extensions\msjsdiag.vscode-react-native-0.10.2`
* Uninstall @expo/xdl: `npm uni --

[2019-08-26 08:34] Unforgiven-wanda opened #1083 "Unknown named module: "../../src/methods/node.js""
## Actual Behavior
Debug does not start, instead I get this
![DeepinScreenshot_select-area_20190826093343](https://user-images.githubusercontent.com/4499783/63677315-9ce16980-c7e4-11e9-94fb-9f7348a9dcda.png)

## Expected Behavior
For debug to work

## Software versions
- React-Native VS Code extension version: 6.7.46
- VSCode version: 1.37.1
- OS platform and version: Manjaro Deepin (Arch Linux) x

[2019-08-26 08:38] ruslan-bikkinin commented on #1083
Hi @Unforgiven-wanda and thanks for reaching us. Could you please try to run the app using `react-native run-android` without using the extension at all and let us know if issue is still persists?

[2019-08-26 08:45] ruslan-bikkinin commented on #1081
Hi @i7soft and thanks for reporting. Please try the following steps and let us know if it helps:
* Update the extension to v0.11.0;
* Add `"cwd": "${workspaceFolder}/platform/mobileReactNative"` to the debug configuration you use in `project/.vscode/launch.json`.

[2019-08-26 08:47] Unforgiven-wanda commented on #1083
Running the app using ```react-native run-android``` runs fine. Trying to debug using Chrome also runs fine. However trying the "Attach to Packager" method results in the error mentioned above.
Same thing when using "Debug Android" available in VsCode.

[2019-08-26 09:22] SounD120 commented on #1083
Hi @Unforgiven-wanda . Could you please share a demo application where this behavior is reproduced? Also you can try to clear your caches and to run debugging again. You can use the following instruction:
1. Clear watchman watches: `watchman watch-del-all`,
2. Delete node_modules: `rm -rf node_modules` and run `yarn install`,
3. Reset Metro's cache: `yarn start --reset-cache`,
4. Remove the cache:

[2019-08-26 09:47] Unforgiven-wanda commented on #1083
After some more digging I think the issue may come from a module called ```broadcast-channel``` that is a dependency of ```RxDB```. I'll continue investigating and update this issue accordingly.

Also clearing the cache and reinstalling did not help.

[2019-08-26 13:24] serkanz commented on #983
Hi,

I think this behavior is not related with redux-logger only. In my project I don't use redux-logger, I use redux, redux-thunk and react-navigation. After request a resource and dispatch an action with redux-thunk a number of times, app stops responding. When using expo start command, everything is working as expected.

Regards

[2019-08-26 17:16] pubkey commented on #1083
Author of `broadcast-channel` here.
To reduce bundle-size, `broadcast-channel` does a `require()` call only when the node-platform is detected. See [here](https://github.com/pubkey/broadcast-channel/blob/master/src/method-chooser.js#L27). I tested this with multiple bundlers but it seems like vscode does the resolution different.

[2019-08-27 09:41] ruslan-bikkinin commented on #1060
@jaikme unfortunately, yes. We can't do much about it because this is Expo issue. If you want to get it resolved quicker, I'd suggest to go to the issue page and vote for it/leave a comment.

[2019-08-27 13:04] SounD120 commented on #1083
Hi @pubkey , @Unforgiven-wanda . Thanks for help. I proposed a fix for that. Could you please try it? To do that please do the following:
* Download and unzip compiled extension VSIX from `fix-node-process-finding`
branch: [vscode-react-native-0.11.0.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3546184/vscode-react-native-0.11.0.vsix.zip)
* Uninstall extension
* Restart VS Code

[2019-08-27 13:30] Unforgiven-wanda commented on #1083
Hello again and thank you for taking the time.
With your patched version of the plugin I am no longer getting the above error but a new one instead:

[code]

Here is the complete log.

[code]

As an aside I have tested the debugging tool of Webstorm (Had a trial lying around) and it works fine.
Debugging in the browser also works fine.

[2019-08-27 13:33] #935 closed

[2019-08-27 13:38] SounD120 commented on #1083
@Unforgiven-wanda Could you please provide a demo application so we could reproduce the behavior you described?

[2019-08-27 13:56] Unforgiven-wanda commented on #1083
On it.

[2019-08-27 14:49] Unforgiven-wanda commented on #1083
Here [it is](https://github.com/Unforgiven-wanda/vscode-issue). This is literally the project I'm working on at the moment, simply expunged of anything sensitive (which is 99% of the codebase) still I managed to reproduce the issue on it.
Again, thank you for taking the time.

[2019-08-28 05:02] hedgepigdaniel commented on #1067
I experienced this problem - it would be good if a useful error message was logged in case the `react-native run-<platform>` command didn't work. Currently it seems that any such error causes the debugger to stop silently without logging anything.

[2019-08-28 05:09] hedgepigdaniel opened #1087 "Remove requirement to have react-native-cli installed globally"
## Actual Behavior
1. Do not install `react-native-cli` globally because it requires unecessary work to set up a dev environment. Instead only install it as a dependency in the project. Use `yarn run react-native ...` instead of `react-native ...`.
2. Try to debug react-native app using this extension
3. Find that the debugger fails to start as in https://github.com/microsoft/vscode-react-native/i

[2019-08-28 12:23] SounD120 commented on #1083
Hi @Unforgiven-wanda . I was able to reproduce the behavior you described and proposed a fix. Could you please try patched version and let us know how it works for you? You can install it using the instruction above.
[vscode-react-native-0.11.0.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3550810/vscode-react-native-0.11.0.vsix.zip)

[2019-08-28 13:58] Unforgiven-wanda commented on #1083
Hi again @SounD120
I'm still encountering the same ```buffer``` error mentioned above with this new version.

[2019-08-28 14:04] SounD120 commented on #1083
@Unforgiven-wanda Are you doing something inside your app so this error shows up?

[2019-08-28 14:10] Unforgiven-wanda commented on #1083
Aside from including the ```RxDB```? Not much no.
The errors also shows up in the bare project I linked above. It has literally a single view with styles and initializes the RxDB database, that's it.

[2019-08-28 14:25] SounD120 commented on #1083
@Unforgiven-wanda Could you please also make sure that the latest version was installed correctly?
To do that please do the following:
* Uninstall extension (when clicked VS Code will mark it for deletion, but will not delete until you restart VS Code)
* Restart VS Code
* Click `Extensions` (at this point all the extensions marked for deletion are deleted and you can install a new version)
* Click

[2019-08-28 14:50] Unforgiven-wanda commented on #1083
Ah yes, you are right, it works now.
Sorry, I had not realized you need a complete restart of VsCode, as opposed to simply reloading the window. My apologies.
The whole thing works fine now. Many thanks for your efforts.
Will this be merged into a future version of this plugin?

[2019-08-29 06:15] SounD120 commented on #1083
@Unforgiven-wanda Glad to hear that. Sure. It will be released as part of the new version of the extension.

[2019-08-29 07:06] Unforgiven-wanda commented on #1083
Then I'm closing this issue. Thank you!

[2019-08-29 07:06] #1083 closed

[2019-08-29 09:05] PDostalek opened #1090 "[loc][Query][vscode-react-native] Localizability of 0; "package.reactNative.launch.target.description""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Target to run on. Possible values: 'simulator', 'device', '<Android emulator/device id>', '<iOS simulator/device name>'

File Name:
Src\vscode-extensions\vscode-react-native.xlf

==========================================

[2019-08-29 09:08] PDostalek opened #1091 "[loc][Query][vscode-react-native] Localizability of 0; "package.reactNative.launch.runArguments.description""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Run arguments to be passed to 'react-native run-<platform>' command (override all other configuration params)

File Name:
Src\vscode-extensions\vscode-react-native.xlf
==========================================
Query:
Woul

[2019-08-29 09:19] SounD120 commented on #1090
Hi @PDostalek . 'simulator', 'device' are not localizable. '<Android emulator/device id>', '<iOS simulator/device name>' must be localized.

[2019-08-29 09:22] SounD120 commented on #1091
Hi @PDostalek . What do you mean by

[2019-08-29 10:27] PDostalek commented on #1091
Excuse me : That should be "Would you please check if "<platform>" is translatable"

[2019-08-29 10:32] PDostalek opened #1092 "[loc][Query][vscode-react-native] Localizability of 0; "package.reactNative.attach.trace.description""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Logging level in debugger process. May be useful for diagnostics. If set to "Trace" all debugger process logs will be available in 'Debug Console' output window.

File Name:
Src\vscode-extensions\vscode-react-native.xlf

Q

[2019-08-29 10:33] ruslan-bikkinin commented on #1091
@PDostalek looks like your question is missing a text inside double quotes. So you sent us a question:

but it doesn't make any sense because there is no text inside "".

[2019-08-29 10:34] PDostalek commented on #1091
Is "Run" verb, as in run "argument"?
Or noun as in the "run argument"?

[2019-08-29 10:38] SounD120 commented on #1092
Hi @PDostalek . It is a noun in this context. `Logging level` means how much logs user wants to see. There are different logging levels such as "verbose", "error" etc.

[2019-08-29 10:42] SounD120 commented on #1091
@PDostalek "run argument" is a noun in this context. "platform" in angled brackets is translatable.

[2019-08-29 12:31] SounD120 commented on #1081
Hi @i7soft . Do you have a chance to look at this?

[2019-08-29 12:45] i7soft commented on #1081
@ruslan-bikkinin @SounD120 thank you for the help.
 I have upgraded to 0.11.0, but when I debug ios, I canot enter the breakpoint too.  I can only see the debug information with "console.log". In andorid, the debug information with "console.log" is only displayed in LogCat.

[2019-08-30 03:27] SumitShukla007 commented on #381
I was using beautify and after uninstalling it solved the problem.

[2019-08-30 13:38] SounD120 commented on #1081
@i7soft Have you tried to put breakpoints in other files except `index.js`? Does debugging work there?

[2019-08-30 13:51] i7soft commented on #1081
@SounD120 In ios, still can't debug, in index.js too, but I found that I can hit other breakpoints (the code for these breakpoints is executed after the app has run for a few minutes)

[2019-08-31 08:39] SounD120 commented on #1081
Hi @i7soft . Could you please share a demo application and indicate where you set breakpoints that don't work?

[2019-08-31 09:02] SounD120 commented on #1067
Hi @batchu . Do you have a chance to try my recommendations?

Hi @hedgepigdaniel in your case all output channels (View -> Toggle Output -> React-Native) was empty?

[2019-08-31 14:30] i7soft commented on #1081
@SounD120 Ok, I will provide a demo and then record a video.

[2019-09-01 02:48] i7soft commented on #1081
@SounD120 demo and the video are in :

https://github.com/i7soft/reactNativeDemo

[2019-09-03 16:24] javiereotero opened #1094 "[Debug] react-native@ isn't supported"
First, I wanted to thank the team of contributors for authoring such a valuable tool for the React Native community. I recently switched to VSCode and absolutely love the experience so far. When looking to bring my debug game to the next level with this extension, I unfortunately ran into the following. Thank you in advance for any insights you can provide.

## Actual Behavior
(pulling in some Act

[2019-09-03 18:22] kalpeshasuthar commented on #381
I was having same issue and solve it using this trick thanks :)

[2019-09-04 14:13] SounD120 commented on #1067
Hi guys. I'm closing this issue due to inactivity. Feel free to open new issues if needed.

[2019-09-04 14:13] #1067 closed

[2019-09-05 10:02] liyikun opened #1095 "Need to set the default cli command"
## Actual Behavior
1.  The default command used is react-native, but we use is crn-cli

## Expected Behavior
1. Support setting normal cli ,  normal is 'react-native run-ios' , I would like to be able to run the command '[default-cli] run-android ' when starting the debugger from Visual Studio Code.
2. Example 'crn-cli run-ios'

## Software versions
- React Native version:
- https://github.com/ctr

[2019-09-05 10:05] liyikun commented on #1095
[https://github.com/microsoft/vscode-react-native/blob/229e4d5170d2ce55c5c34430e3b5df4af82d4813/src/common/commandExecutor.ts](url)

[code]

Support  diy

[2019-09-06 02:56] afshawnlotfi commented on #1012
I am having the same problem. Anyone found a solution or workaround

[2019-09-06 03:04] afshawnlotfi opened #1096 "Debugger immediately quits on "Attach to packager" for Expo"
## Actual Behavior
1. Debugger immediately quits

## Expected Behavior
1. Attach debugger waits for debug connection

## Software versions
- React-Native VS Code extension version: 1.38.0
- VSCode version: 1.38.0
- OS platform and version: macOS Mojave 10.14.4 (18E227)
- NodeJS version: v12.10.0
- React Native version: 2.0.1
- Expo SDK version (include if relevant): 3.0.10

## Outputs (Include if

[2019-09-06 03:14] afshawnlotfi commented on #1096
Weird when I restarted my computer everything started working all of a sudden. Sorry to be a bother

[2019-09-06 03:14] #1096 closed

[2019-09-06 07:48] SounD120 opened #1097 "Optimize activationEvents in package.json"
Currently extension activates by [`onDebug`](https://github.com/microsoft/vscode-react-native/blob/13a9942728c2e3d62b3a5353d0a74b05cd2c8919/package.json#L31) event. That means that it can be activated by initiating debugging from other extensions. Need to investigate how to avoid such behavior.
 [DebugConfigurationProvider](https://code.visualstudio.com/api/extension-guides/debugger-extension#usin

[2019-09-06 08:16] PDostalek opened #1098 "[loc][Query][vscode-react-native] Localizability of 0; "./src/nativeStrings.child_exec_failed""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Child exec failed {0}

File Name:
Src\vscode-extensions\cpptools.xlf

Query:
What does the placeholder {0} stand for? Name of the child process? Shouldn't it be before the word 'failed' then?

[2019-09-06 08:21] SounD120 commented on #1098
Hi @PDostalek . It looks like this string is from [vscode-cpptools](https://github.com/microsoft/vscode-cpptools). Our team can only answer localization questions for vscode-react-native extension. I recommend to send your question to vscode-cpptools team.

[2019-09-06 08:21] #1098 closed

[2019-09-06 08:24] PDostalek commented on #1098
Many thanks for reffering

[2019-09-06 08:32] SounD120 commented on #1092
Hi @PDostalek . Do you have any questions?

[2019-09-06 08:54] RedMickey opened #1099 "Known issues with Hermes debugging"
The extension has experimental support for React Native Hermes debugging. At this moment we know about several issues related to Hermes debugging. Please see the list of known issues below.

The table of problems consists of two columns: first one illustrates the problem when debugging the app with Hermes enabled using prototype of the debugger in the extension, second one - when Chrome is used fo

[2019-09-06 10:05] ospfranco opened #1100 "After some reload cycles, debugging stops working"
Hey, some I'm having some trouble with the vscode setup.

## Actual Behavior
1. Start react-native via vscode
2. Develop with live-reload/hot-reload
3. After a few cycles the debugger will die and the device/simulator says `debugger is not ready`

## Expected Behavior
Even after several cycles the debugger keeps working

## Software versions
- React-Native VS Code extension version: 0.11.0
- VSCod

[2019-09-06 20:53] StanS-AWS commented on #1094
Are you able to see the version of react-native in vsc terminal?
PS > react-native -v
react-native-cli: 2.0.1
react-native: 0.59.8

I was able to fix similar issue when expo-cli was installed but react-native-cli did not. The fix was to run:
npm install -g react-native-cli

[2019-09-07 08:29] orefors commented on #1060
So, I apply the @expo/xdl downgrade workaround suggested by @ruslan-bikkinin above, which gets rid of the get "Cannot read property 'getCurrentUserAsync' of undefined" and everything appears to be good. However, when I try to run the app in my android Expo client app, I get a message that the "Packager not running at...." and it all comes to a stop.  Running VS code1.38 with React Native Tools 0.1

[2019-09-09 13:08] SounD120 commented on #1091
Hi @PDostalek do you need any more help from my side?

[2019-09-09 13:08] SounD120 commented on #1090
Hi @PDostalek do you need any more help from my side?

[2019-09-10 12:20] RedMickey opened #1101 "Add local React Native CLI support"
We received a lot of feedback connected with current work approach with React Native CLI from the extension side. The most problems arise with the extension requirement is to have global React Native CLI installed and with current React Native project version checking mechanism.

Below we collected the list of issues that should be covered by the extension's workflow refactoring.

## The list of e

[2019-09-10 12:24] SounD120 commented on #1087
Hey guys. I am closing this because this enhancement will be implemented as part of #1101.

[2019-09-10 12:24] #1087 closed

[2019-09-10 12:24] SounD120 commented on #1095
Hey guys. I am closing this because this enhancement will be implemented as part of #1101.

[2019-09-10 12:24] #1095 closed

[2019-09-10 12:24] SounD120 commented on #1078
Hey guys. I am closing this because this enhancement will be implemented as part of #1101.

[2019-09-10 12:24] #1078 closed

[2019-09-10 12:24] SounD120 commented on #1077
Hey guys. I am closing this because this enhancement will be implemented as part of #1101.

[2019-09-10 12:24] #1077 closed

[2019-09-10 12:25] SounD120 commented on #1057
Hey guys. I am closing this because this enhancement will be implemented as part of #1101.

[2019-09-10 12:25] #1057 closed

[2019-09-10 12:38] RedMickey commented on #1094
Hi, @javiereotero, thanks for reaching us. Was the previous advice useful? In our case it helped to solve this issue. We found the reason of this behavior and now we are investigating how to fix it. We created the issue [`Add local React Native CLI support #1101`](https://github.com/microsoft/vscode-react-native/issues/1101), which contains your problem, and added it to backlog. Therefore, we clos

[2019-09-10 12:39] #1094 closed

[2019-09-10 13:43] javiereotero commented on #1094
Hi @StanS-AWS and @RedMickey, I believe the previous advice _may_ have been useful. I ran `react-native -v` several times and got conflicting results in/out of the directory. When installing `npm install -g react-native-cli` I ran into a few npm related issues that I need to resolve before verifying this fix. Once I do that, I'll post my results here just to confirm it resolves the issue.

Really

[2019-09-10 13:43] RedMickey commented on #1100
Hi @ospfranco and thanks for reporting.
Could you please provide us minimal demo application where this behavior is reproduced? Also it will be very helpful for us if you also describe:
1) Algorithm of actions leading to this behavior
2) How often does this behavior occur
3) Your hardware configuration which you can get by running react-native info terminal command inside your project

[2019-09-12 18:08] AndrewMorsillo opened #1102 "Current workspace does not contain React Native projects"
This is similar to #1012 but I've confirmed everything posited as a potential solution in that thread. There's something else going on here. The path definitely includes node (v12.10.0), npm (6.10.3), and react-native (cli v2.9.0). Node is installed via nvm and the version on the path is set as default. All settings are default for the vscode-react-native plugin. My project is standard react-nativ

[2019-09-13 11:30] SounD120 commented on #1081
Hi @i7soft . Could you please try to add `debugger;` string at the top of your app.js file and let us know how it works for you?

[2019-09-13 13:18] RedMickey commented on #1100
Hi @ospfranco. Do you have a chance to look at this?

[2019-09-13 13:52] RedMickey commented on #1102
Hi @AndrewMorsillo and thanks for reaching us.
Could you please run `nvm ls` and send the output to us?
Could you please also add the following line
[code]
to your `settings.json`, reload VS Code, run your command and share logs with us?
You can use a format described below:
- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native: run iOS in ListBox):
[code]
- Out

[2019-09-13 15:23] AndrewMorsillo commented on #1102
`nvm ls` output

[code]

Command output with logLevel: "Trace"

[code]

package.json

[code]

[2019-09-15 11:04] i7soft commented on #1081
@SounD120 After add `debugger;` string at the top of your app.js file, it can enter breakpoints in iOS,but still not work in Android

[2019-09-16 08:10] RedMickey commented on #1102
Hi @AndrewMorsillo. Your `package.json` file shows that you have react-native-cli installed locally, but extension requires to have react-native-cli to be installed globally, so I'd recommend to uninstall local package, global CLI packages and reinstall it globally. You can use the following commands:
[code]
Could you please also run the following command and send us the output after `react-native

[2019-09-16 08:54] ospfranco commented on #1100
Hey, sorry, I did not have time to produce a working demo application, currently very busy, I can try to provide more information though:

1. I cannot really tell you any deterministic steps to reproduce it, since I'm developing a fairly large application, only that after several live reload/hot reload cycles the debugger starts to slow down and eventually completely stops

2. Fairly often on my d

[2019-09-16 12:15] PDostalek commented on #1090
Thanks for clarification, closing

[2019-09-16 12:15] #1090 closed

[2019-09-16 12:21] PDostalek commented on #1091
Thanks

[2019-09-16 12:21] #1091 closed

[2019-09-16 12:30] PDostalek commented on #1092
Perfect, thanks !

[2019-09-16 12:30] #1092 closed

[2019-09-16 12:44] AndrewMorsillo commented on #1102
I did already have it installed globally. Prior to reinstalling, `which react-native` return:

[code]

After reinstalling (I tried a global install with both npm and yarn and they both work fine)

[code]

I'm not sure what the original issue was since you can see it was always accessible on the same path.

I'm curious as to why this extension requires the global deprecated package `react-native-cl

[2019-09-16 13:12] RedMickey commented on #1102
@AndrewMorsillo Glad to hear that your issue is resolved.
With respect to the `react-native-cli` deprecation, we are reworking our approach to work with local React Native CLI now. You can track the progress in that [issue](https://github.com/microsoft/vscode-react-native/issues/1101). Please let us know if you have any questions.

[2019-09-16 18:35] #1102 closed

[2019-09-19 07:08] #1097 closed

[2019-09-19 10:56] ezranbayantemur opened #1106 "Not all success patterns were matched. (error code 712)"
## Actual Behavior
I'm trying to debug a RN project but it gives error on below. I'm using my pc on Turkish language so package installed on TR as by default. But it found same error output on EN and I will post on below.

I checked [this issue](https://github.com/microsoft/vscode-react-native/issues/898) but I'm not using any package runner at same time. I just open project folder on VS Code and

[2019-09-19 11:01] SounD120 commented on #1106
Hi @ezranbayantemur and thanks for reaching us. Could you please also provide us logs from
`View -> Toggle Output ->  React Native: Run Android` output channel?

[2019-09-19 14:22] ezranbayantemur commented on #1106
[code]

[2019-09-20 11:01] rluncasu commented on #729
same issue here

[2019-09-20 11:47] SounD120 commented on #729
Hi @rluncasu . Please create a new issue for your specific case.

[2019-09-20 23:41] rurikoaraki opened #1108 "TypeError when trying to use Attach to packager config"
## Actual Behavior
1. Run Haul
2. Use attach to packager config
3. Run React Native app
4. Get error in debug console

## Expected Behavior
1. Run Haul
2. Use attach to packager config
3. Run React Native app
4. No errors

## Software versions
- React-Native VS Code extension version: 0.11.1
- VSCode version: 1.38.1
- OS platform and version: Windows Version 1809
- NodeJS version: v8.16.0
- React

[2019-09-21 21:34] nicotroia commented on #324
If there is an emulator stuck on "connecting" when you do `adb devices` then that means there is a program running within the adb port range. (`emulator-5562` for me running on 5562 was stuck on "connecting").

I discovered that the Native Instruments Access program which I installed, runs `NTKDaemon` on my computer (on port 5562). In order to build and start my app on emulator I have to force clo

[2019-09-22 13:40] superandrew opened #1109 "Expo app doesn't connect to packager"
It's been 3 hours that I'm trying to figure out what broke my working setup out of nowhere.

My expo application doesn't connect to packager, let it alone debug it. If I launch `expo r` everything works like a charm.

I tried to disable the debugger from expo and just make the application start. I checked also from another device (not simulator) and the behaviour is exactly the same.

Any other ap

[2019-09-22 14:15] superandrew commented on #1109
I was able to restore debugging after deleting the `.expo-shared` which contained this `asset.json` file:

[code]

[2019-09-22 16:54] superandrew commented on #1109
I just realized that expo shared is created when assets are optimized. I guess that `rm -rf node_modules` and a couple of `yarn install` and kill whatever must have worked. However I have to say this.

This extension is FANTASTIC. And works 98% of the time. The 2% is when something gets stuck and it is so frustrating not knowing what can obliterate the setup and MUST work to reset the status.. any

[2019-09-23 07:41] SounD120 commented on #1109
Hi @superandrew and thanks for reaching us. I [faced](https://github.com/expo/expo-cli/issues/951) such behavior with Expo apps, and I found out that there is `https: "false"` line in `.expo/settings.json` file which is most likely blocks https requests inside the app. Could you please check your `.expo/settings.json` file and let us know if it contains such line?

[2019-09-23 08:44] superandrew commented on #1109
Hi @SounD120 I can confirm that the line is there. Googling for the problem, that was one of the first things that I tried to change, to no avail. However I'm not sure if after changing that line to `"https":true` I should have done some extra steps to "rebuild" the application with the new settings applied.

[2019-09-23 09:41] SounD120 commented on #1109
@superandrew Since that problem was reproduced without the extension at all, I think it is a problem of expo and expo-cli. I think that will be resolved as soon as [this](https://github.com/microsoft/vscode-react-native/issues/1109) issue will be fixed.
I am closing this issue for now. Please feel free to create new issues, if have any.

[2019-09-23 09:41] #1109 closed

[2019-09-23 09:44] superandrew commented on #1109
thanks @SounD120 you probably meant to link the other issue, you linked the current one in your comment. Thanks for your support, this plugin is awesome!

[2019-09-23 10:26] leeprobert commented on #823
`Could not debug. Error while executing command 'react-native run-ios --simulator --no-packager --verbose': Error while executing command 'react-native run-ios --simulator --no-packager --verbose' (error code 101)
To client: {"seq":0,"type":"event","event":"terminated"}
From client: disconnect({"restart":false})
To client: {"seq":0,"type":"event","event":"output","body":{"category":"telemetry","ou

[2019-09-23 10:28] ezranbayantemur commented on #1106
@SounD120  Will you not gonna help about it?

[2019-09-23 10:37] SounD120 commented on #1106
Hi @ezranbayantemur . I am investigating your issue right now, and found out that there is an issue with encoding in your `React Native: Run Android` outputs with `BUILD SUCCESSFUL` message, which is used to validate the build logs.
Did you modify project encoding, or maybe change gradle scripts?

[2019-09-23 11:25] SounD120 commented on #1106
@ezranbayantemur Could you please also try to run the command `react-native run-android` and attach the output of this command here?

[2019-09-23 13:56] SounD120 commented on #1106
@ezranbayantemur I also recommend you to clear Gradle caches. To do that please run the following command:
[code]
Please let us know if it helps.

[2019-09-24 12:10] SounD120 opened #1113 "Replace Q package with native promises"
As for now extension uses Q promise package for async operations. Migration to async/await API will allow to remove redundant dependencies from the code base and also make it more consistent and reliable.
Since we have over 500 usages of Q, I think we can try to divide the work by the folders in the extension code base as pointed below.
Progress:
- [x] Replace all Q usages
  - [x] Replace Q usages

[2019-09-24 17:33] rurikoaraki commented on #1108
Thanks! Do you have an idea of when the new release will come out?

[2019-09-24 20:03] kevinnguy opened #1115 "Getting error 101 when debugging iOS"
## Actual Behavior
Running my debug configuration for iOS doesn't work. I get the error:
`Error while executing command 'react-native run-ios --scheme 'dev' --simulator='iPhone SE' --verbose --no-packager' (error code 101)`

## Expected Behavior
Debugging should work as normal

## Software versions
- React-Native VS Code extension version: 0.11.1
- VSCode version: 1.38.1
- OS platform and version:

[2019-09-25 08:03] SounD120 commented on #1115
Hi @kevinnguy and thanks for reaching us. It seems that there is a `=` symbol is missing in the `scheme` declaration of your arguments. Could you please try to add it so the first argument will look like `--scheme=dev`?
Also as seen from your debug configuration, you can use special debug configuration parameters instead of `runArguments` such as `scheme` and `target`.
Here is the example of the d

[2019-09-25 08:27] NeliHarbuzava opened #1116 "Arrow function loses its context"
## Actual Behavior
0. I am running the RN app on Android emulator using _Debug Android_ configuration (or manually running **react-native run-android** and _Attach to packager_ config).
1. I have a component that has structure (simplified) just like this:
[code]
2. In **componentDidMount** method I make some calls using arrow functions, inside which I am calling methods of Login component via this

[2019-09-25 14:12] SounD120 commented on #1108
Hi @rurikoaraki . I think this week.

[2019-09-25 17:12] #1108 closed

[2019-09-25 23:55] i7soft commented on #823
[Error] Error: 执行命令 react-native run-ios --simulator --no-packager --verbose 时出错: 执行命令 react-native run-ios --simulator --no-packager --verbose 时出错 (error code 101)

[2019-09-26 00:53] i7soft commented on #1081
@SounD120 when i debug ios,it show:
`[Error] Error: 执行命令 react-native run-ios --simulator --no-packager --verbose 时出错: 执行命令 react-native run-ios --simulator --no-packager --verbose 时出错 (error code 101)`

in android:no error ,but still can not enter breakpoint

[2019-09-26 00:54] i7soft commented on #1081
ios run with xcode is ok

[2019-09-26 00:56] i7soft commented on #1081
can we use remote Assistance?@SounD120

[2019-09-26 07:17] SounD120 commented on #1081
Hi @i7soft . As seen from your video in https://github.com/i7soft/reactNativeDemo repository, it looks like [`Remote JS Debug`](https://facebook.github.io/react-native/docs/debugging#accessing-the-in-app-developer-menu) is disabled on Android emulator. Could you please try to enable it and let us know how debugging works with new extension version?
To do that please do the following:
1. Start `Deb

[2019-09-26 07:35] i7soft commented on #1081
@SounD120 thanks,it is work!!!!!!!!!!
add `debugger;` string at the top of app.js file is need

[2019-09-26 07:39] SounD120 commented on #1081
@i7soft Have you tried new extension version with a fix https://github.com/microsoft/vscode-react-native/issues/1081#issuecomment-533490551 ? It should work without `debugger;` string at the top of `App.js` file. Could you please try it and let us know how it works for you?

[2019-09-26 07:48] i7soft commented on #1081
`0.11.1`is work without `debugger; `string @SounD120
🎉🎉🎉🎉🎉

[2019-09-26 07:53] SounD120 commented on #1081
@i7soft Glad to hear it. This fix will be released as a part of new extension version. We'll let you know when it will out.

[2019-09-26 08:06] i7soft commented on #1081
@SounD120 Thank you for your work~👍

[2019-09-26 08:21] i7soft opened #1119 "Can not debug when install haul"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version: 0.11.1
- VSCode version: 1.38.1
- OS platform and version: Mac OS 10.14.6
- NodeJS version: 10.11.0
- React Native version: 0.60.5
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
.vscode

[2019-09-26 08:23] SounD120 commented on #1119
Hi @i7soft . The fix for that issue is already proposed and will be released soon. Duplicate of #1108

[2019-09-26 08:23] #1119 closed

[2019-09-26 08:26] i7soft commented on #1119
@SounD120 👌

[2019-09-26 17:35] kevinnguy commented on #1115
@SounD120 thanks so much, it was using the `scheme` and `target` params that fixed the issue.

[2019-09-26 17:35] #1115 closed

[2019-09-26 23:18] rurikoaraki commented on #1108
Just verified that the new release fixes this issue for us. Thanks for the quick fix!

[2019-09-27 10:11] SounD120 commented on #1116
Hey @EricCornelson could you please take a look on this as it looks like node-debug2 issue?

[2019-09-27 11:04] SounD120 commented on #1106
Hi @ezranbayantemur . Are you still experiencing this issue?

[2019-09-29 20:49] guveniscan opened #1121 "Debugging doesn't start on iOS and Android"
## Actual Behavior
1. After pressing run button to debug Android or iOS app, the debug bar quickly dismisses and app doesn't run
![ScreenRecording2019-09-29at22344](https://user-images.githubusercontent.com/3617820/65839043-02f06d80-e30a-11e9-9ae3-41b6b51e8a9b.gif)

## Expected Behavior
1. It should trigger iOS simulator or Android device in the same way `react-native run-ios` or `react-native run

[2019-09-30 06:19] ezranbayantemur commented on #1106
I will working on it today

[2019-09-30 09:31] ezranbayantemur commented on #1106
I created a new project with ``` react: "16.9.0", react-native: "0.61.1" ``` versions for being sure and I ran project for first time, it worked successfully. Also I clean gradle with ```gradlew clean``` command just in case.

Later I create configuration for React Native on Debug section, press Run and it gives these outputs.

**OUTPUT > React Native Run Android Platform**
[code]

**OUTPUT > Reac

[2019-09-30 10:29] RedMickey commented on #1121
Hi @guveniscan and thanks for reaching us. Could you please try to do the following:

1. Remove `node_modules` from your project
1. Execute `npm i`
1. Restart VS Code window
1. Try to debug

If after these steps the problem remains, could you please send us your `package.json` content?

[2019-09-30 10:44] guveniscan commented on #1121
It persists, this is my package.json:

[code]

[2019-09-30 11:32] RedMickey commented on #1121
@guveniscan then could you please run `react-native --version` command and send us its output?
Could you please also add the following parameter to iOS debug scenario in your `launch.json` file:
[code]
Then launch debugging and please send us the following logs outputs:
## Outputs
- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):
[code]
- Output

[2019-09-30 11:49] guveniscan commented on #1121
Thanks for the follow up. There is no output to `react-native --version`

The output of `react-native start --verbose` looked fishy though with current release: 0.61.1 and cached release 0.60.0:
<img width="1081" alt="Screen Shot 2019-09-30 at 13 43 37" src="https://user-images.githubusercontent.com/3617820/65876031-bf891400-e388-11e9-9140-e7a095e358e9.png">

Also I am missing both `React-Native`

[2019-09-30 13:02] SounD120 commented on #1106
Hi @ezranbayantemur this issue is specific only for Turkish language and this is a [Gradle bug](https://issuetracker.google.com/issues/126874329). For some reason in `BUILD SUCCESSFUL` line capital `I` changes to `İ` and this causes failures in the output verifier of the extension. Since this behavior connected to Gradle bug, I recommend to use `Attach to packager` debug scenario as a workaround f

[2019-09-30 13:12] RedMickey commented on #1121
@guveniscan сould you please try to reinstall your current `react-native-cli` globally and then try to run `Debug iOS` scenario again?
[code]

[2019-09-30 13:30] ezranbayantemur commented on #1106
I add configuration on "Attach to packager" and tried but it gives that error on **Debug Console**

[code]

It's kind a say there are already debug packager connected.

[2019-09-30 13:32] SounD120 commented on #1106
@ezranbayantemur Please ensure that React Native debugger tab in Chrome is closed.

[2019-09-30 13:59] ezranbayantemur commented on #1106
It's starting, thanks for that but there is problem happend.
I think it's not catch breakpoints, when I toggle a breakpoint it says "Unverified Breakpoint" and "Step Over/Into/Out" buttons are disabled.

Did I something wrong?

![23](https://user-images.githubusercontent.com/42299721/65885658-b0fc2600-e3a3-11e9-9710-6f839c54d1d0.png)

[2019-09-30 14:07] SounD120 commented on #1106
@ezranbayantemur This issue reproduces since React Native 0.61. Fix for that is already proposed in #1122 so this problem will be fixed soon.

[2019-09-30 14:10] ezranbayantemur commented on #1106
Okay then I'm waiting. Thank you so much for help 👍

[2019-09-30 14:11] guveniscan commented on #1121
@RedMickey that worked, sorry for all the trouble. can we confirm the issue was because `react-native-cli` was installed locally?

[2019-09-30 14:11] #1121 closed

[2019-09-30 14:15] SounD120 commented on #1121
@guveniscan If `react-native-cli` was installed locally, yes, because it is [required](https://github.com/microsoft/vscode-react-native#getting-started) for the extension to have `react-native-cli` to be installed globally.

[2019-09-30 17:00] EricCornelson commented on #1116
On the surface, this looks like another incarnation of this issue: https://github.com/microsoft/vscode/issues/12066, though I'd have to see what React Native is compiling arrow functions to. If we know that it's mapping, for example, `this` => `_this`, then we can work around the issue by just watching the `_this` variable. You should also be able to see the closure scope in the variables pane to

[2019-10-01 02:14] cvharris commented on #1067
I got this again (I get it every few days) recently and tried like I always do to **Reload Window** but this time that didn't work. I tried a bunch of things like upgrading Node, reinstalling `react-native-cli`, etc. but eventually it was literally closing VSCode and rebooting it again that kicked this back into gear.

Seems like something happens whenever VSCode is left open but my Mac has been l

[2019-10-01 07:56] SounD120 commented on #1067
Hi @cvharris . Could you please create a new issue for your specific case?

[2019-10-01 09:01] RedMickey commented on #1100
Hi @ospfranco. We'd like to remind you that your demo project will help us to investigate your problem. Do you have a chance to create a demo project?

[2019-10-01 09:19] SounD120 commented on #1116
@EricCornelson I found out how it maps in React Native. It maps to `_this<NUMBER>`, here is the example for that specific case:
![image](https://user-images.githubusercontent.com/32372875/65949812-924e6b80-e445-11e9-9901-a6e73f874d8b.png)

[2019-10-01 15:06] StasD opened #1123 "Unable to resolve module `../Components/AccessibilityInfo/AccessibilityInfo` message"
I posted this bug to react-native a few days ago: https://github.com/facebook/react-native/issues/26568

Probably it should instead be posted here, because when I run `react-native run-ios`, there are no such messages.

Also, debugging in VSCode completely stopped working after upgrading to RN 0.61 ('unverified breakpoint')...

## Software versions
- React-Native VS Code extension version: 0.11.2

[2019-10-02 08:46] SounD120 commented on #1123
Hi @StasD and thanks for reaching. The issue with RN 0.61 debugging is already resolved(#1122) and fix will be released soon. With respect to Metro bundler problems I recommend you to clear your caches and let us know if that worked for you. You can use the following instruction:
1. Clear watchman watches: `watchman watch-del-all`,
2. Delete node_modules: `rm -rf node_modules` and run `yarn instal

[2019-10-02 09:14] StasD commented on #1123
Ran your commands. That didn't make any difference re: those `Error: Unable to resolve module '../Components/AccessibilityInfo/AccessibilityInfo'` messages... As I said, they only appear if I run "Debug iOS" from VSCode, and don't appear if I run `react-native run-ios`. So, most likely this extension's issue, not metro's.
Will wait for the new version to see if it fixes the debugging problems. Tha

[2019-10-02 09:52] SounD120 commented on #1123
@StasD I just tested `Debug iOS` on freshly created 0.61.1 React Native application and it worked without any problems on my configuration:
[code]
I noticed that there are no `react-native-cli` package in your `react-native info` output, is it installed globally? Could you please try to reinstall it globally and let us know how it works for you? You can try to use these commands:
[code]

[2019-10-02 11:41] StasD commented on #1123
Created a brand new project: `react-native init MyApp`. Opened it in VS Code. Created a debug configuration `React Native: Debug iOS`. Edited `launch.json` to include `"target": "iPhone 11 Pro"` parameter. When I run `Debug iOS` for the very first time, those messages are actually not present... But on every successive run (when I close simulator, stop debugger, and run `Debug iOS` again), they ar

[2019-10-04 11:24] #1081 closed

[2019-10-04 12:55] SounD120 commented on #1116
Hi @NeliHarbuzava , @EricCornelson . Since the behavior is connected with a VS Code bug and the corresponding issue was created in the VS Code repo I am closing that issue:
https://github.com/microsoft/vscode/issues/12066
As soon as this bug will be fixed this issue should be resolved.

[2019-10-04 12:55] #1116 closed

[2019-10-07 08:59] detroit007 commented on #723
/bin/sh: 1: adb: not found
info Connecting to the development server...
warn Failed to connect to development server using "adb reverse": spawnSync adb ENOENT
Could'nt solve this issue by this method is there any other way to solve this my path is :

"  /home/hami/.npm-global/bin:/home/hami/.nvm/versions/node/v12.10.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr

[2019-10-07 08:59] detroit007 opened #1126 "/bin/sh: 1: adb: not found"
/bin/sh: 1: adb: not found
info Connecting to the development server...
warn Failed to connect to development server using "adb reverse": spawnSync adb ENOENT
Could'nt solve this issue by this method is there any other way to solve this my path is :

"  /home/hami/.npm-global/bin:/home/hami/.nvm/versions/node/v12.10.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr

[2019-10-07 09:43] RedMickey commented on #1126
Hi @detroit007 and thanks for reaching us.
Could you please fill [our issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md), so we can get more info to investigate your problem?

As seen from your `PATH`, it doesn't contain Android SDK path.
Could you please try to run the following command from your terminal and send us its output?
[code]

[2019-10-07 11:10] ospfranco commented on #1100
Hey, I just tried to reproduce the issue with a new project using RN 0.60.+ and I cannot reproduce it, so it is probably from dark edge case in our codebase, unfortunately the project is too large for me to spend time trying to debug this.

I'll close this for now, but if I manage to reproduce the issue I'll re open it and post it here.

[2019-10-07 11:10] #1100 closed

[2019-10-07 12:12] RedMickey commented on #1123
Hi @StasD, I tried to reproduce that behavior on iPhone 11 Pro simulator and I didn't faced any problems. Also you can try to clean `npm` and `yarn` caches using the following commands:
[code]

[2019-10-07 13:34] SounD120 commented on #1106
Hi @ezranbayantemur . React Native Tools v0.12.0 with React Native 0.61 support has been released. I am closing that issue. Please feel free to reopen if needed.

[2019-10-07 13:34] #1106 closed

[2019-10-07 13:35] SounD120 commented on #1081
Hi @i7soft. React Native Tools v0.12.0 with a fix for that has been released.

[2019-10-07 15:06] StasD commented on #1123
With the latest version of `vscode-react-native`, those messages seems to be gone. BUT so far I was only able to validate this on a newly created project. Because my existing project (obviously, more complex one) does not work with the new version at all!.. I tried deleting the ios/build folder, alone with node_modules, ios/Pods folders and ios/Pod.lock and yarn.lock files and recreating them, wit

[2019-10-08 10:01] pilot4u opened #1127 "after upgrade to 0.12.0 cannot debug"
## Actual Behavior
1. Attach to packager.
2. Application loaded on Iphone
3. Error on presented on Iphone:
Invalid or unexpected token

RCTFatal
__28-[RCTCxxBridge handleError:]_block_invoke
<redacted>
<redacted>
<redacted>
<redacted>
<redacted>
CFRunLoopRunSpecific
GSEventRunModal
UIApplicationMain
main
<redacted>

## Expected Behavior
1. Attach to packager.
2. Application loaded on Iphone
3. Deb

[2019-10-08 10:46] pilot4u commented on #1127
Temporary downgraded to 0.11.2 to keep working

[2019-10-08 12:09] RedMickey commented on #1123
@StasD, could you please share a demo application where such a behavior is reproduced? It will help us to investigate your problem.

[2019-10-08 12:16] SounD120 commented on #1127
Hi @pilot4u and thanks for reaching us. Could you please send us dependencies of your project that are listed in your `package.json` file? This will be helpful for better understanding of the situation from our side.

[2019-10-08 14:23] detroit007 commented on #1126
@RedMickey  I solved the issue by installing adb in $ANDROID_HOME/platform-tools using " install adb" which solved my problem.
Thanks!

[2019-10-09 08:38] SounD120 commented on #1123
Hi @StasD . I was able to reproduce that behavior. Could you please try a fix and let us know how it works for you? To try it please do the following:
* Download and unzip compiled extension VSIX : [vscode-react-native-0.12.0.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3706287/vscode-react-native-0.12.0.vsix.zip)
* Uninstall extension
* Restart VS Code
* Click `Extensions -> .

[2019-10-09 08:53] StasD commented on #1123
Hi @SounD120,
All seems to working well with the new version. No more crashes. Breakpoints also work.
Thanks!

[2019-10-09 08:54] SounD120 commented on #1123
@StasD glad to hear that. Are you still experiencing issue with `Unable to resolve module ../Components/AccessibilityInfo/AccessibilityInfo` message?

[2019-10-09 08:55] StasD commented on #1123
No, those messages also gone. You can close this issue, I suppose.

[2019-10-09 08:57] SounD120 commented on #1127
@pilot4u I was able to reproduce such behavior. Fix will be released in the new extension version.

[2019-10-09 09:02] #1127 closed

[2019-10-09 09:03] #1123 closed

[2019-10-09 09:30] shlaikov opened #1131 "After upgrade to macOS Catalina cannot debug."
## Actual Behavior
Because of your extension the emulator doesn't work. Became after the upgrade macOS.

<img width="402" alt="Снимок экрана 2019-10-09 в 12 19 14" src="https://user-images.githubusercontent.com/16617640/66468781-68252b00-ea8f-11e9-9292-405fc66e0d9b.png">

## Expected Behavior
I would like it to work.

## Software versions
- React-Native VS Code extension version: 0.12.0
- VSCode v

[2019-10-09 09:38] SounD120 commented on #1131
Hi @shlaikov . It is a known issue and the fix will be released soon. Could you please try VSIX with a fix and let us know how it works for you? To try it please do the following:
* Download and unzip compiled extension VSIX : [vscode-react-native-0.12.0.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3706287/vscode-react-native-0.12.0.vsix.zip)
* Uninstall extension
* Close VS Co

[2019-10-09 09:44] shlaikov commented on #1131
@SounD120 the same.

[2019-10-09 09:49] GraemeAllanBryce commented on #1131
The VSIX is not a fix for me - same outcomes.

[2019-10-09 09:50] shlaikov commented on #1131
<img width="1010" alt="Снимок экрана 2019-10-09 в 12 50 08" src="https://user-images.githubusercontent.com/16617640/66471035-5e052b80-ea93-11e9-8404-55755728efee.png">

[2019-10-09 09:52] SounD120 commented on #1131
@shlaikov Could you please provide a minimal demo application in which this behavior is reproduces?

[2019-10-09 09:58] shlaikov commented on #1131
@SounD120 I can't provide my code. But the starter pack took [here](https://github.com/ueno-llc/react-native-starter).  Maybe it will help you.

[2019-10-09 10:06] SounD120 commented on #1131
@shlaikov Does this reproduce on the previous extension versions? You can try to install them as follows:
* Right click on the React Native Tools extension in the VS Code extension tab
* Click on `Install Another Version...`
* Choose the previous version, for example `0.11.2`

Please let us know if that helped.

[2019-10-09 10:18] SounD120 commented on #1131
@shlaikov I just tried to reproduce your issue on ueno-llc starter app, and it reproduced on old version of extension, and worked without any problems on a VSIX with a fix.
Could you please also make sure that the latest version was installed correctly?
To do that please do the following:
* Uninstall extension (when clicked VS Code will mark it for deletion, but will not delete until you restart V

[2019-10-09 10:37] shlaikov commented on #1131
It's helped. But the errors are still throwing.

[2019-10-09 10:39] SounD120 commented on #1131
@shlaikov Could you please describe what kind of errors do you encounter?

[2019-10-09 10:48] shlaikov commented on #1131
First ex.
[code]
Second ex. it's my issue.
[code]

[2019-10-09 10:58] SounD120 commented on #1131
@shlaikov That seems to be an issue that is not connected with the original one. Could you please create a new issue for that?

[2019-10-09 11:06] GraemeAllanBryce commented on #1131
Can I confirm that the latest code with the proposed fix is indeed https://github.com/microsoft/vscode-react-native/files/3706287/vscode-react-native-0.12.0.vsix.zip.

If so then I have uninstalled, restarted and then installed that version and the issue remains evident.

If there is a more recent build can you please post the URL for the VSIX

Thanks

[2019-10-09 11:08] shlaikov commented on #1131
@SounD120 I was wrong. VSIX ex. has the same exceptions like 0.11.2 version. And VSIX ex. is working for me. I create a new issue for that.

[2019-10-09 11:24] SounD120 commented on #1131
@GraemeAllanBryce Have you tried that instruction?

[2019-10-09 11:33] grean opened #1132 "Can't attach packager for debugging"
## Actual Behavior
1.
After 'attach to packager' or 'debug android', when my app loads, it stops with this message :
com.facebook.react.common.javascriptexception : invalid or unexpected token
Before that, i had this error : https://github.com/microsoft/vscode-react-native/issues/1123#issue-500960686
Then, i upgrade to vscode-react-nactive@01.12.0 and the error dissapeared. But now i have this mes

[2019-10-09 11:35] shlaikov opened #1133 "TypeError: exports.DOMException is not a constructor"
![image](https://user-images.githubusercontent.com/32372875/66645336-dacb0d80-ec2b-11e9-9183-f909033c0bfc.png)

## First ex.
[code]
DOMException is undefined.

## Second ex. it's my issue.
[code]

_Originally posted by @shlaikov in https://github.com/microsoft/vscode-react-native/issues/1131#issuecomment-539947615_

[2019-10-09 11:46] SounD120 commented on #1132
Hi @grean and thanks for reaching us. Please try out new extension version 0.12.1 and let us know how it works for you. Update should available from the VS Code `Extensions` tab.

[2019-10-09 11:49] SounD120 commented on #1131
@shlaikov , @GraemeAllanBryce React Native Tools v0.12.1 with a fix for that has been released. Please try it out and let us know if the problem persists.

[2019-10-09 11:49] #1131 closed

[2019-10-09 11:59] grean commented on #1132
It works for me, formidable !
Error has disapeared and breakpoints are hitting well now :)

[2019-10-09 12:09] SounD120 commented on #1132
@grean Glad to hear that. Then I am closing this issue. Feel free to open new ones if needed.

[2019-10-09 12:09] #1132 closed

[2019-10-09 12:25] GraemeAllanBryce commented on #1131
Fantastic - confirm that 0.12.1 is a fix for the issue.  Many Thanks

[2019-10-09 20:14] orefors commented on #1067
This is probably due to the React Native Tools extension being updated. Using the hack/workaround mentioned above, it will have to be applied after every update to the extension.
I am very much looking forward to a permanent solution to this problem.

[2019-10-10 07:19] Darkhorse-Fraternity opened #1134 "Could not find Xcode project files in"
{
            "name": "Debug iOS",
            "cwd": "${workspaceFolder}",
            "type": "reactnative",
            "request": "launch",
            "platform": "ios",
            "runArguments": [
                "--project-path", "./examples/ios",
            ],
},

'iosRelativeProjectPath' option is deprecated. Please use 'runArguments' instead."
i used  runArguments, but could not _debu

[2019-10-10 09:27] SounD120 commented on #1134
Hi @Darkhorse-Fraternity and thanks for reaching us. Could you please try to run the following command in your terminal from the project folder and let us know how it works for you?
[code]

[2019-10-10 10:12] SounD120 commented on #1067
Hi @orefors . When this [bug](https://github.com/expo/expo-cli/issues/864) will be fixed this problem will be resolved.

[2019-10-10 12:54] Properko commented on #1067
I'm getting the same behavior, however, the cause was using multi-root workspace in vscode.
Once I have opened the project as a folder directly, debug starts successfully.
Even though, I'm pretty sure the cwd property was correctly set (to '${workspaceFolder}') in the launch configuration.

[2019-10-11 10:37] RedMickey commented on #1133
Hi @shlaikov, we have investigated this issue and found out that `exports.DOMException is not a constructor` exception is expected behavior.
React Native Tools extension debugs React Native apps as a Node.js processes. There aren't `DOM` modules in Node.js global context, so such an exception is thrown. With respect to your situation the exception occurs because React Native fetch function is used

[2019-10-11 10:37] zxccvvv opened #1136 "[Feature Request] add command "React Native: Start LogCat Monitor""
![image](https://user-images.githubusercontent.com/19633881/66645254-2f32b500-ec4d-11e9-8659-ca68e61e8ff6.png)

It would be easier if i can only run logcat without running command `React Native: Run Android on Device` just to start logcat when i'm disconnected my device from adb, and reconnect my devices,

because when i disconnected my devices and reconnect, logcat not showing new log from monito

[2019-10-11 10:39] #1133 closed

[2019-10-13 20:23] snownoop opened #1137 "Vscode react native debug in exponent App is not opening"
## Actual Behavior
1. Created clean project with expo init (Mac Os catalina, latest Xcode, expo 35.0.0, latest vscode react native extension)
2. expo start works good for App, app is opening in IOS simulator and working fine.
3. When i triying to use debug in exponent inside VScode in both lan and tunnel ways, i opening simulator and see this message
<img width="377" alt="Screenshot 2019-10-13 at

[2019-10-14 10:42] SounD120 commented on #1137
Hi @snownoop and thanks for reaching us. This looks similar to https://github.com/microsoft/vscode-react-native/issues/1109. Could you please try to check the content of your `.expo/settings.json` file?
There should be no `"https": false` line in it, if you find one please delete it and try to run `Debug in Exponent` scenario.
Please let us know if it helped.

[2019-10-14 10:55] snownoop commented on #1137
@SounD120 you are my saver ! Working good. Removing `https: false` helped me. Thanks, we can close the issue.

[2019-10-14 11:14] SounD120 commented on #1137
@snownoop Great! Feel free to open new ones if needed.

[2019-10-14 11:14] #1137 closed

[2019-10-14 22:25] stecrain opened #1138 "Hermes direct debugging configuration does not respect port changes"
## Actual Behavior
1.  Add configuration 'Attach to packager (Hermes) - Experimental'
2.  Change port to 9229
3.  Debugger attempts to connect to 8081

## Expected Behavior
1.  Debugger attempts to connect to 9229

## Software versions
- React-Native VS Code extension version: 0.12.1

## Outputs (Include if relevant)
![debugger jsp](https://user-images.githubusercontent.com/48095233/66786863-b9218

[2019-10-14 22:27] stecrain opened #1139 "Included Hermes DirectDebugging configurations should not reference attaching to the packager"
Direct debugging connects VSCode 'directly' to the JS engine executing in the React Native app.

The pre-canned configurations for hermes should not reference attaching to the packager.
"name": "Attach to packager (Hermes) - Experimental",

This name is confusing since direct debugging does not attach to the packager
#1099

[2019-10-15 08:02] SounD120 commented on #1134
Hi @Darkhorse-Fraternity . Do you have a chance to look at this?

[2019-10-15 09:17] Darkhorse-Fraternity commented on #1134
react-native run-ios --project-path ./examples/ios

info Found Xcode workspace "ZXTTRNTest.xcworkspace"
info Launching iPhone X (iOS 12.4)

[2019-10-15 09:28] SounD120 commented on #1134
@Darkhorse-Fraternity Could you please describe how this command works for you? Does it launch application?

[2019-10-15 09:34] Darkhorse-Fraternity commented on #1134
This order is ok. The problem appears in the source code, this.iosProjectRoot = path.join(this.projectPath, this.runOptions.iosRelativeProjectPath || IOSPlatform.DEFAULT_IOS_PROJECT_RELATIVE_PATH),
iosProjectRoot has been deprecated and not recognized --project-path

[2019-10-15 09:38] Darkhorse-Fraternity commented on #1134
{
            "name": "Debug iOS",
            "cwd": "${workspaceFolder}",
            "type": "reactnative",
            "request": "launch",
            "platform": "ios",
            "runArguments": [
                "--project-path", "./examples/ios",
            ],
            "iosRelativeProjectPath": "examples/ios"
        }

[2019-10-15 09:42] Darkhorse-Fraternity commented on #1134
iosProjectRoot is not recognized --project-path ，and iosRelativeProjectPath  was Deprecated

[2019-10-15 09:45] SounD120 commented on #1134
@Darkhorse-Fraternity Could you please fill all the information as noted in our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md)?

[2019-10-15 09:53] Darkhorse-Fraternity commented on #1134
Actual Behavior
{
"name": "Debug iOS",
"cwd": "${workspaceFolder}",
"type": "reactnative",
"request": "launch",
"platform": "ios",
"runArguments": [
"--project-path", "./examples/ios",
],
"iosRelativeProjectPath": "examples/ios"
}
run:
Error: Could not find Xcode project files in "x x x x/RN/ZXTT-RN/ios" folder
Expected Behavior
success Successfully launched the app on the simulator

Software vers

[2019-10-15 10:37] SounD120 commented on #1134
@Darkhorse-Fraternity Could you please try to install patched extension VSIX from `fix-ios-project-path-arg` branch? To do that please do the following:
* Download and unzip compiled extension VSIX : [vscode-react-native-0.12.1.vsix.zip](https://github.com/microsoft/vscode-react-native/files/3728750/vscode-react-native-0.12.1.vsix.zip)
* Uninstall extension (when clicked VS Code will mark it for d

[2019-10-16 01:46] Darkhorse-Fraternity commented on #1134
{
            "name": "Debug iOS",
            "cwd": "${workspaceFolder}",
            "type": "reactnative",
            "request": "launch",
            "platform": "ios",
            "runArguments": [
                "--project-path", "./examples/ios",
            ],
            "iosRelativeProjectPath": "examples/ios"
        },

to used vscode-react-native-0.12.1.vsix.zip

OS: darwin x64
Ada

[2019-10-16 08:26] SounD120 commented on #1134
@Darkhorse-Fraternity Could you please provide configured minimal demo application where Android and iOS native projects placed not in the project root and the arguments listed(`--root` and `--project-path`) above allows to build an application?

[2019-10-16 09:29] galla-devlop opened #1141 "Error while executing command 'react-native.cmd run-android --no-packager': Error while executing command 'react-native.cmd run-android --no-packager' (error code 101)"
## Actual Behavior
1. Error while executing command 'react-native.cmd run-android --no-packager': Error while executing command 'react-native.cmd run-android --no-packager' (error code 101)

## Expected Behavior
1. Start Debugging

## Software versions
- VSCode version: 1.33.1
- OS platform and version: Windows_NT x64 10.0.17763
- NodeJS version: 10.2.0
- react-native-cli: 2.0.1
-react-native: 0.6

[2019-10-16 09:41] galla-devlop commented on #1121
how do you know whether it is installed locally or globally ??

[2019-10-16 09:43] galla-devlop commented on #1121
Where should we need to run this commands ?? i am new to react native , not getting exactly .

[2019-10-16 10:09] SounD120 commented on #1141
Hi @galla-devlop . Thanks for reaching us. Does the `react-native run-android` terminal command work for your project?

[2019-10-16 10:12] galla-devlop commented on #1141
Hi.. Thanks for the quick reply.
Not worked i got the below error ,
Error while executing command 'react-native.cmd run-android --no-packager': Error while executing command 'react-native.cmd run-android --no-packager' (error code 101)

[2019-10-16 10:14] SounD120 commented on #1141
@galla-devlop Did you ran that command in terminal? Could you please try to run that command and send us outputs? It will be helpful for better understanding the situation from our side.

[2019-10-16 10:23] galla-devlop commented on #1141
@SounD120  , I had done the following steps ,
npm uninstall -g react-native-cli
npm uninstall -g @react-native-community/cli
\npm>npm install -g react-native-cli

after that again i ran the following command. now this is the error i am getting

 C:\Users\40003827\AppData\Roaming\npm\SmapleApp> react-native run-android
error Unrecognized command "run-android".
info Run "react-native --help" to see

[2019-10-16 10:29] SounD120 commented on #1141
@galla-devlop Ok, then could you please try to run this command in the freshly created app and let us know how it works for you?
You can use the following commands for that:
[code]

[2019-10-16 10:42] galla-devlop commented on #1141
@SounD120  kindly find the below attached image for above commands output.
![Capture-react_error](https://user-images.githubusercontent.com/53257871/66912169-b4441280-f02f-11e9-988f-82bf1b1ddaa1.PNG)

[2019-10-16 11:16] SounD120 commented on #1141
@galla-devlop It seems that the folder with global npm packages is not in your PATH environment variable.
To add it you can run the following Powershell script to add it and then try to run the `Debug Android` scenario:
[code]

[2019-10-16 12:34] galla-devlop commented on #1141
@SounD120  i am getting this error , while running
C:\Users\40003827\AppData\Roaming\npm>[Environment]::SetEnvironmentVariable("Path", [System.Environment]::GetEnvironmentVariable('PATH', 'user') + ";C:\Users\40003827\AppData\Roaming\npm", [System.EnvironmentVariableTarget]::User)
The filename, directory name, or volume label syntax is incorrect.

[2019-10-16 12:39] SounD120 commented on #1141
@galla-devlop This is a Powershell script, it shouldn't work in CMD. To run it you can execute Powershell from CMD and then run the command. You can use the following script for that:
[code]

[2019-10-16 12:47] galla-devlop commented on #1141
@SounD120 , still i am getting same error . Script executed perfectly . After that i ran run-android command .

C:\Users\40003827\AppData\Roaming\npm\SmapleApp>react-native run-android
error Unrecognized command "run-android".
info Run "react-native --help" to see a list of all available commands.

[2019-10-16 12:49] SounD120 commented on #1141
@galla-devlop Now please try on a freshly created app.

[2019-10-16 13:06] galla-devlop commented on #1141
@SounD120 , thanks for quick reply.
i followed you steps, now i am not getting previous error. while building app i got one different error .
i am attaching the error file , kindly help me on this.
[Error_While Installing.txt](https://github.com/microsoft/vscode-react-native/files/3734425/Error_While.Installing.txt)

[2019-10-16 20:39] MInesGomes opened #1142 "'Unable to find adb'. Adb is in the path of my Mac OS Catalina"
## Actual Behavior
When I try to debug on device or emulator it gives me this error.

## Expected Behavior
Debug Message appearing in debug tab.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## adb is in Mac path

If I do on terminal inside or outside

[2019-10-17 04:29] zxccvvv commented on #1136
Hi @SounD120 sorry to mentioning you,

I just need this feature ASAP, or if it's not possible, could you tell me how can i run `adb logcat -s [ip:port of phone] *:S ReactNative:V ReactNativeJS:V` and let the log show in `Output panel` like picture below?

![image](https://user-images.githubusercontent.com/19633881/66977723-3f291980-f0d1-11e9-9c0c-d63492352ac4.png)

[2019-10-17 05:29] Darkhorse-Fraternity commented on #1134
@SounD120 . see https://github.com/Darkhorse-Fraternity/RNPakageForNative

[2019-10-17 05:31] Darkhorse-Fraternity commented on #1134
iOS： cd ./examples/ios && pod install --verbose && cd ../../  && eact-native run-ios --project-path ./examples/ios
Android：react-native run-android --root './examples/' --variant debug

[2019-10-17 07:59] #1138 closed

[2019-10-17 07:59] #1139 closed

[2019-10-17 09:07] SounD120 commented on #1141
@galla-devlop
1) With respect to errors in a freshly created app, I'd recommend to clear your Gradle caches with following commands and then try to build an application:
[code]
2) With respect to `SmapleApp` application error I'd recommend you to reinstall `node_modules` and then try to run `Debug Android`. To do that you can use the following commands from your `SmapleApp` project root:
[code]
Co

[2019-10-17 09:38] galla-devlop commented on #1141
@SounD120
where should i try the above commands, i am getting confused bcz i am getting not recognized gradle error.

[2019-10-17 09:43] SounD120 commented on #1141
@galla-devlop Try it from your project android directory. Also please use `gradlew` instead of `gradle` in such case.

[2019-10-17 09:55] SounD120 commented on #1136
Hi @zxccvvv and thanks for your feature request. We'll consider that and manage in order of priorities. But if you'd like to contribute to the project - you can try to create command pallette commands for that using our [contribution guide](https://github.com/microsoft/vscode-react-native/blob/master/CONTRIBUTING.md).
Also I recommend to see the following code references, they might be helpful for

[2019-10-17 09:59] galla-devlop commented on #1141
@SounD120

i tired to run the above commands, i am getting following error

D:\LearningWS\React Native\FirstApp\newApp\android>gradlew clean --refresh-dependencies

[Fatal Error] jvnet-parent-4.pom:2:1: Content is not allowed in prolog.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'newApp'.

     Required by:
         project : > com.and

[2019-10-17 10:13] SounD120 commented on #1141
@galla-devlop It looks like there is misconfiguration lying deeply inside your Android SDK environment. I recommend you to go through the [official React Native Getting Started guide](https://facebook.github.io/react-native/docs/getting-started.html) and check that your environment tuned correctly for React Native applications, because build errors reproduces without the extension at all.

[2019-10-17 10:18] galla-devlop commented on #1141
@SounD120
i already followed official document for setting environment steps. but still it's giving same issue.

[2019-10-17 10:20] galla-devlop commented on #1141
@SounD120
It's not related to environment based on following output i am predicting.

[Warning] Error: Packager is still running. If the packager was started outside VS Code, please quit the packager process using the task manager.

[Info] Packager is already running.

[Warning] Error: React Native Packager running outside of VS Code. If you want to debug please use the 'Attach to packager' option

[2019-10-17 10:50] SounD120 commented on #1141
@galla-devlop Could you please also attach outputs from React Native: Run Android output channel?

[2019-10-17 11:51] galla-devlop commented on #1141
@SounD120

[Warning] Target simulator is not supported for Android platform.
 If you want to use particular device or simulator for launching Android app,
 please specify  device id (as in 'adb devices' output) instead.

[Info] local.properties file doesn't exist. Using Android SDK location from PATH.

[Info] Starting React Native Packager.

info Running jetifier to migrate libraries to AndroidX.

[2019-10-17 11:59] galla-devlop commented on #1141
@SounD120
While cleaning gradle i am getting following error

D:\LearningWS\React Native\FirstApp\newApp\android>gradlew clean

[Fatal Error] jvnet-parent-4.pom:2:1: Content is not allowed in prolog.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'newApp'.

     Required by:
         project : > com.android.tools.build:gradle:3.4.2 > com.a

[2019-10-17 12:02] SounD120 commented on #1141
@galla-devlop As seen from your logs it is the same error which has been reproduced without extension. I recommend you to clean your gradle build cache with the following command from your project android root folder:
[code]

[2019-10-17 12:07] galla-devlop commented on #1141
@SounD120
i have done the same , see the error

D:\LearningWS\React Native\FirstApp\newApp\android>gradlew cleanBuildCache

[Fatal Error] jvnet-parent-4.pom:2:1: Content is not allowed in prolog.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'newApp'.

     Required by:
         project : > com.android.tools.build:gradle:3.4.2 > com.andro

[2019-10-17 12:38] guveniscan commented on #1121
@galla-devlop those are global npm commands (will install/uninstall packages globally on your device) so you can run in any folder (your project folder or any other folder) through your shell

[2019-10-18 08:46] pilot4u commented on #1127
Thank you @SounD120,
It works perfectly

[2019-10-18 10:56] SounD120 commented on #1141
@galla-devlop Your issue is lying somewhere deep inside Android SDK configuration, so I'd recommend you to reinstall all your React Native environment using the [official React Native getting started instruction](https://facebook.github.io/react-native/docs/getting-started.html).
I am also recommend to post your issue in [React Native repository](https://github.com/facebook/react-native) if it per

[2019-10-18 10:56] #1141 closed

[2019-10-21 11:29] #1134 closed

[2019-10-25 09:18] #1101 closed

[2019-10-25 09:22] ScreamZ commented on #1101
@RedMickey Released on prod ?

[2019-10-25 10:40] SounD120 commented on #1101
Hi @ScreamZ . It is currently planned to be released next week.

[2019-10-26 16:19] pilot4u commented on #905
I have the same issue after installing react-native-cli globally.

OS: win32 x64
Adapter node: v10.11.0 x64
vscode-chrome-debug-core: 6.8.2
******** Unhandled error in debug adapter - Unhandled promise rejection: Error: spawn react-native.cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:232:19)
    at onErrorNT (internal/child_process.js:407:16)
    at process._tick

[2019-10-29 07:30] ramyareye opened #1150 "Could not debug - error code 604"
## Actual Behavior
1. run VSCODe
2. try to debug on iOS or Android
3 .
[code]

4 - after I removed rn cli from global :
[code]

<img width="1440" alt="Screen Shot 2019-10-29 at 10 50 03 AM" src="https://user-images.githubusercontent.com/6318491/67745979-c4e68680-fa3a-11e9-9827-03cf8128f128.png">

<img width="1440" alt="Screen Shot 2019-10-29 at 10 53 20 AM" src="https://user-images.githubuserconte

[2019-10-29 10:25] SounD120 commented on #1150
Hi @ramyareye and thanks for reaching us. Could you please add `trace: "verbose"` line into your debug configurations and send us an output with this option enabled? It will be helpful for better understanding of the situation from our side.

[2019-10-29 21:46] ramyareye commented on #1150
[code]
[code]
[code]

[2019-10-30 08:31] admin-excior opened #1152 "Error while executing command 'react-native.cmd run-windows --proxy --no-packager': Error while executing command 'react-native.cmd run-windows --proxy --no-packager' (error code 101)"
## Actual Behavior
1. Error debug

## Expected Behavior
1. Debug and run react-native windows app

## Software versions
- React-Native VS Code extension version:
React native tools version 0.12.1
- VSCode version:
1.39.2
x64
- OS platform and version:
Windows 10 home
Version 1809
- NodeJS version:
v12.9.1
- React Native version:
0.60.0
- Expo SDK version (include if relevant):

## Outputs (Include

[2019-10-30 09:36] SounD120 commented on #1152
Hi @admin-excior and thanks for reaching us. Could you please also add the version of `react-native-windows` version you are using?

[2019-10-30 11:10] Mmmkay commented on #1121
It still wont work for me. Debugging Toolbar opens and disappers after 3-4 seconds. I also have no output or `React-Native` in the output list box. `react-native-cli` is installed global and running it manually via `react-native run-android` works flawless.

Output of `react-native --version`:

Here is my `launch.json`
[code]
and the `package.json`
[code]

Version of Node is 12.9.1 and im using Wi

[2019-10-30 12:02] admin-excior commented on #1152
Hi there @SounD120. Thanks for the prompt response. I tried using react-native run-windows and I get the following errors.

1.
![image](https://user-images.githubusercontent.com/54540616/67856623-a5745a00-fb1d-11e9-8169-d8106e0a9d87.png)
I checked and have run apps before so my laptop is definitely on developer mode.

2. On the npm command output
![image](https://user-images.githubusercontent.com/

[2019-10-30 12:26] SounD120 commented on #1152
@admin-excior As seen from your logs the same issue persists even without the extension. It looks like a React Native Windows bug. I recommend you to describe your issue in [React Native for Windows repository](https://github.com/microsoft/react-native-windows). I am closing this issue for now. Please feel free to reopen if needed.

[2019-10-30 12:26] #1152 closed

[2019-10-30 12:28] admin-excior commented on #1152
Thanks.

[2019-10-31 09:34] galla-devlop opened #1153 "FAILURE: Build failed with an exception. while running react-native run-android"
## Actual Behavior
1. Failed to install the app. Make sure you have the Android development environment set up: https://facebook.github.io/react-native/docs/getting-started.html#android-development-environment. Run CLI with --verbose flag for more details.
2.

## Expected Behavior
1. App has to launch in emulator
2.

## Software versions
- VSCode version: 1.33.1
- OS platform and version: Windows_

[2019-10-31 13:27] RedMickey commented on #1153
Hi @galla-devlop, thanks for reaching us. It looks like the issue is relevant to [the one that you've already asked here several days ago](https://github.com/microsoft/vscode-react-native/issues/1141).
This seems not related to the extension functionality (as it doesn't work when you try to run it from scratch either) so not sure that we could help here.
I believe correct place to address this que

[2019-10-31 13:27] #1153 closed

[2019-11-04 21:58] superandrew commented on #1067
@SounD120 please check the linked expo cli issue for resolution 👍

[2019-11-05 08:31] ramyareye commented on #1150
@SounD120 any chance for this ?

[2019-11-05 08:34] SounD120 commented on #1150
@ramyareye We prepare a release where `react-native-cli` dependency will be dropped, so as soon as it will be released that problem should be resolved. We'll let you know when a new version will be released.

[2019-11-05 11:07] SounD120 commented on #1067
Thanks @superandrew . Fixed in #1155

[2019-11-06 09:00] SounD120 commented on #1150
@ramyareye React Native Tools v0.13.0 just have been released. Please try it out and let us know how it works for you.

[2019-11-06 09:02] SounD120 commented on #1101
Hi @ScreamZ . React Native Tools v0.13.0 just have been released. Please try it out and let us know how it works for you.

[2019-11-06 12:23] thibmaek commented on #1012
I have finally found what causes this issue.
Launching VS Code with `code folder/` in my shell makes the RN extension work 100% of the time (using ZSH).

Launching VS Code from anywhere else (bash, finder, alfred workflow) never works in conjunction with RN extension

[2019-11-06 14:50] gregersn opened #1159 "Version 0.13 breaks running packager from VS Code from different folder"
## Actual Behavior
1. Open workspace with folder configured to other than current directory
2. Choose Start Packager
3. `[Error] Failed to start the React Native packager (error code 106)`

## Expected Behavior
1. Packager to run

## Software versions
- React-Native VS Code extension version: 0.13
- VSCode version: 1.39.2
- OS platform and version: Ubuntu 19.10
- NodeJS version: 12.13.0
- React Na

[2019-11-06 18:19] ramyareye commented on #1150
@SounD120
[code]

I run rn like :
[code]

as said [here in docs](https://facebook.github.io/react-native/docs/getting-started), so maybe you should put an option or get rid of global one ?

[2019-11-07 07:37] SounD120 commented on #1150
@ramyareye Could you please also attach logs from `React Native` and `React Native: Run ios` output channels? This logs will be helpful for better understanding of the situation from our side.

[2019-11-07 08:29] ramyareye commented on #1150
this is react native log
[code]

react-native run-ios

[code]

I think plugin is trying `react-native run-ios` right ?
you may add an option to channge it to `npx react-native run-ios`

[2019-11-07 08:43] SounD120 commented on #1150
@ramyareye After the update, the extension acts the same as an npx command, it gets binary file from `node_modules/.bin` and runs it.
As seen from your logs the problem is pretty similar to [this](https://github.com/facebook/react-native/issues/23282) and may be not connected to the extension. I'd recommend to add: `target: <simulator name>` property in your `Debug iOS` scenario and try to run deb

[2019-11-07 09:21] RedMickey commented on #1159
Hi @gregersn and thanks for reaching us. I was able to reproduce that behavior. The fix will be released in the new extension version.

[2019-11-07 18:49] ramyareye commented on #1150
Works well, thanks!

[2019-11-07 18:49] #1150 closed

[2019-11-08 11:10] RedMickey commented on #1159
Hi @gregersn, the fix has been merged to master branch. It will be available in the next extension version, so I'm closing this issue. Feel free to open new ones if needed.

[2019-11-08 11:10] #1159 closed

[2019-11-11 13:55] RedMickey commented on #1159
Hi @gregersn, the new version [0.13.1](https://github.com/microsoft/vscode-react-native/releases/tag/0.13.1) of React Native Tools extension has been released, please try it out and let us know if you face any problems.

[2019-11-12 08:23] RedMickey commented on #1062
Hi @pheuter, we have investigated this issue and added [documentation about debugging inside Docker containers](https://github.com/microsoft/vscode-react-native/blob/master/doc/containerization.md). I’m closing this issue, please feel free to open new ones if needed.

[2019-11-12 08:23] #1062 closed

[2019-11-12 13:16] pheuter commented on #1062
@RedMickey Great, thanks!

[2019-11-15 06:59] hedgepigdaniel opened #1164 "App fails to start in debugger: "NodeError: Invalid URL""
## Actual Behavior
My app successfully attaches to the debugger but fails to start

1. The extension successfully attaches to the packager
2. The packager receives a request for the app bundle
3. The app crashes (exception visible in debugger) with the message `NodeError: Invalid URL: /home/daniel/code/ol/ol-docker/engine/OpenLearningClient/.vscode/.react/index.android.bundle`

This happens becaus

[2019-11-15 06:59] hedgepigdaniel commented on #1164
This seems to have been introduced by https://github.com/callstack/haul/pull/641, although I'm not sure what the fix should be

[2019-11-15 08:52] SounD120 commented on #1164
Hi @hedgepigdaniel and thanks for reaching us. I was able to reproduce this and I am not sure if this is an extension bug.
It looks like a Haul packager bug due to the fact that React Native Tools uses local paths to determine the location of the package but Haul tries to interpret this path as an URL and one of the possible fixes that I see here is to add additional check if the host exists after

[2019-11-15 12:07] zamotany commented on #1164
@hedgepigdaniel @SounD120
The error
[code]
is correct.
The path is missing a protocol -`file://`.

Evaluating
[code]
is not producing the error.

[2019-11-15 12:53] SounD120 commented on #1164
Hi @zamotany , thanks for pointing out! I'll take a look.

[2019-11-19 21:02] unknown2416 opened #1167 "[Error] TypeError: ConfigUtils(...).configFilenameAsync is not a function"
## Software versions
- React-Native VS Code extension version:  0.13.1
- VSCode version: 1.40.1
- OS platform and version: Ubuntu 18.04.3 LTS
- NodeJS version: v10.17.0
- React Native version: https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz
- Expo SDK version (include if relevant): "^35.0.0"

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Consol

[2019-11-19 22:05] CatalystJesal commented on #1167
I have the same issue just now. Glad someone made a post about it just now. Hopefully we can get a fix soon.

`OS: win32 x64
Adapter node: v12.4.0 x64
vscode-chrome-debug-core: 6.8.2
Could not debug. ConfigUtils(...).configFilenameAsync is not a function`

[2019-11-20 08:42] RedMickey commented on #1167
Hi @unknown2416, @CatalystJesal and thanks for reaching us. It seems that there were some problems with Expo Xdl according to [this issue](https://github.com/expo/expo-cli/issues/1227). [A new version of Expo Xdl package containing fixes](https://github.com/expo/expo-cli/releases/tag/%40expo%2Fxdl%4056.8.0) has already been released.  Expo Xdl package is installed with the extension automatically.

[2019-11-20 21:37] CatalystJesal commented on #1167
Hi @RedMickey,

I followed your steps but still run into the same problem. On the very first instance I run the debugger I get no error but as soon as I start select the 'Debug JS Remotely' option via `adb shell input keyevent 82 ` command, it gives ms the 'Could not debug. ConfigUtils(...).configFilenameAsync is not a function' error in my debug console as the tab for debugging is loaded onto my

[2019-11-21 14:54] RedMickey commented on #1167
@CatalystJesal, it seems that  Expo changed default Xdl package version to 56.4.2 according to [npm Version History](https://www.npmjs.com/package/@expo/xdl), but the latest version without this bug is 56.8.0. Therefore could you please try to reinstall Expo Xdl package manually to update it to 56.8.0 version?
Please use the following instruction to update the package:
1. Open VS Code `extensions`

[2019-11-21 15:41] #1164 closed

[2019-11-21 20:23] CatalystJesal commented on #1167
@RedMickey That worked but now I'm getting the following error when I run the debugger:

`Could not debug. Unexpected identifier`

[2019-11-22 07:56] RedMickey commented on #1167
@CatalystJesal, It seems that VS Code process couldn't completely stop, and the previous version of the extension wasn't removed, so the problem remained.
After any changes of the extension's dependencies or extension removal has been done, it's required to completely relaunch it. It means that it’s necessary to close each VS Code window and if you use macOS or Linux, please also select VS Code in

[2019-11-22 23:14] brentvatne commented on #1167
this should be resolved in the latest version of expo-cli and xdl

[2019-11-25 11:57] reinkepatrick opened #1169 "Error while executing command "react-native run-android --no-packager". (error code 101)"
## Actual Behavior
1. Start debugging
2. run packager
3. `Error while executing command "/Users/reinkepatrick/Documents/webrtc/node_modules/.bin/react-native run-android --no-packager". (error code 101)`

## Expected Behavior
1. Start debugging
2. Run application on both connected devices

## Software versions
- React-Native VS Code extension version: 0.13.1
- VSCode version: 1.40.1
- OS platform

[2019-11-25 12:00] SounD120 commented on #1169
Hi @reinkepatrick and thanks for reaching us. Could you please send us your output logs as described in our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md)? This information will be very helpful for better understanding of the situation from our side. Thanks.

[2019-11-25 14:17] reinkepatrick commented on #1169
Oh, I'm sorry, I didn't think it was relevant because there's nothing interesting in it.

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]

- Output of the React-Native output channel (View -> Toggle Output -> Select React-Native in ListBox):
[code]

- Output of the Developer Tools console (Help -> Toggle Developer Tools -> Select Console tab):

[2019-11-25 14:35] SounD120 commented on #1169
Thanks @reinkepatrick . Could you please also add outputs from `View -> Toggle Output -> Select React Native: Run android` channel? As seen from your logs there might be some errors during `run-android` command execution, so the relevant logs should be there.

[2019-11-25 14:39] reinkepatrick commented on #1169
[code]

oh I see but how can I fix it?

[2019-11-25 14:48] SounD120 commented on #1169
@reinkepatrick Hm, it looks like there is a problem in global PATH environment configuration. Since macOS Catalina VS Code uses zsh as a standard terminal for running debugging subprocesses, so `zsh` should be configured the same way as `bash`.
To fix that please try to create `.zshrc` file and add
[code]
variable there.
Please let us know if this helped.

[2019-11-25 15:03] reinkepatrick commented on #1169
Oh yes, I forgot the change and my VS Code Terminal was still switched to Bash, that explains why it works there and not in the extension. It works.

[2019-11-25 15:03] #1169 closed

[2019-11-26 15:21] RedMickey commented on #1167
Hi @CatalystJesal and @unknown2416. Do you have a chance to look at this? Are you still experiencing that issue?

[2019-11-28 13:16] RedMickey commented on #1167
Hi @CatalystJesal and @unknown2416. I’m closing this due to inactivity. Please feel free to reopen if needed.

[2019-11-28 13:16] #1167 closed

[2019-12-03 12:13] DarshanTCMACC commented on #1150
I am trying to Debug my react native app but debug console console showing the following error.
My project root name and project name in _Setting.gradle_ is same

**Debug Console Error**
[code]

**Launch.json**

[code]

I already installed cli globally by `npm i -g react-native-cli`
i have installed react-native-tools

i don't know what i am missing

[2019-12-03 12:55] SounD120 commented on #1150
Hi @DarshanTCMACC . Could you please create a new issue describing your specific case?

[2019-12-03 12:58] DarshanTCMACC commented on #1150
okay fine ! @SounD120

[2019-12-03 13:00] DarshanTCMACC opened #1174 "Could not debug (Error code-604)"
I am trying to Debug my react native app but debug console console showing the following error.
My project root name and project name in _Setting.gradle_ is same

**Debug Console Error**
[code]

**Launch.json**

[code]

I already installed cli globally by `npm i -g react-native-cli`
i have installed react-native-tools

i don't know what i am missing

[2019-12-03 13:03] SounD120 commented on #1174
Hi @DarshanTCMACC and thanks for reaching us. As seen from your `launch.json` file cwd parameter is incorrect. This parameter should point to the root of the React Native project, so could you please change it to `"cwd": ${workspaceFolder}` and try to run debugging again?

[2019-12-05 13:27] SounD120 commented on #1174
@DarshanTCMACC , do you have a chance to look at this? Is your problem resolved?

[2019-12-10 12:45] SounD120 commented on #1174
@DarshanTCMACC I am closing this issue due to inactivity. Please feel free to reopen if necessary. Thanks.

[2019-12-10 12:45] #1174 closed

[2019-12-21 21:52] mogarick opened #1185 "tach vscode de ECONNREFUSED"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- React-Native VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- React Native version:
- Expo SDK version (include if relevant):

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the React-Native output channel (View -

[2019-12-21 21:52] #1185 closed

[2019-12-30 18:45] razzfox opened #1188 "Allow expo debugging without logging in / without an internet connection"
Feature request to allow debugging expo without expo login or internet connection.

I understand that expo uses an account and an internet connection for some features, but debugging does not use any of expo's cloud features.

The expo cli allows development without logging in and without an active internet connection.

## Actual Behavior
1. Run Debug in Exponent
2. Expo prompts login
3. a. Esc or

[2020-01-06 13:29] RedMickey commented on #1058
Hi @benabbon, I started to investigate this issue, but for now I can't reproduce the problem described in the issue https://github.com/microsoft/vscode-react-native/issues/1047. I did the following to reproduce the problem situation:
Used **React Native Tools** extension `0.10.1` and the `last` versions. `ws` package version in the extension is `3.2.0`.
1. Created a default React Native project ve

[2020-01-07 05:00] omar-bakhsh commented on #324
if you have this Error
`Couldn't start project on Android: Error running adb: more than one device/emulator`
this means you have 2 android devices connected **( your mobile by USB ), COUNTS**  **dISCONNECT** and Retry Again

[2020-01-19 15:07] Sanan4li commented on #324
anyone solved this issue? I have same error even there is only on device which is connected over wifi. I have same wifi network connected on the machine as well as device.
It works fine on USB cable but I want to get rid of the cable.

[2020-01-20 08:11] SounD120 commented on #324
Hi @Sanan4li. I could debug android application remotely over wi-fi using the following steps:
1. Install application on device and run it.
2. Set debug server host and port in `Dev Settings -> Debug server host & port for device` on device pointing to IP-address of my dev machine on which packager has been started.
3. Start packager on dev machine.
4. Open application folder in VS Code and run `A

[2020-01-31 08:10] thejacer87 opened #1196 "/bin/sh: 1: adb: not found"
## Actual Behavior
1. Select "React native: Run Android on device/emulator" or "Debug Android".
2. Get error "adb not found".

## Expected Behavior
1. Run app on android device/emulator

## Software versions
- React-Native VS Code extension version: 0.14.0
- VSCode version: 1.41.1
- OS platform and version: 4.19.98-1-MANJARO
- NodeJS version:  13.7
- React Native version: "https://github.com/expo/

[2020-01-31 11:14] RedMickey commented on #1196
Hi @thejacer87 and thanks for reaching us. We tried to reproduce this problem and found out that it occurred in case trying to debug an Expo application using `Debug Android` scenario. There is `Debug in Exponent` scenario in the extension to debug such applications.
Could you please try to launch `Debug in Exponent` scenario for debugging?

Seems that you have correct configuration for terminal,

[2020-02-01 03:02] thejacer87 commented on #1196
was able to get it running with debug in exponent. thanks. im just getting started with RN so didnt know there was a difference

[2020-02-01 03:02] #1196 closed

[2020-02-05 11:28] #1188 closed

[2020-02-13 07:35] tewleap opened #1197 "Error while working with workspace: Current workspace does not contain React Native projects. (error code 710)"
## Actual Behavior
1. Does not detect my react-native project even though all commands work (in the terminal in vscode)

## Expected Behavior
1. If the commands work at the root of my project then the extension should work too

## Software versions
- React-Native VS Code extension version: 1.14.0
- VSCode version: 1.42.0
- OS platform and version: MacOs 10.15.3
- NodeJS version: 13.8.0
- React Nat

[2020-02-13 08:51] RedMickey commented on #1197
Hi, @tewleap and thanks for reaching us. This error arises in case none of the folders in the workspace contain a React Native project.
Could you please provide us an example of the structure of your project and your workspace content(a set of folders in it), so we can investigate this issue faster and try to reproduce problem behavior?
Could you please also describe the way you launch debugging?

[2020-02-13 12:30] tewleap commented on #1197
![image](https://user-images.githubusercontent.com/44545840/74435382-9911d400-4e64-11ea-8939-9b0fc05c4744.png)
None of commands for the extension works, I try to launch the packager through the command palette.

I've tried the different tips on https://github.com/microsoft/vscode-react-native/issues/1012 but it's still the same, double checked that the ENV variables are the same etc.

[2020-02-13 18:01] tewleap commented on #1197
The issue was resolved by uninstalling some extensions. Not exactly sure which one. Are there any known extensions that clashes with this?

[2020-02-14 07:40] RedMickey commented on #1197
@tewleap, could you please send us a list of the deleted extensions?
For now there isn't info about extensions that could break React Native extension work. So we can investigate the deleted extensions and try to figure out which one of them could be incompatible with React Native extension.

[2020-02-14 20:54] tewleap commented on #1197
After trying to add the extensions one by one (from memory) I discovered that https://marketplace.visualstudio.com/items?itemName=ms-vscode.autorest is the one that causes the error. I don't know if it's caused in conjunction with any other extension I have installed.
Hope this helps.

[2020-02-16 11:34] ramyareye opened #1198 "Error: Could not found executable"
## Actual Behavior
1. After starting a new project, it's running well on XCode but got this one on VSCode :
`Could not debug. Could not found executable in /path/ios/build/*/Build/Products/Debug-iphonesimulator (error code 403)`

## Expected Behavior
1. it should just works :)
I think it's related to cli new update [here](https://github.com/react-native-community/cli/commit/25a2c44c4a52341110e7a64

[2020-02-17 11:47] RedMickey commented on #1197
@tewleap, we installed AutoRest extension and figured out that it caused unexpected termination of VS Code extension host (tried on Node.js v10.16.3 and v13.8.0). If extension host is terminated, we cannot use debug scenarios of extensions and run their commands.

![Screen Shot 2020-02-17 at 13 34 28](https://user-images.githubusercontent.com/33267199/74647049-05a21100-518c-11ea-9bee-5bfc38a3d708.

[2020-02-17 11:47] #1197 closed

[2020-02-18 10:03] RichardsonVJohnson commented on #898
i am getting the same issue

[2020-02-18 10:16] SounD120 commented on #898
Hi @RichardsonVJohnson and thanks for reaching us. Please create new issue for your specific case and describe your problem using our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md).

[2020-02-18 13:07] #1198 closed

[2020-02-18 13:34] ramyareye commented on #1198
@SounD120 @RedMickey thanks :) I should wait till next minor release to use, right?

[2020-02-18 13:35] SounD120 commented on #1198
Hi @ramyareye . Yes this fix will be released in the next update. We'll let you know.

[2020-02-19 09:16] RichardsonVJohnson opened #1202 "Could not debug. Error while executing command 'd:\MyOffice\X\WebApp\FR\web\DevProject\x-wrist-react-native\node_modules\.bin\react-native.cmd run-android --no-packager'"
Problem : can't debug react-native android on real device throwing above error.

Steps
--------------------
1. Android Device connected
2. Selected Debug Android in VS Code
3. Causing the following error
Could not debug. Error while executing command 'd:\MyOffice\X\WebApp\FR\web\DevProject\x-wrist-react-native\node_modules\.bin\react-native.cmd run-android --no-packager': Error while executing com

[2020-02-19 09:22] SounD120 commented on #1202
Hi @RichardsonVJohnson and thanks for your question. It seems that there was a problem while buikding and starting the Android application. Could you please check the `View -> Toggle Output -> React Native, View -> Toggle Output -> React Native: Run android` output window and attach outputs to this issue?

[2020-02-19 09:41] RichardsonVJohnson commented on #1202
Sure , here it is

I tried again and now

Debug Console shows
--------------------------
Could not debug. Unknown error: not all success patterns were matched.
 It means that "react-native run-android" command failed.
 Please, check the View -> Toggle Output -> React Native,
 View -> Toggle Output -> React Native: Run android output windows. (error code 712)

Output [Run-android]
-----------------

[2020-02-19 09:52] SounD120 commented on #1202
@RichardsonVJohnson The error pointed below means that the extension is unable to locate Android Debug Bridge(adb) at path `C:\Users\Login\AppData\Local\Android\Sdk\platform-tools\`.
[code]
It can mean that Android SDK is configured incorrectly or installed not in `C:\Users\Login\AppData\Local\Android\Sdk`. Please ensure that your PATH environment variable is configured correctly for React Native

[2020-02-19 10:23] RichardsonVJohnson commented on #1202
@SounD120 , sdk path and platform tool paths are already set , but don't know where its merged like this
app is running with react-native run-android, but its happening while debugging

[2020-02-19 10:32] RichardsonVJohnson commented on #1202
is there any checklist for solving this issue ?

[2020-02-19 10:39] RichardsonVJohnson opened #1203 "Unexpected concatenation of Sdk path with platform tools path happening while debugging , project running fine but the issue is getting while debugging."
Problem :
Unexpected concatenation of Sdk path with platform tools path happening while debugging ,
project running fine but the issue is getting while debugging.

Notes
1. Sdk and platform tools already set, which is present at Env. Variables

## Software versions
-React-Native VS Code extension version:
-VSCode version: 1.31
-OS platform and version: Windows 10
-NodeJS version: 13
-React Native

[2020-02-19 10:53] SounD120 commented on #1203
@RichardsonVJohnson Could you please check if you have `local.properties` file in your `android` folder in the project root? If it exists, could you please send us its content?

[2020-02-19 11:01] RichardsonVJohnson commented on #1203
@SounD120  sure here it is,

## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the SDK. This is only used by Gradle.
# For customization when using a Version Control System, please read the
# header note.
#Thu Feb 06 11:43:19 IST 2020
ndk.dir=C\:\\Users\\Login\\AppData\\Local\\Android\\Sdk\\ndk-bundle

[2020-02-19 11:24] #1202 closed

[2020-02-19 11:25] RichardsonVJohnson commented on #1202
the problem is identified so that let's figured out the solution

[2020-02-19 12:06] SounD120 commented on #1203
@RichardsonVJohnson Could you please try to remove this file from there or move it from that directory and try to run debugging? Also, could you please try to create fresh React Native project and let us know how debugging work with it?

[2020-02-19 12:15] RichardsonVJohnson commented on #1203
@SounD120 ok, let me do it

[2020-02-19 13:53] SounD120 commented on #1198
Hi @ramyareye . React Native Tools v0.14.1 just have been released.

[2020-02-19 15:46] RichardsonVJohnson commented on #1203
now am facing anohter issue while creating new RN app

error Error: Cannot find module 'C:\Users\Login\AppData\Local\Temp\rncli-init-template-EcLdHk\node_modules\react-native\template.config'

Steps to reproduce:
---------------------------
npx react-native init myapp
also i tried
npm i -g react-native-cli
react-native init myapp

Console Log
-------------------------------------------------------

[2020-02-20 20:40] RichardsonVJohnson commented on #1203
still its not working !

[2020-02-20 20:40] RichardsonVJohnson commented on #1203
Console log
--------------------
warn Failed to connect to development server using "adb reverse": spawnSync  C:\Users\Login\AppData\Local\Android\Sdk/platform-tools/adb ENOENT

[2020-02-21 09:03] SounD120 commented on #1203
@RichardsonVJohnson I tried to reproduce this behavior, but in my case it doesn't reproduce . If `local.properties` file exists the extension uses Android `sdk.dir` from there, not from PATH environment variable. The path to the adb executable is processed [this way](https://github.com/microsoft/vscode-react-native/blob/master/src/extension/android/adb.ts#L60) on the extension side.

Anyway if the

[2020-02-24 20:24] rafaelmaeuer opened #1206 "using "target": "iPhone Name" opens iPhone 8 Simulator"
## Actual Behavior
When more than one device is connected it complains `error Could not find a device named: "true". Available devices: - iPhone Name1 (c0b...d20) - iPhone Name2 (b11...a59)`.
When using `"target": "iPhone Name1"` in Debug config it opens up iPhone 8 Simulator instead of using "iPhone Name1" as target.

## Expected Behavior
When using `"target": "iPhone Name1"` in Debug config the

[2020-02-25 09:50] SounD120 commented on #1206
Hi @rafaelmaeuer and thanks for reaching us. As for now `target` argument is not yet supports launching using a specific device, as a workaround you can use `runArguments` options [as described in documentation](https://github.com/microsoft/vscode-react-native/blob/master/doc/debugging.md#debugging-on-ios-device).

[2020-02-25 11:53] SounD120 commented on #1203
@RichardsonVJohnson Do you have a chance to look at this?

[2020-02-26 11:50] #1206 closed

[2020-02-26 11:53] SounD120 commented on #1206
Hi @rafaelmaeuer . This feature was added in #1207 and will be released in next extension version. After that you'll be able to specify the exact iOS device to run as follows:
[code]

[2020-02-27 11:47] SounD120 commented on #1203
@RichardsonVJohnson I am closing this due to inactivity. Please feel free to reopen if needed.

[2020-02-27 11:47] #1203 closed

[2020-02-28 08:42] RedMickey opened #1209 "Migrate on js-debug extension's debugging core"
We are planning to migrate React Native extension debugging to [js-debug](https://github.com/microsoft/vscode-js-debug), since currently used [vscode-chrome-debug-core](https://github.com/microsoft/vscode-chrome-debug-core) package will be deprecated soon. For providing communication between a RN app and `js-debug` extension the special [CDP proxy](https://github.com/microsoft/vscode-cdp-proxy) wi

[2020-03-04 13:56] ramyareye commented on #1198
@SounD120 a question, did you work on new watch mode, r & d keys?

![](https://static.callstack.com/wp/2020/02/13172315/New-watch-mode-in-React-Native-CLI-3.1.0-768x441.png)

Thanks

[2020-03-04 14:19] SounD120 commented on #1198
Hi @ramyareye . No, we didn't. We have the command palette commands for that in the extension
![image](https://user-images.githubusercontent.com/32372875/75888151-fb466f00-5e3b-11ea-9346-0f92cd0437db.png)

[2020-03-04 14:39] ramyareye commented on #1198
I think these are different. New commands are inside metro bundler which there weren't before.
I don't really know if the API is the same.

Anyway at the time the "d" command doesn't work in metro bundler.

[2020-03-04 20:17] andyeskridge opened #1212 "xcodebuild workspace using wrong name"
## Actual Behavior
1. Launching a debug session for ios results in an error that the workspace doesn't exist

## Expected Behavior
1. Debug configuration picks up the correct .xcworkspace name

## Software versions
- React-Native VS Code extension version: 0.14.1
- VSCode version: 1.42.1
- OS platform and version: macOS 10.15.3
- NodeJS version: 13.8.0
- React Native version: 0.61.2

## Outputs (I

[2020-03-05 07:51] RedMickey commented on #1212
Hi @andyeskridge and thanks for reaching us. The cause of the problem was found out, and now we are working on a bugfix.

[2020-03-10 14:54] RedMickey commented on #1212
@andyeskridge, we saw your comments in the [PR](https://github.com/microsoft/vscode-react-native/pull/1213) that should fix this issue. Could you please let us know more about your project configuration? It also will be very helpful for us if you send us a demo project, so we could take into account all its features and test carefully the changes.

[2020-03-11 06:05] ARJUN-JAKKA commented on #905
PS D:\project\app> react-native run-windows
 √ Found NuGet Binary
 √ Found MSBuild v16.0 at C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin (16.4.29806.167)
- Restoring NuGetsC:\Users\jsvis\AppData\Local\Temp\nuget.4.9.2.exe
 √ Restoring NuGets
 √ Found MSBuild v16.0 at C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin (16.4.29806.1

[2020-03-11 07:45] SounD120 commented on #905
Hi @ARJUN-JAKKA . The first issue looks similar to #1152, and it is not connected to the extension since it is reproduced even without the extension. With respect to errors with building in Visual Studio, I'm afraid that this is not the correct place for resolving such questions. I suppose that it is better to ask your questions in [React Native for Windows repository](https://github.com/microsoft

[2020-03-13 10:11] RedMickey commented on #1212
@andyeskridge, do you have a chance to look at this?

[2020-03-17 09:45] #1212 closed

[2020-03-17 09:48] SounD120 commented on #1212
Hi @andyeskridge . It looks like we were able to reproduce [your specific case](https://github.com/microsoft/vscode-react-native/pull/1213#issuecomment-595301382), so we proposed a fix for it. It will be released in a new extension version. Please feel free to open new issues or reopen this one in case of any problems with the extensions. Thanks.

[2020-03-18 20:19] molant opened #1226 "[Discussion] Preparing for Turbomodules"
Hello all,

I'm opening this issue to start discussing what the future looks like once Turbomodules are GA. It looks like [the current debugging experience will be broken in most cases](https://github.com/react-native-community/discussions-and-proposals/issues/206) and I think it will be good to start planning.

The gist of the linked conversation is that the only thing that will work is direct de

[2020-03-19 20:54] alloy commented on #1226
:wave: I can say that at least attaching to JSC on a device running iOS 13.3.1 using `ios-webkit-debug-proxy` worked well using [react-native’s RNTester](https://github.com/facebook/react-native/tree/master/RNTester) application. (Didn’t try TurboModules specifically, though.)

Unsure who has access to this Teams channel besides @molant, but [here’s a thread](https://teams.microsoft.com/l/message/

[2020-03-21 13:30] molant commented on #1226
The extension is migration to a new debugger (see #1209) and the team has done a bit of research to see what it would take to make it work with Hermes.

The new debugger is [`js-debug`](https://github.com/microsoft/vscode-js-debug) and it uses flat sessions to allow debugging of all related pages and workers at the same time through a single connection using a `targetId` to route the message to th

[2020-03-22 15:03] superandrew opened #1230 "Could not debug [Object object]"
## Actual Behavior
1. Install VS Code and react native tools
2. Open a project used on another computer
3. install react native cli globally
4. launch expo manually using expo r
5. try to debug

## Expected Behavior
1. the debugger starts, prints the qr code, after which I connect
2.

## Software versions
- React-Native VS Code extension version:
0.14.2
- VSCode version:
Version: 1.41.1
- OS platf

[2020-03-23 06:52] superandrew commented on #1230
I should add that the "attach to packager" debugger works, it is just the "debug with exponent" that gives this unclear error.

[2020-03-23 08:09] RedMickey commented on #1230
Hi @superandrew and thanks for reaching us. It seems that you had started an expo app manually and then tried to start the same app again using the extension's debugging scenario. It isn't required to start an expo app manually, if you are using `Debug in Exponent` scenario. Please follow the [expo debugging documentation](https://github.com/microsoft/vscode-react-native/blob/master/doc/expo.md#de

[2020-03-23 09:29] superandrew commented on #1230
Hi, @RedMickey thank you, I actually know that and I usually start with `Debug in exponent`. The problem is, and the reason why I reported this issue, is that on a new computer, following the documentation, I have this weird `Could not debug [Object object]` error.

[2020-03-23 09:31] superandrew commented on #1230
oh, and if it useful, the step which doesn't work, is step 5

https://github.com/microsoft/vscode-react-native/blob/master/doc/expo.md#debugging-expo-applications

I see no QR code as it happens when it works.

[2020-03-23 11:20] SounD120 commented on #1230
Hi @superandrew . Which platform (iOS or Android) did you try to debug? I tried to run through the repro steps that you described on a freshly created app and faced no problems. Have you tried to run Expo debugging on a freshly created app, does this behavior reproduce there? Also, I am not sure that running `expo r` and `Debug in Exponent` debug scenario simultaneously is a good idea. That can le

[2020-03-23 16:57] molant opened #1231 "Optimize readme.md for extension post installation instructions"
After installation of the extension, the [`README.md`](https://github.com/microsoft/vscode-react-native/blob/master/README.md) gets displayed:

![screenshot of the React Native Tools documentation inside VS Code](https://user-images.githubusercontent.com/606594/77340317-5d331f80-6cea-11ea-812d-d933cdd704e3.png)

Even though my screen has a nice resolution, the features relevant to the extension (c

[2020-03-24 10:38] superandrew commented on #1230
Hi @SounD120 sorry I didn't explain well. On step 4 I didn't mean that I launch expo manually while debugging. Instead I was saying that I checked that expo is working correctly.

Now, I tried a new app with expo init and then add the Debug in Exponent configuration, but I have this error:

[code]

[2020-03-24 10:40] superandrew commented on #1230
I was just able to test a new generated app:

[code]
Node version maybe? anything useful I could take a look at?

[2020-03-24 10:43] superandrew commented on #1230
This happens exactly when the `Could not debug. [object Object]` error prints. Here and on the other project

![CleanShot 2020-03-24 at 11 42 24](https://user-images.githubusercontent.com/71364/77416729-8aec9700-6dc4-11ea-9b06-3c8b8458bea7.png)

[2020-03-24 12:50] molant commented on #1231
I've been looking at the docs and it looks like the only filed picked up to show up in the marketplace and post installation is the [`README.md` at the root of the project](https://code.visualstudio.com/api/get-started/extension-anatomy#extension-file-structure).

[2020-03-24 13:08] SounD120 commented on #1230
@superandrew The error:
[code]
may be connected with [`always-auth`](https://github.com/npm/npm/issues/12758) option in [npmrc](https://docs.npmjs.com/configuring-npm/npmrc.html) file. And this can be the reason of this behavior, because `npm` cannot install the required packages, and this causes errors inside the extension. Could you please check if `npm` is configured correctly, reinstall the pa

[2020-03-24 13:16] superandrew commented on #1230
@SounD120 good catch. I hadn't a .npmrc file. I copied it from the other computer (` //registry.npmjs.org/:_authToken=<a token>`, and now it seems I have no residual problems on npm. I tried uninstalling react-native-tools, reloading, and reinstlling it again.

Same problem, that starts way before the packaging has finished loading. It prints:

[code]

and, after a few seconds,

`Could not debug.

[2020-03-24 13:17] superandrew commented on #1230
Is there a way to "reset" react native tools, so that it asks again for expo credentials etc?

[2020-03-24 14:02] RedMickey commented on #1231
Hi @molant, we looked through other VS Code extensions and found out that it could be useful to add a table of contents at the top of the `README` page. That allows to quickly select needed topic and jump to it. We created a [draft version of new `README`](https://github.com/microsoft/vscode-react-native/tree/enhance-readme-page). We also added information about Command Palette commands provided b

[2020-03-24 14:06] molant commented on #1231
I think it's a great start!
Let me run it through our UX researcher see if he has any other suggestion.

Thanks 🙏

[2020-03-24 15:26] molant commented on #1231
Now that I've had more time to look at it I really like having a ToC at the beginning.
I think we should inline also the docs of the latest sections in the main readme even if it makes it longer. There are a couple reasons:

1. The links do not open just "on click" in VS Code:

![security prompt in VS Code when clicking an external link](https://user-images.githubusercontent.com/606594/77443113-16

[2020-03-25 08:10] BalazsSzamody opened #1233 "Can't debug on Android Emulator"
## Actual Behavior
1. Start `Debug Android`
2. Session fails

I had the the following added to `.bash_profile` following the [ReactNative Documentation](https://reactnative.dev/docs/getting-started):
[code]
Than I moved it to `.bashrc`.

In the vsCode Terminal if I run `add devices` I get the following output
(It has my default zsh config, but I added `source ~/.bashrc` to my `~/.zshrc`:
[code]

i

[2020-03-25 08:16] SounD120 commented on #1233
Hi @BalazsSzamody , thanks for questioning. After macOS Catalina the default system terminal is `zsh`, so I recommend to add the following lines to `~/.zshrc`(create it if doesn't exist) and reload all your running terminals and VS Code:
[code]

Please let us know if this helped.

[2020-03-25 10:21] SounD120 commented on #1230
@superandrew Actually there is no way to "reset" the extension. But you can do something like that with `expo-cli`. You can call `expo logout` command to logout from Expo, after that extension will ask you for credentials like you run it for the first time. Also in this case it could be useful to reinstall the extension:
* remove the extension
* exit VS Code via `Quit` button in the dock
* open VS

[2020-03-25 11:27] SounD120 commented on #1231
@molant Sounds interesting, lets see what @jabfrei can propose.

[2020-03-25 12:33] SounD120 commented on #1233
Oh I see. It seems that you have already added this to your `zsh` config. Does debugging works if you run VS Code from `zsh` terminal `code` command?

[2020-03-25 16:31] svvitale commented on #566
I really hate to dredge up an issue this old, but I'm encountering the same issue.  It appears that the `env` and `envFile` launch parameters are being passed to the `start-android` command, but are *NOT* being passed to the packager.

In my case, I'm using `babel-plugin-transform-inline-environment-variables` which enables access to the packager's ENV via `process.env.VARIABLE_NAME`.

[2020-03-25 21:36] BalazsSzamody commented on #1233
@SounD120 Thanks for the quick reply.
I ran VS Code from the terminal with `code`, but that didn't change how it behaves.
I am still unable to Debug Android.
Debuging on the iOS Simulator still works.

[2020-03-26 06:56] SounD120 commented on #1233
@BalazsSzamody Do you have Android SDK installed in `$HOME/Library/Android/sdk`?
I have this config in my `~/.zshrc` and it works:
[code]
It also seems that the `ANDROID_HOME` variable is deprecated. The [official Android SDK documentation](https://developer.android.com/studio/command-line/variables) it is recommends to use `ANDROID_SDK_ROOT`.

[2020-03-26 07:07] SounD120 opened #1235 "env and envFile launch parameters are not passing to the packager"
It appears that the `env` and `envFile` launch parameters are being passed to the `react-native run-android` command, but are *NOT* being passed to the packager.

In my case, I'm using `babel-plugin-transform-inline-environment-variables` which enables access to the packager's ENV via `process.env.VARIABLE_NAME`.

_Originally posted by @svvitale in https://github.com/microsoft/vscode-react-native/

[2020-03-26 09:11] superandrew commented on #1230
Thanks @SounD120 . I tried all your steps. Unfortunately I didn't seem to find any improvement. One thing I noticed is that the error pops out even if expo cli is not installed. But if it is installed, and logget out, it asks for user and password, and then, after a while, the error pops.

Also, to be noticed, the error pops out exactly when in console this error pops:

![CleanShot 2020-03-26 at 1

[2020-03-26 09:33] superandrew commented on #1230
tried a full vs code reinstall.. I guess it is a machine condition, some missing package, any help on how to debug this would be helpful. I remind you that the "attach to packager" works as expected, and  debugs.

[2020-03-26 10:50] SounD120 commented on #1230
@superandrew It could be useful to enable the following options:

1. Add `"trace": "verbose"` to your `Debug in Exponent` debug configuration. This will enable extended logging for debugger process (Debug Console).
1. Create `.vscode/settings.json` file and add these lines to it:
[code]
This will enable extended debug logs for the extension(React Native output channel, React Native: Run exponent c

[2020-03-26 10:55] superandrew commented on #1230
sure!

[code]

[2020-03-26 11:01] SounD120 commented on #1230
@superandrew `React Native` and `React Native: Run exponent` channels logs will be useful too

[2020-03-26 11:18] superandrew commented on #1230
![CleanShot 2020-03-26 at 12 18 24](https://user-images.githubusercontent.com/71364/77641190-edc46680-6f5b-11ea-855b-f7284c03bd36.png)
it seems there is an error on the format, but the file is definitely there.

[2020-03-26 11:33] SounD120 commented on #1230
@superandrew It seems that the error message that is rendered should be corrected for that case, because that [message ](https://github.com/Microsoft/vscode-react-native/blob/19f7ad343f0359d8f49e97131daad9f072915f31/src/debugger/nodeDebugWrapper.ts#L314)is about [`react-native-tools.projectRoot`](https://github.com/microsoft/vscode-react-native/blob/master/doc/customization.md#project-structure) s

[2020-03-26 15:33] superandrew commented on #1230
I'm really sorry, but I didn't understand what you are suggesting.

[2020-03-26 15:35] superandrew commented on #1230
I tried adding the projectRoot settings, but it seems that "Trace" isn't an expected value, it expects an enum.
![CleanShot 2020-03-26 at 16 35 01](https://user-images.githubusercontent.com/71364/77665320-c8e1ea80-6f7f-11ea-8fdb-94837d8a9ae5.png)

[2020-03-26 15:37] superandrew commented on #1230
however, it works
[code]
but I have no other useful info

[2020-03-26 16:36] SounD120 commented on #1230
@superandrew Sorry, maybe I wasn't enough clear to you. I am asking to send us outputs from the output channels `React Native` and `React Native: Run exponent`. You can find them using these steps in VS Code UI: Toggle View -> Toggle Output -> Select `React Native` and `React Native: Run exponent` in ListBox.

[2020-03-26 18:40] superandrew commented on #1230
ok, now I got it.

React native: Run Exponent

[code]
React native:

[code]
Hope it helps

[2020-03-26 22:04] jabfrei commented on #1231
Great idea - providing a ToC makes sense and expect it would help with navigation to other sections. Moving to inline will remove the friction of opening a browser window. Bringing in the relevant info from the RN [getting started documentation](https://reactnative.dev/docs/getting-started.html) would be great here. Hypothesizing this would be directly relevant to a user that's getting started. Ad

[2020-03-27 16:32] superandrew commented on #1230
@SounD120 is there anything else useful I could provide you, or tests I could run?

[2020-03-27 17:13] SounD120 commented on #1230
@superandrew I think one thing can help. It seems that something wrong runs out through the logging output and that's why the only thing we can see is `[object Object]`. I think it can be useful to see what's the object it is, you can find the exact place in the extension code and add `JSON.stringify` function for the this output to do this you can do the following:

1. Open the`~/.vscode/extensio

[2020-03-27 17:44] superandrew commented on #1230
thanks.

here's the output. Not what I expected. An empty object. Maybe I could do this a little higher in the stack?

[code]

[2020-03-27 17:55] SounD120 commented on #1230
@superandrew It is definitely makes sense to try to place it higher in the stack. For example [here](https://github.com/microsoft/vscode-react-native/blob/52f2485a8bf1fc564f6593d62f6914ab2fe8f86c/src/debugger/nodeDebugWrapper.ts#L251). We can also try to print error object

[2020-03-27 21:31] superandrew commented on #1230
I am absolutely lost on why with this:

[code]
it still prints {} after reloading. I am sure the file is being modified because if there are errors I get a timeout.  Where can I just `print` something'? tried console.log but to no avail.

[2020-03-27 21:45] CarlosJJR commented on #796
I'm facing the exact same issue. I am able to run my app using `react-native run-android` but when I try to use the extension I always get: Failed to run the application in Android (error code 104). The build is successful but when the app is being installed is when the extension throws the error. Any ideas what this can be?

This is the output on React Native: Run Android
`> Task :app:installDebu

[2020-03-28 15:13] cdelacombaz commented on #1169
I had the exact same problem and in my .zshrc I had ANDROID_SDK=<path> by default. I added ANDROID_SDK_ROOT as you suggested and it worked. Thank you!

[2020-03-29 09:51] Nahi3an commented on #381
Thank you  It worked <3

[2020-03-30 04:16] sbue opened #1242 "Debug in Expo - node_modules Source Map"
## Actual Behavior
1. When I set a breakpoint in a *.ts file within node_modules, the breakpoint is ignored because "generated code not found (source map problem?)"

## Expected Behavior
1. The expected behavior is that I can set a breakpoint.

## Software versions
- React-Native VS Code extension version: 0.14.2
- VSCode version: 1.43.2
- OS platform and version: MacOS Catalina
- NodeJS version:

[2020-03-30 07:04] SounD120 commented on #1233
Hi @BalazsSzamody Do you have a chance to look at this?

[2020-03-30 08:10] RedMickey commented on #1230
@superandrew, in this case, unfortunately, the best way to found out the problem is debugging. Could you please add the code below [here](https://github.com/microsoft/vscode-react-native/blob/master/src/debugger/nodeDebugWrapper.ts#L98) and [here](https://github.com/microsoft/vscode-react-native/blob/master/src/debugger/nodeDebugWrapper.ts#L251)?
[code]

After adding of the code above, you should

[2020-03-30 11:20] SounD120 commented on #1242
Hi @sbue and thanks for asking. Could you please add a bit more information about your case?
Do you have the compiled JS files + sourcemaps in that package in `node_modules`? Also which instruments was used to build that package (simple `tsc` or `Webpack`)? Actually Typescript code is not interpreted directly so the debugger will find it only in case if only the sourcemap file will point to it and

[2020-03-30 12:35] superandrew commented on #1230
Here's the output. Unfortunately there is something system level and this output doesn't seem to provide much more info.

[code]

[2020-03-30 12:39] superandrew commented on #1230
I must add, in case you didnt' notice it before, that "attach to packager" works

[code]

[2020-03-30 12:54] SounD120 commented on #1230
@superandrew Could you please also try to disable or uninstall all the extensions except React Native Tools and try to run debugging? Maybe something from your environment is conflicting with the React Native debugger?

[2020-03-30 13:07] superandrew commented on #1230
I have no other extensions. It is a clean mac. I just installed JRE just to be sure but I hardly have conflicting things, more likely some missing dependency.

Don't mean to insist but this error pops in console exactly at the same time with the error of could not debug.

`[Extension Host] (node:6485) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please

[2020-03-31 06:43] superandrew commented on #1230
Does this help?

``` ERR No application in the Launch Services database matches the input criteria.: Error: No application in the Launch Services database matches the input criteria.```

[2020-03-31 09:18] RedMickey commented on #1230
@superandrew, this case is fairly uncommon and we haven't faced such a problem yet. Unfortunately, it could take a bit more time to solve this issue, because it's really hard to reproduce this problem on our side.
The thrown error is connected to RPC connection, that is used to provide communication between extension and debugger sides of React Native Tools. For some reason `Extension.launch` requ

[2020-03-31 10:44] sportshead commented on #1007
Is this dead?

[2020-03-31 11:13] SounD120 commented on #1007
Hi @sportshead . It is not dead, just some of the issues are tracked in https://github.com/microsoft/react-native-windows . If you have any questions about React Native for Windows support in React Native Tools extension - please let us know about them.

[2020-03-31 21:30] superandrew commented on #1230
Ok, the first part of the experiment was installing plain node (13 something) and the first thing that puzzled me was:

why? `Adapter node: *v12.8.1* x64` -> how can I change that? there is no nvm installed nor node 12.8.1 to my knowledge

[code]

[2020-03-31 21:49] superandrew commented on #1230
in the end with no nvm I was able to launch the debugger with react native. But not in expo (expo-cli installed globally, watchman through brew).

I suspect I am still using node v.12.8.1

[code]

[2020-04-01 03:25] sbue commented on #1242
Hi @SounD120 thanks so much for asking.

I'm pretty sure I'm using tsc, but am not sure how to confirm. There's no webpack files for context.

As for your second question - I've noticed that in a given directory in `node_modules` in the `src` folder, all the files are `.ts`. In the `lib` folder I see `.js` and `.js.map`. Given this, it seems like the source map files are there?