[2020-04-01 05:17] SounD120 commented on #1242
@sbue Typescript files are not published in the npm packages in the most cases. If package was built correctly, then JS file + `js.map` files give the same effect as debugging the TS file. Debugger is able reconstruct the source TS file using the corresponding `js.map` file, so I recommend to try to put a breakpoint inside the compiled JS file in your package(or step into its functions from your a

[2020-04-01 06:32] SounD120 commented on #1230
@superandrew Adapter node here is the version of Node.js which is built in VS Code, it means that the debugger process is working on Node.js 12.8.1 provided by VS Code. But the `debuggerWorker.js` process(from which we communicate with the application) is working on the Node.js version installed on your PC.

For example if you have Node.js 12.16.1 your `debuggerWorker.js` will work on Node.js 12.1

[2020-04-01 07:11] superandrew commented on #1230
yes, that is exact. I had no errors debugging react native. I wasn't able to set a breakpoint to be honest and watch the debugger stop, but when I told the debugger to start the app launched in the simulator and there were no errors on the debug console.

[2020-04-01 08:54] RedMickey commented on #1230
@superandrew, we were able to reproduce an error similar to your case and found out probable place in the code where the error can be thrown.
Could you please modify [launch function](https://github.com/microsoft/vscode-react-native/blob/master/src/extension/extensionServer.ts#L187) the same way as below, run Expo debugging again and send us outputs from new output channel called `New  Error Chann

[2020-04-01 09:26] superandrew commented on #1230
I'm afraid that after the change there is no "New Error Channel".. perhaps the error wasn't catched or I did something wrong.

My launch.json

[code]

[2020-04-01 13:23] molant opened #1246 "Improve command table descriptions"
With that representation that table is quite poor. Command names just duplicate the descriptions. I think it could be useful if we expand descriptions a bit.

_Originally posted by @SounD120 in https://github.com/microsoft/vscode-react-native/pull/1243#discussion_r401490725_

[2020-04-02 06:58] superandrew commented on #1230
I noticed that If I put

`let outputChannel = vscode.window.createOutputChannel("New Output Channel");` on the first line of `launch` it still doesn't get executed (or better the channel doesn't get created).

Could that mean that the error is before `launch`?

[2020-04-02 14:27] superandrew commented on #1230
small update:

I was able to create a new output channel on the first line of `launch`. However no channel is created when the new channel creation is in the catch.
![CleanShot 2020-04-02 at 16 26 14](https://user-images.githubusercontent.com/71364/78260817-b119e180-74fe-11ea-89f0-bbd0bee93b4e.png)
![CleanShot 2020-04-02 at 16 26 48](https://user-images.githubusercontent.com/71364/78260869-c42cb18

[2020-04-02 14:28] superandrew commented on #1230
so from what I see it seems the catch isn't executed, is it?

[2020-04-02 14:44] RedMickey commented on #1230
@superandrew, thanks alot for your effort. Yes, it seems that the error occurs further in the code. We continue to dig it out.

[2020-04-02 14:48] superandrew commented on #1230
I don't know the internals, but from what I read on this stack:

[code]
It seems to be a problem related to websocket (connecting? a message received with unexpected payload?). Is there anything I could check given that this is a Mac Pro with Catalina and an initial setup? Any package that I am missing? Any package I should check? Just as an example, a possible "little snitch" denying connections

[2020-04-02 15:09] SounD120 commented on #1233
@BalazsSzamody I am closing this due to inactivity. Feel free to reopen if needed.

[2020-04-02 15:09] #1233 closed

[2020-04-03 08:51] SounD120 commented on #1230
@superandrew Yes, it seems that something is breaking when the extension tries to exchange messages from Extension to Debugger or vice versa on the Websocket level. Do you use any VPNs for your internet connection, or some custom network configurations that, by your opinion, can affect this?

[2020-04-03 10:10] superandrew commented on #1230
@SounD120 as this is a very clean Mac I suspected that that could be a missing dependency instead of some conflict. I sometimes use Proxyman as a proxy to debug, which I use in my laptop as well, and no, I have no VPNs in place.

As an "extreme" measure, how difficult would it be to debug this extension so that I could read and provide some step by step info?

[2020-04-03 10:26] SounD120 commented on #1230
@superandrew We have this described in our [contribution documentation](https://github.com/microsoft/vscode-react-native/blob/master/CONTRIBUTING.md). To do that you need to clone the repository, install Gulp, and then run `Launch Extension + Debug Debugger` scenario. That will allow you to debug the extension working in one VS Code instance from the another VS Code instance.

The extension is div

[2020-04-03 23:05] gfrancischini commented on #1209
Hi, is there any update or ETA for this? I really hope it improves the debug of async functions.

Keep the good work!

[2020-04-04 14:16] superandrew commented on #1230
after a couple of debugging sessions, I found many errors thrown for missing folders or files (but I guess they are normal. And the last error is:

[code]
![CleanShot 2020-04-04 at 16 11 40](https://user-images.githubusercontent.com/71364/78453018-67accc00-768f-11ea-925f-a00f7e8ab460.png)
![CleanShot 2020-04-04 at 16 10 37](https://user-images.githubusercontent.com/71364/78453019-68ddf900-768f-11e

[2020-04-04 14:34] superandrew commented on #1230
the debugger crashes here
![CleanShot 2020-04-04 at 16 33 02](https://user-images.githubusercontent.com/71364/78453430-fa4e6a80-7691-11ea-8ab0-70763ea097f2.png)

As you probably already imagined.

Let me know if I could be of help. Of course if you like I'm available for remote session with my debugger if you think that could help.

[2020-04-04 14:49] superandrew commented on #1230
in the end it seems that the error is a message received through ws and processed in processMessage which says "internal error" and nothing more than we discovered earlier.

[2020-04-04 20:38] superandrew commented on #1230
after further digging, the main error seems to be located/related to `return XDL.startTunnels(this.projectPath);` on line 57-ish of `exponentPlatform.ts`

After failure, it returns this:
Error
message:""
stack:"Error

![CleanShot 2020-04-04 at 22 36 55](https://user-images.githubusercontent.com/71364/78460863-d7897980-76c4-11ea-901a-130c84190ae7.png)

At this point I don't think I am going to be a

[2020-04-06 06:44] RupamShaw commented on #823
resolved - xcode was in debug mode and by continue play debug in vscode works

[2020-04-06 09:07] RedMickey commented on #1230
Thanks for your investigation, it seems that there could be some issue with [Expo tunnel feature](https://docs.expo.io/versions/latest/workflow/how-expo-works/). In the extension we use [`startTunnelsAsync`](https://github.com/expo/expo-cli/blob/master/packages/xdl/src/Project.ts#L2186-L2298) function from [@expo/xdl](https://github.com/expo/expo-cli/tree/master/packages/xdl#readme) package to cre

[2020-04-06 09:23] SounD120 commented on #1230
Hi @superandrew . In addition to @RedMickey 's post, it seems that the exact error is https://github.com/expo/expo-cli/blob/master/packages/xdl/src/Project.ts#L2191.
It means that Expo XDL didn't found `packagerPort` in your `.expo/packager-info.json` file.
In my case it looks like this and debugging works without any problems:
[code]
Could you please take a look at this file and check if `package

[2020-04-06 09:53] superandrew commented on #1230
this is my packager-info.json in .expo

[code]

[2020-04-06 10:01] superandrew commented on #1230
unfortunately, that didn't work.
Here's my launch config.

[code]

 What absolutely puizzles me is that "attach to packager" works.
[code]

[2020-04-06 11:30] SounD120 commented on #1242
@sbue Just a friendly ping on this.

[2020-04-07 12:44] RedMickey commented on #1230
@superandrew, `Attach to packager` works because in this case we don't call `Extension.launch` method where the error occurs.
Did you get the same error when you were trying to debug an application with `"expoHostType": "lan"` parameter? Were there any errors in `exponentPlatform.ts` file as in the previous case with `tunnel` configuration?

XDLError {code: "NO_PACKAGER_PORT", isXDLError: true, me

[2020-04-07 13:22] SounD120 opened #1249 "Update documentation for Expo usage"
I believe this whole section is outdated. Installing globally the RN CLI is not recommended anymore and the steps to get [Expo up and running nowadays seem to be different](https://reactnative.dev/docs/environment-setup):

@SounD120 @RedMickey can you please confirm and tell me if there's any other requirements than the ones in the docs?

_Originally posted by @molant in https://github.com/microso

[2020-04-07 14:10] superandrew commented on #1230
I'm not sure, but.. I never get to line 66.

![CleanShot 2020-04-07 at 16 09 13](https://user-images.githubusercontent.com/71364/78679149-25cb9200-78ea-11ea-8bdc-7cbc3f186efe.png)

[2020-04-07 14:17] superandrew commented on #1230
the failure is now on line 55

basically:

tunnel fails here:

![CleanShot 2020-04-07 at 16 16 30](https://user-images.githubusercontent.com/71364/78679989-3597a600-78eb-11ea-9bc6-65e4e887f098.png)

lan fails here

![CleanShot 2020-04-07 at 16 16 26](https://user-images.githubusercontent.com/71364/78680049-48aa7600-78eb-11ea-9f8a-e1713a73ed2e.png)

[2020-04-07 15:06] #1231 closed

[2020-04-09 12:57] JiglioNero commented on #1235
@svvitale Hello, in the next version there will be an opportunity to transfer custom environment variables from `env` and `envFile` to Packager. More details: https://github.com/microsoft/vscode-react-native#custom-environment-variables

[2020-04-09 12:57] #1235 closed

[2020-04-09 13:33] RedMickey commented on #1230
@superandrew, as seen from this error:

XDLError {code: "NO_PACKAGER_PORT", isXDLError: true, message: "No packager found for project at /Users/superandre…", name: "XDLError", stack: "XDLError: No packager found for project at /Users/…"}
code:"NO_PACKAGER_PORT"
isXDLError:true
message:"No packager found for project at /Users/superandrew/code/tutelart-rn."
name:"XDLError"
stack:"XDLError: No packag

[2020-04-09 13:44] SounD120 commented on #1242
@sbue I am closing this due to inactivity. Feel free to reopen if needed.

[2020-04-09 13:44] #1242 closed

[2020-04-09 16:16] #1246 closed

[2020-04-09 21:44] superandrew commented on #1230
first, you have a wonderful color scheme.

second, unfortunately I already checked it and it seems the projectPath is fine. I should also note that the extension doesn't work with any project, so I guess it is a "machine/setup" problem and not a project one, also because the project works fine in at least three different computers.

![CleanShot 2020-04-09 at 23 39 42](https://user-images.githubuse

[2020-04-09 21:48] molant commented on #1230
@superandrew can you try running `npx react-native doctor` see if it identifies any issue?

[2020-04-10 07:33] superandrew commented on #1230
@molant unfortunately, it doesn't seem like there are issues. Also, I'm having this problem also on newly created expo project (but not react native project)

![CleanShot 2020-04-10 at 09 31 35](https://user-images.githubusercontent.com/71364/78972483-26dd0900-7b0e-11ea-804e-2fca0b61ef5c.png)

[2020-04-10 07:34] superandrew commented on #1230
just to understand @RedMickey @SounD120 : the point where I loose the debugger (in lan and tunnel case) is going into native bindings? is there any way to debug them in case?

[2020-04-10 07:56] SounD120 commented on #1230
@superandrew The issue that you have faced is not connected with the extension directly. The issue has happened inside the [`Expo Development Library (@expo/xdl)`](https://www.npmjs.com/package/@expo/xdl). You can debug it directly in the `node_modules`.
For example to debug the `stopAdbReverse` function you'll need to:
* open `<your downloaded for debug extension>/node_modules/@expo/xdl/build/And

[2020-04-10 11:32] Trashpants opened #1252 "App refuses to load with expo and @expo/vector-icons"
## Actual Behavior
App refuses to load when using @expo/vector-icons (see screenshot)
 - running "expo start" gets around this and debugging works as expected
 - other issues seem to arise too from using expo eg the expo app wake lock seems to break when using debugging tools

![IMG_8E954F19B919-1](https://user-images.githubusercontent.com/29092604/78987473-0d47bb80-7b26-11ea-910b-e18446d57780.jpe

[2020-04-10 12:02] superandrew commented on #1230
I am debugging. Just a simple question: do you know if Android SDK is a requirement for EXPO/XDL/React Native tools?

[2020-04-10 12:07] SounD120 commented on #1230
@superandrew XDL uses ADB which is the part of the Android SDK, so it is required for that. Do you have it installed?

[2020-04-10 12:14] superandrew commented on #1230
ahah.

[2020-04-10 12:14] superandrew commented on #1230
![CleanShot 2020-04-10 at 14 14 37](https://user-images.githubusercontent.com/71364/78990035-9fa38b80-7b35-11ea-8743-79a688e98bdf.png)

[2020-04-10 12:16] superandrew commented on #1230
ok.. I'm sorry I didn't read that Android SDK was required. My bad. I'm sad because I was start having fun. I think someone at `expo` should correct that error. @SounD120 are you in contact? or should I raise an issue there? The problem here is the empty error message I guess.

[2020-04-10 12:23] SounD120 commented on #1230
@superandrew Sure, raise an issue in [expo-cli](https://github.com/expo/expo-cli) repo if you have concrete repro steps now. From our side we will check our documentation requirements more strictly to add the Android SDK requirement in there. We'll also check logging from the `Extension.launch` to avoid such problems in future. I suppose that the issue is resolved now? Can I close it or you have a

[2020-04-10 12:31] superandrew commented on #1230
@SounD120 please feel free to add your feedback or any integration in my issue if something isn't clear

https://github.com/expo/expo-cli/issues/1858

[2020-04-10 12:40] SounD120 commented on #1230
@superandrew Thanks a lot for your efforts in discovering this. I am closing this issue now as resolved. Lets continue the discussion of this problem in https://github.com/expo/expo-cli/issues/1858.
Feel free to open new issues if needed.

[2020-04-10 12:40] #1230 closed

[2020-04-10 12:41] superandrew commented on #1230
thanks! it's been a pleasure! I can confirm everything works now.

[2020-04-10 12:43] SounD120 commented on #1230
@superandrew Glad to hear that. Feel free to reach us if you face any other questions about the extension.

[2020-04-12 19:52] bucktower commented on #1252
Doesn't work with custom .ttf from Google Fonts in `assets` folder nor Material Icons either. No custom fonts at all it seems

[2020-04-13 14:54] RedMickey commented on #1252
Hi @Trashpants and @bucktower and thanks for reaching us. We were able to reproduce this problem and now we are investigating how to fix it.

[2020-04-16 06:07] jaylucas opened #1254 "/bin/sh: 1: adb: not found"
## Actual Behavior
1. Start Debug Android
2. Session fails

I had the the following added to .bash_profile following the ReactNative Documentation:
[code]
Then I moved it to `.bashrc`.
Then moved it to `.zshrc`

[code]

Added to `.profile`
[code]

Added to `.bashrc`
[code]

`launch.json`:
[code]

run by: `code {app}`

## Expected Behavior
Start Debug Android
App launches in emulator with debugger

[2020-04-16 08:13] RedMickey commented on #1254
Hi @jaylucas and thanks for reaching us. Could you please tell us which shell you are using: `bash` or `zsh`?

- zsh
    If you are using `zsh`, that's enough to add React Native configurations to `.zshrc` file. So it isn't required to modify `.bashrc`, `.bash_profile`, `.profile` files.
    There is one more method: you can add React Native configurations to `.bash_profile` and then add the follo

[2020-04-16 12:50] #1249 closed

[2020-04-16 21:23] jaylucas commented on #1254
Thanks for the quick response!
Weird I thought I tried that, now I am getting:
[code]

Looking at: https://github.com/microsoft/vscode-react-native/issues/1169
Adding to `.bashrc`:
```export ANDROID_SDK_ROOT=$HOME/Library/Android/sdk```

didn't work.

[2020-04-16 21:37] SounD120 commented on #1254
Hi @jaylucas . Please check outputs from `React Native: Run android` output channel. You can find it this way: View -> Toggle Output -> Select `React Native: Run android` in ListBox.
Could you please look at the outputs in this channel and send them to us? They might contain Android build error.

[2020-04-16 22:30] jaylucas commented on #1254
Sorry is this what you needed?

[code]

[2020-04-17 07:49] SounD120 commented on #1254
@jaylucas Yes, thank you. It seems that the user agreement in the installed Android SDK version is not accepted yet so it cannot work without it. You need to accept it, you can do this using the following command and accept all needed licenses:
[code]
If for some reason `sdkmanager` binary wasn't found automatically you can use the following commands:
[code]
Please let us know if this helped or if

[2020-04-17 17:29] jaylucas commented on #1254
Omg, yeah it helps to read. Thanks. Now I am getting:

[code]

[code]

[code]

I know this problem seems to go beyond vscode but any ideas?

[2020-04-17 20:27] molant commented on #1254
From the error it looks like you have problems with hardware acceleration VMs.
https://developer.android.com/studio/run/emulator-acceleration#vm-linux has information on how to enable that in case you haven't already.

[2020-04-20 07:23] SounD120 commented on #1254
@jaylucas Have you tried the recommendation above?

[2020-04-20 14:21] RedMickey commented on #1209
Hi @gfrancischini, unfortunately I don't have the exact date. You can find our current results in [`dev/js-debug-adaptation`](https://github.com/microsoft/vscode-react-native/tree/dev/js-debug-adaptation) branch. Feel free to try it out and let us know if you faced any problems or bugs.

[2020-04-22 09:25] giladpn opened #1258 "The link to "setting up debug environments" is wrong in the extension's page on vscode"
## Actual Behavior
In VSCode, please go to the extension "react native tools" and click it to get the description page. Roll down to the section that says
"You can debug your app on an Android emulator, Android device or iOS simulator, iOS device. Please see the documentation for debugging on iOS devices [...]
**See Setting up debug environment for more details**."

The link provided to "setting u

[2020-04-22 09:32] SounD120 commented on #1258
Hi @giladpn thanks for questioning. The documentation readme file has been rewritten and now all the documentation has gathered in updated [Readme.md](https://github.com/microsoft/vscode-react-native/blob/master/README.md) file. Once the extension will be updated to the new 0.15.0 version, the extension description in the VS Code marketplace will update too and this problem should be resolved.
We'

[2020-04-22 10:52] giladpn commented on #1258
Thanks for the prompt response. Reading that [Readme.md](https://github.com/microsoft/vscode-react-native/blob/master/README.md) file is indeed an improvement. Please feel free to close this issue and if I have follow up issues I will open them separately. Thanks!

[2020-04-22 12:17] #1258 closed

[2020-04-22 12:19] SounD120 commented on #1254
@jaylucas I am closing this issue due to inactivity. Feel free to reopen if needed.

[2020-04-22 12:19] #1254 closed

[2020-04-24 03:23] jaylucas commented on #1254
Sorry, I thought I commented.

For those struggling with the same issue: I deleted all the Android images and reinstalled newer versions which solved the problem. Thanks!!

[2020-04-28 09:45] mametur commented on #381
thx I had same issue

[2020-04-29 06:14] iosToTop commented on #755
I fixed this by change my wifi to use my phone 4G.
But when i change my wifi to office.The problem also with me.
So i don't know what the question now!!

[2020-04-29 06:17] iosToTop commented on #1012
I fixed this by change my wifi to use my phone 4G.
But when i change my wifi to office.The problem also with me.
So i don't know what the question now!!

[2020-04-29 07:38] RedMickey commented on #1012
Hi @iosToTop, please open a new issue according to [our issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md) and describe your problem in details?

[2020-04-29 07:54] RedMickey commented on #755
Hi @iosToTop, please open a new issue according to [our issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md) and describe your problem in details.

[2020-04-29 14:58] #1252 closed

[2020-04-30 01:46] iosToTop opened #1263 "The React Native package generation tool could not be started(error code:106)"
## Actual Behavior
1. The React Native package generation tool could not be started(error code:106)

## Expected Behavior
1. When i start the react native package by extension command.

## Software versions
- React-Native VS Code extension version:
- VSCode version:  1.44.2
- OS platform and version:  10.14.5
- NodeJS version:  12.8.1
- React Native version: 0.55.4
- Expo SDK version (include if r

[2020-04-30 01:49] iosToTop commented on #1263
[https://i.loli.net/2020/04/30/DRmBTXW8l94F6G3.png](url)
And when i click the red circle button.Vscode show 'command " not found'

[2020-04-30 02:04] iosToTop commented on #1263
![error img](https://i.loli.net/2020/04/30/DRmBTXW8l94F6G3.png)
Sorry,this is the error image

[2020-04-30 09:10] RedMickey commented on #1263
Hi @iosToTop and thanks for reaching us. It seems that the packager freezes while starting. Could you please try to run the packager using React Native CLI command `npx react-native start` at the same conditions when you got the error?
Please let us know about your results.

[2020-05-03 16:55] dgalbraith opened #1265 "Inconsistent licenses between thr GitHub repository and the VSCode Marketplace"
The licensing used between the two distribution channels for the React Native Extension is not consistent.  There is a [proprietary license](https://marketplace.visualstudio.com/items/msjsdiag.vscode-react-native/license) on the VSCode Marketplace while a [MIT license](https://github.com/microsoft/vscode-react-native/blob/master/LICENSE.txt) is used on GitHub.

## Actual Behavior
1. VSCode Marketp

[2020-05-05 09:29] andrekovac commented on #305
@vladimir-kotikov Everytime I close the previous debugger sessions or even quit Chrome entirely, Chrome opens up again and VSCode does not act as the debugger.

[2020-05-05 12:14] keremcubuk commented on #1263
Hi, I have same error. When starting with the start button, but when I start with **`npm start -- --reset-cache`** it works. Debugging on VSCode not works, it opens chrome debugger.

![Screen Shot 2020-05-05 at 15 12 52](https://user-images.githubusercontent.com/29661833/81064761-ef7e3400-8ee2-11ea-801f-45a238513e2f.png)

@RedMickey @iosToTop

[2020-05-06 07:34] RedMickey opened #1266 "Known issues of Hermes debugging"
This issue continues that [one #1099](https://github.com/microsoft/vscode-react-native/issues/1099) in terms of debugging via [js-debug extension](https://github.com/microsoft/vscode-js-debug).

The extension has experimental support for React Native Hermes debugging. At this moment we know about several issues related to Hermes debugging. Please see the list of known issues below.

The table of p

[2020-05-06 07:35] SounD120 commented on #305
@andrekovac If I understood you correctly - you need to launch packager through the VS Code commands (`React Native: Start Packager` command palette command or any launch scenarios (`Debug Android`, `Debug iOS`, `Debug in Exponent`)). VS Code will launch the packager with some special environment variables keys that will not allow to launch Chrome for debugging, keep in mind that the external pack

[2020-05-06 07:39] RedMickey commented on #1099
This issue is out of date, please see [the new one](https://github.com/microsoft/vscode-react-native/issues/1266).

[2020-05-06 07:39] #1099 closed

[2020-05-06 09:05] andrekovac commented on #305
@SounD120 No I don't even have to manually start the packager inside VSCode via `React Native: Start Packager`. That is done automatically by just hitting the green "Start" button in the debug menu.

Another thing I however have to do to get it working is to manually build the app once via an external terminal, then stop the external packager and only then start debugging via VSCode. Somehow VSCod

[2020-05-06 09:09] SounD120 commented on #305
@andrekovac Could you please create a new issue and describe your case using our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md). Thank you.

[2020-05-06 10:07] RedMickey commented on #1263
Hi @keremcubuk, when you start the packager from terminal using React Native command, the default Chrome debugger will be launched. The extension launches the packager with some special environment variables keys that will not allow to launch Chrome for debugging. It's required to disable Chrome debugger to be able to debug an app via the extension.
You can do the following to disable Chrome debug

[2020-05-07 08:15] iosToTop commented on #1263
@RedMickey When i use `npx react-native start` on the bash.It's no error.
I think the problem is:
1.Why that's no error when my mac connected iphone 4G.
2.Why i click restart package manager button.Vscode show `command "" not found`.

[2020-05-07 10:20] keremcubuk commented on #1263
I solved with updating to all **`package.json`** libraries and delete **`package-lock.json`**. I think something was wrong with the some packages. And also, never use **`npm audit fix`**

[2020-05-07 14:42] RedMickey commented on #1263
@iosToTop, we probably found out the reason of this problem. [This PR](https://github.com/microsoft/vscode-react-native/pull/1268) is intended to fix packager starting problem. Could you please try VSIX with a fix and let us know how it works for you? To try it please do the following:
* Download and unzip compiled extension VSIX : [vscode-react-native-0.15.0.zip](https://github.com/microsoft/vsco

[2020-05-08 20:37] phatmann commented on #713
I don't use RN status bar because it is too wide. Would love icon-only mode.

[2020-05-08 22:54] molant opened #1270 "Issues debugging async functions"
We've got a few reports of people having issues debugging async functions. I'm opening this issue to keep an eye of those and see if something rings a bell as to what could be going on:

[2020-05-08 23:26] molant opened #1271 "Debugger stability improvements"
There have been a few reports about issues with the debugger, and in some cases having to restart VS Code to make it work again. The following comments seem to indicate that we are not properly closing all processes we spawn and that sometimes there are issues with sourcemaps:

[2020-05-09 00:16] molant opened #1272 "Better logging experience"
Reading logs is something all developers need to do when debugging their apps and we could improve that experience for React Native developers.
Some of the ideas we've received are around enabling filtering, colors, better formatting, etc. similar to what Chrome Dev Tools has.
Taking into account the limitations of VS Code, what are the things we can do to improve the developer experience?

[2020-05-09 14:54] leobragatti opened #1273 "Debbuger not working on Ubuntu 20.04"
When I try to start the debbuger on Android Simulator, i keep getting the error:
[Error] Error: Could not start the packager.

I just using a default config in launch.json:
[code]

## Software versions
- React-Native VS Code extension version: 0.15.0
- VSCode version: 1.45.0
- OS platform and version: Ubuntu 20.04 LTS
- NodeJS version: 12.16.3
- React Native version: 0.62.2

## Outputs (Include if

[2020-05-09 16:30] mybells opened #1274 "The request data could not get the simulation data,use mockjs"
## Actual Behavior
1. The request data could not get the simulation data,use mockjs
2. Do not use React Native Tools,can fetch the simulation data,is ok

## Expected Behavior
1. The request data can fetch the simulation data

## Software versions
- React-Native VS Code extension version: 0.15.0
- VSCode version: 1.45.0
- OS platform and version: win10/mac
- NodeJS version: v12.10.0
- React Native

[2020-05-11 07:39] RedMickey commented on #1273
Hi @leobragatti and thanks for reaching us. Could you please try to run the packager using React Native CLI command `npx react-native start` and send us its output in case of an error?
If there are any problems, please run the command `npx react-native doctor` and send us its output too.
Please let us know about your results.

[2020-05-11 12:06] molant opened #1275 "Allow for simulator selection before debugging"
This is a request I've heard from a few developers when talking to them directly.
I believe right now we launch the first one or developers need to create custom entries in `launch.json`, is that correct?

Will need to explore how this could look like.

[2020-05-11 12:08] molant opened #1276 "Run the application without debugging"
Right now we only launch the application in debug mode. A couple developers have proposed having a way to run it in no debug mode as well.

[2020-05-11 13:10] molant opened #1278 "Improve discoverability of functionality"
A few developers have reported that they have issues with one or more of the following:

- How to add a debug profile
- What commands are available
- New features

There are a few things we can do to improve this and I'd like us to discuss them.

- Would it be possible to automatically update `launch.json` after running a command? We could add the most common use cases automatically (maybe detecti

[2020-05-11 14:27] RedMickey commented on #1276
Hi @molant, the extension provides four Command Palette commands for launching an application:
* Run Android on Emulator
* Run Android on Device
* Run iOS on Simulator
* Run iOS on Device

These commands allow to start an application without debugging. [Here](https://github.com/microsoft/vscode-react-native#react-native-commands-in-the-command-palette) you can find more info about the extension's

[2020-05-11 14:31] molant commented on #1276
But the `Run` commands actually start the application and attach the debugger, right?
I think what the developer was asking was to run the app and not attach the debugger.

[2020-05-11 14:55] molant commented on #1276
@RedMickey I'm re-reading this 🤦‍♂️
I think this is again another issue related to #1278
I'll reach out to the developer see if they were expecting to have an option to do run without debugging when running F5.

[2020-05-11 15:16] sregg commented on #1276
Yes, I'm expecting an option in `launch.json`.
I have a 6 different launch configs (dev/stage/prod x android/ios) and would like to have a way to launch them from the green play button in the Run tab but with no debugger when I don't need it.

[2020-05-12 07:30] RedMickey commented on #1275
Hi @molant. Yes, for now, by default the extension uses the first device or emulator found. If a user wants to use a specific device or emulator for debugging, it's required to add `target` field to a debug configuration in `launch.json` file and specify the concrete device or emulator.
We'll investigate how we can improve this workflow.

[2020-05-12 09:29] SounD120 commented on #713
Hi @phatmann . Please send a feature request if you would like to see some enhancements that will be helpful for you during the extension usage.

[2020-05-12 13:16] leobragatti commented on #1273
@RedMickey When i run native CLI command `npx react-native start` it works fine.
In any case, I ran `npx react-native doctor' and here's the output:
[code]

I don't know it's related to the fact I installed node via snap store

[2020-05-12 16:12] SounD120 commented on #1278
Hi @molant . Yes, these changes could be useful. This is how see these changes:

I am not sure that changing `launch.json` file automatically after launching a command will be convenient, instead of this what if we add complex UI for generating appropriate `launch.json` file where we check all needed dependencies and show dynamic tips like in [vscode-python](https://github.com/microsoft/vscode-pyt

[2020-05-12 16:17] SounD120 commented on #1275
@molant @RedMickey I think we can enhance that as part of #1278 debug configuration provider refactoring. Added more context here: https://github.com/microsoft/vscode-react-native/issues/1278#issuecomment-627442740

[2020-05-12 16:37] molant commented on #1278
I'll take a look at what can be possible. I think we might want to look at what are the different tools developers are using with React Native (TypeScript, babel, etc.) to make sure that we get the sourcemaps working as well and then do a few interviews to see what devs like best before implementing anything.

/cc @jabfrei as we might have to organize something to research this 😊

[2020-05-13 07:05] RedMickey commented on #1273
@leobragatti, could you please check if there are Node.js and npm in `PATH` variable? Please run the command `echo $PATH` and send us its output.

[2020-05-13 12:23] leobragatti commented on #1273
@RedMickey here's the output, as you aksed:
[code]

As you can see, `/snap/bin` is in the `PATH`.
And when I ran `which node`, the output is `/snap/bin/node`

[2020-05-13 13:34] RedMickey commented on #1263
@iosToTop Do you have a chance to look at this?

[2020-05-14 09:19] RedMickey commented on #1273
@leobragatti, we tried to reproduce the problem on Ubuntu 20.04. We installed Node.js using Snap Store and we could start the packager in the extension despite the errors, that `react-native doctor` shows.
As seen from your `PATH`, it seems it doesn't contain paths for Android SDK. For example, we have the following `PATH` content:
[code]
Could you please check if your dev environment is configure

[2020-05-14 12:10] leobragatti commented on #1273
@RedMickey Sorry, I didn't sent the full PATH. Here's the full path:
[code]

I configured the enviroment correctly, as explained in the guide. In MacOS works fine.
As I pointed in this [comment](https://github.com/microsoft/vscode-react-native/issues/1273#issuecomment-627338028), the Android SDK is in the Path.

[2020-05-14 18:27] molant commented on #1274
Hello @mybells

Based on your stacktrace it looks like mockjs is failing because `document` is not defined.
Because of the way React Native debugging works right now (the JavaScript part can be executed in another "place") you can run the above in the Chrome Dev Tools where you have access to a browser context. There is no browser context in node and thus why this is failing with the extension.

W

[2020-05-14 22:42] mybells commented on #1274
@moant Thanks。

[2020-05-14 22:45] mybells commented on #1274
@molant  Thanks.

[2020-05-15 16:32] molant commented on #1278
Another verbatim from a user:

[2020-05-17 15:39] iosToTop commented on #1263
@RedMickey  Thanks.I will try your suggest tomorrow!

[2020-05-19 08:36] #1265 closed

[2020-05-19 10:29] SounD120 commented on #1273
Hi @leobragatti . There may have been an internal failure in the packager process. Could you please also check if there any outputs in Developer Tools? You can find them by opening `Help -> Toggle Developer Tools -> Select Console tab`.
Also, do you have `.env` file in your project root?

[2020-05-19 13:14] leobragatti commented on #1273
Hi @SounD120,
I've attached the console output with process.env
[console.log](https://github.com/microsoft/vscode-react-native/files/4650559/console.log)

And I don't have a `.env` file in my project

[2020-05-19 14:09] SounD120 commented on #1273
@leobragatti It seems that the paths are correct as `snap/bin` folder is in the PATH in VS Code. Could you please try to install React Native Tools v0.14.2 from the VS Code Marketplace?
You can do this using the following instruction:
* Open `Extensions` tab in VS Code
* Find React Native Tools entry and do the right click on it
* Select `Install Another version` and choose `0.14.2`
* Close VS Cod

[2020-05-19 14:27] leobragatti commented on #1273
@SounD120 I did what you suggested, but the packager failed to start.
There's anything else I can do?

[2020-05-19 20:18] phatmann commented on #713
@SounD120 I thought this *was* a feature request! How do I file one?

[2020-05-20 00:15] molant commented on #713
@phatmann you can go https://github.com/microsoft/vscode-react-native/issues/new/choose and select "Feature request" 😊

[2020-05-20 11:40] bijaykanshinew opened #1288 "[Bug] React native debugger stuck"
Earlier, it was working fine. But today it stopped working.
Once i click "debug androd(<project name>)" . it launch the emulator but breakpoint stopped working, it is continue to showing line moving from left to right as you can see in below link

https://ibb.co/W2Mc88m

It launch emulator but didn't start debug. it doesn't show any error.

react-native-cli: 2.0.1
react-native: 0.62.2
ubuntu: 18.0

[2020-05-20 11:46] SounD120 commented on #1288
Hi @bijaykanshinew and thanks for reaching us. Could you please try to launch the debug scenario and then check the outputs in VS Code Developer Tools Console? You can find it this way `Help -> Toggle Developer Tools -> Select Console tab`.

[2020-05-21 12:37] SounD120 commented on #1263
Hi @iosToTop . React Native Tools v0.16.0 with a fix that we sent to you just have been released, so you can download it from VS Code Marketplace and try it out. Please let us know if this fixed your problem.

[2020-05-21 12:38] SounD120 commented on #1273
@leobragatti React Native Tools v0.16.0 just have been released, please try it out and let us know how the packager launches on this version.

[2020-05-21 16:49] phatmann opened #1289 "[Feature] Icon only status bar display"
# 🚀 Feature request

What do you want to be added?

Instead of text in status bar, just show an icon to indicate status. This icon should show when VS Code starts to make it easy to start packager.

## What scenarios will this solve?

I don't use RN status bar because it is too wide.

## What will this allow you to do? Will this benefit other developers?

Show RN in status bar on smaller screens

[2020-05-21 16:49] phatmann commented on #713
Done!

[2020-05-21 17:36] molant commented on #1289
Are you talking about [this status bar](https://reactnative.dev/docs/statusbar)

If so that is part of the core of React Native and I suggest you open an issue in [their repo](https://github.com/facebook/react-native/issues). This is repo is for the [VS Code React Native Tools Extension](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native)

[2020-05-21 21:48] phatmann commented on #1289
I mean the status bar in VS Code.

Tony

[2020-05-22 06:56] SounD120 commented on #1288
@bijaykanshinew Have you seen my recommendation above?

[2020-05-22 11:32] bijaykanshinew commented on #1288
@SounD120 i didn't see anything in "console tab"
https://ibb.co/pfsM6bC
FYI -> i am using React native tool 0.16.0

[2020-05-22 11:35] SounD120 commented on #1288
@bijaykanshinew Based on screenshot it looks like the Remote Debugging on your device is disabled. Could you please open React Native Developer Menu as described in the [official React Native documentation](https://reactnative.dev/docs/debugging#accessing-the-in-app-developer-menu) and enable Remote Debugging?

[2020-05-22 12:04] leobragatti commented on #1273
@SounD120 I've updated the extension, but still no success
Here's the output:
[code]

[2020-05-22 12:06] bijaykanshinew commented on #1288
@SounD120 i don't see remote debugging js option in emulator
https://ibb.co/FbmhH5Q
Pressing "ctrl + M" close the emulator.

[2020-05-22 12:08] SounD120 commented on #1288
@bijaykanshinew It was renamed to `Debug` in the most recent versions, so just press this button.

[2020-05-22 12:11] bijaykanshinew commented on #1288
@SounD120 thanks, it's working :)

[2020-05-22 12:11] #1288 closed

[2020-05-22 13:35] molant commented on #1289
Are talking about E in this picture?

![image](https://user-images.githubusercontent.com/606594/82673268-6a8b5e00-9bf6-11ea-9c51-2f255bc4a17f.png)

[2020-05-22 16:13] molant commented on #1272
A comment from one of our users:

[2020-05-22 16:54] leobragatti commented on #1273
@SounD120 I uninstalled the vscode from snap store and installed the .deb package.
I don't know why, but it worked. It looks like there's a problem when using the snap packages, because it's not the first app I had problem. I uninstalled Inkscape for the same reason

[2020-05-22 21:07] phatmann commented on #1289
Yep!

Tony

[2020-05-22 21:32] molant commented on #1289
I'm having some problems understanding the following:

Do you want to start debugging by clicking on this icon? Do you want to do something else? Does the icon change depending on the status (and if so, what are the statuses you are expecting)?

[2020-05-22 21:38] phatmann commented on #1289
Right now the RN extension only shows in status bar after running packagerat least once. This means starting the packager cannot be done from status bar. I’d like if it always showed up, in “stopped” mode.

Tony

[2020-05-22 21:56] phatmann commented on #1289
Today the RN extension shows its status (started or stopped) in the status bar. The icon would go the same thing.

Tony

[2020-05-25 07:27] SounD120 commented on #1273
@leobragatti Maybe snap packages works with PATH in a different way. Anyway, glad to hear that your problem is resolved, so I am closing this issue. Feel free to add new details or reopen the issue if needed.

[2020-05-25 07:27] #1273 closed

[2020-05-25 07:31] SounD120 commented on #1263
@iosToTop Just a friendly ping on this.

[2020-05-26 12:12] molant commented on #1271
This should be improved via #1291
Currently part of the migration to the new JS debugger so I'll leave this open until it reaches master.

[2020-05-26 13:52] molant opened #1294 "[Feature] Bundle extension"
# 🚀 Feature request

What do you want to be added?

From [VS Code - Bundling Extensions](https://code.visualstudio.com/api/working-with-extensions/bundling-extension):

There is more information in the link above.

## What scenarios will this solve?

This should make the extension to load faster.

[2020-05-26 13:54] molant opened #1295 "[Feature] Nightly builds"
# 🚀 Feature request

What do you want to be added?

Have a nightly build of the extension so I can test the latest code.

There is some guidance in the [VS Code documentation](https://code.visualstudio.com/api/working-with-extensions/continuous-integration)

[2020-05-26 14:30] SounD120 commented on #1263
@iosToTop Closing this issue due to inactivity. Please feel free to reopen and add more information if the problem still persists.

[2020-05-26 14:30] #1263 closed

[2020-05-29 08:05] superandrew opened #1302 "[Bug] Loading Environment variables in app config is broken"
It seems that the debugger is unable to load environment variables in app config

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Step 1
put an app configuration in (e.g. `./tenant_configs/tenant1.app.json`)

2. Step 2
using https://github.com/tusbar/babel-plugin-dotenv-import import an environment variable from an .env file

[2020-05-29 09:45] superandrew commented on #1302
Adding some more information. I tried debugging the extension, unfortunately I wasn't able to see where it halts, but it logs no error on the debug console, expo connects in the host window (the qr code is generated), but it remain stuck at loading at 99.75%

[2020-05-29 12:57] SPopenko commented on #272
@SounD120  the link you posted is broken, could you please update it?

[2020-05-29 12:58] SounD120 commented on #272
@SPopenko Done!

[2020-06-01 18:52] molant commented on #1295
@SounD120 the new preview extension is [available in the marketplace](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview).

Are the releases done automatically? Can we close this issue?

[2020-06-01 18:54] SounD120 commented on #1295
Yes, sure. I forgot to do this :)

[2020-06-01 18:54] #1295 closed

[2020-06-01 18:58] molant opened #1306 "[Feature] Prompt user to test the preview extension"
# 🚀 Feature request

We would like to get more telemetry from the [preview extension](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview). We should prompt users to give it a try and let them now they can use it side by side with the stable one.

Things to take into account:

- Use the built-in vs code toast.
- Don't prompt the user right after installation an

[2020-06-02 13:03] SounD120 commented on #1306
@molant For now we don't have a mechanism to control the percentage. We can show it for all users only once and for example after a constant timeout. Are you talking about creating a server to control such metrics?

[2020-06-02 13:22] molant commented on #1306
I definitely don't think we should show it to all users. Don't think we are ready for all of them to test and I'm sure quite a few will be annoyed.

If we don't want/can't have a server to control the percentage then a poor person's solution could be to use GitHub directly. We could use GitHub pages and have one page that has a json with the different experiments we want to run and to what percent

[2020-06-02 13:38] SounD120 commented on #1306
@molant Hm, sounds interesting. Do you mean that, for example, the Github page should return object like this:
[code]
so we could connect to the endpoint on extension activation and calculate if we should show the prompt?
I think we can trigger that view if only the debug scenario was triggered and the probability was calculated based on percentage. In that prompt we can place a link to the previe

[2020-06-02 13:53] molant commented on #1306
Yes, exactly that. Only caveats are that it will probably won't have the right content-type (although I could be wrong) and that we should make it a bit more flexible in case we start running more experiments in the future. For example:

[code]

The property name is the name of the experiment, the value is the percentage of the population to show.
We will have to know when we've rolled the dice so

[2020-06-02 14:44] SounD120 commented on #1306
@molant We can create some lock file in the extension folder after the extension activation. The only question is - how the Github page should be created: as a new repository, or as part of our preview branch?

[2020-06-02 15:01] JiglioNero commented on #1271
@molant We looked through the feedback and unfortunately the described cases are not reproduced on the freshly created apps. We'll be glad to investigate each of these cases, but it will be much easier if we will have repro demos and repro steps. Without them it is quite hard to reproduce this.

[2020-06-02 15:01] SounD120 commented on #1209
@gfrancischini The [preview version](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) of the updated extension has been released, so you can try it out and send us feedback on the updated debugging experience. Thank you.

[2020-06-02 15:01] #1209 closed

[2020-06-02 16:50] molant commented on #1271
I'd assume they happen when working on an application throughout the day and not consistently. I tried reaching out to the submitters but got no answers. I think we should keep this issue open to see if we get less reports once we start rolling-out the new version.

[2020-06-02 22:43] EricCornelson commented on #1294
In case it helps, [here](https://github.com/microsoft/vscode-js-debug/blob/c485cf391030dd9da18e32a65181f25e9c3e64df/gulpfile.js#L181) is a link to how vscode-js-debug is creating the webpack config and running webpack to create the bundle.

[2020-06-02 22:46] EricCornelson commented on #1266
Is #1 still happening? In the linked issue it looks like the issue is resolved on the Hermes side.

[2020-06-03 11:20] RedMickey commented on #1302
Hi @superandrew and thanks for reaching us. The extension uses `@expo/xdl` package to start Expo server.  We found out that the problem is in incorrect CWD parameter in the [`evalConfig`](https://github.com/expo/expo-cli/blob/master/packages/config/src/getConfig.ts#L52) method. This method spawns a child process to get dynamic configurations. We proposed [the PR](https://github.com/expo/expo-cli/p

[2020-06-03 12:32] RedMickey commented on #1266
@EricCornelson, we tried React Native [`0.63.0-rc.1`](https://www.npmjs.com/package/react-native/v/0.63.0-rc.1) and there the first issue still remains. We decided to wait for the next RN version and check if this issue has been fixed.

[2020-06-03 12:59] molant commented on #1302
@RedMickey it looks like your PR in Expo [fails one of the tests](https://github.com/expo/expo-cli/pull/2220/checks?check_run_id=734301117). You might want to take a look.

[2020-06-03 13:14] SounD120 commented on #1302
@molant Looks like a random failure. Not sure if we should do anything about it.

[2020-06-03 17:25] gfrancischini commented on #1209
Thank you, I'm giving a try right now

[2020-06-03 19:33] nayakakashjit commented on #381
I did all the steps but could not solve

[2020-06-04 22:30] superandrew commented on #1302
super! I can confirm that it works with the updated setting.

[2020-06-05 07:18] RedMickey commented on #1302
@superandrew, yes, I think this fix will be available in new release of `@expo/config` package. After that you just need to reinstall the extension in order to the extension can download a new version of `@expo/xdl` package.

[2020-06-09 12:49] SounD120 opened #1312 "[Feature] Migrate extension linting from tslint to eslint"
# 🚀 Feature request

tslint becomes deprecated on December 1: https://github.com/palantir/tslint/issues/4534

## What scenarios will this solve?

This will allow to keep the toolkit updated and to use new linting functions with recent TS versions.

[2020-06-09 21:21] #1294 closed

[2020-06-10 12:50] SounD120 opened #1313 ""Open developer menu" command doesn't work from the terminal for iOS and RNW"
# 🚀 Feature request
We need to investigate if we can trigger `Reload app` and `Show DevMenu` commands on iOS and RNW without triggering `NativeModules` inside of React Native core.
More info:
https://github.com/microsoft/react-native-windows/issues/3822#issuecomment-629566126

## What scenarios will this solve?

This will allow to not depend on React Native code base inside of `debuggerWorker.js`

[2020-06-10 13:02] webda2l opened #1314 "[Bug] Unable to run Android on Emulator with custom .env file"
# 🐛 What is the bug? How can we reproduce it?

1. Project with two ENV files .env and .env.local
2. A .vscode/settings.json file with ```"react-native.android.envFile.simulator": "/home/......./.env.local"```
3. Ctrl-Maj-P "React Native: Run Android on Emulator"

## Expected behavior

[code]

## Debug output

[code]
</details>

## Environment

* React Native Tools extension version: 0.16.0

[2020-06-11 14:02] molant commented on #1276
Let's do it in preview then

[2020-06-12 08:14] zxccvvv opened #1316 "autocompleted/suggestion no more show after autto updated vscode"
## Actual Behavior
1. No more auto completed suggestion after auto updated vscode to v1.46.0

here's an example: usually i'm type "did" to autocompleted `componentDidMount(){...}`

![image](https://user-images.githubusercontent.com/19633881/84480779-4d125700-acbf-11ea-8ea0-a2c618f6e0a0.png)

## Expected Behavior
1. bring back autocomplete

## Software versions
- React-Native VS Code extension vers

[2020-06-13 17:56] GollyJer opened #1317 "[Bug] Expo SDK 38 not supported?"
I followed the directions to get my expo app set up for debugging. However, when running I get the following. _It works as expected when running via `expo start`._

<img src=https://user-images.githubusercontent.com/689204/84575738-64efe680-ad64-11ea-97b9-1837b77bb03f.png width=280>

[2020-06-13 18:06] GollyJer commented on #1317
OK, now sure how my app.json got set to expo v38 when it isn't even out yet.
Set back to 37 and all good.

[2020-06-13 18:09] GollyJer commented on #1317
Actually, I think this is a bug... React Native Tools added a `"sdkVersion": "38.0.0"` entry to my `app.json` file.

Expo no longer requires an sdk entry.

[2020-06-15 11:04] RedMickey commented on #1317
Hi @GollyJer and thanks for reaching us. The extension uses `@expo/xdl` package to get an Expo SDK version. We investigated this issue and found out that the function of getting Expo SDK version works incorrectly in `@expo/xdl` package. Expo has added Expo SDK v38 to SDK versions, but it hasn't been released yet. For now the function returns the latest version of SDK, so we get SDK 38 instead of 3

[2020-06-15 14:26] RedMickey commented on #1316
Hi @zxccvvv and thanks for reaching us. I upgraded VS Code to 1.46.0 and didn't face problems with [IntelliSense](https://code.visualstudio.com/docs/editor/intellisense) work and autocomplete. The extension doesn't provide features for code autocomplete. VS Code uses TypeScript language service to extract type declarations from `*.d.ts` files, and then based on this data implements autocomplete (y

[2020-06-16 10:37] JiglioNero commented on #1314
Hi @webda2l and thanks for reaching us.
We tried to reproduce this problem the following way:

1. I created `.env.local` and `.env` files:
[code]
1. Added such parameter in `settings.json` file:
[code]
2. Ran `React Native: Run Android on Emulator` with `Ctrl+Shift+P`

Then during the debugging of the extension we checked which environment variables were passed to the packeger.
In the packager sta

[2020-06-16 12:47] webda2l commented on #1314
Hi @JiglioNero, thanks for looking after this.

I'm on Ubuntu and full path is right.
[code]

This project is open as a Workspace in VScode with three directories, 'app' and two others.
I tested to add the settings ```"react-native.android.envFile.simulator": "/home/david/Works/Project/app/.env.local"``` at workspace level, in addition to the ```app folder``` level, but, without effects..
I tested

[2020-06-17 14:13] koliapp2019 commented on #680
We also have this issue. Any update on how to resolve this?

[2020-06-17 20:42] mjbvz commented on #1316
Also reported against VS Code here: https://github.com/microsoft/vscode/issues/99926 and
https://github.com/microsoft/vscode/issues/100026

Still looking for easy steps to reproduce this

[2020-06-18 10:29] #1312 closed

[2020-06-18 11:41] RedMickey commented on #1058
@benabbon, I am closing this issue due to inactivity. Feel free to reopen if needed.

[2020-06-18 11:41] #1058 closed

[2020-06-18 13:45] JiglioNero commented on #1314
@webda2l, we tried to reproduce this issue using Workspace:

Scenario number 1
1. Created Workspace and added two projects there.

![image](https://user-images.githubusercontent.com/43934531/85023647-b2fa5500-b17d-11ea-9e87-2ac8566bc4e2.png)

2. Added `.env.local` to one of the projects and specified it in `settings.json`

[code]

3. Selected `React Native: Run Android on Emulator` with `Ctrl + Sh

[2020-06-18 16:07] webda2l commented on #1314
@JiglioNero Thanks.
Sure, fresh push here https://github.com/webda2l/reactnative-debug/tree/master

[2020-06-19 20:18] andywall66 commented on #408
If anyone is still having this issue... one thing that always work for me (though doesn't get to the root of the issue) is just killing all node processes on your machine:

sudo killall node

Dunno why (some kind of ghost process that confuses VS Code?), but it works.

[2020-06-22 04:10] molant commented on #408
@andywall66 have you tried the [preview version](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview)?
There's been a lot of improvements on how debugging sessions are managed and this should have been fixed.

[2020-06-22 13:48] yuki2006 opened #1321 "[Bug] If there is a space in the ADB path, it will not work properly"
1.

set .zshrc
PATH="${PATH}":"/Volumes/Macintosh HD/Users/foo/Library/Android/sdk/platform-tools"

2.
Run Debug Android

## Debug output

<details>
<summary>Debug Console</summary>

[code]

## Environment

* React Native Tools extension version: 0.16.0

[2020-06-22 15:02] andywall66 commented on #408
@molant Thanks. What I'll do is wait for this to manifest again (it's not easy to repro) and then try the preview version and see if it fixes it.

[2020-06-23 12:58] SounD120 commented on #1321
Hi @yuki2006 and thanks for your question. It is no need to go down to level of mounted drives to set the path to the Android SDK. You can try to do it using the following recommendations:
Could you please try to replace your current content of `.zshrc` by these lines?
[code]
Please let us know if this helped.

[2020-06-23 15:43] yuki2006 commented on #1321
Thank you @SounD120 .

Probably it's okay, but
I'm working with the ADB on a different drive due to less storage..

[2020-06-24 15:07] RedMickey commented on #1321
@yuki2006, I tried to modify my `.zshrc` file the following way:
[code]
And the `adb devices` command worked correctly in the extension.

Could you please also try to add backslash(`\`) before the space in your configuration string to wrap the space?
[code]

[2020-06-24 16:45] webda2l commented on #1314
I debugged as well your extension and env variable passed to packager is well uptodate with envFile values.

So if https://github.com/luggit/react-native-config works well with ```ENVFILE=.env.local node_modules/.bin/react-native run-android```, it is incompatible with the packager launching way of this extension (node.ChildProcess env param).

https://github.com/luggit/react-native-config seems l

[2020-06-24 16:45] #1314 closed

[2020-06-25 07:19] yuki2006 commented on #1321
Sorry @RedMickey

I checked again.
The project included local.properties (generated by Android Studio).
sdk.dir was written there.

[code]

The extension did not work properly under these conditions.

PATH was not the cause..

[2020-06-25 09:39] zxccvvv commented on #1316
hi @RedMickey and @mjbvz
Actually I don't know how to reproduce this issue, it just happened unexpectedly,
even i've tried to used `Developer: Reload Window` many times that day
but i can confirm that autocomplete is work 2 days later after i'm posted the issues,

also it's good if i can check or force to run `IntelliSense` manually in `vscode`,
since i just see makes sense option is `Developer: S

[2020-06-25 09:39] #1316 closed

[2020-06-25 10:08] JiglioNero commented on #1314
We are glad that you have solved the problem. As for this library, `envFile` import occurs here https://github.com/luggit/react-native-config/blob/master/ios/ReactNativeConfig/ReadDotEnv.rb for the iOS platform and here https://github.com/luggit/react-native-config/blob/master/android/dotenv.gradle for the Android platform. My advise is to explore the settings of this library, maybe it can provide

[2020-06-25 10:39] RedMickey commented on #1276
We added three scenarios in React Native Tools Preview which allow to run applications without debugging:
- Run Android (Preview)
- Run iOS (Preview)
- Run Android Hermes (Preview) - Experimental

To try them out, please, install [React Native Tools Preview version](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview).

[2020-06-25 10:39] #1276 closed

[2020-06-25 11:07] RedMickey commented on #1302
@superandrew, a new version of the `@expo/xdl` package with the fix https://github.com/expo/expo-cli/pull/2220  has been released. But it contains the bugs https://github.com/expo/expo-cli/issues/2270, https://github.com/expo/expo-cli/issues/2257, so for now it can work incorrectly. I don't recommend to reinstall the extension to update the `@expo/xdl` package until these bugs have fixed. I'm clos

[2020-06-25 11:07] #1302 closed

[2020-06-25 11:39] SounD120 opened #1327 "[Bug] Random failures when launching Expo scenarios"
# 🐛 What is the bug? How can we reproduce it?
Sometimes Expo fails to launch with strange errors. But if we run Expo several times after that - it launches without any problems.
1. Launch Debug in Exponent scenario
2. See random XDL failures like `Socket hang up`, `Module .vscode/exponentIndex.js does not exist in Haste module map`
3. QR Code is not rendered

## Expected behavior

Expo works witho

[2020-06-26 08:25] #1321 closed

[2020-06-26 08:31] SounD120 commented on #1321
@yuki2006 We fixed that situation and now path acquired from `sdk.dir` will be wrapped in quotes when when any command is executed. It should help to avoid such situations in future. This fix will be available in the next extension release.

[2020-06-26 14:32] superandrew commented on #1302
terrific news, glad that this has been fixed! I'll wait, thank you @RedMickey

[2020-06-28 17:44] mjstelly opened #1331 "[Bug][Expo] XDLError: packagerPort must be an integer"
# 🐛 What is the bug? How can we reproduce it?

This is my third stop in the dependency chain regarding this issue: [expo-cli](https://github.com/expo/expo-cli/issues/2295), `vscode`, and now, here. I hope this issue can be resolved here.

1. In VSC, create a debug config for Expo
[code]
2. Launch the config in the debugger

## Expected behavior

The IDE launches my app in debug mode.

## Debug out

[2020-06-29 06:31] SounD120 commented on #1331
Hi @mjstelly and thanks for reaching us. We already investigated this problem and created the corresponding issue for expo-cli repository. Here it is: https://github.com/expo/expo-cli/issues/2270. I'll left this issue opened until this error is resolved.

[2020-06-29 15:49] mjstelly commented on #1331
That's interesting because the `expo-cli` team punted me to this repo saying it wasn't their issue. At any rate, thanks for updating me.

[2020-07-02 07:35] ASKAR001 commented on #1073
G

[2020-07-02 15:54] superandrew commented on #1331
Not sure why but I executed @SounD120 instructions, as I already did in the past, but it didn't work. Same error. Any Idea on how to restore? I followed @RedMickey 's advice not updating expo but upgrading the project sdk must have update it

[2020-07-02 16:11] ccl0504 opened #1335 "The debugger / React Native was hang if too many console.log messages output to Debug Console"
## Actual Behavior
1. The debugger / React Native was hang if too many console.log messages output to Debug Console (when enabled debug JS remotely) on Android emulator
2. It's no problem if JS remote debug was disabled ( the console.log messages were outputted to Output tab.
3. Same test code on Mac + iPhone emulator was OK
4. I tried timer callback function to do console.log output for 1 time pe

[2020-07-03 07:49] SounD120 commented on #1331
Hi @superandrew . Maybe it was connected to React Native Tools extension update? After updates XDL is reinstalled, so I recommend you to try this instruction once again on the latest installed version (0.16.1)

[2020-07-03 08:15] superandrew commented on #1331
yes, I didn't intentionally update it but it must have been the reason. Now I fixed. I'm glad this extension and your team exists because I absolutely love this extension which is a huge lifesaver. Thank you.

[2020-07-03 11:41] SounD120 commented on #1335
Hi @ccl0504 and thanks for your question. React Native Tools debugger is based on debugging via local Node.js process. As we found out Node.js has some problems with large amounts of IO due to architectural features: https://github.com/nodejs/node/issues/6379.
So I recommend to not overload the debugger thread by non-blocking IO like `console.log`.

[2020-07-03 11:41] #1335 closed

[2020-07-06 07:07] #1306 closed

[2020-07-07 08:08] JiglioNero commented on #1327
#1337
This error may appear when running React Native apps via Expo on macOS:
[code]

This may happen because Metro may not cache this file to Haste map. To solve this problem you can:

- Restart Packager
- Add the following lines to metro.config.js:

[code]

[2020-07-13 08:47] SounD120 commented on #1327
Steps to solve the problem were added in #1337, #1338.

[2020-07-13 08:47] #1327 closed

[2020-07-13 13:58] ashwin010 opened #1345 "React-native Not able to run app on phone"
## Actual Behavior
1. App is created in phone but not able to run it
2. Please look at the image below

[2020-07-13 14:01] ashwin010 commented on #1345
![Capture](https://user-images.githubusercontent.com/62303706/87313354-62d59f00-c53f-11ea-90f0-190282cc2592.PNG)
![Capture1](https://user-images.githubusercontent.com/62303706/87313358-636e3580-c53f-11ea-86f1-a31faf0a7634.PNG)

[2020-07-13 14:06] SounD120 commented on #1345
Hi @ashwin010 , thanks for your question. As seen from error, the extension cannot find Android Debug Bridge(adb). It seems that you need to add Android SDK to your PATH as described in [React Native official documentation](https://reactnative.dev/docs/environment-setup).

[2020-07-13 18:10] craigphicks opened #1346 "skipping node_internals not working when debugging via attach"
# skipping node_internals not working when debugging via attach

0. set up launch json with attach process option:
[code]
1. select both 'caught exceptions'
2. attach a running `node` process; it will automatically stop at main module top (good).
3. do continue
4. it stops on internals exception, e.g.,
[code]

## Expected behavior

Would not stop at internal exception.  (Works well when NOT starti

[2020-07-13 18:23] craigphicks commented on #1346
I'm moving this to

https://github.com/microsoft/vscode/issues/102412

[2020-07-13 18:23] #1346 closed

[2020-07-15 08:00] SounD120 commented on #1345
Hi @ashwin010 . Is this issue still persists? Feel free to ask any questions, if you have ones.

[2020-07-16 13:28] JiglioNero commented on #1289
Hi, @phatmann
The behavior will be changed in the next version of React Native Tools. The React Native Packager status bar commands behavior has been changed and now the extension will be activated if the path `node-modules/react-native` exists in project root, and the Packager Status Indicator will look like this:

![image](https://user-images.githubusercontent.com/35271042/87446574-4f155180-c5ae

[2020-07-16 15:37] miguelmsoler opened #1352 "[Bug] XDLError: packagerPort must be an integer"
# 🐛 What is the bug? How can we reproduce it?
<details>
Open a React Native project on VSCode. Start debugging.

This was already reported by ohter people in VSCode and expo-cli repositories and they point to the react native extension:
https://github.com/expo/expo-cli/issues/2295
https://github.com/microsoft/vscode/issues/101236

## Expected behavior

Project builds and you can start it on phone

[2020-07-16 15:38] #1352 closed

[2020-07-16 15:39] miguelmsoler commented on #1352
Sorry, I didn't see it was already reported.

[2020-07-16 19:20] miguelmsoler commented on #1331
Hi, I executed @SounD120 instructions and still get the XDLError. I'm on RNT version 0.16.1 so I don't know what could be happening.

I'm using code-oss, but that souln't be an issue.

`[Info] Packager started.

[Info] Prewarming bundle cache. This may take a while ...

[Info] Building and running application.

[Error] XDLError: packagerPort must be an integer

Loading dependency graph, done.`

[2020-07-16 23:50] phatmann commented on #1289
This issue should not have been closed. The request was to hide the text "React Native Packager" from the status bar and just show play/stop and restart icons.

[2020-07-17 07:15] RedMickey commented on #1331
Hi @miguelmsoler, the `extensions` folder of VS Code OSS version is located by the path `~/.vscode-oss-dev/extensions`.
So, it is just needed to change the extensions path in this instruction in this way:
1. Open VS Code `extensions`  folder in terminal by using one of the following commands:
   * **Windows:** `cd %USERPROFILE%\.vscode-oss-dev\extensions`
   * **macOS:** `cd ~/.vscode-oss-dev/exte

[2020-07-20 11:48] SounD120 commented on #1345
@ashwin010 I am closing this issue due to inactivity. Feel free to reopen if needed.

[2020-07-20 11:48] #1345 closed

[2020-07-20 14:19] JiglioNero commented on #1289
Hi @phatmann
We add several variants of Packager Status Indicator representation.
Now you can switch representation of Packager Status Indicator in VSCode Status Bar with `react-native.packager.status-indicator` option in `settings.json` to short or full variant. Full variant is default.
|Variant|Indicator representation|
|---|---|
|Full (default)|![image](https://user-images.githubusercontent.com

[2020-07-20 17:33] phatmann commented on #1289
That's awesome! Well done.

[2020-07-20 17:33] #1289 closed

[2020-07-21 10:17] #1113 closed

[2020-07-22 06:58] SounD120 commented on #1069
Hi @dimitarnestorov . This feature is implemented as part of [React Native Tools Preview](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) and will be available shortly. In the future preview version will replace the current one, so this feature will be there either.

[2020-07-22 06:58] #1069 closed

[2020-07-22 13:17] RedMickey commented on #1313
We found out that we can use `Reload app` and `Show DevMenu` commands via Metro bundler, but for now the `Show DevMenu` command doesn't work properly. We opened [the issue](https://github.com/react-native-community/cli/issues/1213) about this problem.

[2020-07-23 07:00] mofax commented on #1152
Was this issue opened in the [React Native for windows repo](https://github.com/microsoft/react-native-windows)? If so, could you please provide a link for the sake of people who have the same problem and land here first.

[2020-07-23 16:56] molant commented on #1226
The current thinking is to contribute back to Metro the proxy work so any CDP tool can debug react native applications on iOS.

We were told to start looking in https://github.com/facebook/metro/tree/master/packages/metro-inspector-proxy

@SounD120 can you use https://github.com/facebook/react-native/tree/master/RNTester to test things or do you need a way to test direct debugging on iOS?

[2020-07-25 02:12] VIJAYAA94 opened #1360 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-react-native`
- Extension Version: `0.16.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.47.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-07-27 07:23] SounD120 commented on #1360
Hi @VIJAYAA94 . It looks like no information about your issue has been added. Please add this information and reopen, or create new issue with this information.

[2020-07-27 07:23] #1360 closed

[2020-07-27 09:42] SounD120 commented on #1272
Hi @molant, I've made a comparison of current stable React Native Tools logging and a preview version one:
The extension logging is divided by several output channels:
* React Native - main extension channel which collects outputs from React Native Packager and shows critical errors in the extension
* These channels spawns only when the specific launch scenario is executed
    * React Native: Run

[2020-07-29 15:31] molant commented on #1272
Thanks for the update @SounD120 !

Can a user switch between channels?
Also I've seen there are some "hacks" to [colorize channels](https://github.com/microsoft/vscode/issues/11005). Could this apply to us?

[2020-07-30 08:38] SounD120 commented on #1272
@molant Sure, we can switch between channels if they were created. For example if you launch `Debug Android` scenario - channel `Run Android` is spawned to the output channels list.
This is how it looks:
![image](https://user-images.githubusercontent.com/32372875/88901063-f8b83c00-d258-11ea-8a6b-4f717c8354b2.png)

With respect to the "hacks" - yes, I saw these ones, I think we can implement that s

[2020-07-30 18:06] molant commented on #1272
Awesome,

What do you think about updating the documentation showing how people can change between channels and what each channel is for and also doing the coloring?

Maybe we could split this into 2 different PRs: docs + coloring.

[2020-07-31 07:17] SounD120 commented on #1272
@molant Sounds good. I think we can pick this up when finish preparing the debug adapter for direct iOS debugging (#1226).

[2020-07-31 09:43] Stanely254 opened #1363 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-react-native`
- Extension Version: `0.16.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.46.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Star_Norh\msjsdiag.vscode-react-native-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain

[2020-07-31 09:46] SounD120 commented on #1363
Hi @Stanely254 and thanks for the report. Could you please provide your CPU profile file as described in your issue?
Also I recommend to try out the [React Native Tools Preview](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) version which have significant performance improvements in comparison with the current one.

[2020-07-31 10:36] RedMickey commented on #1331
Hi @mjstelly, @superandrew, @miguelmsoler Expo has fixed this bug in a [new version](https://www.npmjs.com/package/@expo/xdl/v/57.9.25) of the `@expo/xdl` package. To update the current version of this package on your side you just need to reinstall the extension and then relaunch VS Code editor.

[2020-07-31 10:36] #1331 closed

[2020-07-31 10:37] RedMickey commented on #1317
Hi @GollyJer Expo has fixed this bug in a [new version](https://www.npmjs.com/package/@expo/xdl/v/57.9.25) of the `@expo/xdl` package. To update the current version of this package on your side you just need to reinstall the extension and then relaunch VS Code editor.

[2020-07-31 10:37] #1317 closed

[2020-08-02 19:01] gfrancischini commented on #1209
Hi @SounD120 I didn't had enough time to start digging on this. I tried to use it on the release data (Jun 3) but it was not working for me. Now that I'm free again I started looking again into the preview extension but it still not working. I'm able to attach the debug to the packager but my app never get loaded (JavaScript does not geto loaded when debugging with this version)
I'm currently usin

[2020-08-03 07:44] SounD120 commented on #1363
@Stanely254 Do you have a chance to look at this?

[2020-08-04 07:32] SounD120 opened #1365 "React Native Hermes (Preview) doesn't work for Brownfield app"
Hi @SounD120 I didn't had enough time to start digging on this. I tried to use it on the release data (Jun 3) but it was not working for me. Now that I'm free again I started looking again into the preview extension but it still not working. I'm able to attach the debug to the packager but my app never get loaded (JavaScript does not geto loaded when debugging with this version)
I'm currently usin

[2020-08-04 07:35] SounD120 commented on #1365
Hi @gfrancischini . I created a new issue based on your description. Could you please add a description of your problem in accordance with our [bug report template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE/1-bug-report.md)? That can help us a lot.

[2020-08-05 10:20] tosbaha opened #1366 "[Bug] Error while monitoring LogCat"
# 🐛 What is the bug? How can we reproduce it?

Recently, I can't see the logcat output when I start my app with the extension. When I do `adb logcat` logs can be seen.

1. Run the app with "Run Android on Emulator"

## Expected behavior

I want to see logs on Output/LogCat section

## Debug output

<details>
<summary>Debug Console</summary>

[code]
</details>

<details>
<summary>React Native outpu

[2020-08-05 23:10] gfrancischini commented on #1365
# 🐛 What is the bug? How can we reproduce it?

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Open a React Native Project on Visual Studio Code
2. Run npm run start (react native start) or using the cmd pallette run React Native : Start Packager
3. On the debug tab start the Attach to Packager with the following configurati

[2020-08-06 09:06] RedMickey commented on #1366
Hi @tosbaha and thanks for reaching us. We tried to reproduce this problem on a plain React Native v0.59.10 app and LogCat logs were printed properly.
Could you please try to create a plain React Native v0.59.10 app and check whether LogCat logs work there?
To create a new React Native project version lower than 0.60.0 you need to install the `react-native-cli` package globally.
- Run `npm i react

[2020-08-06 11:23] tosbaha commented on #1366
- Installed react-native-cli again
[code]
- Created new Project

I don't know why but can't create new project with 0.59.10 now.
Probably NPM issue https://status.npmjs.org/incidents/cksjqc1w11v5 I am so lucky lol

[code]

- Run Android (Old Project) with trace level log

React Native run android

[code]

Logcat

[code]

[2020-08-06 12:03] tosbaha commented on #1366
I found the culprit. The only difference between fresh project and mine is, mine has `local.properties` file.

If the project has `local.properties` file and it has below content
[code]

LogCat doesn't work. However if I comment out `sdk.dir` part It goes like below

[code]

My `PATH` is below

[code]

As I noted in my original issue, LogCat works if I do `adb logcat` so it is definitely related t

[2020-08-06 13:16] SounD120 commented on #1363
@Stanely254 Closing this issue due to inactivity.

[2020-08-06 13:16] #1363 closed

[2020-08-07 04:22] wntdhananjay commented on #381
thanks for helps

[2020-08-07 07:45] SounD120 commented on #1365
@gfrancischini For debugging Hermes there is the `Attach to Hermes application - Experimental` debug scenario which uses `reactnativedirect-preview` debug type. If `Attach to Packager` works for you - it might be that Hermes is disabled for your app and standard React Native debugging approach is used.
With respect to async functions debugging - I think you better to reach out to the [`vscode-js-d

[2020-08-07 09:41] RedMickey commented on #1365
@gfrancischini, I tried to debug a brownfield app with React Native v0.60.5, I could successfully attach to it using the `Attach to Packager` scenario. With respect to Hermes apps debugging, we’d recommend to update React Native package to the last one(e.g. 0.63.2), since old versions of Hermes engine could not support some of the Chrome API methods. This could lead to some debugging issues. Newer

[2020-08-08 14:35] Johan-Rodriguez25 opened #1369 "React Native Tools"
- Issue Type: `Bug`
- Extension Name: `vscode-react-native`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.3`

[code]

[2020-08-10 07:29] #1366 closed

[2020-08-10 07:48] SounD120 commented on #1369
Hi @Johan-Rodriguez25 and thank you for the report. Could you please let us know what did you do in VS Code when this message appeared?
By your logs it seems that the extension took 12 seconds to activate, so it seems like a performance issue, which should be resolved in updated [React Native Tools (Preview)](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview&

[2020-08-11 14:10] JiglioNero commented on #1270
Hi @molant , with respect to async functions, we tried to reproduce this error this without using an extension but with Google Chrome, but this problem is still reproducible. Most likely the error is in source maps.

![React Native Debugger - Google Chrome 2020-08-11 16-00-14 (online-video-cutter com) (1)](https://user-images.githubusercontent.com/43934531/89906084-9b76a000-dbf3-11ea-8326-bbb3601e

[2020-08-12 11:55] SounD120 commented on #1365
@gfrancischini Is this issue still relevant for you?

[2020-08-13 11:44] SounD120 commented on #1369
@Johan-Rodriguez25 Is this issue still relevant for you?

[2020-08-13 20:00] harinikmsft opened #1371 "[Feature] Support direct debugging when using Chakra in VS Code"
# 🚀 Feature request

You can use VS Code for direct debugging when using V8/Hermes, but not for Chakra. This issue is for adding support.

## What scenarios will this solve?

The only way to do direct debugging with Chakra is through Visual Studio. Adding support for VS Code would allow developers to pick the tool that better suits their needs.

[2020-08-14 09:47] SounD120 commented on #1365
@gfrancischini I'm closing this issue due to inactivity.

[2020-08-14 09:47] #1365 closed

[2020-08-15 09:12] ahmedsgit commented on #381
uninstall **JS-CSS-HTML Formatter** , **beautify** or any other formatting extension. Use only **Prettier**

[2020-08-19 00:03] netpoe commented on #1137
@snownoop can you please share your `.vscode/launch.json` config? I'm having a similar issue and removing `https: false` didn't work for me.

thanks

[2020-08-20 14:11] SounD120 commented on #1369
@Johan-Rodriguez25 I am closing this issue due to inactivity.

[2020-08-20 14:11] #1369 closed

[2020-08-24 06:05] naivedeveloper95 opened #1375 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-react-native`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.48.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\satyam.suman\msjsdiag.vscode-react-native-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2020-08-25 10:05] no-trouble opened #1376 "[Bug] Bug description"
[Error] Error: 执行命令 /Users/lishuai/Documents/yd/hxg_app_for_block_sort/node_modules/.bin/react-native run-ios --device --no-packager --verbose 时出错: 执行命令 /Users/lishuai/Documents/yd/hxg_app_for_block_sort/node_modules/.bin/react-native run-ios --device --no-packager --verbose 时出错 (error code 101)

[2020-08-25 10:19] RedMickey commented on #1376
Hi @no-trouble and thanks for reaching us. Could you please add a description of your problem in accordance to our [bug report template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE/1-bug-report.md)? That will be very helpful for us.

[2020-08-25 10:22] RedMickey commented on #1375
Hi @naivedeveloper95 and thanks for the report. Could you please provide your CPU profile file as described in your issue?
Also I recommend to try out the [React Native Tools Preview](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) version which has significant performance improvements in comparison with the current one.

[2020-08-25 12:21] RedMickey commented on #1371
Hello @harinikmsft, @EricCornelson.
We started to investigate how we can attach to a RNW app running in direct debugging mode. We used React Native projects versions `0.62.2` and `0.63.2` with the corresponding versions of RNW `0.62.5` and `0.63.0-preview.4`. We launched projects using Visual Studio and then enabled direct debugging and also via the `npx react-native run-windows --direct-debugging

[2020-08-25 16:54] naivedeveloper95 commented on #1375
Sure. Here is my CPU profile.
[cpuProfile.txt](https://github.com/microsoft/vscode-react-native/files/5125219/cpuProfile.txt)

[2020-08-26 02:59] no-trouble opened #1377 "执行命令 /Users/**/Documents/**/node_modules/.bin/react-native run-ios --simulator --no-packager --verbose 时出错 (error code 101)"
# 🐛 What is the bug? How can we reproduce it?

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Step 1
2. Step 2

## Expected behavior

I want to be able to run and debug ReactNative applications in VSCode. Since my iOS native project has multiple targets, I hope I can specify a specific scheme in the configurations in launch

[2020-08-26 03:00] #1376 closed

[2020-08-26 09:36] RedMickey commented on #1377
Hi @no-trouble, the extension provides an opportunity to specify the name of an iOS scheme in debug configurations. You can do the following to specify a target app:
1. You can create a scheme for the concrete target using Xcode.
1. Add the name of a custom iOS scheme to the [`scheme` parameter](https://github.com/microsoft/vscode-react-native#debugger-configuration-properties) in your debug confi

[2020-08-27 01:41] no-trouble commented on #1377
@RedMickey Hello，I copied your configuration to my launch.json, but it is still the original problem. Will there be other problems? I followed [link](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode -react-native) is configured in this tutorial, and there is no problem when I run a pure js project.

[Info] 包生成工具已在运行。

[Info] 预热捆绑缓存。这可能需要一段时间...

[Info] 即将获得: http://localhost:808

[2020-08-27 08:45] RedMickey commented on #1377
@no-trouble, could you please try to launch your iOS app from the terminal to check if the `react-native run-ios` command works correctly?
Please run the command in the terminal and send us its output:
[code]

[2020-08-28 08:41] no-trouble commented on #1377
hello, `npx react-native run-ios --simulator --scheme CY_Stock_Dev --verbose` This command can run my project normally in the terminal。

its output:
lishuai:hxg_app_for_block_sort ➜ npx react-native run-ios --simulator --scheme CY_Stock_Dev --verbose
warn The following packages use deprecated "rnpm" config that will stop working from next release:
  - react-native-sqlite-storage: https://github.co

[2020-08-28 12:31] RedMickey commented on #1371
@harinikmsft, just a friendly ping on this.
Could you please tell us some more info about the `direct debugging port`? We'd like to know how we can use it, since it's not possible to get any info over the following http requests:
- http://localhost:9229/json
- http://localhost:9229/json/version
- http://localhost:9229/json/list

We also found out that the default inspector URL for debugging Chakra

[2020-08-28 13:00] RedMickey commented on #1375
@naivedeveloper95, Thanks for the CPU profile file. I analyzed the CPU profile and it seems that freeze has happened during the extension activation. We improved performance of the extension in the [React Native Tools Preview](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) version. I think that this problem has been resolved in the new version. Please try

[2020-08-28 13:00] #1375 closed

[2020-08-29 07:35] georgech3cooh opened #1378 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-react-native`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-08-31 07:29] RedMickey commented on #1378
Hi @georgech3cooh and thanks for reaching us. Could you please add a description of your problem in accordance to our [bug report template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE/1-bug-report.md)?

[2020-08-31 08:32] RedMickey commented on #1377
@no-trouble, Could you please send us a minimal demo application in which this problem is reproduced? This will be helpful for better understanding of the situation from our side, so we can investigate the issue faster.

[2020-09-01 05:10] no-trouble commented on #1377
Thank you for your help, I can run the project on the simulator.

[2020-09-01 08:35] RedMickey commented on #1377
@no-trouble, nice to hear! Do you need any more help from our side or I can close the issue?

[2020-09-02 02:33] #1377 closed

[2020-09-02 03:19] bojie-liu opened #1379 "[Bug] "spawn node ENOENT" after attached to packager and start remote debugging on MacOS"
# 🐛 What is the bug? How can we reproduce it?
1. npx react-native init Awesome
2. Add "Attach to packager" configuration.
3. yarn start Awesome project and start attaching
4. enable Debug in RN debug panel on android device
5. DEBUG CONSOLE throws "Error: spawn node ENOENT" and connect timeout

## Expected behavior

connect succeeded and be able to set breakpoint

## Investigation
in ~/.vscode/ext

[2020-09-03 10:01] JiglioNero commented on #1275
Selection of a virtual device for [iOS](https://github.com/microsoft/vscode-react-native/pull/1374) and [Android](https://github.com/microsoft/vscode-react-native/pull/1361) platforms were implemented.

[2020-09-03 10:01] #1275 closed

[2020-09-03 13:08] RedMickey commented on #1378
@georgech3cooh Do you have a chance to look at this?

[2020-09-05 11:47] iamaboyeji opened #1380 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-react-native`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.48.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\USER\msjsdiag.vscode-react-native-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-exte

[2020-09-07 08:41] SounD120 commented on #1379
Hi @bojie-liu and thanks for reaching us. VS Code PATH context is currently changed by configuring `.zshrc` file since after the macOS 10.15 zsh became the default Terminal instead of bash.
I recommend you to create `.zshrc` file and place your PATH environment settings in there. After that reboot VS Code and try to launch debugging. Please let us know if this helped.

[2020-09-07 09:37] SounD120 commented on #1380
Hi @iamaboyeji and thanks for the report. Could you please add the CPU profile file as pointed in your issue? This file is crucial for understanding the reason of the performance issues. Also I'd like to recommend the [React Native Tools Preview](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) version which has
 significant performance improvements and oth

[2020-09-07 09:38] SounD120 commented on #1378
@georgech3cooh  I am closing this issue due to inactivity. Feel free to create new once if needed.

[2020-09-07 09:38] #1378 closed

[2020-09-10 08:21] SounD120 commented on #1380
Hi @iamaboyeji, unfortunately we cannot do much without CPU profile file. So could you please take a look if this file still exists on your disk and attach it to this issue?

[2020-09-10 08:21] SounD120 commented on #1379
Hi @bojie-liu. Is this issue still relevant for you?

[2020-09-10 12:49] bojie-liu commented on #1379
It still does not work. My default config file is ~/.zprofile. And adding path in ~/.zshrc the problem still shows up.

[2020-09-10 13:12] SounD120 commented on #1379
@bojie-liu In my case I am using such `~/.zshrc` configuration and don't have `~/.zprofile` file at all and it works for me:
[code]
Could you please try to move your settings to `~/.zshrc` and try to launch debugging again? VS Code internal context seem to be non-login, so it might ignore profile file. Also, does `node` command work if you launch it from the terminal?

[2020-09-11 03:18] zxccvvv opened #1389 "Debugging RN Apps with Custom Port throwing "Timeout while connecting to remote debugger""
## Actual Behavior
1. `settings.json` :
[code]
2. `launch.json` :
[code]

caused red error :
![image](https://user-images.githubusercontent.com/19633881/92850774-0693dc00-f417-11ea-8515-76a8de9dd802.png)

## Expected Behavior
1. should be able to debug even with custom port

## Software versions
- React-Native VS Code extension version: v.0.17.0
- VSCode version: help->about =
[code]
- OS platform

[2020-09-11 09:11] SounD120 commented on #1389
Hi @zxccvvv and thanks for the question. Have you seen issue #993? It looks similarly to your case.
Please make sure to set up your application using developer menu:
<details>
<summary>Port setup instruction</summary>

![image](https://user-images.githubusercontent.com/32372875/92897889-3bf3f600-f426-11ea-8e3f-c520c67ef366.png)

![image](https://user-images.githubusercontent.com/32372875/92897976-

[2020-09-11 14:13] RedMickey commented on #1371
Hi @harinikmsft, do you have a chance to look at this?

[2020-09-13 21:50] hadpro24 commented on #878
This solution not work for me

[2020-09-14 07:36] SounD120 commented on #878
Hi @hadpro24, @HopeKD  . Please describe your problems in separate issues.

[2020-09-14 12:11] SounD120 commented on #1379
Hi @bojie-liu . Did the instruction above help you? Let us know if you still experiencing issues with the extension.

[2020-09-16 05:13] arnoldarmandosuwuh opened #1396 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-react-native`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.49.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-16 07:17] RedMickey commented on #1396
Hi @arnoldarmandosuwuh and thanks for reaching us. Could you please add a description of your problem in accordance to our [bug report template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE/1-bug-report.md)?

[2020-09-16 11:06] SounD120 commented on #1380
@iamaboyeji Closing this due to inactivity.

[2020-09-16 11:06] #1380 closed

[2020-09-16 11:07] SounD120 commented on #1379
Hi @bojie-liu . I close this issue due to inactivity. Feel free to reopen if needed.

[2020-09-16 11:07] #1379 closed

[2020-09-16 11:08] SounD120 commented on #1389
Hi @zxccvvv . Did the instruction above help you? Please let us know if you face any problems.

[2020-09-16 11:28] zxccvvv commented on #1389
Sorry for the late reply, I'm not with my PC right now.

I'll give the detail problem ASAP when im on PC

Regards

On Wed, Sep 16, 2020, 18:08 Yuri Skorokhodov <notifications@github.com>
wrote:

[2020-09-17 05:04] zxccvvv commented on #1389
Hi @SounD120 , I don't know why when i uninstalled Unity debugger extenstension, the debug is rurnning well with regular setting like this:

[code]
![ezgif com-gif-maker](https://user-images.githubusercontent.com/19633881/93422158-56721780-f8dd-11ea-8533-3a206f97bc2f.gif)

but when i tried to used `Hermes` like below in `launch.json` :

[code]

I got an error :

![image](https://user-images.github

[2020-09-17 06:27] SounD120 commented on #1389
@zxccvvv The difference between Hermes debugging and regular debugging is that the Hermes one uses direct debugging and attaches directly to the JS engine on the device(in that case remote debugging in dev settings in the app must be disabled).
The regular debugging uses out of process debugging, it means that debugger attaches to the app via the proxy which communicates with the debugged device (

[2020-09-17 07:14] zxccvvv commented on #1389
i don't get it a part of `add: "port": "9091" to your Hermes attach scenario and try to attach to the app when it will be running`
does my step-by-step gif below is wrong?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/19633881/93432636-05b7ea00-f8f0-11ea-8ecc-7c7f22a20818.gif)

[2020-09-17 08:34] SounD120 commented on #1389
@zxccvvv In order to change listening port for the debugger you need to change your [Metro bundler configuration(`metro.config.js`) ](https://facebook.github.io/metro/docs/configuration/#server-options) and restart the packager to apply this change. Otherwise the packager will listen for the debugger on 8081 port.
In my case I use such configuration and it works for the Hermes attach scenario that

[2020-09-17 08:52] #1389 closed

[2020-09-17 08:54] SounD120 commented on #1389
@zxccvvv Yes, it was launched and worked on 9091 port, but Hermes engine expects you to attach on 8081 port if this is not configured explicitly. I glad that it helped to you. We'll add more information about that case in our documentation.

[2020-09-17 14:06] trackwell-mike opened #1400 "Syntax Highlighting Shows Lots of Red Characters for react-native"
I'm sure this error is specific to my setup and not replicable, but in case others have the same issue, I'm posting it publicly.

1. I'm working in a team environment and for some reason, my syntax highlighting shows the majority of my code as red characters (errored?).

2. This happens on most of my .JS files.

3. My teammates do not have this issue and we believe that we have the same/similar se

[2020-09-17 14:24] SounD120 commented on #1400
@trackwell-mike This extension does not provide syntax highlighting for React Native, I recommend you to reach out to[ main VS Code repository](https://github.com/microsoft/vscode) and send your issue there.

[2020-09-17 14:24] #1400 closed

[2020-09-18 09:47] jan-happy commented on #823
This helped me:
`npx react-native run-ios`
resulted in
`error Could not get the simulator list from Xcode. Please open Xcode and try running project directly from there to resolve the remaining issues.`
I had to select the Command line tools from the Locations tab in Xcode Preferences.

[2020-09-21 06:20] TanasieAlex opened #1405 "Could not pass environment variables from .env file to runArguments from launch configuration"
# Could not pass environment variables from .env file to  runArguments from launch configuration
I have the following launch configuration:
{
      "name": "Debug Android",
      "cwd": "${workspaceFolder}",
      "type": "reactnative",
      "request": "launch",
      "platform": "android",
      "envFile": "${workspaceFolder}/.env", Also tried with: "envFile": ".env"
      "runArguments": [

[2020-09-21 10:39] JiglioNero commented on #1405
Hi @TanasieAlex , unfortunately we have no control over the definition of [Predefined variables](https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables) that are used as variables in `launch.json`, because this happens at the VS Code side before the extension can interact with `.env` file. For now in order to pass environment variables to `launch.json` file, it is nece

[2020-09-21 10:39] #1405 closed

[2020-09-21 10:41] TanasieAlex commented on #1405
Thank you. Will do that.

[2020-09-21 12:48] JiglioNero commented on #1396
Hi @arnoldarmandosuwuh , is your problem still relevant?

[2020-09-22 03:02] phatmann opened #1406 "[Feature] Option to not show Expo QR code when debugging"
# 🚀 Feature request

## What do you want to be added?

Every time I use Debug in Expo, a new tab opens with the QR code, per #430.  I am running in the simulator, so I never need it. Would love option to not open this tab.

## What scenarios will this solve? What will this allow you to do? Will this benefit other developers?

We won't have to close this tab for 500th time. :-)

[2020-09-23 06:52] SounD120 commented on #1396
@arnoldarmandosuwuh I am closing this due to inactivity.

[2020-09-23 06:52] #1396 closed

[2020-09-23 09:36] SounD120 opened #1408 "[Feature] Add React Native macOS debugging support"
This issue is to track addition of [React Native macOS](https://github.com/microsoft/react-native-macos) support in React Native Tools.

- [x] Add launch scenario `Debug macOS`
- [x] Add support by `Attach to packager` debug scenario

[2020-09-24 10:01] matrubhartiapps opened #1410 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-react-native`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 6.3.9600`
- VSCode version: `1.49.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Rohit\msjsdiag.vscode-react-native-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-exten

[2020-09-24 12:30] SounD120 commented on #1410
Hi @matrubhartiapps and thanks for the report. Could you please add the CPU profile file as pointed in your issue? This file is crucial for understanding the reason of the performance issues. Also I'd like to recommend the [React Native Tools Preview](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) version which has
 significant performance improvements an

[2020-09-25 09:52] asklar opened #1411 "--proxy option in react native windows"
https://github.com/microsoft/vscode-react-native/blob/30806f65a65b8aff36b6dfdfea8e94af513e5fb3/src/extension/windows/windowsPlatform.ts#L46-L52

The --proxy option was renamed in RNW to --remote-debugging: https://github.com/microsoft/react-native-windows/commit/8f12940f753cee4f1ad8d4da7d9d3a3e755b9241

Also I'm not sure the logic to compare against 0.63 makes sense? can someone explain what this

[2020-09-25 09:52] asklar commented on #1411
Related: https://github.com/microsoft/react-native-windows/issues/6091

[2020-09-25 10:03] SounD120 commented on #1411
Hi @asklar . Right now proxy parameter is disabled for the applications which are greater or equal than 0.63. You said that the parameter has been renamed in RNW CLI. Does it depend on the RNW version, and from which exact version this argument was changed? I think we can add it instead of `--proxy` for versions >= 0.63.0. What do you think?

[2020-09-25 10:12] asklar commented on #1411
@SounD120 yes I think you can use --remote-debugging on 63 and up - paging @rectified95 to confirm

[2020-09-25 10:16] SounD120 commented on #1411
@asklar FYI support for macOS debugging will be added soon after the 1.0.0 version release. Please see #1409.

[2020-09-25 19:11] rectified95 commented on #1411
I made the check-in on June 8th, don't really know how to check what exact release that's in, but 0.63 sounds about right

[2020-09-28 02:43] shahanvp16 opened #1416 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-react-native`
- Extension Version: `0.17.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.49.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-28 12:15] #1411 closed

[2020-09-28 14:49] SounD120 commented on #1410
Hi @matrubhartiapps React Native Tools v1.0.0 just has been released. Please try it out and let us know if there any performance issues. Closing this for now. Feel free to reopen if needed.

[2020-09-28 14:49] #1410 closed

[2020-09-28 14:50] SounD120 commented on #1416
Hi @shahanvp16 . React Native Tools v1.0.0 just has been released. Please try it out and let us know if there any issues. Closing this for now due to insufficient information about the issue. Feel free to reopen if needed.

[2020-09-28 14:50] #1416 closed

[2020-09-28 18:42] harinikmsft commented on #1371
Hi @RedMickey  - sorry for not responding earlier. Since we are working on bringing up Hermes across all platforms including Windows in the next version update with direct debugging, we can deprioritize this ask for Chakra Core direct debugging and focus instead on making the Hermes experience better. Thanks for following up.

[2020-09-28 22:58] roederw opened #1417 "[Bug] Could not find AppLauncher by the project root path <insert path here>"
# 🐛 What is the bug? How can we reproduce it?

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Head to the Debug section of VSCode
2. Start up your RNW project (start-native)
3. Try attaching to packager ("type": "reactnative", "request": "attach")
4. A dialog pops up stating "An error occurred while attaching debugger to th

[2020-09-28 22:58] roederw commented on #1417
The path looks right - nothing has changed on my end except for the RN Tools version bump. What is AppLauncher?

[2020-09-28 23:01] roederw commented on #1417
Here is my launch.json entry:

![image](https://user-images.githubusercontent.com/3758645/94494374-e482b380-01a3-11eb-9cdf-62c05e2866bc.png)

[2020-09-28 23:12] roederw commented on #1417
Downgraded to v0.1.7 as a temporary work around (repro-able only on v1.0.0). Checking to see if I missed any new changes that might not be configured properly on my end as a result of the upgrade.

[2020-09-29 07:49] SounD120 commented on #1417
Hi @roederw . Do you have any modifications for `projectRoot` in your `settings.json` file as described [here](https://github.com/microsoft/vscode-react-native#change-project-root)? Also, could you please send us your `react-native` and `react-native-windows` versions as they might be important for this problem?

[AppLauncher](https://github.com/Microsoft/vscode-react-native/blob/5ae900b2014656e4c

[2020-09-29 15:07] Gsonovb opened #1418 "[Feature] Network inspect"
# 🚀 Feature request

 Network Inspect

## What scenarios will this solve?

Check the back-end API call,
Displaying the call status on the mobile device will overwrite the operation screen

### Implementation plan
- [x] Implement the server side of the Network inspector
- [x] Implement communication with devices and emulators
  - [x] Implement communication with Android devices
  - [x] Implement co

[2020-09-29 15:52] roederw commented on #1417
react-native-cli: 2.0.1
react-native: 0.62.2
react-native-windows: 0.62.9

Yes, I have a project modification - it just drops into the view directory. "react-native-tools.projectRoot": "./view",

[2020-09-29 16:06] roederw commented on #1417
Dropping down to an earlier version of RNW seems to work (when on v1.0.0) - try repro-ing when on RNW 0.62.9

[2020-09-29 17:15] roederw commented on #1417
Could it be related to the JS engine we're using? Since we're not building with Hermes? What changed between v1.0.0 and v0.17.0?

[2020-09-29 17:45] acostalima opened #1420 "[Bug] iOS Direct Debugging: Delete: Entry, ":RCTDevMenu:executorClass", Does Not Exist"
# 🐛 What is the bug? How can we reproduce it?

I'm not sure whether this is a bug or misconfiguration from my side, but I'm not being able to run the following configuration:

[code]

While the app launches in the simulator, the debugger doesn't start in VSCode. I believe the error that is returned has its origin at the following line: https://github.com/microsoft/vscode-react-native/blob/4dfc9ffd

[2020-09-30 07:17] pfalcetti commented on #1417
Hi there,
I'm also having the same issue.

My current react-native version is 0.62.2, and react-native-cli: 2.0.1.

Downgrading the VS Code extension React Native Tools from 1.00 to 0.17.0 the Debug correctly works.

[2020-09-30 13:27] VPelt commented on #1417
I'm also getting this issue but i'm on react native 0.61.5.

if i look at the Log(Window) under output i get the following error
[renderer1] [error] Cannot read property 'getRnCdpProxy' of undefined: TypeError: Cannot read property 'getRnCdpProxy' of undefined

[2020-09-30 13:55] VPelt commented on #1417
als ik wissel naar  "type": "reactnative-preview", (launch.json) lijkt het wel te werken

[2020-09-30 14:19] JiglioNero commented on #1420
Hi @acostalima , thanks for your feedback. It would be very helpful if you could provide us with a demo application and a scenario to reproduce this error.

[2020-09-30 14:35] SounD120 commented on #1417
Hi guys @roederw , @VPelt , @pfalcetti version 1.0.1 with a fix for that just have been released. Please try it out and let us know if the problem persists.

[2020-09-30 15:00] pfalcetti commented on #1417
Hello there,

Updating to version 1.0.1 the extension , it works.

But i'm getting this error:

`
Could not read source map for file:///Users/pietrofalcetti/Developer/apptour/Mobile/AppBT/.vscode/.react/debuggerWorker.js: ENOENT: no such file or directory, open '/Users/pietrofalcetti/Developer/apptour/Mobile/AppBT/.vscode/.react/debuggerWorker.js.map'
`

Here is my 'debuggerWorker.js' file :

`
//

[2020-09-30 15:01] pfalcetti commented on #1417
Despite the error, the debug is working correctly.

[2020-09-30 15:06] pfalcetti commented on #1417
Another issue after updating to version 1.0.1 :

![Schermata 2020-09-30 alle 17 05 13](https://user-images.githubusercontent.com/66679563/94703495-2eec6780-033f-11eb-8c57-51cc32b4a542.png)

The message 'Downloading javascript bundle 100%' is never getting hide, so it's covering the BottomTab Bar of the App.

[2020-09-30 17:21] roederw commented on #1417
v1.0.1 resolved this problem - @pfalcetti I'm closing this out since it's been patched. I recommend opening a new bug report with the information you added above. Thanks @SounD120!

[2020-09-30 17:21] #1417 closed

[2020-09-30 19:36] webda2l opened #1423 "[Bug] Permission denied with launch command"
# 🐛 What is the bug? How can we reproduce it?

1. Launch Command 'React Native: Run Android on Emulator' or 'React Native: Launch Android Emulator'
2. Nothing happen (even after restart VSCode & Computer, or with new Emulator image)

## Expected behavior

As usual, it works last week again but not anymore. Due to recent update of VScode or this extension?

## Debug output

<details>
<summary>Debug

[2020-10-01 06:57] VPelt commented on #1417
This issue seems to persist in 1.0.1

[2020-10-01 07:57] SounD120 opened #1424 "Cannot read property 'getRnCdpProxy' of undefined error in developer tools"
This issue seems to persist in 1.0.1

[2020-10-01 08:57:02.049] [renderer3] [error] Cannot read property 'getRnCdpProxy' of undefined: TypeError: Cannot read property 'getRnCdpProxy' of undefined
    at E.<anonymous> (c:\xxx\.vscode\extensions\msjsdiag.vscode-react-native-1.0.1\dist\rn-extension.js:1:115643)
    at Generator.next (<anonymous>)
    at c:\xxx\.vscode\extensions\msjsdiag.vscode-react

[2020-10-01 08:02] SounD120 opened #1425 "Could not read source map for debuggerWorker.js"
Hello there,

getting this error:

[code]

Here is my 'debuggerWorker.js' file :

[code]

_Originally posted by @pfalcetti in https://github.com/microsoft/vscode-react-native/issues/1417#issuecomment-701447526_

[2020-10-01 08:05] pfalcetti commented on #1425
Thank you @SounD120.

Referring to #1417, today is not working again.

[2020-10-01 08:06] pfalcetti commented on #1417
In my case it's not working again with the RNT extension 1.0.1.

A new update has been released about 1 hour ago, and it doesn't solve the problem.

[2020-10-01 08:08] SounD120 commented on #1417
@pfalcetti What exactly is not working in your case?

[2020-10-01 08:10] pfalcetti commented on #1417
Same error as yesterday.
"Could not find AppLauncher .... "

So the debugger is not starting.

[2020-10-01 08:15] SounD120 commented on #1417
@pfalcetti Do you have `settings.json` with the lines like below in your root project folder?
[code]
There was no more updates except 1.0.1, so what update are you talking about?

[2020-10-01 08:19] pfalcetti commented on #1417
`"react-native-tools": {
    "projectRoot": "./Mobile/AppBT",
    "showInternalLogs": false,
    "logLevel": "Info"
  }`

This is my 'react-native-tools' key in setting.json in the root project folder.

VSCode extension manager is marking a new release of RNT extension released 1 hour ago

![Schermata 2020-10-01 alle 10 19 03](https://user-images.githubusercontent.com/66679563/94785216-93ef9e00-03

[2020-10-01 08:29] SounD120 commented on #1417
@pfalcetti Could you please try to reinstall the extension using the following instruction?
1. Delete the React Native Tools extension
1. Close all VS Code instances
1. Open VS Code
1. Install the latest version of the extension from the marketplace and try to run debugging again

Please let me know if still this issue persists.
This looks quite weird because the release has happened more than 10

[2020-10-01 08:34] pfalcetti commented on #1417
@SounD120 , ok.

Reinstalling the extension following yours instruction, it's working!
I'm still having the bug #1425, but this is another story 😄

Thank you very much for your help ☮️ ✌️

[2020-10-01 09:00] JiglioNero commented on #1418
Hi @Gsonovb and thanks for your feedback. What do you mean by:
Displaying the call status on the mobile device will overwrite the operation screen
Also could you please add more context on what exact features do you want to see in extension and how do you want to use them? What backend API calls do you want to check and how? This information will be very helpful for us.

[2020-10-01 09:19] SounD120 commented on #1425
Looks like https://github.com/microsoft/vscode/issues/102042
@JiglioNero

[2020-10-01 09:57] webda2l commented on #1423
Sound like the way to call `emulator -list-avds` was different before and ok with my previous setup (a bit to light).

Adding `export PATH=$PATH:$ANDROID_HOME/emulator` in my $HOME/.bashrc as recommended in https://reactnative.dev/docs/environment-setup seems have fixed the problem.

I close, thanks.

[2020-10-01 09:57] #1423 closed

[2020-10-01 09:58] JiglioNero commented on #1423
Hi @webda2l , After the release of React Native Tools v1.0.0, we control the launch of the emulator not only from react-native-cli but also from the VS Code extension. Therefore, it is possible that the emulator does not have permissions to run from the VS Code process. Please try to provide the execution permissions of Android SDK executables for the VS Code process.

[2020-10-01 10:07] webda2l commented on #1423
@JiglioNero Last recommendations of https://reactnative.dev/docs/environment-setup fixed the problem, I wasn't fully uptodate.
Thanks for your work.

[2020-10-01 10:10] pfalcetti commented on #1425
Hi,

I checked out https://github.com/microsoft/vscode/issues/102042, but it's not solving my bug.

I want u to know that this is not a "blocking" bug, i mean, the debug correctly works.
It just prints the above message in the debug console window!

[2020-10-01 10:13] acostalima commented on #1420
Sure! You can find the app at https://github.com/ipfs-shipyard/react-native-ipfs-demo.
The repro is actually quite simple. Using the debug configuration I pointed out above, simply fire up the debugger in VSCode. A few seconds after the app is compiled, the error will be displayed in a popup window.

[2020-10-01 10:14] JiglioNero commented on #1423
@webda2l I'm glad to hear it, we will keep this problem in mind, if something like this happens in the future - we will include it in our documentation.

[2020-10-01 11:20] andreyleonardo opened #1426 "[Bug] iOS debug settings replacing the target name by deviceId automatically"
# 🐛 What is the bug? How can we reproduce it?

Since version 1.0.0 every time I run the app using the debug settings it's replacing the target device name by the device id.
It's problematic since in our project we commit these settings and the device id is unique for each developer/device.

Please put here any steps, code or any information that can help us
reproduce the error on our side so we ca

[2020-10-01 12:37] 3ace commented on #1426
I've had this bug today, here's what happen to me:

1. run the debugger, the app would be launched and the target in launch.json would be overwritten
2. stop the debugger
3. simulator still running
3. run the debugger again. debugger wont start with an error "error No iOS devices connected."
4. replacing the uuid with the device name would enable me to start debugging again.

[2020-10-02 05:55] bmccorm2 opened #1428 "Linux - Cannot install extension on VS Code"
Hey guys -

I tried this with two different distributions (Ubuntu and Arch) and I cannot install the extension.  I try to install from the marketplace in VS Code and also from the command line.  In both env I have nodejs and npm installed.  I have installed the create-react-app package to get started.

When i go to my windows machine it comes up and installs fine.

Thanks for any help!

![image](h

[2020-10-02 07:54] Gsonovb commented on #1418
In my case,

Help friends maintain the program,

They use firebase,

But I want to use it in China,

So we use the forwarding service (replacing the URL of the firebase package),

Sometimes there are problems with the request service, you need to check whether the forwarding service is normal.

I can't access the back-end source code and forwarding server. I can only record the request information

[2020-10-02 08:01] SounD120 commented on #1428
Hi @bmccorm2 and thanks for questioning. What version of VSCodium are you using? The latest version of React Native Tools requires VS Code >= 1.40 to run. Also I'm not sure how the marketplace works with the VSCodium build as this is not an official build and it might work differently. In this case, I recommend installing the official VS Code build and trying to install the extension into it.

[2020-10-02 08:31] SounD120 commented on #1428
@bmccorm2 As seen from [this lines in the VSCodium repository](https://github.com/VSCodium/vscodium/blob/master/prepare_vscode.sh#L48) - it modifies the original links to the Marketplace, [so it is not connected to the original Marketplace](https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions--marketplace). I am closing this issue as this is not an issue of the extension or original

[2020-10-02 08:31] #1428 closed

[2020-10-02 09:08] SounD120 commented on #1418
@Gsonovb This extension is for debugging the React Native application source code. If I understand you correctly you want to debug the source code remotely on other machine? If it so: you need to modify `address` and `port` arguments in your `Attach to packager` scenario. But otherwise I think that this is not the thing that might be done with the React Native Tools extension.

[2020-10-02 11:54] bmccorm2 commented on #1428
@SounD120 Thanks for the info!  I just changed the URL that codium points to for the extension gallery and now it comes up fine.  Thanks for the links!

[2020-10-02 14:20] molant commented on #1418
@SounD120 I believe what @Gsonovb wants is to be able to see what network requests are being done by the React Native application and the contents of the responses, similar to the Network tab in the Chrome Developer Tools.

Am I right?

[2020-10-04 01:37] Gsonovb commented on #1418
@molant   Yes，

React can view the request in the web tag in chrome developer tools, but react native runs on the device and cannot be viewed on the computer.

[2020-10-05 10:50] SounD120 commented on #1418
@Gsonovb Got it. We'll consider adding this feature in order of priorities.

[2020-10-05 10:51] #1425 closed

[2020-10-05 10:51] #1424 closed

[2020-10-05 11:24] SounD120 commented on #1073
Hermes Direct debugging for the extension has been added. With respect to Hermes Expo - I think it might be tracked as another issue when it is released.

[2020-10-05 11:24] #1073 closed

[2020-10-05 12:36] #1408 closed

[2020-10-05 14:52] JiglioNero commented on #1420
Hi @acostalima . We tested your demo application, but we could not to reproduce your exact error, despite this we faced a similar error and fixed it. Also, after the build of the application is completed, it is not installed on the device, despite the fact that the message about successful installation is displayed in the console. This scenario is repeated both using the extension and using the st

[2020-10-05 15:49] kfekairi commented on #1425
i have the same problem, any solutions?
`Could not read source map for file:///Users/macbook/Desktop/SampleApp/.vscode/.react/debuggerWorker.js: ENOENT: no such file or directory, open '/Users/macbook/Desktop/SampleApp/.vscode/.react/debuggerWorker.js.map'`

[2020-10-06 07:14] SounD120 commented on #1425
Hi, @kfekairi. The fix for that error is already in master branch and will be released in the next React Native Tools version.

[2020-10-06 14:32] acostalima commented on #1420
That's odd as `ios-deploy` is included as a dependency, although as an optional one. Thanks for pointing this out.

@JiglioNero my bad here. I'll test with an actual device and come back to you soon.

Will do. Thanks for your support!

[2020-10-07 09:41] VPelt opened #1432 "[Bug] Could not find AppLauncher by the project root path <path>"
# 🐛 What is the bug? How can we reproduce it?

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Step 1 Start vscode 'fresh'
2. Step 2 Start an emulator from terminal in vscode
3. Step 3 Start the debugger by pressing F5

## Expected behavior

Launch the app in debug mode

## Debug output

<details>
<summary>Debug Console</sum

[2020-10-07 09:44] SounD120 commented on #1432
Hi @VPelt . The React Native Preview version is not yet tuned to receive updates after the React Native Tools v1.0.0 stable release. For now stable version has the most recent updates and this problem has been already fixed in v1.0.1 version, so I'd recommend to remove the preview one and try the latest stable version of the extension.

[2020-10-07 09:46] VPelt commented on #1432
Switching between type: reactnative-preview and type: reactnative does seem to 'fix' the issue.
However with a full computer reboot. fresh restart of vscode it does retrigger this

[2020-10-07 10:34] SounD120 commented on #1432
@VPelt I recommend you to disable or remove React Native Tools Preview version, and try to reboot VS Code and run debugging again. Let me know if this issue persists after that.

[2020-10-08 09:16] KishoreBarik opened #1433 "[Bug] Bug description"
# 🐛 What is the bug? How can we reproduce it?

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Step 1
Open VScode command dialog using ctrl+ shift+p and execute
`React Native: Run Android on Emulator`

## Expected behavior

It should launch the emulator, start the metro server and then run the application

## Debug output

<

[2020-10-08 09:27] SounD120 commented on #1433
Hi @KishoreBarik and thanks for the question. This issue looks pretty similar to https://github.com/microsoft/vscode-react-native/issues/1423, so I'd recommend you to check that all requirements from official React Native Getting Started docs are met.
Please let us know if this helped.

[2020-10-08 09:46] JiglioNero commented on #1420
Hi @acostalima , have you tested the fix? Does it work for you?

[2020-10-08 10:34] acostalima commented on #1420
@JiglioNero not yet, sorry. I don't have an iPhone in my possession at the moment. I'll get back to you next week!

[2020-10-08 13:25] superandrew commented on #1302
I am not sure if I update something but I'm back to where I standed with this problem. I noticed that expo/cli might have broken again https://github.com/expo/expo-cli/pull/2220. @RedMickey are you aware of this?

right now my configuration is:

[code]

[code]

[2020-10-09 06:40] VPelt commented on #1432
I disabled the preview version, however i still got this issue this morning on 1.0.1

[2020-10-09 06:41] VPelt commented on #1432
[Error] Failed to setup the stub launcher for the debugger (error code 703)

Stack: Error: Failed to setup the stub launcher for the debugger (error code 703): EEXIST: file already exists, mkdir 'c:\Git\rnrealmapp\.vscode\.react'
    at Function.getWrappedError (c:\Users\XXX\.vscode\extensions\msjsdiag.vscode-react-native-1.0.1\dist\rn-extension.js:1:150748)
    at Function.wrapError (c:\Users\XXX

[2020-10-09 06:44] VPelt commented on #1432
Disabling, renableing and restart of vscode seems to 'solve' this issue. Just anoying to do early in the morning.

Once it runs it runs for a whole day

[2020-10-09 07:44] SounD120 commented on #1432
@VPelt, preview and stable seem to be in conflict when both are installed at the same time. The preview branch will be back online soon(right now it doesn't receive updates), so this problems should be resolved in it. But the stable branch is currently the most recent, so it is not recommended to use both versions at the same time.

[2020-10-09 08:13] #1406 closed

[2020-10-09 13:25] SounD120 commented on #1302
@superandrew I think that it is better to open new one, since it might be connected to other issues.

[2020-10-09 16:30] bijaykanshinew commented on #1425
@SounD120 when this new tag will be created. Is there any way to include master branch in vscode

[2020-10-11 13:43] bogdan-marian opened #1435 "[Bug] Not possible to initiate debugging on Expo app"
# Not posible to initiate debugging: Error while executing command "react-native run-android --no-packager". (error code 101)

1. Use debug config:
[code]
2. From debug tab start "Debug ANdroid" task

## Expected behavior

1. Start debugging
2. Run application on connected device

Instead we have
[code]

## Debug output

<details>
<summary>Debug Console</summary>

[code]
</details>

<details>
<sum

[2020-10-11 17:54] canpoyrazoglu commented on #1425
I also started seeing my newly added changes and breakpoints not firing unless I restart the debugger since getting this error. The original files and breakpoints work, but if I do any change, it apparently (sometimes) fails. Might be related.

[2020-10-11 20:33] superandrew opened #1436 "[Bug] Dynamic configuration read from .env failing"
It seems that the debugger is unable to load environment variables in app config. This is basically a duplicate of an [issue](https://github.com/microsoft/vscode-react-native/issues/1302#issuecomment-706179042) that had been [fixed](https://github.com/expo/expo-cli/pull/2220) earlier this year, but I noticed that something changed in expo cli, so I am not able of fixing things as suggested there.

[2020-10-12 08:31] SounD120 commented on #1425
@canpoyrazoglu Please file a new issue for your specific case.
@bijaykanshinew We are working on this exact feature [right now](https://github.com/microsoft/vscode-react-native/pull/1437), so I think the [nightly builds](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) will return tomorrow.

[2020-10-12 08:33] SounD120 commented on #1435
Hi @bogdan-marian , and thanks for the question. In order to debug Expo apps extension propose `Debug in Exponent` debug scenario. `Debug Android` is not intended to debug Expo apps, so I recommend to try `Debug in Exponent` and let us know about the result.

[2020-10-12 08:35] SounD120 commented on #1433
@KishoreBarik is this issue still relevant for you?

[2020-10-12 13:49] SounD120 commented on #1432
@VPelt The preview branch is available now and the next release should be released tomorrow. Give it a try and let us know if the problems you described persist.

[2020-10-13 07:23] VPelt commented on #1432
@SounD120 i even get this in 1.0.1 after uninstalling the preview extension

[2020-10-13 09:21:44.958] [renderer1] [error] Cannot read property 'getRnCdpProxy' of undefined: TypeError: Cannot read property 'getRnCdpProxy' of undefined
    at E.<anonymous> (c:\Users\XXX\.vscode\extensions\msjsdiag.vscode-react-native-1.0.1\dist\rn-extension.js:1:115643)
    at Generator.next (<anonymous>)
    at c:

[2020-10-13 07:32] SounD120 commented on #1432
@VPelt This issue has been fixed in the [Preview extension](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview), and not yet released in [Stable](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native). As soon as an updated Stable version will be released - this problem will be resolved.

[2020-10-13 07:37] SounD120 commented on #1432
@VPelt If the following issue persists even after updates - please open a new issue for this, since it unlikely connected with the original one.
[code]

[2020-10-13 07:37] #1432 closed

[2020-10-13 08:00] RedMickey commented on #1436
Hi @superandrew and thanks for reaching us. We found out that this issue has been reproduced since the `@expo/xdl@58.0.4` package. Some changes which probably cause the problem were done at that version. We could also reproduce this issue running a project from the terminal, so we opened [the issue](https://github.com/expo/expo-cli/issues/2782) in the `expo/expo-cli` repository.

[2020-10-13 10:36] superandrew commented on #1436
@RedMickey is there any way to restore the project in a way that works again? Installing a previous version of @expo/xdl?

[2020-10-13 11:50] ramyareye opened #1438 "[Feature] Hiding Debug Console code location"
# 🚀 Feature request

I need to get rid of log code line location as you see in picture. (on right starting with localhost:...)

<img width="1116" alt="Screen Shot 2020-10-13 at 3 19 12 PM" src="https://user-images.githubusercontent.com/6318491/95856785-74f5f200-0d67-11eb-8c7b-4d52a045948e.png">

I'm not sure if we can handle it in vs code or rn output

thanks

[2020-10-13 12:19] superandrew commented on #1436
[code]

works for me

[2020-10-13 13:02] superandrew commented on #1436
I'm sorry, no. This doesn't fix anything. It seems that the debug is starting but in the end it doesn't. If anyone has suggestion on how to get back to work with this it would be highly appreciated as I'm out in the dark.

[2020-10-14 06:25] RedMickey commented on #1436
@superandrew, the extension doesn't use commands from the global `expo-cli` while launching an Expo application. It uses functions from the local `@expo/xdl` package.
To install a specific version of the `@expo/xdl` package to the extension you need do the following:
1. Open VS Code `extensions`  folder in terminal by using one of the following commands:
   * **Windows:** `cd %USERPROFILE%\.vscode

[2020-10-14 07:54] SounD120 commented on #1433
@KishoreBarik I am closing this issue due to no activity.

[2020-10-14 07:54] #1433 closed

[2020-10-14 07:54] SounD120 commented on #1435
Hi @bogdan-marian . Is this issue still relevant for you?

[2020-10-14 08:31] JiglioNero commented on #1420
Hi @acostalima , just pinging on this. The fix we offered you is already merged into master, so you can try it as it's already released in the new version of [React Native Tools (Preview)](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview). Let us know if there are any problems with it

[2020-10-14 08:59] bogdan-marian commented on #1435
Helo @SounD120 Thank you so much for pointing the "Debug in Exponent" configuration. It was not that obvious to me. The debug works using `Debug in Exponent` configuration.

[2020-10-14 08:59] #1435 closed

[2020-10-15 07:54] SounD120 commented on #1278
Hey @molant , @jabfrei . I want to bump this thread up. So what else can we analyze to enhance discoverability?

[2020-10-15 13:29] SounD120 commented on #1426
Hi @3ace , @andreyleonardo , React Native Tools v1.1.0 with a fix for that just have been released.

[2020-10-15 13:29] #1426 closed

[2020-10-15 13:30] SounD120 commented on #1420
@acostalima React Native Tools v1.1.0 with a fix for that just have been released. Please try it out and let us know if it works for you.

[2020-10-15 13:30] andreyleonardo commented on #1426
thanks a lot @SounD120! 🙏

[2020-10-16 07:36] abegehr opened #1440 "React Native Packager not starting through VSC"
# 🐛 What is the bug? How can we reproduce it?

The react-native packager fails to start through VSC.

1. Open react-native in VSC with React Native Tools 1.1.0 installed
2. Open Command Palette (shift+cmd+P)
3. run "React Native: Start Packager"
4. Wait for error to come up in Output -> React Native.

## Expected behavior

I expect the metro packager to start correctly.

## Debug output

Output ->

[2020-10-16 07:56] SounD120 commented on #1440
Hi @abegehr. It seems that the VS Code is unable to run child process `node` because it's internal PATH environment variable doesn't contain the path to the Node.js executable. Do you have such path in your `~/.zshrc` file? VS Code uses it when runs child processes, so I recommend to add NVM bindings there. Please let us know if it helped.

[2020-10-16 09:31] abegehr commented on #1440
Hey @SounD120, thanks for the quick answer. I am using https://github.com/lukechilds/zsh-nvm with antigen in my .zshrc for sourcing nvm. nvm is available in my normal and VSC shell and I can run `yarn start`, just through the VSC extension it does not seem to find node. Is zsh-nvm not supported and I need to source directly?

[2020-10-16 10:47] SounD120 commented on #1440
@abegehr I am not sure if the internal child processes can support zsh extensions, so this might work, but not officially tested. I recommend to stick to the [React Native Getting Started](https://reactnative.dev/docs/environment-setup) documentation to setup the environment.

[2020-10-16 12:52] SounD120 commented on #1438
Hi @ramyareye . For now there is no concrete way to do that from the extension side, so I recommend you to create a feature request to add that capability in [main VS Code repository](https://github.com/microsoft/vscode).

[2020-10-16 12:52] #1438 closed

[2020-10-18 09:41] superandrew commented on #1440
I am having this issue randomly (not sure it is the exact same)

[code]

This happens every time I start VS Code in a expo project and click debug. If I start the packager first, then it starts. So it seems the packager is unable to start when started from the debugger, in my case. I have to add that because of [this](https://github.com/microsoft/vscode-react-native/issues/1436) I am using @expo/x

[2020-10-19 09:50] SounD120 commented on #1440
Hi @superandrew . Could you please provide more information about your environment and your project (if this relevant)? I tested the Expo debugging with the nvm and the latest Node.js and this error doesn't reproduce.

[2020-10-19 09:58] superandrew commented on #1440
sure @SounD120

[code]

[code]

[code]
this happens on every expo project I have. My @expo/xdl package is at 58.0.3 but this wasn't working even before that change. Same for expo-cli version which has been [reverted](https://github.com/microsoft/vscode-react-native/issues/1436)

[2020-10-19 10:20] SounD120 commented on #1440
@superandrew Could you please also share your `.zshrc` config file?

[2020-10-19 10:22] superandrew commented on #1440
sure.

[code]

[2020-10-19 11:29] SounD120 commented on #1440
@superandrew Could you please also do the following:
1. Open VS Code Developer Tools
1. Open Console tab in it
1. Run the following command `process.env.PATH` and copy the output here.
The Node path should be in this PATH variable, otherwise this might be the reason of this problems.

[2020-10-19 12:05] superandrew commented on #1440
[code]

[code]

[2020-10-19 14:15] SounD120 commented on #1440
@superandrew Have you faced the similar errors when used other VS Code extensions?

[2020-10-19 16:05] superandrew commented on #1440
actually I'm not sure if I might answer "no" or "I don't know", as I am only seeing the problem when starting the react native tools debugger but I'm not sure if any other extension uses node. It is something that appeared all of a sudden like one month ago.

[2020-10-20 12:22] SounD120 commented on #1440
Hey @abegehr , @superandrew . It seems that the [similar issues](https://github.com/microsoft/vscode/issues/98203) might happen due to the `terminal.integrated.inheritEnv` setting, could you please check if this option is enabled in your VS Code preferences?
![image](https://user-images.githubusercontent.com/32372875/96585186-e560be00-12e7-11eb-9063-8dc9e484c068.png)

[2020-10-20 14:36] superandrew commented on #1440
in my case it is active. Should it be?

[2020-10-21 05:58] superandrew commented on #1440
@SounD120 not sure if it helps, but if I open the terminal and start node, it works. It seems mostly related to the packager. As I said before though, I am not on the latest version of the expo cli xdl in the extension.

[2020-10-21 08:13] SounD120 commented on #1440
@superandrew Yes, it should be active.

Not sure if the XDL version is relevant here, since I tested this by installing the XDL 58.0.3 and faced no problems with the extension.
I tried to copy your environment from `.zshrc`, but still this issue doesn't reproduce.
Do you have any other specific configurations that might change your PATH during the Expo app launch?
Does this reproduce on debugging

[2020-10-21 11:29] RedMickey commented on #1436
Hi @superandrew, according to the [Expo team's answer](https://github.com/expo/expo-cli/issues/2782#issuecomment-713189387) for now Expo doesn't support use of `babel-plugin-dotenv-import` in a `app.config.js` file the way it used to work. They also proposed possible workarounds until the issue is fixed.  It seems that the issue isn't an issue of the extension, since it is reproduced with Expo CLI

[2020-10-21 11:29] #1436 closed

[2020-10-22 10:27] SounD120 opened #1441 "Enhance extension smoke tests"
There are plans to improve the extensions smoke tests. This should help to decrease tests flakiness and speed up the tests execution.
Here is the preliminary plan:
- [x] Update [`WebDriverIO`](https://github.com/webdriverio/webdriverio) to the latest version that is supported by [`appium`](https://github.com/appium/appium) #1442
- [x] Use [`vscode-test`](https://github.com/microsoft/vscode-test) p

[2020-10-23 06:40] superandrew commented on #1436
@RedMickey thanks. I followed the suggestions and acknowledge the change in expo. However, while expo-cli starts and read the variable, it seems that the extension is unable to read those variables when I launch the debug configuration. Should I do some extra configuration in launch.json to read those variables I set with direnv?

[2020-10-23 06:45] SounD120 commented on #1420
Hi @acostalima I am closing this issue due to inactivity. Feel free to reopen if needed.

[2020-10-23 06:45] #1420 closed

[2020-10-24 15:57] abegehr commented on #1440
For me, it is working now without any change on my side. I unticked and re-ticked the `terminal.integrated.inheritEnv` option before running again and it just works. I'll close this issue.

[2020-10-24 15:57] #1440 closed

[2020-10-25 21:51] kelvin-otieno commented on #661
Thanks...this worked for me. Didn't even have to restart vscode after creating the blank launch.json file.

[2020-10-26 23:33] Gabemb opened #1444 "[Bug] Debug in Exponent throws "Error while executing command 'npm install @expo/xdl @expo/ngrok --verbose --no-save' (error code 101)""
## Current behavior

Error is thrown on Debug in Expo's first fun, failing when trying to install dependencies

## Expected behavior

Dependencies install successfully and debugging begins

## Debug output

<details>
<summary>Debug Console</summary>

[code]
</details>

<details>
<summary>VSCode Output Tab</summary>

[code]
</details>

<details>
<summary>Developer Tools console</summary>

[code]
</

[2020-10-27 09:51] JiglioNero opened #1445 "Overall smoke tests code refactoring"
#1441

It is necessary to discharge the smoke tests entry point file and also simplify other classes.
This is the new structure model:

![image](https://user-images.githubusercontent.com/43934531/97284694-6a9d2300-1852-11eb-84dd-7a3db2006eda.png)

[2020-10-27 10:50] RedMickey commented on #1444
Hi @Gabemb and thanks for reaching us.
Could you please send us the value of `process.env.PATH` from VS Code:

1. Open VS Code Developer Tools (Click `Help` -> `Toggle Developer Tools`)
1. Open Console tab in it
1. Run the following command `process.env.PATH` and copy the output here

The Node path should be in this PATH variable, otherwise this might be the reason of the problem.

Could you pleas

[2020-10-27 19:34] Gabemb commented on #1444
Hi, @RedMickey! Thanks for helping out! Once I checked the value for that variable in VS Code's console, I saw that it was using the node v15.0.1 bin instead of the v14.14.0 I had set as my default in nvm.

<details>
<summary>VS Code's process.env.PATH</summary>

[code]
</details>

<details>
<summary>nvm list</summary>

[code]
</details>

It seems like simply changing the default alias isn't enoug

[2020-10-28 05:54] RedMickey commented on #1444
@Gabemb, I'm glad to hear that it works! Do you need any more help from our side or I can close the issue?

[2020-10-28 17:19] Gabemb commented on #1444
@RedMickey That's all! Thanks again and feel free to close this issue whenever!

[2020-10-28 18:21] #1444 closed

[2020-11-04 07:50] superandrew commented on #1440
in my case this fix doesn't work. Anything else I could try? updated everything, also xdl so now I don't have anything. This doesn't happen necessarily debugging, but as soon as I open vs code, wait for extension to load, and then "start packager" on the bottom bar.

[code]

[2020-11-04 07:54] superandrew commented on #1440
yesterday, while I was working on a project it got stuck and stayed this way. Now I ticked and unticked the "inherit" setting, restarted vs code and it works.. I'm puzzled.

[2020-11-04 07:55] superandrew commented on #1440
another change I made was to swap two lines from .zshrc

[code]

(they were inverted). I don't think that changes.

[2020-11-05 07:27] SounD120 commented on #1440
@superandrew So this problem is resolved for you too?

[2020-11-06 13:51] CoderTeam1 commented on #111
Is this called syntax coloring? I thought it was code colouring

[2020-11-06 14:03] isidorn opened #1450 "Stop using enableBreakpointsFor in package.json under debuggers contribution"
Hi VS Code dev here 👋

Please stop using the `enableBreakpointsFor` field in your `package.json`.
It is deprecated and we will stop supporting it in our next stable release (in a month).
Here's where you use it https://github.com/microsoft/vscode-react-native/blob/master/package.json#L122

Here's an alternative how you should use it
https://github.com/microsoft/vscode-mock-debug/blob/master/packag

[2020-11-06 14:21] SounD120 commented on #1450
Hi @isidorn , added a fix. Thanks for pointing on this!

[2020-11-06 14:23] isidorn commented on #1450
Thank you.

[2020-11-08 19:48] superandrew commented on #1440
I hoped, but no, unfortunately not. I start VS Code, I wait a while, then I start the packager from the extension and (most of the times) I get this error. I open developer tools, reload, and then it starts. Any way to restart clean? I already tried disabling vs code sync ( I suspected it might cause issues like that in some cases ), uninstalling the extension and reinstalling it. Updated expo to

[2020-11-09 01:51] PlayCodeStudios opened #1452 "Error al ejecutar el comando "d:\APP\HorokoBar\node_modules\.bin\react-native.cmd run-android --no-packager" (error code 101)(error code 303)"
error starting application debugging

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Run - Start Debuging
2.
## Expected behavior

Run the app in Android Virtual Device

## Debug output

<details>
<summary>Debug Console</summary>

[Info] El empaquetador ya se está ejecutando.

[Info] Prewarming bundle cache. This may take a

[2020-11-09 07:14] SounD120 opened #1453 "Packager does not start from extension"
in my case this fix doesn't work. Anything else I could try? updated everything, also xdl so now I don't have anything. This doesn't happen necessarily debugging, but as soon as I open vs code, wait for extension to load, and then "start packager" on the bottom bar.

[code]

_Originally posted by @superandrew in https://github.com/microsoft/vscode-react-native/issues/1440#issuecomment-721569925_

[2020-11-09 07:15] SounD120 commented on #1440
@superandrew Looks like an independent issue, so I opened a new one for your specific case.

[2020-11-09 07:49] #1450 closed

[2020-11-09 09:28] SounD120 commented on #1452
Hi @PlayCodeStudios and thanks for reaching us. Do you see the same behavior when execute `react-native run-android` command from the terminal? Could you please try to run this command and send us the outputs?

[2020-11-09 11:44] SounD120 commented on #1452
@PlayCodeStudios Also I'd recommend you to run `npx react-native doctor` command from your project folder so the RN CLI utility will try to find problems with your project like incorrect Android SDK configuration and other problems that might be connected with your environment.

[2020-11-10 10:41] SounD120 commented on #1271
Hey @molant , are there any updates on this issue?

[2020-11-10 17:09] leobragatti opened #1456 "[Bug] Unbound Breakpoint"
# 🐛 What is the bug? How can we reproduce it?

I'm just trying to debug my app, but all breakpoints show the message "Unbound breakpoint"
I've already tried all the solutions I've saw on the internet, but still I have this problems

## Expected behavior

When I start the debugger, it should stop on the breakpoints

## Debug output

<details>
<summary>Debug Console</summary>

[code]
</details>

<de

[2020-11-10 17:38] molant commented on #1271
I haven't seen any comment in the latest ratings. I think we can leave this open for a couple more releases while we continue fixing some of the bugs and close it then.

I think we might have to use our experiments pipeline to prompt about the survey because we are getting a lot less answers these last few months 😞

[2020-11-10 21:25] PlayCodeStudios commented on #1452
[IMG]https://drive.google.com/file/d/153BvkZcwYvd_XcRnO3w591BNQc3gKK6M/view?usp=sharing[/IMG]

im new in this, this is my first install react native, I'm not quite sure what I'm doing.
This is the guide that I followed step by step to install React native, .

https://www.ryadel.com/en/react-native-visual-studio-code-windows-hello-world-sample-app/

I used React Native CLI method and everything ran

[2020-11-11 08:26] SounD120 commented on #1452
@PlayCodeStudios Judging by the logs, React Native or/and Android SDK environment might be configured incorrectly, so I recommend to check if your environment meets the requirements from the official [React Native Getting Started instruction](https://reactnative.dev/docs/environment-setup). Also make sure that your AVD Android version meets the Android SDK version that is installed.
Also I recomme

[2020-11-11 08:37] SounD120 commented on #1456
Hi @leobragatti and thanks for reaching us. Could you please add more information about your project?
1. Does this project use Expo?
1. Which version of React Native is used in your application?
1. Can you please provide screenshots of breakpoints marked as unbound?

Also it will be great if you can provide a minimal demo application in which this issue is reproduced.

[2020-11-11 08:42] SounD120 commented on #1271
@molant Which exact survey do you mean? Do you mean [this section](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native&ssr=false#review-details)?

[2020-11-11 09:42] leobragatti commented on #1456
Hi @SounD120, thanks for the reply!
1.Does this project use Expo?
No

Which version of React Native is used in your application?
0.63.2

Can you please provide screenshots of breakpoints marked as unbound?
![image](https://user-images.githubusercontent.com/347393/98795433-f8e3de00-23e8-11eb-849e-a922daee3c5b.png)

My current app now is complex, but I'll try to do a minimal app to reproduce this

[2020-11-11 09:47] SounD120 commented on #1456
@leobragatti Does this issue reproduce on React Native Tools v1.1.0? You can install it by using right click on the extension and selecting `Install another version...` as pointed on the screenshot below.
![image](https://user-images.githubusercontent.com/32372875/98796064-06668b80-241c-11eb-9a96-679c477941e0.png)

[2020-11-11 09:53] leobragatti commented on #1456
@SounD120 yes, the problem persists on React Native Tools v1.1.0
![image](https://user-images.githubusercontent.com/347393/98796796-8e33a200-23ea-11eb-899d-8d50f9577d08.png)

[2020-11-11 10:20] SounD120 commented on #1456
@leobragatti Could you please execute your debugging scenario with `"trace": "verbose"` argument in `launch.json` and attach here outputs from `React Native Chrome Proxy` output channel and debug console?

[2020-11-11 10:28] leobragatti commented on #1456
@SounD120 Here's the output
[output.log](https://github.com/microsoft/vscode-react-native/files/5523434/output.log)

[2020-11-11 13:03] SounD120 commented on #1456
@leobragatti I inspected the logs and I don't even see any logs connected to the `Login.js` file. There are no commands that should place a breakpoint in this file, but I found a require error cycle that possibly might cause this. Did you put the breakpoint in the `Login.js` file when verbose logs are recorded?

Here is the exact error that I found:
[code]

[2020-11-11 13:22] molant commented on #1271
We have another survey that pops to only some users. That's how I got a lot of the initial feedback :)

[2020-11-11 14:18] leobragatti commented on #1456
@SounD120 I'll check it out and let you know. Thanks for the help!

[2020-11-11 14:28] leobragatti commented on #1456
@SounD120 Just to let you know, I tried to debug using WebStorm IDE and worked fine

[2020-11-11 14:30] SounD120 commented on #1456
@leobragatti Which version of VS Code do you use?

[2020-11-11 14:31] leobragatti commented on #1456
@SounD120
![image](https://user-images.githubusercontent.com/347393/98823971-79b6d000-2411-11eb-98a7-a2abd3456702.png)

[2020-11-11 14:51] PlayCodeStudios commented on #1452
this code run good now i can run npx react-native doctor, if you can help me finish setup my first app in react native I'd appreciate it.

after run doctor that is result. (even I can see that there are a couple of things wrong)

PS D:\app> cd horokobar
PS D:\app\horokobar> npx react-native doctor
Common
 ✓ Node.js
 ✓ npm
 ✓ Python

Android
 ✖ JDK
   - Version found: 1.8.0_211
   - Version support

[2020-11-11 15:03] PlayCodeStudios commented on #1452
im fixing all

[2020-11-11 15:17] PlayCodeStudios commented on #1452
PS D:\app\horokobar> npx react-native doctor
Common
 ✓ Node.js
 ✓ npm
 ✓ Python

Android
 ✖ JDK
   - Version found: 1.8.0_211
   - Version supported: >= 8
 ✓ Android Studio - Required for building and installing your app on Android
 ✖ Android SDK - Required for building and installing your app on Android
   - Versions found: N/A
   - Version supported: 29.0.2
 ✓ ANDROID_HOME

Errors:   2
Warnings:

[2020-11-12 09:47] superandrew commented on #1453
@SounD120 Is there any way I could try "resetting" my VS Code situation to check if this still persists? The consistent fix seems to be to open developer tools and hit CMD+R

[2020-11-12 10:28] SounD120 commented on #1453
@superandrew The fastest way to reset this that I can propose is to temporary comment all NVM entries in your `.zshrc` file and try to install Node.js via brew command and then add the path to this Node.js installation to `.zshrc`.  This might help to understand if the problem is whether in NVM Node.js configuration or not.

[2020-11-12 10:39] superandrew commented on #1453
what if I comment nvm and point in `.zhsrc` to a nvm installation? It should be the same thing, right? I'm a bit unconmfortable messing with node because I depend on it on so many tasks

[2020-11-12 10:41] SounD120 commented on #1453
Yes, I think that should work the same way.

[2020-11-12 12:08] SounD120 commented on #1452
@PlayCodeStudios Does the `react-native run-android` command work after the JDK installation from RN CLI doctor command? If it is not - please make sure that the following environment variables are defined and point to the existing folders containing the components of Android SDK.
You can do this using the following Powershell commands:
[code]
This command will show you values of the crucial Andro

[2020-11-12 12:53] SounD120 commented on #1456
@leobragatti Basically this looks like a sourcemap problem.
This issue is also looks similar: https://github.com/microsoft/vscode-js-debug/issues/845.
Could you please share your `index.map` file from the `.vscode/.react` folder? If it might content senstive data - please send it to my work email v-yuskor@microsoft.com.

[2020-11-12 14:19] SounD120 commented on #1007
I think that it is better to close this issue since the extension can work with the RNW apps with the only gaps of Show DevMenu and Reload App commands which will be added as soon as [DevMenu functions will be added in NativeModules](https://github.com/microsoft/react-native-windows/issues/3822).

[2020-11-12 14:19] #1007 closed

[2020-11-12 15:35] PlayCodeStudios commented on #1452
Yes, I did everything from the beginning with the official guide that you sent me and everything worked ok, the problem was badly written user values. thanks to you for helping me, long live the GitHub community

[2020-11-12 15:35] #1452 closed

[2020-11-13 07:19] SounD120 commented on #1456
@leobragatti Can you please also share your debug scenario configuration? Where is the `.react.` folder in your project?

[2020-11-13 10:30] leobragatti commented on #1456
@SounD120 Here's the `launch.json`:
`
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug Android",
            "cwd": "${workspaceFolder}",
            "type": "re

[2020-11-13 10:49] SounD120 commented on #1456
@leobragatti I think I found the reason of problems with breakpoints. For some reason the path to the source file look incorrectly, for example for
[code]
It seems that there are unnecessary hierarchy climbs in the relative paths. I am starting to investigate what possibly might cause this.

[2020-11-14 09:19] superandrew commented on #1453
hi @SounD120 even adding a valid node path doesn't seem to change. If I have the Jest extension loaded it prints many times the same error, so I guess it is not something that is pertinent to this extension but to VS Code or my installation. I will try to break the setup/reinstall and let you know my findings

[2020-11-16 07:59] JiglioNero commented on #1453
Hi @superandrew it looks like the problem is somewhere in the specific configuration on your machine and we could not reproduce this problem, we will leave this issue open, please let us know if you find any clues.

[2020-11-16 11:39] SounD120 commented on #1456
@leobragatti Could you please try to replace `.react` in the name of your app to `_react`? I am suspecting that might be the core of the problem.

[2020-11-16 15:32] leobragatti commented on #1456
@SounD120 By that, you mean just rename the folder?

[2020-11-17 06:32] Nrusingha commented on #381
I follow all the steps but it did not work.

[2020-11-17 07:00] SounD120 commented on #1456
@leobragatti Yes, and after that try to debug your app.

[2020-11-17 10:33] leobragatti commented on #1456
@SounD120 still not working :(

Any more suggestions?

[2020-11-17 13:21] SounD120 commented on #1456
@leobragatti It will be faster to find with a repro demo, so could you please send us one? This will be very helpful.

[2020-11-17 18:53] leobragatti commented on #1456
@SounD120 I've attached this project which I was able to reproduce the bug. I've noticed one thing: When the folder has a period `.`, it doesn't stop on breakpoing. Renaming the folder replacing the `.` with `-`, it worked

[2020-11-17 19:07] leobragatti commented on #1456
@SounD120 I've invited you to a repo to be able to reproduce the problem. I've noticed one thing: When I have `.` in the folder name, the breakpoints doesn't work. But if it has `-` on the name, it works fine

[2020-11-18 08:39] SounD120 commented on #1456
@leobragatti We have tested both versions of folder names with `.` and with `-` and they both work without problem on Windows 10, Linux and macOS. So, maybe we missed some repro steps? How does this reproduce in your case? Where you place breakpoints and when?
![Screenshot from 2020-11-18 11-30-03](https://user-images.githubusercontent.com/32372875/99505991-95caec00-2992-11eb-96e9-796e766d9a32.png

[2020-11-18 09:56] leobragatti commented on #1456
@SounD120 I've placed the breakpoint in the same line as you:
![image](https://user-images.githubusercontent.com/347393/99515022-2ee60c80-296b-11eb-8e55-8e5c16fdd244.png)

[2020-11-18 12:14] SounD120 commented on #1456
Hi @leobragatti. It seems that something goes wrong when the extension is trying to transform your absolute paths to source file to relative for sourcemaps. In order to check this I prepared patched version of the extension which will write debug logs [from this place](https://github.com/microsoft/vscode-react-native/blob/master/src/debugger/sourceMap.ts#L154) in file.

So could you please do the

[2020-11-18 14:54] leobragatti commented on #1456
@SounD120 I've found the problem. I was using a symbolic link to the repo. When I started using the real path to the folder, the debugger worked. Really weird situation, though, because I have a lot of folders which are just symbolic links and don't have any problem with that

[2020-11-18 15:03] SounD120 commented on #1456
@leobragatti Really weird situation 😕  . I think we'll investigate the extension behavior with respect to the symbolic links and update the documentation to avoid such issues in future.

[2020-11-18 15:35] leobragatti commented on #1456
@SounD120 thanks so much for the help and attention!

[2020-11-19 12:15] #1456 closed

[2020-11-25 07:26] SounD120 opened #1462 "[Feature] Fix all eslint issues in the code"
# 🚀 Feature request

We have some linting warnings in the repo. I think it makes sense to fix them all and also synchronize eslint rules with Prettier in order to make autofix scripts work together.

- [x] Fix main code base
- [x] Fix smoke tests code base

## What scenarios will this solve?

This will help to bring the code to a single style, and fix some style inconsistencies. This will improve

[2020-11-26 14:14] #1136 closed

[2020-11-26 14:16] SounD120 commented on #1136
Hi @zxccvvv . This feature was implemented and will be available in the next [React Native Tools (Preview)](https://marketplace.visualstudio.com/items?itemName=msjsdiag.vscode-react-native-preview) release.

[2020-11-30 13:11] SounD120 commented on #1278
@molant Are there any updates?

[2020-11-30 16:47] molant commented on #1278
Nope, been on PTO last week and haven't had the time to look into this.

Do you have an idea of how many options the complex UI would have? Would it be possible to mock it so we can validate the flow with some users?
With the experiments feature we have, can we target users that do not use a particular feature? I think it will be good to ask some of those user why they don't use the debugger.

Tha

[2020-12-02 03:03] boychik-serzh opened #1464 "Failed to compile"
path/components/Product.js
Module not found: Can't resolve '@react-navigation/compat' in 'path\components'

I am trying to use Material UI to create React Native App.
But I couldn't owing to above error.

[2020-12-02 03:19] supagu opened #1465 "[Bug] Application debugging hangs with white screen on Node.js 15 on iOS and Android"
# 🐛 What is the bug? How can we reproduce it?

I created a new react-native app:

react-native init test
then I opened it and added a launch configuration with "Debug iOS"

Try to run "Debug iOS" and it builds ok, and get deployed to my simulator. It loads the app, but then kicks me out of the app and seems to re-run it.
This time the app is stuck at "Downloading JavaScript bundle 100% (3563/3563)

[2020-12-02 06:15] RookieZn commented on #1465
Same issue for me with node v15.3.0, but it is ok with v14.5.1

[2020-12-02 08:11] SounD120 commented on #1464
Hi @boychik-serzh . Thanks for reaching us. Could you please add information pointed in our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE.md)?

[2020-12-02 09:53] #1445 closed

[2020-12-02 09:53] #1441 closed

[2020-12-02 22:35] supagu commented on #1465
I downgraded from node 15 to 14 (v14.15.1) and can confirm it is working properly for me with this version of node!

[2020-12-03 14:31] RedMickey commented on #1278
@molant, We suggest adding three sequences of creation debug configurations. We looked through all our configuration options and decided to focus on main ones.
* Run application -> Select platform (iOS, Android, macOS, Windows) -> Select type of React Native application (if available direct/classic)
* Debug application -> Select platform -> Select type of React Native application (if available dir

[2020-12-04 18:55] luisnaranjo733 opened #1467 "[Feature] Document how to attach to debugger for Windows"
# 🚀 Feature request

Document how to attach to debugger for Windows

## What scenarios will this solve?

The documentation for this extensions currently only explains how to configure RNW projects to basically run the ```npx react-native run-windows``` command. This does a lot of goodness (start metro bundler, build native app, install it, launch it, automatically attach to VS Code for debugging).

[2020-12-04 21:11] luisnaranjo733 commented on #1467
I was able to figure out how to do this with my own experimentation, but the docs should definitely give some guidance on this because it's not clearly documented.

1. Add the "Attach to packager" configuration to .vscode/launch.json

[code]

2. Start metro bundler (either through the command line or through the VS Code extension command)
3. Select the "Attach to packager" configuration and click

[2020-12-07 11:05] SounD120 commented on #1464
@boychik-serzh Just a friendly ping on this.

[2020-12-08 14:30] SounD120 commented on #1465
Hi @supagu, @RookieZn . Could you please try to reproduce this on Node.js 15 and latest version of [VS Code Insiders](https://code.visualstudio.com/insiders/)?

[2020-12-08 15:15] RookieZn commented on #1465
@SounD120  I can still reproduce on Node.js 15.3.0 and VS Code Insiders.
<img src="https://user-images.githubusercontent.com/17445652/101501257-7f6cea80-39aa-11eb-93d1-59081cccfd27.png" width="50%" />

[2020-12-09 08:54] RedMickey commented on #1467
@luisnaranjo733 We updated the documentation for RNW applications debugging. Thank you for your help.

[2020-12-09 08:54] #1467 closed

[2020-12-09 09:11] SounD120 commented on #1464
@boychik-serzh Unfortunately we cannot answer to your questions correctly without the information pointed in the issue template. I am closing this issue due to inactivity. Feel free to reopen if needed. Please add needed information in that case.

[2020-12-09 09:11] #1464 closed

[2020-12-14 12:49] shaftwin opened #1473 "[Bug] An error occurred while launching the application. Error while executing command 'npm install @expo/xdl @expo/ngrok --verbose --no-save' on npm 7"
## Current behavior
Error is thrown on Debug in Expo's first fun, failing when trying to install dependencies

## Expected behavior
Dependencies install successfully and debugging begins

<details>
<summary>Debug Console</summary>

[code]
</details>

<details>
<summary>React Native output channel</summary>

[code]
</details>

<details>
<summary>Developer Tools console</summary>

[code]
</details>

[2020-12-14 13:14] SounD120 commented on #1473
Hi, @shaftwin . Thank you for the report, could you please try to install Node.js 12 LTS instead of Node.js 15, try to launch the debug scenario again? If this didn't work, please try to remove the extension, close VS Code, then reopen VS Code and install extension, and then launch the debug scenario. Could you please try this and let us know if this worked for you?

[2020-12-14 13:28] shaftwin commented on #1473
Thanks for your quick response, i will try it as soon as possible and let you know the result.

[2020-12-14 13:35] SounD120 commented on #1473
@shaftwin There are few issues connected with Node.js 15 that we are investigating right now, so as a workaround it is better to use the LTS versions for now. I tried to reproduce your issue and it is more likely that this happens due to this issue: https://github.com/npm/cli/issues/2000

[2020-12-14 22:21] shaftwin commented on #1473
@SounD120 I have to say thank you, it's working like a charm with the Node.js 12.
Hope you will find a way to solve your issues with v15 !

You can close this up, thanks.

[2020-12-15 12:27] SounD120 opened #1474 "[Feature] Update contributing guide for the extension"
# 🚀 Feature request

Update contributing guide to describe how to debug the latest version of the extension based on [js-debug](https://github.com/microsoft/vscode-js-debug)

[2020-12-16 12:45] #1462 closed

[2020-12-16 12:59] #1474 closed

[2020-12-16 18:04] Darkiring commented on #1440
This works for me!

[2020-12-16 18:05] superandrew commented on #1440
it did for me as well, until it didn't 😂

[2020-12-16 18:10] Darkiring commented on #1440
Did it stop working then?

[2020-12-16 20:51] superandrew commented on #1440
it's kinda random. Sometimes it hapoens and I reload vs code.. I stopped asking 😀

[2020-12-17 22:04] superandrew commented on #1473
I'm having the same problem. @SounD120 could you please elaborate installing node 12? If someone's using nvm it should be a matter of changing version there, but what about VS code? which node uses?

[2020-12-18 07:38] SounD120 commented on #1473
@superandrew VS Code uses Node.js 12 for now. Which version of npm do you use? If it is 7, than it might be the the main problem since from version 7 the algorithm to build dependencies tree has changed and it causes problems in some cases. We have already reported that to Expo since that happens due to one specific package: https://github.com/expo/expo-cli/issues/3027.

[2020-12-18 07:41] superandrew commented on #1473
i was able to check that my node installed with brew was 15 and i think it was the only one. I installed node 12, brew-linked it and after restarting vs code and reinstalling the extension the error is gone

[2020-12-18 12:20] SounD120 commented on #1465
@supagu @RookieZn The reason of this bug has been found and fixed in upstream: https://github.com/microsoft/vscode-js-debug. This bug will be fixed when a new version of VS Code with the updated js-debug extension will be released.

[2020-12-23 18:56] joebernard opened #1478 "Could not start the packager"
Attempting to debug in Visual Studio Code results in an error message:

It runs for a while then appears to timeout with this error.

I'm able to manually start the React Native packager from the command line with `npx react-native start`. If I manually start the packager and then try to debug I get a different error:

If I manually run that command from the above error in a terminal, it builds an

[2020-12-23 21:01] joebernard commented on #1478
Fixed. I deleted all the `react-native-tools` settings in settings.json and things started working again. I think the main culprit was that somehow `logLevel` was set to `null`.

[2020-12-23 21:01] #1478 closed

[2020-12-24 07:27] SounD120 commented on #1453
Hi @superandrew . Do you have any `react-native-tools` settings in your `settings.json` file as pointed in #1478 issue?

[2020-12-24 08:31] superandrew commented on #1453
Unfortunately this is such an impredictable behaviour.. I tried removing the settings.json and the extension started for many vs code relaunches. But then I put the file in place again and it continue working. Usually my morning routine is open vs code, start the debugger, get the error, open developer tools, reload, then start the debugger and it works.

I can't tell if this changed but I can del

[2020-12-24 12:11] RookieZn commented on #1465
This issue appears again with VS Code Version: 1.53.0-insider

[2020-12-24 12:19] SounD120 commented on #1465
@RookieZn The extension cannot use the js-debug preview version that is used in VS Code Insiders, and the stable one is not yet released. Once 1.53 is released as stable the new version of stable js-debug with a fix should be contained in it.

[2020-12-25 10:29] RedMickey opened #1479 "Extension sometimes fails while starting on debugging the extension"
While debugging the extension we faced the problem that sometimes the extension fails on starting with the following error.
![Screen Shot 2020-12-25 at 12 50 28](https://user-images.githubusercontent.com/33267199/103132136-85eea800-46b4-11eb-8c80-9d3107d2a386.png)

It could be that there is some race between async function while removing content from the `.vscode/.react` folder.

[2020-12-25 10:47] RedMickey opened #1480 "Add support of debugging of iOS Hermes applications"
React Native [v0.64.0-rc.2](https://github.com/facebook/react-native/releases/tag/v0.64.0-rc.2) supports Hermes engine for iOS apps. We should investigate how the new type of applications works and adapt the extension to debug such applications.

[2020-12-29 17:56] bijaykanshinew commented on #1420
hey, i am getting same error with react native tool version 1.2.0.
could you please look into it.

[2020-12-29 19:39] GollyJer opened #1482 "[Bug] [Error] XDLError: ValidationError: "devClient" is not allowed"
I'm getting this error when trying to debug an Expo project.
[code]

The project previously worked without issue. Is this possibly connected to Expo v40? I can't remember if I've used debugging since updating a few weeks back.

Thanks!

[2020-12-29 21:21] HamzaIraoui commented on #1482
@GollyJer **me also**  , i get the same error

[2020-12-29 21:47] HamzaIraoui commented on #1482
- [ ]  i solve my problem by remove **.expo** in my project folder

[2020-12-30 08:52] JiglioNero commented on #1482
Hi @GollyJer and thank you for the report. We have faced the similar problem while debugging an Expo SDK 40 project on an iOS simulator. Now we are investigating this issue. Could you please tell us which OS you are using and and which mobile platform you use for running the Expo application on (iOS or Android)?

[2020-12-30 17:10] GollyJer commented on #1482
- Windows 10
- Android (real device) and iOS (real device)

[code]

[2021-01-03 22:50] minaelee commented on #1482
You can see that settings.json (which lives in the .expo folder) was updated to include two new properties: `scheme` and `devClient` in this commit on December 12:
https://github.com/expo/expo-cli/commit/9e3cb1eb154d689d3c7fbe18345e6b32cf59ad7b#diff-412633fe3f2f4d6e1c8e75ab06fc6711542ec887fe07765f2aadbc0af93b381a

I have been reliably able to recreate this issue via the following steps:
- Globally

[2021-01-06 08:23] RedMickey commented on #1482
@minaelee, thank you for the investigation, we also came to the same conclusion.

Under the hood the extension uses `@expo/xdl` package to run Expo apps. The extension downloads the latest version of the package on the fist start of Expo debugging and then uses the cached package. Due to [the latest changes in Expo-CLI](https://github.com/expo/expo-cli/commit/9e3cb1eb154d689d3c7fbe18345e6b32cf59ad

[2021-01-06 12:44] #1479 closed

[2021-01-07 00:13] GollyJer commented on #1482
@RedMickey That worked. Thanks!

[2021-01-07 00:13] #1482 closed

[2021-01-13 11:15] patriksharma commented on #1044
Failed to start the React Native packager (error code 106)

Since 2 days I'm getting this error in VS. earlier it was working fine. any help

[code]

[2021-01-13 11:30] RedMickey commented on #1044
Hi @patriksharma  and thanks for reaching us. Please create a new issue for your specific case and describe your problem using our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE/1-bug-report.md).

[2021-01-13 13:28] akashrao1991 commented on #1141
Hello,
I am facing the same issue.
the error says :
An error occurred while launching the application. Error while executing command
'd:\programming\Aclize\custom_build\MyApplication\node_modules\.bin\react-native.cmd run-android --no-packager': Error while executing command 'd:\programming\Aclize\custom_build\MyApplication\node_modules\.bin\react-native.cmd run-android --no-packager' (error code

[2021-01-13 14:16] RedMickey commented on #1141
Hi @akashrao1991   and thanks for reaching us. Please create a new issue for your specific case and describe your problem using our [issue template](https://github.com/microsoft/vscode-react-native/blob/master/.github/ISSUE_TEMPLATE/1-bug-report.md).

[2021-01-13 16:25] patriksharma opened #1485 "Failed to start the React Native packager (error code 106)"
---
name:  Failed to start the React Native packager (error code 106)
about: Report a bug
title:  Failed to start the React Native packager (error code 106)
labels: "bug"
---

# 🐛 What is the bug? How can we reproduce it?

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Open Visual Studio, Install the react native Extension.

[2021-01-14 07:15] NorfeldtAbtion commented on #1482
in my case it was because I was running node 10 via nvm instead of node 14

[2021-01-14 11:19] RedMickey commented on #1485
Hi @patriksharma and thanks for reporting.
With respect to this:

Could you please tell us if you had changed something in your system environment or project before the issue occurred?
Could you please also tell us if the packager starting process takes a long time in the terminal? The extension has 3 minute limitation for packager starting.

Could you please check if the issue exists while starti

[2021-01-14 13:06] patriksharma commented on #1485
Hello @RedMickey ,
Please find below answer of your questions.

I have not changed anything but looks like issue in node.js to me so I tried uninstalling them and installing them again.

1. I have created a new React Native project using  `npx react-native init AwesomeProject` (beside that before doing this I have removed nodes completely, removed yarn and installed everything again)

2. Opened co

[2021-01-14 13:07] patriksharma commented on #1485
Hello @RedMickey ,
Please find below answer of your questions.

I have not changed anything but looks like issue in node.js to me so I tried uninstalling them and installing them again.

1. I have created a new React Native project using  `npx react-native init AwesomeProject` (beside that before doing this I have removed nodes completely, removed yarn and installed everything again)

2. Opened co

[2021-01-14 13:09] patriksharma commented on #1485
Hello @RedMickey ,
Please find below answer of your questions.

I have not changed anything but looks like issue in node.js to me so I tried uninstalling them and installing them again.

    I have created a new React Native project using `npx react-native init AwesomeProject `
    (beside that before doing this I have removed nodes completely, removed yarn and installed everything again)
    Open

[2021-01-15 08:57] RedMickey commented on #1485
@patriksharma, As I see from your screenshot, you debug an RN Expo project.

Could you please send us the value of `process.env.PATH` from VS Code:

1. Open VS Code Developer Tools (Click `Help` -> `Toggle Developer Tools`)
1. Open Console tab in it
1. Run the following command `process.env.PATH` and copy the output here

The Node path should be in this PATH variable, otherwise this might be the r

[2021-01-16 01:07] canpoyrazoglu opened #1486 "An error occurred while attaching debugger to the application. Another debugger is already connected to packager. Please close it before trying to debug with VSCode. (error code 505) (error code 1410)"
# 🐛 What is the bug? How can we reproduce it?

Vscode still thinks that debugger port is in use if it was at least on use once Vscode tried to start debugger. The error persists _even after other debugger is killed_ (and yes I'm sure that it's killed). The only way to get Vscode debugger to work is to restart Vscode.

Please put here any steps, code or any information that can help us
reproduce th

[2021-01-18 03:30] patriksharma commented on #1485
@RedMickey

Here is the output for `process.env.path` command

[code]

[2021-01-18 03:32] patriksharma commented on #1485
@RedMickey
Today When I started the React native it works and Package started in the Visual Studio. I have no idea what make it working and what was an error earlier. Till Saturday it was not working at all (except from Terminal Command). Today it works from VS Code.

[2021-01-18 12:31] RedMickey commented on #1485
@patriksharma, it's good news, that it's working again. Have you restarted your computer or the extension became to work properly even without restarting?

[2021-01-18 13:35] patriksharma commented on #1485
I’m not sure it’s an issue of restarting because I started facing this
issue 5 days back and did Restart many times but Yes I did restart today
and It worked.

I did extension reinstall too and It started working again.

On Mon, 18 Jan 2021 at 6:02 PM, RedMickey <notifications@github.com> wrote:

--
Sent from I-Phone

[2021-01-18 16:36] RedMickey commented on #1485
@patriksharma
Under the hood the extension also uses `react-native start` command to run the packager. I tried several variants to reproduce the issue, but I couldn't do. It could be that there was some Node.js issue with spawning of child processes or missconfig of the environment variables or the extension settings.
We've just released the new version [1.3.0](https://github.com/microsoft/vscode-

[2021-01-19 05:08] patriksharma commented on #1485
@RedMickey  Thanks for the help. Yeah I believe it can be a `node.js` issue. As app installed after reinstalling node.

[2021-01-19 05:08] #1485 closed

[2021-01-19 23:32] AlenToma opened #1490 "Unable to run a new created project from visual studio Code"
# 🐛

I'm new to react native, and I always work with visual studio 2019. There I worked with Xamarin.
As you know when you download Visual studio and work with xamarin the android SDK is installed in

`C:\Program Files (x86)\Android\android-sdk\platform-tools`
for Which the adb is located in `C:\Program Files (x86)\Android\android-sdk\platform-tools`

So I created a `local.properties` and added `s

[2021-01-20 14:36] RedMickey commented on #1490
Hi @AlenToma and thanks for reaching us.
Could you please try to run your project from the terminal using `npx react-native run-android` command in the project root folder? This will allow us to understand if this is an issue of the extension or React Native command.
Could you please also check if your system environment is setup properly in accordance with [the official "Setting up the developmen

[2021-01-20 15:01] staheridev commented on #1115
harder than finding  real solution for problem is readign fucking wrong solutions that stupids sent to this site

[2021-01-20 15:32] RedMickey commented on #1486
Hi @canpoyrazoglu, thanks for reporting.
We found out the reason of such behavior. [This PR](https://github.com/microsoft/vscode-react-native/pull/1489) is intended to fix problem with attachment. Could you please try VSIX with the fix and let us know how it works for you? To try it please do the following:
* Download and unzip compiled extension VSIX : [vscode-react-native-1.3.0.vsix.zip](https:/

[2021-01-20 16:16] AlenToma commented on #1490
Yes I was finally able to fix this

[2021-01-20 16:42] RedMickey commented on #1490
@AlenToma Glad to hear that. Then I am closing this issue. Feel free to open new ones if needed.

[2021-01-20 16:42] #1490 closed

[2021-01-22 08:45] DmitryKvant commented on #1420
any news i have similar bag
<img width="335" alt="Снимок экрана 2021-01-22 в 16 45 40" src="https://user-images.githubusercontent.com/17162785/105467904-45914280-5cd1-11eb-9c7e-92b72ca8d076.png">

[2021-01-22 08:53] DmitryKvant commented on #1420
that happen bcs i selected direct mode

[2021-01-22 09:50] DmitryKvant opened #1491 "[Feature] Automatically refresh component when add or change breakpoint"
# 🚀 Feature request

 Automatically refresh component (fast refresh or hot reload) when add or change breakpoint in vscode

## What scenarios will this solve?

spend time for resave document

[2021-01-22 15:20] RedMickey commented on #1420
Hi @DmitryKvant and thanks for reaching us.
Could you please tell us if you are trying to debug an iOS application on a simulator in direct mode? If so, for now the extension supports direct debugging only on real devices, due to issues with [ios-webkit-debug-proxy](https://github.com/google/ios-webkit-debug-proxy) util, which is used to communicate with an iOS device. It seems that our documentat

[2021-01-22 23:38] abegehr commented on #1465
I'm having the issue on node 14 as well: `ERR loadedSources not supported: Error: loadedSources not supported`
I've tried setting the node version with an .nvmrc and setting the default alias on nvm directly to 14.15.1. No luck.
@RookieZn, @supagu, could you share more details on how you fixed the issue?

<img width="1552" alt="Screenshot 2021-01-23 at 00 35 59" src="https://user-images.githubuser

[2021-01-22 23:41] abegehr commented on #1465
I'm having the issue on node 14 as well: ERR loadedSources not supported: Error: loadedSources not supported
I've tried setting the node version with an .nvmrc and setting the default alias on nvm directly to 14.15.1. No luck.
@RookieZn, @supagu, could you share more details on how you fixed the issue by setting the node version?
Screenshot of VSC:
<img width="1552" alt="Screenshot 2021-01-23 at 0

[2021-01-25 10:41] RedMickey commented on #1465
Hi @abegehr, I tried to reproduce the issue on Node.js v14.15.1 the following way:

0. Created a plain React Native app
1. Set Node.js version using `nvm alias default 14.15.1` command
2. Started iOS debugging via `Debug iOS` scenario
3. I also got `ERR loadedSources not supported: Error: loadedSources not supported` error
4. But the application started successfully and the debugger could attach t

[2021-01-25 11:07] RedMickey commented on #1491
Hi @DmitryKvant and thanks for your feedback.
Could you please tell if I understand you correctly, that an application should be hot reloaded after any change of breakpoints in VS Code?

[2021-01-26 08:54] dineshchandrasekaren opened #1493 "intellisense is not working in vs code"
Issue Type: <b>Bug</b>

intellisense is not work in react native

Extension version: 1.3.0
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD PRO A4-4350B R4, 5 COMPUTE CORES 2C+3G      (2 x 2495)|
|GPU Status|2d_canvas: enabled<br>flash_3

[2021-01-26 08:55] dineshchandrasekaren commented on #1493
![Screenshot (16)](https://user-images.githubusercontent.com/64305855/105822620-4d5b2a80-5fe2-11eb-9d43-ec2245c9dc9c.png)

[2021-01-26 08:55] dineshchandrasekaren commented on #1493
![Screenshot (15)](https://user-images.githubusercontent.com/64305855/105822674-5a781980-5fe2-11eb-86be-b8707fa6a763.png)

[2021-01-26 08:56] dineshchandrasekaren commented on #1493
![Screenshot (14)](https://user-images.githubusercontent.com/64305855/105822749-6bc12600-5fe2-11eb-841c-f481c07bb200.png)
![Screenshot (13)](https://user-images.githubusercontent.com/64305855/105822764-6fed4380-5fe2-11eb-9ba6-43818e4997fe.png)

[2021-01-26 09:35] RedMickey commented on #1493
Hi @dineshchandrasekaren and thanks for reaching us.
React Native Tools extension doesn't control `IntelliSense` stuff for React Native anymore because it's handled by VS Code  now. You can check it for yourself by removing React Native Tools extension completely and trying, for example, to call code-hinting or navigating in code of your RN project  - it should work independently of the extension.

[2021-01-26 09:45] dineshchandrasekaren commented on #1493
How to fix it .

My problem is if I type padd means it want to give options to me like paddingLeft, paddingRight,paddingHorizontal,paddingVertical .
But it is not working why how to fix it

[2021-01-26 11:29] RedMickey commented on #1493
@dineshchandrasekaren, could you please try to do the following:

1. Uninstall the extension
2. Close and open VS Code again
3. Start typing style properties to check if code completion works now

If the issue remains after the deletion of the extension, it means that the extension doesn't affect code completion function. The current version of the extension doesn't provide IntelISense code comple

[2021-01-26 14:57] RedMickey commented on #1486
@canpoyrazoglu Do you have a chance to look at this?

[2021-01-28 01:39] canpoyrazoglu commented on #1486
@RedMickey Yes. I can verify that using the VSIX  you've attached solves the issue. After installing the VSIX I've tried launching RN debugger through Vscode various sessions when external React Native Debugger was attached, and it gave the error when external was running (expectedly), but after closing it I tried Vscode debugger and it attached/started to debug correctly.

[2021-01-28 01:39] #1486 closed

[2021-01-29 08:40] RedMickey commented on #1465
@abegehr Do you have a chance to look at this?

[2021-01-29 10:09] RedMickey commented on #1418
We have investigated ways to display network requests data in the extension and found out the following three ways to do it:

1. **In output channel in VS Code**. In this case, all the messages are printed in their full size. The screenshot below is just a draft, which doesn't contain all the information about the requests.
    ![image](https://user-images.githubusercontent.com/33267199/106253517-

[2021-02-01 01:47] Gsonovb commented on #1418
I like to be in VSCode Webview.

Just like the developer tools in the Chromium browser, multiple resources are loaded on a page, but there may be only one or two errors (HTTP 40X, 50X)

[2021-02-01 09:21] RedMickey opened #1494 "Add support of debugging of macOS Hermes applications"
[React Native for macOS supports Hermes engine](https://microsoft.github.io/react-native-windows/docs/hermes#available-on-macos). We should investigate how the new type of applications works and adapt the extension to debug such applications.

[2021-02-01 09:56] JiglioNero commented on #1453
Hi @superandrew , could you please tell if you are still having this issue? If so, have you noticed any new patterns of its occurrence or do you have any assumptions about it?

[2021-02-01 10:07] superandrew commented on #1453
To be honest at the time I learned to live with it, then I started working with different technologies so I jumped into the RN projects after opening VS Code with another project (this seemed to be consistently a way to avoid the behavior). Now I am not able to recreate it anymore even if I close VS Code and open a RN project as first and immediately start debugging.

Are you having the problem or

[2021-02-01 12:09] JiglioNero commented on #1453
We tried to reproduce this error on multiple machines, but we still cannot reproduce this problem. If the error is no longer reproducible for you, then we’ll close the issue. Please, feel free to open again if needed.

[2021-02-01 13:14] #1453 closed

[2021-02-01 14:56] gorhom commented on #1418
`output channel in VS Code` and `VS Code DevTools console` both looks good and practical

[2021-02-01 21:18] matijagrcic commented on #1418
Looks good but Flipper already has this https://fbflipper.com/docs/features/react-native/.
DevTools console looks like a best option as you really only want this when debugging.

[2021-02-02 06:36] RedMickey commented on #1418
Hi guys and thanks for your feedback.

@matijagrcic, with respect to [Flipper Network inspector](https://fbflipper.com/docs/features/react-native/), the idea of our Network inspector is to work in a tab in VS Code, so It wouldn't be necessary to open Flipper application while debugging a React Native app in VS Code. It could be more convenient to use one development tool for this purpose instead o

[2021-02-02 11:08] RedMickey commented on #1493
@dineshchandrasekaren, I am closing this issue due to inactivity. React Native Tools extension doesn't provide `IntelliSense` code completion feature for React Native applications.

[2021-02-02 11:08] #1493 closed

[2021-02-02 11:09] #1480 closed

[2021-02-02 11:58] SparseSpeculator opened #1496 "Error whewn trying to debug expo with the recommended debug config -> "Cannot find module 'glob'""
# 🐛 What is the bug? How can we reproduce it?

I cannot debug expo with the recommended debug config. Instead I get a popup saying "Cannot find module 'glob'".

Steps to reproduce:
1. Setup a expo app with expo 40.0.0
2. Configure debug as described here https://github.com/microsoft/vscode-react-native#expo-applications
3. Click "Start debugging"

I tried reinstalling the latest version of node, i

[2021-02-02 14:24] JiglioNero commented on #1496
Hi @SparseSpeculator and thank you for contacting us. It looks like `expo/xdl` lib installed to work with expo cannot install gulp on its own. For now there is a workaround for this problem. You should install glob locally for the extension:

1.  Navigate to the `C:\Users\<username>\.vscode\extensions\msjsdiag.vscode-react-native-1.3.0`
2.  Execute `npm install glob`
3.  Restart VS Code

At the mo

[2021-02-02 14:37] micheleb opened #1497 "[Bug] Cannot launch debug configuration for Apple TV apps"
# 🐛 What is the bug? How can we reproduce it?

1. Create a React Native TV project
2. Create a new `Debug iOS` launch VSCode configuration
3. The TV app is launched inside a new simulator, but the extension crashes with this message: ![](https://i.imgur.com/MiSVlBp.png)
4. After that, the debug task is no longer running

## Expected behavior

The app should launch inside a new simulator, which sho

[2021-02-02 16:02] SparseSpeculator commented on #1496
That worked! Thank you for helping, and helping so quickly! :)

[2021-02-02 19:19] mogarick commented on #1496
Hi,
I have the same error but I'm running on MacOS Catalina.
I can confirm the workaround works for my config too.

[2021-02-04 21:38] JMRMEDEV opened #1499 "[Bug] Error Code 500 when debugging"
# 🐛 What is the bug? How can we reproduce it?

Please put here any steps, code or any information that can help us
reproduce the error on our side so we can fix it:

1. Install the VS code react native plugin with the recommended expo configuration.
2. Press debug un Expo for getting the QR that will launch the app on Android.

To be able to run my app in debugging in Expo.

What were you expectin

[2021-02-05 00:01] GollyJer commented on #1496
Ran into the same issue on Windows 10 with Expo SDK 40.
Tried suggested fix then got this.
<img src=https://user-images.githubusercontent.com/689204/106970605-1e3f6a00-6702-11eb-83a1-072941b61138.png width=600>

following...

[2021-02-05 12:15] JiglioNero commented on #1496
We found out that this issue occurred due to the recent update of `@expo/configure-splash-screen` package to version `0.3.3`.  This version of the module uses the `glob` package, but it was not added to the dependencies of this module. At the moment this problem has been fixed in version `0.3.4`. But since the latest @expo/xdl v59.0.22 package is still using the `0.3.3` version of `@expo/configure

[2021-02-05 13:27] RedMickey commented on #1465
[VS Code version 1.53.0](https://code.visualstudio.com/updates/v1_53) and [js-debug extension v1.53.0](https://github.com/microsoft/vscode-js-debug/releases/tag/v1.53.0) with the fix have been released. We successfully tested debugging of an iOS React Native application using Node.js v15.6.0. It seems that the issue has been fixed, so I'm closing the issue.

[2021-02-05 13:27] #1465 closed

[2021-02-10 07:54] #1494 closed

[2021-02-14 16:19] SanjanaTailor commented on #408
This is working for me Thank you

[2021-02-15 08:33] RedMickey opened #1503 "[Feature] Smoke tests improvement"
The purpose of improvement is to increase tests stability.
Smoke tests improvement plan:
- [x] Stabilize smoke tests on Linux
- [x] Refactor smoke tests preparation code in `TestApplicationSetupManager`
- [x] Update smoke tests configurations
- [x] Update and enhance smoke tests documentation
- [x] Fix vulnerabilities in smoke tests dependencies

[2021-02-18 12:43] feslima commented on #1496
This worked for me. Thank you!

[2021-02-19 11:45] JiglioNero commented on #1499
Hi @JMRMEDEV , we have fixed this bug. This fix will be available on the Marketplace when the release of a new version of React Native Tools is deployed. But you can install the extension with this fix right now by following steps:

- Download and unzip compiled extension [VSIX](https://github.com/microsoft/vscode-react-native/files/6009596/vscode-react-native-1.4.0.vsix.zip).
- Uninstall extensio

[2021-02-19 11:45] #1499 closed

[2021-02-20 03:22] JMRMEDEV commented on #1499
@JiglioNero Fantastic! It does solve the issue. Thank you for the support.

[2021-02-22 07:50] RedMickey commented on #1496
Hi everyone, Expo has released [`@expo/xdl v59.0.23` package](https://www.npmjs.com/package/@expo/xdl/v/59.0.23) with the fix for this issue. Now `@expo/xdl` contains `glob` package in its subdependencies, so it should be installed with the root package automatically.
We tested the new version of the package and the extension could install and import it without problems. So it seems that the issue

[2021-02-22 11:23] RedMickey commented on #1473
Hi @shaftwin and @superandrew, I tested debugging of Expo apps using React Native Tools extension v1.4.0 on Node.js `v15.1.0`, `v15.6.0`, `v15.9.0` and couldn't reproduce the issue. In RNT 1.4.0 we updated some dependencies, that caused issues while installing `@expo/xdl` and `@expo/ngrok` packages on Node.js 15.x.
Could you please try to debug an Expo application on Node.js 15.x using the latest

[2021-02-22 11:49] superandrew commented on #1473
to me so far everything is working properly.

Thanks!

[2021-02-23 18:37] MadeByRaymond opened #1509 "[Bug] Cannot debug react-native-windows project on VSCode"
# 🐛 What is the bug? How can we reproduce it?
Kindly know that this has already been opened [here(#7180)](https://github.com/microsoft/react-native-windows/issues/7180) and was instructed to reopen the issue here
Following the setup steps for when using VS Code in https://microsoft.github.io/react-native-windows/docs/getting-started#running-a-react-native-windows-app, I keep getting this error `[E

[2021-02-23 18:37] MadeByRaymond opened #1510 "[Bug] Cannot debug react-native-windows project on VSCode"
# 🐛 What is the bug? How can we reproduce it?
Kindly know that this has already been opened [here(#7180)](https://github.com/microsoft/react-native-windows/issues/7180) and was instructed to reopen the issue here
Following the setup steps for when using VS Code in https://microsoft.github.io/react-native-windows/docs/getting-started#running-a-react-native-windows-app, I keep getting this error `[E

[2021-02-24 03:42] #1509 closed

[2021-02-24 12:31] RedMickey commented on #1510
Hi @MadeByRaymond and thanks for reaching us.
Under the hood React Native Tools extension uses React Native CLI `run-windows` command to run a React Native Windows application. As seen from [your comment in RNW repo](https://github.com/microsoft/react-native-windows/issues/7180#issuecomment-784391888), `npx react-native run-windows` command fails when running in the terminal. VS Code React Native

[2021-02-25 08:26] JiglioNero commented on #1496
The issue has been fixed in [`@expo/xdl v59.0.23`](https://www.npmjs.com/package/@expo/xdl/v/59.0.23) package and now it is no longer reproducible, so we close this issue.

[2021-02-25 08:26] #1496 closed

[2021-02-25 12:56] RedMickey commented on #1473
After the release of `React Native Tools v1.4.0`, the issue is no longer reproducible, so I'm closing it. Feel free to reopen if needed.

[2021-02-25 12:56] #1473 closed

[2021-02-25 19:39] asklar opened #1511 "[Feature] Surface error messages from run-windows"
# 🚀 Feature request

when run-windows runs into an error, we show some error message. However the vscode extension only shows the exitcode of the process which is not useful. vscode-react-native should capture the error message from run-windows and show it in the error messagebox

## What scenarios will this solve?

better troubleshooting of why the extension / RNW failed run-windows. We're seeing

[2021-02-25 19:41] asklar opened #1512 "[Bug] Document dependency requirement for RNW"
# 🐛 What is the bug? How can we reproduce it?

Please document that in order to use vscode-react-native for RNW, developers will need to install the dependencies; this currently includes full VS, even though devs can then use VSCode and vscode-react-native to build afterwards. VS and its packages are required to install the compilers, etc.

[2021-02-25 23:54] chrisglein commented on #1511
Context in [this issue](https://github.com/microsoft/react-native-windows/issues/7180) on the RNW repo

[2021-02-25 23:54] chrisglein commented on #1512
Context in [this issue](https://github.com/microsoft/react-native-windows/issues/7180) on the RNW repo

[2021-02-26 11:08] RedMickey commented on #1510
@MadeByRaymond, since React Native Tools uses `react-native run-windows` command to run a RNW app, it relies on build tools, which that command uses. According to [the RNW maintainer's message](https://github.com/microsoft/react-native-windows/issues/7180#issuecomment-786278545), it's required to install Visual Studio to be able to build RNW apps.
Could you please install all the development depen

[2021-02-26 14:48] AgarwalIsha opened #1514 "[Bug] Breakpoint not getting hit"
# 🐛 What is the bug? How can we reproduce it?
Hi,

I am very new to React Native and would really be grateful if you can help me with my problems. (silly they may be).

I'm trying to debug my react-native app using react-native-tools extension of VS Code though Expo Client in iPhone.

When I try to do it through 'Debug iOS', I get the error:
"An error occurred while launching the application. Plat

[2021-02-26 15:03] RedMickey commented on #1514
Hi @AgarwalIsha and thanks for reaching us.
Please use `Debug in Exponent` debugging scenario to debug a React Native Expo application. You can follow [this guide](https://github.com/microsoft/vscode-react-native#expo-applications) to prepare you development environment and debug Expo apps via the extension.
Please note that the extension requires `Android SDK` for correct work with Expo.

[2021-02-26 15:07] AgarwalIsha commented on #1514
I don't have the possibility to use Android SDK? Is there any other option to check through Expo Client app on iPhone?

[2021-03-01 08:30] RedMickey opened #1515 "Remove support of WPF platform for RNW"
We should consider removing support of WPF platform for RNW, since it's not supported by RNW anymore.

_Originally posted by @asklar in https://github.com/microsoft/vscode-react-native/pull/1513#discussion_r583821648_

[2021-03-01 08:39] RedMickey commented on #1512
Thanks for [the notification about stopping of support for the WPF platform](https://github.com/microsoft/vscode-react-native/pull/1513#discussion_r583821648). We'll consider removing support of WPF platform for RNW in [this issue](https://github.com/microsoft/vscode-react-native/issues/1515).

[2021-03-01 08:39] #1512 closed

[2021-03-01 08:54] asklar commented on #1512
thanks @RedMickey !

[2021-03-01 11:05] RedMickey commented on #1514
@AgarwalIsha, we tested debugging of an Expo app on an iOS device without installed Android SDK and could debug the application without problem.
Could you please try to run `Debug in Exponent` debugging scenario by following the steps in [this tutorial](https://github.com/microsoft/vscode-react-native#expo-applications)? You can skip Android SDK installation part.
If there are any problems, please

[2021-03-02 17:25] MadeByRaymond commented on #1510
Well apparently Visual Studio is required, even to run on VS Code. The problem was solved by installing VS and dependencies.

[2021-03-02 17:25] #1510 closed

[2021-03-04 18:31] elliottkember opened #1517 "[Bug] Very slow while debugging"
# 🐛 What is the bug? How can we reproduce it?

I'm running a React Native app in the iOS Simulator, and the debug performance is very slow compared with Google Developer Tools. The app itself feels slow.

Update: I think this may be fixed by setting my React Native Global Command name to `/usr/local/bin/react-native`

## Expected behavior

Expecting a similar debugging speed!

## Debug output

Not